.navbar.navbar-default.navbar-inverse.navbar-unauth(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand() 
        img#logo(src="img/logo-updated.png",alt="Blockchain")
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.item
          a(href="/") Home
        li.item
          a(href="/") About
        li.item.active
          a(href="/") Wallet
        li.item
          a(href="/") Explorer
        li.item
          a(href="/") Merchant
        li.item
          a(href="/") Support  