.modal-header
  h3.f-18.em-600.pl-30 Header text here
.modal-body
  shift-receipt(shift="vm.trade")
.modal-footer.flex-end.flex-row
  .flex-1.flex-end
    button.button-primary(ng-click="vm.close()" translate="CLOSE")
