////////////////////////////////
//modal collapse and come back//
////////////////////////////////

@-webkit-keyframes scale {
  10% { -webkit-transform: scale(.9); }
  30% { -webkit-transform: scale(.8); }
  50% { -webkit-transform: scale(.65); }
  70% { -webkit-transform: scale(.8); }
  90% { -webkit-transform: scale(.9); }
  100% { -webkit-transform: scale(1); }
}
@keyframes scale {
  10% { transform: scale(.9); }
  30% { transform: scale(.8); }
  50% { transform: scale(.65); }
  70% { transform: scale(.8); }
  90% { transform: scale(.9); }
  100% { transform: scale(1); }
}

.scale {
  animation: scale .4s;
}

//speed up fade in animation

.fade {
  -webkit-transition: opacity 0.05s linear;
  -o-transition: opacity 0.05s linear;
  transition: opacity 0.05s linear;
}

///////////////////////////////////
//Fade in & out animations/////////
///////////////////////////////////

@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-in-right {
  -webkit-animation-name: fade-in-right;
  animation-name: fade-in-right;
}

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-in-down {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
}

////////////////////////////////////
/////Zooming in out animations//////
////////////////////////////////////

@-webkit-keyframes zoom-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoom-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoom-out {
  -webkit-animation-name: zoom-out;
  animation-name: zoom-out;
}


///////////////////////////////////////////
/////////                    //////////////
////****** ANGULAR ANIMATIONs ******* /////
////////                    ///////////////
//////////////////////////////////////////

.bc-modal .ng-animate {
  -webkit-animation: none 0s;
  animation: none 0s;
}

/* Initial state when showing */
.bc-modal-fade.ng-hide-remove {
  opacity: 0;
  display: block !important;
  -webkit-transition: linear .4s opacity !important;
  transition: linear .4s opacity !important;
}

/* Will transition towards this state */
.bc-modal-fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
