//modal collapse and come back
@-webkit-keyframes scale {
  10% { -webkit-transform: scale(.9) }
  20% { -webkit-transform: scale(.8) }
  30% { -webkit-transform: scale(.7); }
  40% { -webkit-transform: scale(.6); }
  50% { -webkit-transform: scale(.5); }
  60% { -webkit-transform: scale(.6); }
  70% { -webkit-transform: scale(.7); }
  80% { -webkit-transform: scale(.8); }
  90% { -webkit-transform: scale(.9); }
  100% { -webkit-transform: scale(1); }
}
@keyframes scale {
  10% { transform: scale(.9) }
  20% { transform: scale(.8) }
  30% { transform: scale(.7); }
  40% { transform: scale(.6); }
  50% { transform: scale(.5); }
  60% { transform: scale(.6); }
  70% { transform: scale(.7); }
  80% { transform: scale(.8); }
  90% { transform: scale(.9); }
  100% { transform: scale(1); }
}

//bounce the icons
@-webkit-keyframes bounce {
  10% { -webkit-transform: translate(0,3); }
  50% { -webkit-transform: translate(0,-3); }
  100% { -webkit-transform: translate(0,0); }
}

@keyframes bounce {
  10% { transform: translate(0,3); }
  50% { transform: translate(0,-3); }
  100% { transform: translate(0,0); }
}

//speed up fade in animation

.fade {
  -webkit-transition: opacity 0.05s linear;
  -o-transition: opacity 0.05s linear;
  transition: opacity 0.05s linear;
}
