.border-bottom { border-bottom: 1px solid $ccc; }
.border-bottom-light { border-bottom: 1px solid $eee; }
.border-bottom-thick { border-bottom: 2px solid $eee; }
.border-right { border-right: 1px solid $eee; }
.border-left { border-left: 1px solid $eee; }
.border-top { border-top: 1px solid $eee; }
.border { border: 1px solid $eee; }
