.border-bottom { border-bottom: 1px solid $ccc; }
.border-bottom-light { border-bottom: 1px solid $eee; }
.border-bottom-thick { border-bottom: 2px solid $eee; }
.border-right { border-right: 1px solid $eee; }
.border-left { border-left: 1px solid $eee; }
.border-top { border-top: 1px solid $eee; }
.border-top-light { border-top: 1px solid $eee; }
.border { border: 1px solid $eee; }
.ui-select-border-red {
  .ui-select-container .ui-select-match > span {
    border: 1px solid $state-danger-text !important;
  }
}

.or {
  position: relative;
  text-transform: uppercase;
  &:before, &:after {
    left: 50%;
    width: 1px;
    content: '';
    height: 40%;
    position: absolute;
    background-color: $ccc;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

.or-horizontal {
  @extend .or;
  width: 100%;
  display: block;
  text-align: center;
  margin: 1.25em auto;
  &:before, &:after {
    top: 50%;
    width: 45%;
    height: 1px;
    left: initial;
    right: initial;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}
