$blue: #039BD3;
$blue-alt: #049bd4;
$hover-blue: #edf6fc;
$black: #4B4D4E;
$dark-blue: #0079A6;
$deep-blue: #005380;
$text: #6C6C6C;

//HD Wallet Colors
$transfer-blue: #5bacd0;
$send-red: #e27e82;
$receive-green: #85b45b;
$bright-green:  #3CC476 !important; //override Security Center nested css selectors
$light-grey: #eaeff4;
$light-grey-alt: #F5F7F9;
$grey: #EEEEEE;
$mid-grey: #b0b0b0;
$mid-grey-alt: #9F9F9F;
$dark-grey: #737373;
$border-grey: #6d6d6d;

//Did You Know
$feature: #039BD3;
$educational: #54C29F;
$partner: #E02771;

//Button colors
$default: #3F3F3F;
$success: #8CCA6A;
$eee: #EEEEEE;
$ccc: #CCCCCC;
$aaa: #AAAAAA;

//Security Badge Colors
$security-red: #E47F7F;
$security-yellow: #FCCC65;
$security-green: #3CC476;

//Color Mixin
@mixin color($name, $color) {
  .#{$name} {
    color: $color;
    &:hover { color: $color; }
  }
}

@include color('blue', $blue);
@include color('white', white);
@include color('dark-blue', $dark-blue);
@include color('deep-blue', $deep-blue);
@include color('black', $black);
@include color('dark-grey', $dark-grey);
@include color('light-grey', $light-grey);
@include color('mid-grey', $mid-grey);
@include color('mid-grey-alt', $mid-grey-alt);
@include color('receive-green', $receive-green);
@include color('security-red', $security-red);
@include color('security-yellow', $security-yellow);
@include color('security-green', $security-green);
@include color('ccc', $ccc);
@include color('aaa', $aaa);
@include color('success', $success);
@include color('bright-green', $bright-green);
@include color('feature', $feature);
@include color('educational', $educational);
@include color('partner', $partner);
@include color('transferred', $transfer-blue);
@include color('sent', $send-red);
@include color('received', $receive-green);

//Background Mixin
@mixin bg-color($name, $color) {
  .bg-#{$name} {
    background: $color;
  }
}

@include bg-color('blue', $blue);
@include bg-color('black', $black);
@include bg-color('dark-grey', $dark-grey);
@include bg-color('light-grey', $light-grey);
@include bg-color('light-grey-alt', $light-grey-alt);
@include bg-color('mid-grey', $mid-grey);
@include bg-color('success', $success);
