//Blockchain Pillar Colors
$blue: #049bd4;
$send-red: #e27e82;
$receive-green: #85b45b;
$transfer-blue: #5bacd0;
$pending-red: #ffbcbd;
$pale-yellow: #FEF9EF;
$white: #fff;

//Blockchain Blue Tints
$hover-blue: #edf6fc;
$light-blue: #F5F7F9;
$light-blue-2: #eaeff4;
$tertiary-blue: #D0E0E8;
$dark-blue: #1476ab;
$deep-blue: #005380;
$baby-blue: #edf6fd;

//Blockchain Text
$black: #4B4D4E;
$text: #6C6C6C;

//Blockchain Greys
$light-grey: #f7f7f7;
$grey: #EEEEEE;
$mid-grey: #b0b0b0;
$dark-grey: #757575;
$border-grey: #ddd;
$pale-grey: #bababa;
$steel: #6c6c6c;

//Did You Know
$feature: #039BD3;
$educational: #54C29F;
$partner: #E02771;

//Button colors
$default: #3F3F3F;
$success: #8CCA6A;
$eee: #EEEEEE;
$ccc: #CCCCCC;
$aaa: #AAAAAA;

//Security Badge Colors
$security-red: #E47F7F;
$security-yellow: #FCCC65;
$security-green: #3CC476;
$bright-green:  #3CC476 !important; //override Security Center nested css selectors

//Color Mixin
@mixin color($name, $color) {
  .#{$name} {
    color: $color;
    &:hover { color: $color; }
  }
}

@include color('blue', $blue);
@include color('white', white);
@include color('dark-blue', $dark-blue);
@include color('deep-blue', $deep-blue);
@include color('black', $black);
@include color('grey', $light-grey);
@include color('light-grey', $light-grey);
@include color('mid-grey', $mid-grey);
@include color('dark-grey', $dark-grey);
@include color('receive-green', $receive-green);
@include color('security-red', $security-red);
@include color('security-yellow', $security-yellow);
@include color('security-green', $security-green);
@include color('ccc', $ccc);
@include color('aaa', $aaa);
@include color('success', $success);
@include color('bright-green', $bright-green);
@include color('feature', $feature);
@include color('educational', $educational);
@include color('partner', $partner);
@include color('transfer', $transfer-blue);
@include color('sent', $send-red);
@include color('received', $receive-green);
@include color('tertiary-blue', $tertiary-blue);

//Background Mixin
@mixin bg-color($name, $color) {
  .bg-#{$name} {
    background: $color;
  }
}

@include bg-color('blue', $blue);
@include bg-color('black', $black);
@include bg-color('dark-grey', $dark-grey);
@include bg-color('light-grey', $light-grey);
@include bg-color('light-blue', $light-blue);
@include bg-color('mid-grey', $mid-grey);
@include bg-color('success', $success);
