* {
  outline: none !important;
}

html,
body {
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
  background-color: #fff;
  position: relative;
  font-size: small;
  font-weight: 300;
  color: $text;
  height: 100%;
  width: 100%;
}

.wallet-top-navigation.navbar-inverse {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.wallet-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 60px;
  @media (max-width: 767px) {
    top: 50px;
  }
}

.line-split {
  position: relative;
  &:before, &:after {
    left: 50%;
    width: 1px;
    content: '';
    height: 50%;
    position: absolute;
    background-color: $border-grey;
  }
  &:before { top: 0; }
  &:after { bottom: 0; }
}

#qr-canvas { display: none; }

noscript {
  display:flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items:center;
  height: 100%;
  width: 100%;

  img {
    margin-bottom: 3em;
  }
}

.lh1 { line-height: 1; }

.ph-form {
  @media(max-width: 375px) {
    padding: 0 0;
  }
  padding: 0 2em;
}

.mw { max-width: 100%; }
