* {
  outline: none !important;
}

html,
body {
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
  background-color: #fff;
  position: relative;
  font-size: small;
  font-weight: 300;
  color: $text;
  height: 100%;
  width: 100%;
  @extend .flex-column;
}

@media (min-width: 768px) {
  html,
  body {
    overflow: hidden;
  }
}

.wallet-top-navigation.navbar-inverse {
  flex: 0 0 60px;
  width: 100%;
  @media (max-width: 767px) {
    flex: 0 0 50px;
  }
  .navbar-nav > li {
    font-weight: 300;
  }
}

.line-split {
  position: relative;
  &:before, &:after {
    left: 50%;
    width: 1px;
    content: '';
    height: 50%;
    position: absolute;
    background-color: $border-grey;
  }
  &:before { top: 0; }
  &:after { bottom: 0; }
}

#qr-canvas { display: none; }

noscript {
  display:flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items:center;
  height: 100%;
  width: 100%;

  img {
    margin-bottom: 3em;
  }
}

.ph-form {
  @media(max-width: 375px) {
    padding: 0 0;
  }
  padding: 0 2em;
}

.mw { max-width: 100%; }

.vertical-line {
  border-right: 1px solid black;
  height: 20px;
}
