.type-xs { font-size: .75em; }
.type-sm { font-size: .9em; }
.type-h6 { font-size: 1.1em; }
.type-h5 { font-size: 1.3em; }
.type-h4 { font-size: 1.5em; }
.type-h3 { font-size: 1.8em; }
.type-h2 { font-size: 2.2em; }
.type-h1 { font-size: 2.6em; }
.title { font-size: 4.5em; }
.underline { text-decoration: underline; }
.pointer { cursor: pointer; }
.right-align { text-align: right; }
.left-align { text-align: left; }
.center-align { text-align: center; }

.text-overflow-hidden, .ui-select-match-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 50px);
  display: block;
}

.no-select {
  user-select: none;
}

$multiplier: 100;

@for $i from 1 through 9 {
  .em-#{$i}00 {
    font-weight: $i * $multiplier;
  }
}

.em-alt { text-transform: uppercase; }
