.modal-header.flex-column.bc-modal-header(data-preflight-tag="Send")
  .close-modal
    i.ti-close.pointer(ng-click="vm.close()")
  .flex-center
    h3
      i.mr-10.icon-send
      span(ng-show="!confirm" translate="SEND")
      span(ng-show="confirm" translate="CONFIRM")
div(ng-include="'partials/send/send-bitcoin.pug'")
