div(ng-if="vm.onTab('btc')" ng-include="'partials/send/send-bitcoin.pug'")
div(ng-if="vm.onTab('eth')" ng-include="'partials/send/send-ethereum.pug'")
div(ng-if="vm.onTab('bch')" ng-include="'partials/send/send-bitcoin-cash.pug'")
