.modal-body.fade.clearfix.iframe
  isignthis(transaction-id="vm.trade.iSignThisID" on-complete="onComplete")
.modal-footer.flex-end.flex-row
  button.button-muted(ng-click="vm.close(4)" translate="FINISH_LATER")
