form.bc-form.modal-body.fade.clearfix(name="paymentMethodForm" id="paymentMethodForm" role="form" ng-submit="submit()" novalidate)
  span.type-h5.em-500.flex-start.pts(translate="PAYMENT_METHOD")
  .radio-group.group.inline.flex-column-mobile.flex-between.mv-20
    .radio-label-alt.width-45(ng-show="aboveBankMin && !needsKYC('bank')")
      input(type="radio" name="inMedium" id="bank" ng-model="vm.medium" value="bank" required)
      label.flex-column.height-100(for="bank")
        .flex-row.flex-center
          img.mrm(src="img/bank.png" height="15")
          span.type-h5.em-300(translate="BANK")
        ul
          li.ml-30.em-300.f-12(translate="BANK_TRANSFER.COPY1")
          li.ml-30.em-300.f-12(translate="BANK_TRANSFER.COPY2")
    .width-45.flex-justify.flex-column(ng-show="!aboveBankMin")
      div.mb-20(translate="BANK_TRANSFER.RECOMMENDATION" translate-values="{min: limits.bank.min[vm.fiatCurrency()], code: vm.fiatCurrency()}")
      label.pointer.em-300.primary(for="bank" ng-click="$timeout(submit, 1)" translate="I want to pay via bank transfer")
      //- hide above when kyc check is at medium level
      //- label.pointer.em-300.primary(ng-show="needsKYC('bank')" for="bank" ng-click="openKYC()" translate="Currently you can buy at most {{limits.bank.yearlyMax[vm.fiatCurrency()]}} {{vm.fiatCurrency()}} via bank transfer. Click here to increase your limit.")
    .mv-15.visible-xs
      span.or-horizontal.flex-justify(translate="OR")
    .radio-label-alt.width-45(ng-show="belowCardMax")
      input(type="radio" name="inMedium" id="card" ng-model="vm.medium" value="card" required)
      label.flex-column.height-100(for="card")
        .flex-row.flex-center
          img.mrm(src="img/credit-card.png" height="15")
          span.type-h5.em-300(translate="CARD")
        ul
          li.ml-30.em-300.f-12(translate="CARD_TRANSFER.COPY1")
          li.ml-30.em-300.f-12
            span(translate="CARD_TRANSFER.COPY2")
            helper-button(content="CARD_TRANSFER.HELPER")
          li.ml-30.em-300.f-12(translate="CARD_TRANSFER.COPY3")
    .width-45.flex-justify.flex-column(ng-show="!belowCardMax")
      div.mb-20(translate="CARD_TRANSFER.RECOMMENDATION" translate-values="{max: limits.card.max[vm.fiatCurrency()], code: vm.fiatCurrency()}")
      label.pointer.em-300.primary(for="card" ng-click="$timeout(submit, 1)" translate="I want to pay via credit/debit card")
      //- hide above when kyc check is at medium level
      //- label.pointer.em-300.primary(ng-show="needsKYC('card')" for="card" ng-click="openKYC()" translate="Currently you can buy at most {{limits.card.yearlyMax[vm.fiatCurrency()]}} {{vm.fiatCurrency()}} via credit/debit card. Click here to increase your limit.")
.modal-footer.flex-end.flex-row
  button.button-muted.mrm(ng-show="belowCardMax && !aboveBankMin" ng-click="vm.close(1)" translate="CANCEL_ORDER")
  button.button-muted.mrm(ng-show="belowCardMax && aboveBankMin" ng-click="vm.close(2)" translate="CANCEL_ORDER")
  button.button-muted.mrm(ng-show="!belowCardMax && aboveBankMin" ng-click="vm.close(3)" translate="CANCEL_ORDER")
  button.button-primary(type="submit" form="paymentMethodForm" ng-disabled="!mediums || locked || paymentMethodForm.$invalid" translate="CONTINUE")
