.flex-column(ng-if="ISXState")
  .mvl.em-500
    span.f-14 Identity Verification Status
  div
    span(translate="{{KYCState}}")

.flex-column.mvm(ng-if="!tradeCompleted && !ISXState")
  div
    p.pbs.ptn.f-14(translate="SELL.RECEIVE_EMAIL_CONFIRMATION")
  .left-align
    p.colon.em-500.mbs.type-lbl(translate="SELL.ORDER_DETAILS")
  .flex-column.bg-grey.pal.border
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.TRADE_ID")
      span {{ sellTrade.id }}
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.DATE_INITIALIZED")
      span {{ sellTrade.createTime | date:dateFormat }}
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.BTC_SOLD")
      span {{ sellTrade.transferIn.receiveAmount }} BTC
  .left-align
    p.colon.em-500.mbs.type-lbl.mt-15(translate="SELL.PAYOUT_DETAILS") 
  .flex-column.bg-grey.pal.border
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.BANK_ACCOUNT")
      span &#8226;&#8226;&#8226;&#8226;{{ sellTrade.bankDigits || bankNameOrNumber }}
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.CREDIT_ISSUED")
      span {{ sellTrade.transferOut.receiveAmount }} {{ sellTrade.transferOut.currency }}
  .left-align
    p.type-sm.mtl(translate="SELL.1_2_DAYS")
      
.flex-column.mt-10(ng-if="tradeCompleted && !ISXState")
  .mvl.em-500(ng-show="trade._state !== 'completed'")
    span.pvm.type-h5.state-danger-text(translate="Trade")
    | &nbsp;
    span.type-h5.state-danger-text {{trade._state}}.
  .mbl.mtn(ng-show="trade._state === 'completed'")
    span.f-14(translate="SELL.RECEIVE_EMAIL_RECEIPT")
  .left-align
    p.colon.em-500.mbs.type-lbl(translate="SELL.ORDER_DETAILS")
  .flex-column.bg-grey.pal.border
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.TRADE_ID")
      span {{ sellTrade.id }}
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.DATE_INITIALIZED")
      span {{ sellTrade.createTime | date:dateFormat }}
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.BTC_SOLD")
      span {{ sellTrade.transferIn.receiveAmount }} BTC
  .left-align
    p.colon.em-500.mbs.type-lbl.mtl(translate="SELL.PAYOUT_DETAILS") 
  .flex-column.bg-grey.pal.border
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.BANK_ACCOUNT")
      span &#8226;&#8226;&#8226;&#8226;{{ sellTrade.bankDigits }}
    .flex-row.flex-between.pvm
      span.colon(translate="SELL.CREDIT_ISSUED")
      span {{ sellTrade.transferOut.receiveAmount }} {{ sellTrade.transferOut.currency }}
  .mvm
    span.f-12(translate="SELL.PLEASE_NOTE_BANK_POLICIES")
