.modal-header.bc-modal-header.flex-between.flex-center
  .flex-column.flex-1
    .flex-row.flex-between.flex-center
      h3(translate="{{$ctrl.title}}")
      .flex-column.flex-align-end
        .flex-row.type-h5.em-500(ng-hide="$ctrl.hide")
          span {{$ctrl.transaction.btc }} BTC ({{$ctrl.transaction.currency.symbol}}{{$ctrl.transaction.fiat}})
