form.modal-body.fade.clearfix(id="signupForm" name="signupForm" role="form" ng-submit="$ctrl.signup()" novalidate)
  i.ti-close.close-modal.alt(ng-click="$ctrl.onClose()")
  span.type-h5.em-500.flex-start.pts(translate="ACCEPT_TERMS")
  p.mvl(translate="PARTNER" translate-values="{email: $ctrl.email}")
  div.flex(ng-hide="!$ctrl.validEmail")
    div
      input(type="checkbox" checked id="tos" name="tos" ng-model="fields.acceptTOS" ng-disabled="rejectedEmail" required)
    div
      label.mlm.em-400(translate="ACCEPT_PARTNER_TOS_PRIVACY" for="tos")
  .mtl(ng-show="!$ctrl.validEmail")
    i.ti-alert.sent.mrs.type-h4
    span.sent.mrs(translate="EMAIL_IN_USE" translate-values="{email: $ctrl.email}")
    span.primary.pointer(translate="CLICK_TO_CHANGE" ng-click="$ctrl.onError()")
  .flex-end.flex-row.pt-20
    button.button-primary(type="submit" ng-disabled="!$ctrl.validEmail || signupForm.$invalid || $ctrl.locked" form="signupForm" translate="CONTINUE")
