form.modal-body.fade.clearfix(id="signupForm" name="signupForm" role="form" ng-submit="signup()" novalidate)
  span.type-h5.em-500.flex-start.pts(translate="ACCEPT_TERMS")
  p.mvl(ng-hide="isSell" translate="PARTNER" translate-values="{email: user.email}")
  p.mvl(ng-show="isSell" translate="SELL.PARTNER" translate-values="{email: user.email}")
  div.flex
    div
      input(type="checkbox" checked id="tos" name="tos" ng-model="fields.acceptTOS" ng-disabled="rejectedEmail" required)
    div
      label.mlm.em-400(translate="ACCEPT_PARTNER_TOS_PRIVACY" for="tos")
  .mtl(ng-show="rejectedEmail")
    i.ti-alert.sent.mrs.type-h4
    span.sent.mrs(translate="EMAIL_IN_USE" translate-values="{email: user.email}")
    span.primary.pointer(translate="CLICK_TO_CHANGE" ng-click="vm.goTo('email')")
.modal-footer.flex-end.flex-row
  button.button-muted.mrm(ng-click="$close()" translate="CANCEL_ORDER")
  button.button-primary(type="submit" ng-disabled="signupForm.$invalid || locked" form="signupForm" translate="CONTINUE")
