[submodule "assets/js/my-wallet"]
	path = assets/js/my-wallet
	url = https://github.com/blockchain/My-Wallet.git
	branch = refactor
[submodule "assets/js/my-wallet-sjors"]
	path = assets/js/my-wallet-sjors
	url = https://github.com/sjors/My-Wallet.git
	branch = sjors
