.flex-justify.mtl
  .flex-column.flex-center.width-30.mtl
    i.mb-35.ti-shopping-cart.flip.type-yuge.blue.mbs.mrs
    span.f-20.em-500.mb-15 You can now buy Bitcoin!
    form(ng-submit="$close()")
      button.btn.button-primary.mtm(type="submit" focus-when="vm.onStep('buy')") Get Bitcoin!
