.flex-justify.mtl
  .flex-column.flex-center.width-30.mtl
    i.ti-shopping-cart.flip.type-yuge.blue.mbs.mrs
    span.type-h4.mbm You can now buy Bitcoin!
    span.type-md.em-300.center.mbl Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    button.btn.button-primary.width-60.mtm(ng-click="$close()") Get Bitcoin!
