.flex-justify.mtl
  .flex-column.flex-center.width-30.mtl
    i.mb-35.ti-shopping-cart.flip.type-yuge.blue.mbs.mrs
    span.f-20.em-500.mb-15 You can now buy Bitcoin!
    button.btn.button-primary.width-60.mtm(ng-click="$close()") Get Bitcoin!
