.buy-sell
  .flex-row.flex-column-tablet
    .width-50.border.mrl.pal.flex-column.flex-between.flex-center(ng-hide="signupCompleted")
      span.type-h4.width-100 Just a few steps away!
      .mvl.flex-column.flex-center.blue.type-h4
        i.ti-credit-card.bank.type-lrg
        span - Appropriate Step Description
      button.btn.button-primary.full(ng-click="openSfoxSignup()") Continue
    .width-50.border.mrl.pal.flex-column.flex-between.flex-center(ng-show="signupCompleted")
      h2 Buy Bitcoin
    .flex-column.width-50.mlvl.mtml
      .font-2.blue.em-300.lh1(translate="SIMPLE_SECURE_SEAMLESS")
      .type-h4.em-300.mtm.basic-grey(translate="BUY_SIMPLE_STEPS")
