div(ng-controller="SfoxTradeDetailsController")
  .border-bottom.pv-20.ph-10-mobile
    span.f-16.em-500.pl-30.no-padding-mobile(translate="{{namespace + type + state + '.HEADER'}}" class="{{classHelper(trade)}}")
  .ph-30.pt-20.ph-10-mobile.pv-20-mobile
    .f-13.mb-10
      span(translate="{{namespace + type + state + '.BODY'}}" translate-values="{tradeId: tradeId, expectedDelivery: tradeDetails.expectedDelivery.val}")
    div(ng-if="tradeAccount")
      .flex-end.flex-row.mb-5.mt-5
        span.mid-grey.f-12 1 BTC = {{ rate }}
      .mv-10.pv-10.ph-10.border.flex-row.flex-center
        i.f-18.mr-10.icon-bank
        span.em-500(ng-show="type === '.sell'") Linked Account for Deposit: {{tradeAccount.accountType}} ending in {{tradeAccount.accountNumber}}
        span.em-500(ng-show="type === '.buy'") Linked Account for Spending: {{tradeAccount.accountType}} ending in {{tradeAccount.accountNumber}}
  .ph-30.ph-10-mobile
    ul.f-13.em-300.bg-grey.border.pv-10.ph-10.mb-20
      li.flex-between(ng-repeat="(row, field) in tradeDetails track by $index" ng-class="{'pb-10': $first, 'pt-10': $last, 'pv-10': !$first && !$last, 'border-bottom-light': !$last}")
        div
          span(translate="{{namespace + type + field.key}}")
          helper-button(ng-show="field.key === '.TX_FEE'" content="{{namespace + type + '.TRANSACTION_FEE_HELPER'}}")
          helper-button(ng-show="field.key === '.TRADING_FEE'" content="{{namespace + '.TRADING_FEE_HELPER'}}") 
        span {{ field.val }}
    .flex-row.flex-end.pb-20
      button.button-primary(translate="CLOSE" ng-click="onClose ? onClose() : $close()")
