.flex-row.flex-column-mobile.mtl(ng-show="!state.accounts.length")
  .width-40
    .width-80
      h4.mtn(translate="Link Bank Account")
      span.type-h5.em-300(translate="You can either securely sign in through your bank or enter your bank routing and account numbers.")
  .width-50
    button.btn.button-primary.full(disabled) Sign In To Your Bank Account

    .mvvl
      span.or-horizontal.flex-justify(translate="OR")

    form.bc-form(name="bankAccountForm" ng-submit="link()" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .group.full
          label.sm Nickname
          .item
            input(ng-model="fields.nickname" name="nickname" required)
        .group.full
          label.sm Routing Number
            button.helper(ng-click="openBankHelper()" tabindex="-1")
              span ?
          .item
            input(ng-model="fields.routingNumber" name="routingNumber" required)
        .group.full
          label.sm Account Number
            button.helper(ng-click="openBankHelper()" tabindex="-1")
              span ?
          .item
            input(ng-model="fields.accountNumber" name="accountNumber" required)
        .group.full.mbl
          label.sm Account Type
          ui-select(ng-model="fields.type" tagging)
            ui-select-match(placeholder="{{'SEARCH' | translate}}...") 
              span.capitalize {{ $select.selected }}
            ui-select-choices(repeat="type in types")
              span.capitalize(ng-bind-html="type | highlight: $select.search")
        .group.full
          button.btn.button-primary.full(type="submit" ng-disabled="bankAccountForm.$invalid") Add Account
.flex-row.mtl(ng-show="state.accounts.length && !state.readyToVerify")
  .width-40
    .width-80
      h4.mtn(translate="Verify Bank Account")
      span.type-h5.em-300(translate="To protect against fraud, SFOX will send and withdraw 2 small deposits to your bank account. These amounts will appear in your account in 1-2 days. You will need to enter these amounts to verify your bank account.")
  .width-50
    img.width-100(src="img/bank-statement.jpg")
    p.type-h5.em-300.mts.mbl(translate="Deposits will appear in your account as 'SFOX' in 1-2 days")
    button.btn.button-primary.full(ng-click="state.readyToVerify = true") Verify Now
    a.display-block.center.mtl(ng-click="$close()") Finish Later
.flex-row.mtl(ng-show="state.accounts.length && state.readyToVerify")
  .width-40
    .width-80
      h4.mtn(translate="Verify Bank Account")
      span.type-h5.em-300(translate="SFOX sent 2 small deposits to your bank account. Enter these amounts in any order to verify your account.")
  .width-50
    form.bc-form-next(name="verifyBankAccountForm" ng-submit="verify()" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .group.full
          label.sm Deposit 1
          .item
            input(ng-model="fields.deposit1" name="deposit1" type="number" required)
        .group.full
          label.sm Deposit 2
          .item
            input(ng-model="fields.deposit2" name="deposit2" type="number" required)
        .group.full
          button.btn.button-primary.full(type="submit" ng-disabled="verifyBankAccountForm.$invalid") Verify
          a.display-block.center.mtl(ng-click="$close()") Finish Later
