.sfox-signup
  .signup-steps.border-bottom-light
    div(ng-include="'partials/sfox/signup-steps.jade'" ng-controller="SfoxSignupStepsController")
  .pal
    div(ng-show="vm.onStep('create')" ng-include="'partials/sfox/create.jade'" ng-controller="SfoxCreateAccountController")
    div(ng-show="vm.onStep('verify')" ng-include="'partials/sfox/verify.jade'" ng-controller="SfoxVerifyController")
    div(ng-show="vm.onStep('link')" ng-include="'partials/sfox/link.jade'" ng-controller="SfoxLinkController")
    div(ng-show="vm.onStep('buy')" ng-include="'partials/sfox/buy.jade'")
