.flex-row.height-100.pt-70.pb-40.pl-40.pr-40
  .flex-row.flex-column-tablet.center-mobile.width-100-tablet.width-100.width-100-mobile
    .width-40.hidden-xs
      .width-80
        span.f-20.em-500(translate="Complete the following steps to buy bitcoin!")

    .width-60.flex-row.flex-between-mobile.center(ng-class="inMobileBuy ? 'flex-column-mobile' : 'flex-baseline'")
      .width-25.flex-column.flex-center(ng-class="vm.onStep('create') ? 'blue' : 'hidden-xs'" ng-click="buySellDebug && vm.goTo('create')")
        i.f-36.ti-user
        span.mt-10(translate="Create Account")

      .flex-justify.hidden-xs
        i.ti-arrow-right.f-16

      .width-25.flex-column.flex-center(ng-class="vm.onStep('verify') ? 'blue' : 'hidden-xs'" ng-click="buySellDebug && vm.goTo('verify')")
        i.f-36.ti-id-badge
        span.mt-10(translate="Verify Identity")

      .flex-justify.hidden-xs
        i.ti-arrow-right.f-16

      .width-25.flex-column.flex-center(ng-class="vm.onStep('link') ? 'blue' : 'hidden-xs'" ng-click="buySellDebug && vm.goTo('link')")
        i.f-36.ti-credit-card.bank
        span.mt-10(translate="Link Payment")

      .flex-justify.hidden-xs
        i.ti-arrow-right.f-16

      .width-25.flex-column.flex-center(ng-class="vm.onStep('buy') ? 'blue' : 'hidden-xs'" ng-click="buySellDebug && vm.goTo('buy')")
        i.f-36.ti-shopping-cart.flip.mrs
        span.mt-10(translate="Buy Bitcoin")
  .close-modal
    i.ti-close.pointer(ng-click="$dismiss()")
