.flex-row.flex-column-mobile(ng-show="state.idType === 'ssn'")
  .width-40
    .width-80
      h4.f-20.em-500.mvn.mb-10(translate="Verify Identity")
      .mbl
        span.f-16(translate="Strong verification procedures help reduce fraud and money laundering activites. As part of your registration, SFOX will need the following information from you to verify your identity.")
      .mbl
        span.f-16(translate="You may also be asked to upload identification documents.")
      .mbl(ng-show="buySellDebug")
        div.type-h4.mbs.underline
          i.mrs.ti-search
          span QA
        ul.pll
          li.type-lbl.mbm.pointer.blue(ng-click="SFOXAddressForm()") Autofill Address Form
          li.mbm
            ui-select(ng-model="state.addr2" name="doc" required)
              ui-select-match(placeholder="Test Document Uploads") {{$select.selected}}
              ui-select-choices(repeat="doc in SFOXDebugDocs") {{doc}}
  .width-60
    form.bc-form(name="verifyForm" ng-submit="verify()" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .group.inline.pb-30
          .item.width-33
            label First Name
            input(ng-model="state.first" name="first" required)
            span.pos-abs.state-danger-text(translate="Required field")
          .item.width-33
            label Middle Name
            input(ng-model="state.middle" name="middle")
          .item.width-33
            label Last Name
            input(ng-model="state.last" name="last" required)
            span.pos-abs.state-danger-text(translate="Required field")
        .group.inline.pb-30
          .item.width-33
            label Social Security Number
            input(ng-model="state.ssn" name="ssn" placeholder="___-___-____" format-input="xxx-xx-xxxx" required)
            span.pos-abs.state-danger-text(translate="Required field")
          .item.width-33
            label Date of Birth
            input(ng-model="state.dob" name="dob" placeholder="mm/dd/yyyy" format-input="xx/xx/xxxx" is-valid="isBeforeNow(state.dob)" required)
            span.pos-abs.state-danger-text(translate="Required field")
          .item.width-33
        .group.pb-15
          .item.full
            label Address Line 1
            input(ng-model="state.addr1" name="addr1" placeholder="Street address, P.O. box, etc." required)
            span.pos-abs.state-danger-text(translate="Required field")
        .group.pb-15
          .item.full
            label Address Line 2
            input(ng-model="state.addr2" name="addr2" placeholder="Apartment, unit, floor, etc.")
        .group.inline.pb-15
          .item.width-33
            label City
            input(ng-model="state.city" name="city" required)
            span.pos-abs.state-danger-text(translate="Required field")
          .item.width-33
            label State
            select(ng-model="state.state" name="state" ng-options="s as s['Name'] for s in states" tabindex="" required)
            span.pos-abs.state-danger-text(translate="Required field")
          .item.width-33
            label Zipcode
            input(ng-model="state.zipcode" name="zipcode" type="number" required)
            span.pos-abs.state-danger-text(translate="Required field")
        .group
          button.btn.button-primary.full(type="submit" ng-disabled="verifyForm.$invalid") Continue
.flex-row.flex-column-mobile(ng-show="state.idType === 'id' || state.idType === 'address'")
  .width-40
    .width-80
      h4.f-20.em-500.mvn.mb-10(translate="{{state.idType + '_ID'}}.TITLE")
      .mbl
        span.f-16(translate="{{state.idType + '_ID'}}.COPY")
      ul.mbl.pln.pl-20.f-16
        li.pb-5
          span(translate="{{state.idType + '_ID'}}.OPTION1")
        li.pb-5
          span(translate="{{state.idType + '_ID'}}.OPTION2")
        li.pb-5
          span(translate="{{state.idType + '_ID'}}.OPTION3")
        li.pb-5
          span(translate="{{state.idType + '_ID'}}.OPTION4")
      .mbl
        span.f-16(translate="{{state.idType + '_ID'}}.COPY_2" ng-show="state.idType === 'id'")
      .mbl(ng-show="buySellDebug")
        div.type-h4.mbs.underline
          i.mrs.ti-search
          span QA
        .flex-row.flex-center.lh1
          input.mrs(type="checkbox" id="verify-doc" ng-model="state.verifyDoc")
          label.em-400.type-lbl.mls(for="verify-doc") Check this box if you want this doc to be approved right away.

  .width-60
    label.f-14(translate="{{state.idType + '_ID'}}.UPLOAD_TITLE")
    div.file-upload(ngf-drop ngf-select ng-model="state.file" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*'")
      span.type-h5.em-300.mtvl(ng-hide="state.file") Drag and Drop Document (PDF, JPG, or PNG)
      span.type-h5.em-300.mtvl(ng-show="state.file")
        b {{state.file.name}}
        |  successfully uploaded!
      img.width-20.mobile-width-40(src="img/document.png" ng-hide="state.file")
      img.width-40.mobile-width-40(ngf-src="state.file" ng-show="state.file")
      span.type-h5.em-300.mbvl(ng-hide="state.file") Or
        |  
        span.blue.pointer.em-400 Select Document
      span.type-h5.em-300.mbvl(ng-show="state.file") Document will be sent to SFOX for review.
    div(ngf-no-file-drop) File Drag/Drop is not supported for this browser
    button.mtl.btn.button-primary.full(ng-click="upload()" ng-disabled="!state.file || locked") Submit
    a.display-block.center.mtl(ng-click="state.file = null" ng-show="state.file") Change Document
