.flex-row.flex-column-mobile(ng-hide="state.verificationStatus === 'needs_documents'")
  .width-40
    .width-80
      h4(translate="Verify Identity")
      .mbl
        span.type-h5.em-300(translate="Strong verification procedures help reduce fraud and money laundering activites. As part of your registration, SFOX will need the following information from you to verify your identity.")
      .mbl
        span.type-h5.em-300(translate="You may also be asked to upload identification documents.")
  .width-60
    form.bc-form(name="verifyForm" ng-submit="verify()" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .group.inline
          .item.width-33
            label First Name
            input(ng-model="state.first" name="first" required)
          .item.width-33
            label Middle Name
            input(ng-model="state.middle" name="middle" required)
          .item.width-33
            label Last Name
            input(ng-model="state.last" name="last" required)
        .group.inline
          .item.width-33
            label Social Security Number
            input(ng-model="state.ssn" name="ssn" placeholder="___-___-____" format-ssn required)
          .item.width-33
            label Date of Birth
            input(ng-model="state.dob" name="dob" type="date" placeholder="mm/dd/yyyy" required)
        .group
          .item.full
            label Address Line 1
            input(ng-model="state.addr1" name="addr1" placeholder="Street address, P.O. box, etc." required)
        .group
          .item.full
            label Address Line 2
            input(ng-model="state.addr2" name="addr2" placeholder="Apartment, unit, floor, etc.")
        .group.inline
          .item.width-33
            label City
            input(ng-model="state.city" name="city" required)
          .item.width-33
            label State
            ui-select(ng-model="state.state" name="state" required)
              ui-select-match {{$select.selected.Name}}
              ui-select-choices(repeat="s in states | filter:$select.search") {{s.Name}}
          .item.width-33
            label Zipcode
            input(ng-model="state.zipcode" name="zipcode" type="number" required)
        .group
          button.btn.button-primary.full(type="submit" ng-disabled="verifyForm.$invalid") Continue

.flex-row.flex-column-mobile(ng-show="state.verificationStatus === 'needs_documents'")
  .width-40
    .width-80
      h4(translate="Upload Photo ID")
      .mbl
        span.type-h5.em-300(translate="To verify your identity, we need you to upload a government issued form of photo identification showing nationality or residence and clearly displaying identification number. You can upload any of the following identification:")
      .mbl
        form
          div
            input(type="radio" name="idType" value="id" id="id" ng-model="fields.idType")
            label(translate="Driver's license or state issued ID" for="id")
          div
            input(type="radio" name="idType" value="passport" id="passport" ng-model="fields.idType")
            label(translate="Copy of passport" for="passport")
          div
            input(type="radio" name="idType" value="address" id="address" ng-model="fields.idType")
            label(translate="A recent utility bill or bank account statement" for="address")

  .width-60
    label(translate="Photo Identification")
    div.file-upload(ngf-drop ngf-select ng-model="fields.file" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*'")
      span.type-h5.em-300.mtvl Drag and drop your document here
      img.width-20.mobile-width-40(src="img/document.png" ng-hide="fields.file")
      img.width-40.mobile-width-40(ngf-src="fields.file" ng-show="fields.file")
      span.type-h5.em-300.mbvl Or
        |  
        span.blue.pointer Upload document
    div(ngf-no-file-drop) File Drag/Drop is not supported for this browser
    button.mtl.btn.button-primary.full(ng-click="upload()" ng-disabled="!fields.file || locked") Continue
