.navbar-inverse {
  background-color: #1A76BA;
  border-color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #269FFD;
}

.navbar-inverse .navbar-nav > li.active > a {
    background-color: #1A76BA;
    border-bottom: thick solid #269FFD;
}

.navbar-inverse .navbar-nav > li.active > a:hover {
    background-color: #269FFD;
}