body.berlin-theme {
  * {
    color: #fff !important;
    background-color: #e2382a !important;
  }
  .navbar.navbar-inverse {
    border-bottom: 1px solid #ddd;
  }
}

.berlin-theme {
  .blocket-loading {
    background-color: #e2382a !important;
  }
}
