body.dev-theme {
  *:not(.ignore-theme) {
    color: #76FF03 !important;
    background: #1e1e1e !important;
    background-color: #1e1e1e !important;
    font-family: "Courier New", monospace;
  }
}

.dev-theme {
  .blocket-loading {
    background-color: #1e1e1e !important;
  }
}

// ctas
body.dev-theme {
  button,
  .button,
  .button-primary,
  .button-success,
  .button-default,
  .button-info,
  .button-danger,
  .button-transfer {
    border-radius: 5px !important;
    border: 1px solid #ddd !important;
  }
}
