$false: nil;

%button-base {
  @extend .f-14;
  @extend .em-300;
  border: none;
  height: 40px;
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: normal;
  transition: all .2s ease-in-out;
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &.initial-text {
    text-transform: none;
  }
  &.full-width {
    width: 100%;
  }
}

@mixin button($name, $background:white, $color:white, $max-width:none, $border:none) {
  .btn:focus {
    color: $color;
  }
  @if $name == $false {
    .button {
      @extend %button-base;
      background: $background;
      color: $color;
    }
  }
  @else {
    .button-#{$name} {
      @extend %button-base;
      background: $background;
      color: $color;
      max-width: $max-width;
      @if $border != none {
        -webkit-box-shadow:inset 0px 0px 0px 2px $border;
        -moz-box-shadow:inset 0px 0px 0px 2px $border;
        box-shadow:inset 0px 0px 0px 2px $border;
      }
      &:hover {
        background: darken($background, 5%);
        color: $color;
      }
      &:visited {
        color: $color;
      }
      &:disabled {
        &:hover {
          background: $background;
          opacity: .6;
        }
      }
      &.btn:focus {
        color: $color;
      }
      &.active {
        background: darken($background, 5%);
        box-shadow: inset 0 2px 4px 0 darken($background, 10%);
      }
    }
  }
}

@include button($false, white, $black);
@include button('blue', $blue, white);
@include button('info', $grey, white);
@include button('sent', $sent, white);
@include button('default', white, $black);
@include button('primary', $primary, white);
@include button('danger', $mahogany, white);
@include button('success-alt', $jade, white);
@include button('success', $iris-green, white);
@include button('received', $iris-green, white);
@include button('transferred', $bali-hai, white);
@include button('primary-inverse', white, $primary, none, $primary);
@include button('purple', $mariner, white);

button[disabled] {
  opacity: .6;
}

button.full {
  width: 100%;
}

.button-heavy {
  @extend .em-400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button-sm {
  padding: .3125em .625em;
}
.button-lg {
  padding: 1em 2em;
  font-size: 1.2em;
}
.button-vlg {
  font-size: 1.4em;
  width: 100%;
}

.button-sm,
.button-lg,
.button-vlg {
  height: auto;
}

.button-muted {
  border: none;
  background: transparent;
  color: $basic-grey;
  &:hover {
    color: darken($basic-grey, 10%);
  }
}

.button-muted-off {
  @extend .button-muted;
  color: $security-red;
  &:hover {
    color: darken($security-red, 10%);
  }
}

.btn-inverse {
  background: #454545;
  color: white;
  &:hover {
    color: darken(white, 20%) !important;
  }
  &:visited {
    color: white;
  }
}

.button-transparent {
  background: transparent;
  color: white;
  border: none;
  &:hover {
    color: white !important;
    background: transparent !important;
  }
}

.button-default { border: 1px solid #e0e0e0; }
.button-border { border: 1px solid white; }
.button-nowrap { white-space: nowrap; }

.button-short,
.button-short-wide {
  height: 35px;
  padding: 5px;
}

.button-short-wide {
  min-width: 100px;
}

.button-native-mobile {
  @media (max-width: 767px) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0px;
  }
}
