$false: nil;

button[disabled] {
  opacity: .6;
}

%button-base {
  border-radius: 5px;
  border: none;
  padding: .8em 1.2em;
  transition: all .2s ease-in-out;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

@mixin button($name, $background:white, $color:white, $max-width:none) {
  .btn:focus {
    color: $color;
  }
  @if $name == $false {
    .button {
      @extend %button-base;
      background: $background;
      color: $color;
    }
  }
  @else {
    .button-#{$name} {
      @extend %button-base;
      background: $background;
      color: $color;
      max-width: $max-width;
      &:hover {
        background: darken($background, 5%);
        color: $color;
      }
      &:visited {
        color: $color;
      }
      &:disabled {
        &:hover {
          background: $background;
          opacity: .6;
        }
      }
      &.active {
        background: darken($background, 5%);
        box-shadow: inset 0 2px 4px 0 darken($background, 10%);
      }
    }
  }
}

@include button($false, white, $black);
@include button('primary', $blue, white);
@include button('success', $receive-green, white);
@include button('success-alt', $security-green, white);
@include button('default', white, $black);
@include button('info', $light-grey, white);
@include button('danger', #E28081, white);

.button-sm {
  padding: .3125em .625em;
}
.button-lg {
  padding: 1em 2em;
  font-size: 1.2em;
}
.button-vlg {
  padding: 0.8em 1.6em;
  font-size: 1.4em;
}
.button-muted {
  border: none;
  background: transparent;
  color: $dark-grey;
  &:hover {
    color: darken($dark-grey, 10%);
  }
}
.button-muted-off {
  @extend .button-muted;
  color: $security-red;
  &:hover {
    color: darken($security-red, 10%);
  }
}
.button-transparent {
  background: transparent;
  color: white;
  border: none;
}
.button-default { border: 1px solid #e0e0e0; }
.button-nowrap { white-space: nowrap; }

.btn-inverse {
  background: #454545;
  color: white;
  &:hover {
    color: darken(white, 20%) !important;
  }
  &:visited {
    color: white;
  }
}
