input[type="radio"] {
  margin-right: 5px;
}

.btn-default-focus {
  outline: none !important;
  box-shadow: none !important;
}

//IE hack to remove 'x'
input::-ms-clear {
  display: none;
}

//Mozilla hide input spinners
input[type=number] {-moz-appearance: textfield;}

input.filter {
  background-image:url('/img/spyglass.png');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 20px;
}
