label {
  font-weight: 500;
}

.bc-modal {
  .label.label-success {
    font-size: 12px;
    color: #fff;
  }
}

.label {
  padding: .3em .6em .3em .6em;
}

.label-default {
  background-color: $a7a7a7;
}
