a {
  cursor: pointer;
  color: $blue;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  &:hover, &:visited {
    text-decoration: none;
  }
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}
