a {
  outline: 0;
  cursor: pointer;
  color: $primary;
  &:hover, &:visited {
    text-decoration: none;
  }
  &:hover {
    color: $primary;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}
