a {
  cursor: pointer;
  outline: 0;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
}
