.left-nav
  .left-navigation.flex-column.flex-between
    ul.aside.wallet-footer
      li.header.adverts.mbm
        span(translate="SPONSORS")
        adverts
.main-container(scroll-to-top, in-view-container)
