.modal-header
  h3(translate="ACCOUNT")
.modal-body
  p Welcome to your wallet.
.modal-footer
  button.btn.btn-info(ng-click="logout()", translate="LOGOUT")
  button.btn.btn-primary(ng-click="close()", translate="CLOSE")