table.left-header.accounts
  tr
    td.header 
      img(src="img/my-accounts-icon.png") 
      |My Accounts
    td.right
      a(ng-click="generateAccount()") + New
table.left
  tr.active
    td All Accounts
    td.amount {{ totals.fiat | currency:settings.currency.symbol }}
  tr(ng-repeat="account in accounts | filter:{active:true}")
    td 
      a(href="")
        {{ account.label }}
    td.amount {{ account.balance | fiat:settings.currency }}
