.left-navigation(ng-show="status.isLoggedIn")
  div
    div.active-accounts.side-box  
      table.left-header.accounts
        tr
          td.header 
            img(src="img/my-accounts-icon.png")
            span.headinglink(ui-sref="wallet.common.settings.accounts", translate="MY_ACCOUNTS") 
          td.right(ng-hide="!status.didUpgradeToHd")
            a.new-acct(ng-click="newAccount()", translate="NEW_ACCOUNT")
      table.left
        tr(ng-class="selectedAccountIndex == 'accounts' ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex:'accounts'})", ng-hide="!status.didUpgradeToHd")
          td 
            a(translate="ALL_ACCOUNTS")
          td.amount 
             a
               span(ng-hide="total() == null")
                 fiat-or-btc(btc="total()")  
               img(ng-show="total() == null" src="img/spinner.gif")
        tr(ng-repeat="account in accounts | filter:{active:true}", ng-class="selectedAccountIndex != '' && $index == selectedAccountIndex ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex: $index.toString()})")
          td 
            a {{ account.label }}
          td.amount
            a
              img(ng-show="account.balance == null" src="img/spinner.gif")
              span(ng-show="account.balance != null")
                  fiat-or-btc(btc="account.balance")                
    
    div.legacy-addresses.side-box  
            
      div(ng-show="numberOfActiveLegacyAddresses() > 0")
        table.left-header.accounts
          tr
            td.header 
              img(src="img/my-legacy-icon.png")
              span.headinglink(ui-sref="wallet.common.settings.addresses", translate="IMPORTED_ADDRESSES") 
        table.left
          tr(ng-class="selectedAccountIndex == 'imported' ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex:'imported'})")
            td 
              a(translate="ALL_ADDRESSES")
            td.amount 
              a
                span(ng-hide="legacyTotal() == null")
                  fiat-or-btc(btc="legacyTotal()")  
                
      div.partners.side-box.hidden-xs
        adverts