table.left-header.accounts
  tr
    td.header 
      img(src="img/my-accounts-icon.png") 
      |My Accounts
    td.right
      a(ng-click="createAccount()") + New
table.left
  tr(ng-class="selectedAccountIndex == '' ? 'active' : ''")
    td 
      a(ui-sref="transactions({accountIndex:''})") All Accounts
    td.amount {{ totals.fiat | currency:settings.currency.symbol }}
  tr(ng-repeat="account in accounts | filter:{active:true}", ng-class="selectedAccountIndex != '' && $index == selectedAccountIndex ? 'active' : ''")
    td 
      a(ui-sref="transactions({accountIndex: $index.toString()})") {{ account.label }}
    td.amount {{ account.balance | fiat:settings.currency }}
