.left-navigation(ng-show="status.isLoggedIn")
  div
    table.left-header.accounts
      tr
        td.header 
          img(src="img/my-accounts-icon.png")
          span(translate="MY_ACCOUNTS") 
        td.right
          a(ng-click="newAccount()", translate="NEW_ACCOUNT")
    table.left
      tr(ng-class="selectedAccountIndex == '' ? 'active' : ''")
        td 
          a(ui-sref="transactions({accountIndex:''})", translate="ALL_ACCOUNTS")
        td.amount 
          fiat(btc="total()")
      tr(ng-repeat="account in accounts | filter:{active:true}", ng-class="selectedAccountIndex != '' && $index == selectedAccountIndex ? 'active' : ''")
        td 
          a(ui-sref="transactions({accountIndex: $index.toString()})") {{ account.label }}
        td.amount
          fiat(btc="account.balance")
    div(ng-show="numberOfActiveLegacyAddresses() > 0")
      table.left-header.accounts
        tr
          td.header 
            img(src="img/my-accounts-icon.png")
            span(translate="IMPORTED_ADDRESSES") 
      table.left
        tr(ng-class="selectedAccountIndex == 'imported' ? 'active' : ''")
          td 
            a(ui-sref="transactions({accountIndex:'imported'})", translate="ALL_ADDRESSES")
          td.amount 
            fiat(btc="legacyTotal()")