table.left-header.accounts
  tr
    td.header 
      img(src="img/my-accounts-icon.png") 
      |My Accounts
    td.right
      a(ng-click="createAccount()") + New
table.left
  tr
    td 
      a(href="") All Accounts
    td.amount {{ totals.fiat | currency:settings.currency.symbol }}
  tr(ng-repeat="account in accounts | filter:{active:true}", ng-class="$index == 0 ? 'active' : ''")
    td 
      a(href="") {{ account.label }}
    td.amount {{ account.balance | fiat:settings.currency }}
