.modal-header
  h3(translate="CREATE_NEW_ACCOUNT", ng-hide="status.edit") 
  h3(translate="RENAME_ACCOUNT", ng-show="status.edit") 
.modal-body
  .form-group.flex.flex-justify(ng-class="{'has-error': errors.name, 'has-success': success.name}")
    label.col-sm-4.control-label(translate="ACCOUNT_NAME")
    .col-sm-8
      input.form-control(type="text",ng-model="fields.name",autofocus,ng-blur="validate()", ng-focus="errors.name = null")
      span.help-block {{ errors.name }}
  span(ng-show="!status.edit")
.modal-footer.pal.flex-end.flex-center
  button.button-muted.mrm(ng-click="close()", translate="CLOSE", ng-hide="status.busy")
  span(ng-if="!status.edit")
    button.button-primary(ui-ladda="{{ status.busy }}", ng-click="createAccount()", ladda-translate="CREATE_ACCOUNT", ng-disabled="!formIsValid", data-style="expand-left")
  span(ng-if="status.edit")
    button.button-primary(ui-ladda="{{ status.busy }}", ng-click="updateAccount()", ladda-translate="RENAME", ng-disabled="!formIsValid", data-style="expand-left")
