.left-navigation(ng-show="status.isLoggedIn")
  ul.aside
    li.header(ui-sref-active="current")
      a(ui-sref="wallet.common.dashboard")
        i.ti-home
        span(translate="HOME")
    li.header(ui-sref-active="current")
      a(ui-sref="wallet.common.transactions({accountIndex: getMainAccountId() })")
        i.ti-import
        span(translate="MY_TRANSACTIONS")
      ul.aside-list.pas(ng-show="selectedAccountIndex != 'imported'")
        li(ng-class="selectedAccountIndex == 'accounts' ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex:'accounts'})", ng-hide="!status.didUpgradeToHd")
          a(translate="ALL_ACCOUNTS")
            span
              fiat-or-btc(btc="total()")    
        li(ng-repeat="account in accounts | filter:{active:true}", ng-class="selectedAccountIndex != '' && $index == selectedAccountIndex ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex: $index.toString()})")
          a
            span {{ account.label }}
            span
              fiat-or-btc(btc="account.balance")
        li
          a.new-acct(ng-click="newAccount()", translate="NEW_ACCOUNT")
    li.header(ng-show="settings.multiAccount && numberOfActiveLegacyAddresses() > 0", ng-class="{current:selectedAccountIndex == 'imported'}")
      a(ui-sref="wallet.common.transactions({accountIndex:'imported'})")
        i.ti-agenda
        span(translate="IMPORTED_ADDRESSES")
      ul.aside-list.pas.pln(ng-show="selectedAccountIndex == 'imported'")
        li(ng-class="selectedAccountIndex == 'imported' ? 'active' : ''")
          a(translate="ALL_ADDRESSES")
            span
              fiat-or-btc(btc="legacyTotal()")
        li
          a(ui-sref="wallet.common.settings.addresses", translate="VIEW_ADDRESSES")
    li.header.mbm(ui-sref-active="current")
      a(ui-sref="wallet.common.settings.security-center")
        i.bc-icon-security.security-red(ng-show="security.level == 0 || security.level == 1")
        i.bc-icon-security.security-yellow(ng-show="security.level == 2")
        i.bc-icon-security.security-green(ng-show="security.level == 3")
        span(translate="SECURITY")
    li.header.mbm(ui-sref-active="current")
      a(ui-sref="wallet.common.settings.wallet")
        i.ti-settings
        span(translate="SETTINGS")
    li.header.mbm(ui-sref-active="current")
      a(ui-sref="wallet.common.support")
        i.ti-headphone
        span(translate="CONTACT_SUPPORT")
    li.header.mbm(ui-sref-active="current")
      a(ui-sref="wallet.common.feedback")
        i.ti-thumb-up
        span(translate="SEND_FEEDBACK")
  ul.aside.adverts
    li.header.mbm
      span(translate="SPONSORS")  
      adverts