.left-navigation(ng-show="status.isLoggedIn")
  ul.aside
    li.header.mbm(toggle-nav)
      a(ui-sref="wallet.common.dashboard")
        i.bc-icon-home
        span(translate="HOME")
    li.header.current(toggle-nav)
      a(ui-sref="wallet.common.transactions({accountIndex: getMainAccountId() })")
        i.bc-icon-address
        span(translate="MY_TRANSACTIONS")
      ul.aside-list.pas
        li(ng-class="selectedAccountIndex == 'accounts' ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex:'accounts'})", ng-hide="!status.didUpgradeToHd || numberOfActiveAccounts() <= 1")
          a(translate="ALL_ACCOUNTS")
            span
              fiat-or-btc(btc="total()")    
        li(ng-repeat="account in accounts | filter:{active:true}", ng-class="selectedAccountIndex != '' && $index == selectedAccountIndex ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex: $index.toString()})")
          a
            span {{ account.label }}
            span
              fiat-or-btc(btc="account.balance")
        li
          a.new-acct(ng-click="newAccount()", translate="NEW_ACCOUNT")
    li.header.mvm(ng-show="settings.multiAccount && numberOfActiveLegacyAddresses() > 0")
      a(ui-sref="wallet.common.settings.addresses")
        i.fa.fa-book
        span(translate="ADDRESSES")
    li.header.mbm
      a(ui-sref="wallet.common.settings.security-center")
        i.bc-icon-security
        span(translate="SECURITY")
    li.header.mbm
      a(ui-sref="wallet.common.settings.wallet")
        i.fa.fa-cog
        span(translate="SETTINGS")
    li.header.mbm(toggle-nav)
      a(ui-sref="wallet.common.support")
        i.fa.fa-life-ring
        span(translate="CONTACT_SUPPORT")
    li.header.mbm(toggle-nav)
      a(ui-sref="wallet.common.feedback")
        i.fa.fa-paper-plane
        span(translate="SEND_FEEDBACK")
  ul.aside(ng-show="numberOfActiveLegacyAddresses() > 0")
    li.header 
      a(ui-sref="wallet.common.settings.addresses", translate="IMPORTED_ADDRESSES") 
      ul.aside-list.pas.pln
        li(ng-class="selectedAccountIndex == 'imported' ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex:'imported'})")
          a(translate="ALL_ADDRESSES")
            span
              fiat-or-btc(btc="legacyTotal()") 
  ul.aside.adverts
    adverts