.left-navigation(ng-show="status.isLoggedIn")
  div
    div.active-accounts.side-box  
      table.left-header.accounts
        tr
          td.header 
            img(src="img/my-accounts-icon.png")
            span.headinglink(ui-sref="wallet.common.settings.accounts", translate="MY_ACCOUNTS") 
          td.right(ng-hide="!status.didUpgradeToHd")
            a.new-acct(ng-click="newAccount()", translate="NEW_ACCOUNT")
      table.left
        tr(ng-class="selectedAccountIndex == 'accounts' ? 'active' : ''", ng-hide="!status.didUpgradeToHd")
          td 
            a(ui-sref="wallet.common.transactions({accountIndex:'accounts'})", translate="ALL_ACCOUNTS")
          td.amount 
             a(ui-sref="wallet.common.transactions({accountIndex:'accounts'})")
               fiat(btc="total()", ng-hide="total() == null")
               img(ng-show="total() == null" src="img/spinner.gif")
        tr(ng-repeat="account in accounts | filter:{active:true}", ng-class="selectedAccountIndex != '' && $index == selectedAccountIndex ? 'active' : ''")
          td 
            a(ui-sref="wallet.common.transactions({accountIndex: $index.toString()})") {{ account.label }}
          td.amount
            a(ui-sref="wallet.common.transactions({accountIndex: $index.toString()})")
              fiat(btc="account.balance", ng-show="account.balance != null")
              img(ng-show="account.balance == null" src="img/spinner.gif")
    
    div.legacy-addresses.side-box  
            
      div(ng-show="numberOfActiveLegacyAddresses() > 0")
        table.left-header.accounts
          tr
            td.header 
              img(src="img/my-legacy-icon.png")
              span(translate="IMPORTED_ADDRESSES") 
        table.left
          tr(ng-class="selectedAccountIndex == 'imported' ? 'active' : ''")
            td 
              a(ui-sref="wallet.common.transactions({accountIndex:'imported'})", translate="ALL_ADDRESSES")
            td.amount 
              a(ui-sref="wallet.common.transactions({accountIndex:'imported'})")
                fiat(btc="legacyTotal()")
                
      div.partners.side-box
        adverts