.modal-header
  .flex-center.pam(ng-hide="status.edit")
    h3.man.mrm(translate="CREATE_NEW_ACCOUNT")
    helper-button(content="CREATE_NEW_ACCOUNT_MODAL")
  h3(translate="RENAME_ACCOUNT", ng-show="status.edit") 
.modal-body
  form(role="form" name="accountForm" novalidate)
    .form-group.flex-column.flex-justify(ng-class="{'has-error': accountForm.$invalid && accountForm.$dirty}")
      label.control-label(translate="ACCOUNT_NAME")
      div
        input.form-control(type="text" name="new" ng-model="fields.name" is-valid="isNameUnused(fields.name)" maxlength="17" required autofocus)
        span.help-block(translate="INCORRECT_PASSWORD" ng-show="accountForm.new.$error.incorrectPassword")
        span.help-block(translate="ACCOUNT_NAME_TAKEN" ng-show="accountForm.new.$error.isValid")
    span(ng-show="!status.edit")
.modal-footer.pal.flex-end.flex-center
  button.button-muted.mrm(ng-click="close()", translate="CLOSE", ng-hide="status.busy")
  span(ng-if="!status.edit")
    button.button-success(ui-ladda="status.busy" ng-click="createAccount()" ladda-translate="CREATE_ACCOUNT" ng-disabled="accountForm.new.$error.required || accountForm.new.$error.isValid || accountForm.$pristine" data-style="expand-left")
  span(ng-if="status.edit")
    button.button-success(ui-ladda="status.busy" ng-click="updateAccount()" ladda-translate="RENAME" ng-disabled="accountForm.$invalid || accountForm.$pristine" data-style="expand-left")
