div(ng-show="checkingToken")
  header
    hgroup
      .flex-between.flex-center.flex-wrap
        h2.em-300.mtn(translate="CHECKING_LOGIN_ATTEMPT")
    hgroup
      img(src="img/spinner.gif")
div(ng-show="differentBrowser && !success" data-preflight-tag="AuthApprove")
  header
    hgroup
      .flex-between.flex-center.flex-wrap
        h2.em-300.mtn(translate="AUTHORIZE_APPROVE_OTHER_BROWSER")
      p.em-300(translate="AUTHORIZE_APPROVE_OTHER_BROWSER_EXPLAIN")
    hgroup
      p.em-300 {{ details.device_change_reason }}
      
  .row.ptm
    .col-xs-6
      h4(translate="AUTHORIZE_APPROVE_REQUESTING_DEVICE")
      p
        b
          span(translate="BROWSER")
          span :
        |  {{ details.requester_device_description }}
        br
        b
          span(translate="IP_ADDRESS")
          span :
        |  {{ details.requester_ip }}
        br
        b
          span(translate="COUNTRY_OF_ORIGIN")
          span :
        |  {{ details.requester_country }}
        br
    .col-xs-6
      h4(translate="AUTHORIZE_APPROVE_THIS_DEVICE")
      p
        b
          span(translate="BROWSER")
          span :
        |  {{ details.approver_device_description }}
        br
        b
          span(translate="IP_ADDRESS")
          span :
        |  {{ details.approver_ip }}
        br
        b
          span(translate="COUNTRY_OF_ORIGIN")
          span :
        |  {{ details.approver_country }}
        br

  form.ptl.row.form-horizontal.clearfix(role="form")
    .flex-around.flex-center
      .flex-center
        button.button-danger(ui-ladda="busyApproving", ng-click="approve()", data-style="expand-left", ladda-translate="ACCEPT")
      .flex-center.flex-end
        button.button-primary(ui-ladda="busyRejecting", ng-click="reject()", data-style="expand-left", ladda-translate="REJECT")

.flex-center.flex-justify.flex-column(ng-show="success")
  .level-complete.flex-center.flex-justify
    i.ti-check.bright-green
  h4.em-300.mtl(translate="SUCCESS")
  p.em-300(translate="AUTHORIZE_APPROVE_SUCCESS")
