.modal-body.flex-column.width-100
  .ptl.pll.prl
    span.type-h4.em-500.flex-start(translate="Routing and Account Number")
    p.em-300.ptm(translate="You can find your bank routing and account numbers at the bottom of a check. Or you can contact your bank for this information.")
  .center
    img.width-80.mvl(ng-src="img/bank-check.png")
  .flex-end
    button.button.button-primary(ng-click="$close()") Close
