span(ng-show="bankAccount.institution_type === 'bbt'")
  include ../../img/banks/bbt.svg
span(ng-show="bankAccount.institution_type === 'bofa'")
  include ../../img/banks/bofa.svg
span(ng-show="bankAccount.institution_type === 'capone'")
  include ../../img/banks/capone.svg
span(ng-show="bankAccount.institution_type === 'chase'")
  include ../../img/banks/chase.svg
span(ng-show="bankAccount.institution_type === 'citi'")
  include ../../img/banks/citi.svg
span(ng-show="bankAccount.institution_type === 'fidelity'")
  include ../../img/banks/fidelity.svg
span(ng-show="bankAccount.institution_type === 'nfcu'")
  include ../../img/banks/nfcu.svg
span(ng-show="bankAccount.institution_type === 'pnc'")
  include ../../img/banks/pnc.svg
span(ng-show="bankAccount.institution_type === 'schwab'")
  include ../../img/banks/schwab.svg
span(ng-show="bankAccount.institution_type === 'suntrust'")
  include ../../img/banks/suntrust.svg
span(ng-show="bankAccount.institution_type === 'td'")
  include ../../img/banks/td.svg
span(ng-show="bankAccount.institution_type === 'us'")
  include ../../img/banks/us.svg
span(ng-show="bankAccount.institution_type === 'usaa'")
  include ../../img/banks/usaa.svg
span(ng-show="bankAccount.institution_type === 'wells'")
  include ../../img/banks/wells.svg
