nav.navbar.navbar-default.navbar-inverse.pos-abs.bc-header.bc-logo-header.width-100.width-100-tablet.width-100-mobile
  div.container.container-fluid.flex-center
    div.navbar-header.flex-center.flex-row-reverse.flex-between
      a.navbar-brand.flex-center(href="{{rootURL}}")
        img#logo(src="img/blockchain-vector.svg" alt="Blockchain")
