.wrapper
  nav.logo.opaque(role="navigation" ng-class="{'display-block': isUIOverflow}")
    ul.igation
      li
        a(class="bc-logo" href="https://blockchain.com")
          img(src="img/white-blockchain.svg" alt="Blockchain")
      li.flex-space
