.modal-header.bc-modal-header
  i.ti-close.close-modal(ng-click="vm.dismiss()")
  .flex-row.flex-between
    .flex-column.flex-justify
      h3.f-24.blue(translate="About Bitcoin Cash")
div(translate-namespace="BITCOIN_CASH")
  .flex-column.ph-35(ng-if="vm.onStep('about')")
    .flex-column(ng-repeat="i in [1,2,3,4,5]")
      .flex-column.mt-20
        span.blue.f-14(translate=".ABOUT_{{i}}")
        span.text.f-14.pt-5(translate=".ABOUT_{{i}}_ANSWER")
    .flex-row.flex-justify.pt-40.pb-30
      button.button-primary(ng-if="!vm.onFaq()" translate=".SEE_BALANCE" ng-click="vm.activeWallets.length > 1 ? vm.dismiss() : vm.goTo('balance'); vm.setHasSeenCashAbout();")
      a.button-primary(ng-if="vm.onFaq()" translate=".SEE_BALANCE" ng-click="vm.setHasSeenCashAbout()" ui-sref="wallet.common.settings.info")
  .flex-column.ph-35(ng-if="vm.onStep('balance')")
    .flex-column.flex-center.bg-grey.mv-30.pv-20
      span.f-16(translate="TOTAL")
      span.f-28.em-600.pv-10 {{ vm.balance | convert:'bch':true }}
      fiat.f-20(bch="vm.fromSatoshi(vm.balance, vm.bchCurr)")
    .flex-row.flex-between.mb-30
      a.f-14(translate=".KEEP" ng-click="vm.dismiss()")
      a.f-14(translate=".EXCHANGE" ng-click="vm.dismiss(); vm.openExchange()")
      a.f-14(translate=".SEND" ng-click="vm.dismiss(); vm.openSend()")
    
