.modal-header.bc-modal-header
  i.ti-close.close-modal(ng-click="vm.dismiss()")
  .flex-row.flex-between
    .flex-column.flex-justify
      h3.f-24.blue(translate="About Bitcoin Cash")
div(translate-namespace="BITCOIN_CASH")
  .flex-column.ph-35(ng-if="vm.onStep('about')")
    .flex-column(ng-repeat="i in [1,2,3,4]")
      .flex-column.mt-30
        span.blue.f-14(translate=".ABOUT_{{i}}")
        span.text.f-14.pt-10(translate=".ABOUT_{{i}}_ANSWER")
    .flex-row.flex-justify.pt-40.pb-30
      button.button-primary(translate=".SEE_BALANCE" ng-click="vm.activeWallets.length > 1 ? vm.dismiss() : vm.goTo('balance'); vm.setHasSeenCashAbout();")
  .flex-column.ph-35(ng-if="vm.onStep('balance')")  
    .flex-column.flex-center.bg-grey.mv-30.pv-20
      span.f-16(translate="TOTAL")
      span.f-24.em-600.pv-10 0.0025144 BCC
      span.f-16 25.00 USD
    .flex-row.flex-between.mb-30
      a.f-14(translate=".KEEP" ng-click="vm.dismiss(); vm.setHasSeenCashAbout()")
      a.f-14(translate=".EXCHANGE" ng-click="vm.goTo('exchange')")
      a.f-14(translate=".SEND" ng-click="vm.goTo('send')")
    
