.modal-body.flex-column
  i.ti-close.close-modal(ng-click="onClose()")
  i.f-60.blue.f-60.flex-justify.icon-bitcoin-cash
  .flex-column
    .flex-column.flex-center.flex-justify
      h3.em-300.center(translate="BITCOIN_CASH.ADDRESS_CHANGE_TITLE")
      p.mbl.type-h5.width-100.em-300.center
        span(translate="BITCOIN_CASH.ADDRESS_CHANGE")
    button.uppercase.button-primary.mtl(ng-click="onClose()" translate="BITCOIN_CASH.GOT_IT")
