.payment-methods
  .flex-row.flex-center.pointer.border-bottom
    input(type="radio" name="inMedium" id="card" ng-model="method" ng-value="card" ng-disabled="status.waiting")
    .flex-column.flex-1.mlm.pointer
      label.mts.pointer.em-400(for="card")
        span.mbs.type-h5.em-500.flex-center
          img.mrs(src="img/credit-card.png")
          img.mrs.checked(src="img/credit-card-blue.png")
          span(translate="Credit/Debit Card (Faster)")
        span.display-block(translate="You get the current exchange rate and receive your bitcoins instantly.")
        span.display-block.italic(translate="CARD_FEES" translate-values="{fee: card.inPercentageFee}")
  .flex-row.flex-center.mbl.pvm.border-bottom.pointer
    input(type="radio" name="inMedium" id="bank" ng-model="method" ng-value="bank" ng-disabled="status.waiting")
    .flex-column.flex-1.mlm.pointer
      label.mts.pointer.em-400(for="bank")
        span.mbs.type-h5.em-500.flex-center
          img.mrs(src="img/bank.png")
          img.mrs.checked(src="img/bank-blue.png")
          span(translate="Bank Transfer (Cheaper)")
        span(translate="The final exchange will be determined when Coinify receives your payment. You will receive your bitcoin on the working day after the payment has been received.")

.flex-column.border-bottom
  .flex-row.flex-between.em-500
    span
      span Buy
      | 
      span.success {{ transaction.btc }}
      span.blue.underline.type-sm.mlvl.pointer(ng-click="prevStep()") Change Amount
    span
      span {{ transaction.fiat | format }} {{ transaction.currency.code }}
  .flex-row.flex-between.mts.mbm
    span.italic Payment Processing Fee
    span
      span {{ transaction.methodFee | format }} {{ transaction.currency.code }}
.flex-row.flex-between.mtm.em-500
  span Total
  span.state-danger-text {{ currencySymbol.symbol }}{{ transaction.total | format }} {{ transaction.currency.code }}
