.buy-sell
  .flex-between
    .flex-column.flex-1
      h5.mtn.em-400.type-h5.mbl(translate="BUY_BITCOIN")
      .flex-row.mbl(ng-show="coinifyProfile")
        button.button-primary.mrm(ng-click="buy()" translate="Buy" ng-disabled="!coinifyProfile")
        button.button-primary(ng-click="" translate="Sell" ng-disabled="!coinifyProfile")
      .activity-feed.mrl.pos-rel
        ul.af.pln(ng-show="trades.length > 0")
          li.af-item.flex-align-start(ng-repeat="trade in trades | limitTo: 8")
            .af-marker
              i.ti-direction-alt
            .af-info.flex-center.width-100
              p.h5.af-type.flex-1.mvn(translate="{{::trade.inCurrency !== 'BTC' ? 'BOUGHT': 'SOLD'}}")
              p.af-date.mlm.flex-1.hidden-xs.mvn {{::trade.createdAt | date:'mediumDate'}}
              .af-log.flex-center.flex-3.flex-end
                span.pls
                  fiat-or-btc(btc="trade.outAmountExpected")
        ul.af.pln(ng-hide="trades.length > 0")
          li.af-item.flex-align-start(ng-hide="loading || activities.length > 7")
            .af-marker
              i.ti-wallet
            .af-info.flex-center.width-100
              p.mvn.h5.af-type(translate="ACTIVITY_1")
              p.mvn.af-date.mll.flex-1
              p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_1_DESC")
          li.af-item.flex-align-start(ng-hide="loading || activities.length > 6")
            .af-marker
              i.ti-settings
            .af-info.flex-center.width-100
              p.mvn.h5.af-type(translate="SETTINGS")
              p.mvn.af-date.mll.flex-1
              p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_2_DESC")
          li.af-item.flex-align-start(ng-hide="loading || activities.length > 5")
            .af-marker
              i.ti-settings
            .af-info.flex-center.width-100
              p.mvn.h5.af-type(translate="SETTINGS")
              p.mvn.af-date.mll.flex-1 
              p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_3_DESC")
        .flex-center.flex-justify.flex-column.af-empty-state.pal(ng-hide="trades.length > 0")
          h2.em-400.center-align.shadow.mbm(translate="Buy/Sell Activity Feed")
          h5.em-300.center-align(translate="This is where you'll be able to see a list of your exchange activity.")
          button.button-primary.mtl(ng-click="buy()" translate="BUY_BITCOIN")
    .flex-column.flex-1
      h5.mtn.em-400.type-h5.mbl My Exchange Account
      .bg-light-blue.pal
        .flex-center.flex-start
          h2.blue.mhn.mvn
            i.ti-user
          span.mlm.blue(translate="BUY_BITCOIN")
        .flex-column.mtm(ng-show="coinifyProfile")
          div
            span.bold(translate="Email")
            |: 
            span {{ coinifyProfile.email }}
          div
            span.bold(translate="Country")
            |: 
            span {{ profile.countryCode }}
