.flex-row.flex-between.flex-baseline.center.pointer(ng-hide="status.loading")
  .flex-column.flex-center
    span.flex-1.type-lrg(ng-class="{blue: step === 0}" ng-click="step = 0") {{ currencySymbol.symbol }}
    span.success(ng-show="step > 0") {{ transaction.fiat | convert:true:true:true }}

  .flex-column.flex-center
    i.ti-arrow-right.type-h4

  .flex-column.flex-center(ng-class="{blue: step === 1}" ng-click="nextStep()")
    i.flex-1.type-lrg.ti-map-alt(ng-hide="profile.countryCode")
    i.flex-1.type-lrg.ti-check-box(ng-show="profile.countryCode")
    span.success {{ profile.countryCode }}

  .flex-column.flex-center
    i.ti-arrow-right.type-h4

  .flex-column.flex-center(ng-click="nextStep()" ng-class="{blue: step === 2 || step === 3}")
    i.flex-1.type-lrg.ti-user(ng-hide="exchange.profile")
    i.flex-1.type-lrg.ti-check-box(ng-show="exchange.profile")
    span.success(ng-show="exchange.profile") {{ partner }}

  .flex-column.flex-center
    i.ti-arrow-right.type-h4

  .flex-column.flex-center(ng-click="nextStep()")
    i.flex-1.type-lrg.ti-credit-card(ng-class="{blue: step === 4}" ng-hide="step > 4")
    i.flex-1.type-lrg.ti-check-box(ng-show="step > 4")
    span.success(ng-show="step > 4") {{ method.name }}

  .flex-column.flex-center
    i.ti-arrow-right.type-h4

  .flex-column.flex-center
    span.flex-1.type-lrg(ng-class="{blue: step === 5}") BTC
