div
  div(ng-hide="editEmail")
    p
      span(translate="SENT_VERIFICATION" translate-values="{email: user.email}")
      form.clearfix(name="confirmationCode")
        bc-async-input(type="text" is-required ng-model="fields.confirmationCode" on-save="verifyConfirmationCode" inline editing="true" hideCancel="true" button="VERIFY_EMAIL")
    .flex-column.mtl
        div
          span.flex-center.pointer(translate="CHANGE_EMAIL" ng-click="toggleEmail()")
        div
          span.mrs.pointer(translate="Can't find your verification email?")
          resend-email-confirmation
  form.clearfix(name="emailForm" ng-show="editEmail")
    bc-async-input(type="email" is-required ng-model="user.email" on-cancel="toggleEmail" on-save="changeEmail" action-title="'CHANGE' | translate" autofocus inline editing="true")
