.height-100.flex-center.flex-around.overflow-hidden.pos-rel.width-100(ng-if="state.transitioning")

  .flex-column.flex-justify.flex-center.height-100(ng-show="state.loading")
    img.loader(src="img/puff.svg")
    span.bg-blue.type-h4.copy-bar.white.flex-center.flex-justify(translate="FETCHING_INFO_EXCHANGE")

  .flex-column.flex-justify.flex-center.height-100(ng-show="state.error")
    span.bg-red.type-h4.copy-bar.white.flex-center.flex-justify(translate="METADATA_DOWN_EXCHANGE")

ui-view.height-100.flex-column.flex-1(ng-hide="state.transitioning")
