.buy-sell
  .flex-column.flex-center.flex-justify(ng-show="status.waiting")
    .flex-center(translate="Getting your information from our exchange partner.")
  div(ng-hide="status.waiting")
    button.button-primary.mrm(ng-click="buy()" translate="Buy")
