div(translate-namespace="BUY_SUBSCRIBE")
  .modal-body.flex
    .flex-column
      span.type-h4.em-500.flex-start.pts(translate=".TITLE")
      p.em-300.ptm(translate=".BODY")
  .modal-footer.flex-end.flex-row
    button.button-muted.mrm(translate="NO_THANKS" ng-click="$close()")
    button.button-primary(translate=".BUTTON" ng-click="signupForAccess()")
