.phvl.ph-form
  .form-group.row.pbm.flex-justify
    label.em-500.flex-start.pts(translate="Please Select Your Country Of Residence:")
    .flex-1
      ui-select(ng-model="fields.countryCode" tagging)
        ui-select-match(placeholder="{{'SEARCH' | translate}}...") 
          span {{ $select.selected['Name'] }}
        ui-select-choices(repeat="country['Code'] as country in countries.countryCodes | filter: $select.search")
          span(ng-bind-html="country['Name']")
    .clearfix
      span.display-inline-block.pull-right.pointer.blue.type-sm.underline(translate="CANT_FIND_COUNTRY" uib-tooltip="{{'COUNTRY_COMING_SOON' | translate}}" tooltip-placement="top")

  .flex-baseline.row.mtl(ng-show="isCountryBlacklisted")
    i.ti-alert.sent.mrs.type-h4
    span.sent.mrs(translate="BLACKLISTED_COUNTRY")
