.modal-header
  h3(translate="REDEEM_BITCOINS")
.modal-body
  fields.form-horizontal(role="form",name="form",novalidate)
    .form-group
      label.col-sm-3.control-label(translate="AMOUNT")
      .col-sm-9
        p.form-control-static
          span(ng-show="balance != null")
            span.btc {{ balance | convert }}
            fiat.fiat(btc="balance") 
          img(ng-show="balance == null" src="assets/img/spinner.gif")
    .form-group
      label.col-sm-3.control-label(translate="REDEEM_TO")
      .col-sm-9
        ui-select(ng-model="fields.to")
          ui-select-match {{ $select.selected.label }}
          ui-select-choices(repeat="account in accounts() | filter:{archived: false, label: $select.search}" group-by="'type'") 
            span(ng-bind-html="(account.label | escapeHtml | highlight: $select.search)")  
.modal-footer
  button.btn.button-primary(ng-click="redeem()", translate="REDEEM", ng-hide="redeeming") 
  img(ng-show="redeeming" src="assets/imgimg/spinner.gif") 
