#buy(ng-class="{rendered:rendered}" data-preflight-tag="BuyModal")
  .modal-header.bc-modal-header.flex-between.flex-center(ng-class="{'no-border': isPendingBankTransfer()}")
    .alert-in-app
      alerts(context="alerts")
    .flex-1(ng-class="inMobileBuy ? 'flex-row-reverse flex-center flex-between' : 'flex-column'")
      .flex-row.flex-between.flex-center
        .hidden-xs
          h3(translate="BUY_BITCOIN")
        .flex-column.flex-align-end(uib-tooltip="{{getQuoteHelper() | translate}}"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="top")
          .flex-row.f-16.em-300
            span(ng-if="vm.quote") {{ vm.BTCAmount() / 100000000 }} BTC
            span(ng-if="vm.trade" ng-class="{'italic tilda': vm.state.trade.expired}") {{ vm.trade.outAmountExpected / 100000000 }} BTC
            | &nbsp;
            span(ng-if="vm.quote") ({{ vm.fiatAmount().toFixed(2) }} {{ vm.fiatCurrency() }})
            span(ng-if="vm.trade") ({{ vm.trade.sendAmount / 100 }} {{ vm.trade.inCurrency }})
          countdown.mid-grey(ng-if="vm.quote && vm.quote.id" time-to-expiration="vm.timeToExpiration" on-expiration="vm.refreshQuote()" debug="vm.buySellDebug")
          countdown.mid-grey(ng-if="vm.trade && !vm.state.trade.expired" time-to-expiration="vm.timeToExpiration" on-expiration="vm.expireTrade()" debug="vm.buySellDebug")
  coinify-email(ng-if="vm.onStep('email')" on-complete="vm.goTo('signup')" on-close="vm.close(0)" email="vm.user.email" valid-email="vm.state.email.valid" verified="vm.user.isEmailVerified" on-email-change="vm.onEmailChange(true)")
  coinify-signup(ng-if="vm.onStep('signup')" on-complete="vm.onSignupComplete()" on-error="vm.goTo('email')" on-close="vm.close(0)" email="vm.user.email" valid-email="vm.state.email.valid" on-email-change="vm.onEmailChange(false)" fiat-currency="vm.fiatCurrency()")
  div(ng-if="vm.onStep('select-payment-medium')" ng-controller="CoinifyMediumController" ng-include="'partials/coinify/medium.pug'")
  div(ng-if="vm.onStep('summary')" ng-controller="CoinifySummaryController" ng-include="'partials/coinify/summary.pug'")
  div(ng-if="vm.onStep('isx')" ng-controller="CoinifyISXController" ng-include="'partials/coinify/isx.pug'")
  div(ng-if="vm.onStep('trade-complete')" ng-controller="CoinifyTradeSummaryController" ng-include="'partials/trade-summary.pug'")
    p.security-red.pointer(ng-show="vm.buySellDebug && vm.trade.bankAccount && vm.trade.state === 'awaiting_transfer_in'")
      i.ti-search.mrm
      span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
  .flex-end.flex-center.mtl.coinify-logo.hidden-xs(ng-hide="afterStep('summary')")
    span.pos-rel
      span.mrs.type-sm(translate="POWERED_BY")
      a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
        img(src="img/coinify-logo.svg")
        span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
