#buy(ng-class="{rendered:rendered}" data-preflight-tag="BuyModal")
  .modal-header.bc-modal-header.flex-between.flex-center(ng-class="{'no-border': isPendingBankTransfer()}")
    .alert-in-app
      alerts(context="alerts")
    .flex-1(ng-class="inMobileBuy ? 'flex-row-reverse flex-center flex-between' : 'flex-column'")
      .flex-row.flex-between.flex-center
        .hidden-xs
          h3(translate="BUY_BITCOIN")
        .flex-column.flex-align-end(uib-tooltip="{{getQuoteHelper() | translate}}"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="top")
          .flex-row.f-16.em-300
            span(ng-if="!vm.trade") {{ vm.BTCAmount() / 100000000 }} BTC
            span.italic.tilda(ng-if="vm.trade") {{ vm.trade.outAmountExpected / 100000000 }} BTC
            | &nbsp;
            span(ng-if="!vm.trade") ({{ vm.fiatAmount().toFixed(2) }} {{ vm.fiatCurrency() }})
            span(ng-if="vm.trade") ({{ vm.trade.sendAmount / 100 }} {{ vm.trade.inCurrency }})
          quote-countdown.mid-grey(ng-if="vm.quote" quote="vm.quote" refresh-quote="vm.refreshQuote()")
          p.security-red.pointer(ng-show="buySellDebug && vm.quote.id")
            i.ti-search.mrm.right-align(ng-click="vm.quote.expire()")  QA: Now
  coinify-email(ng-if="onStep('email')" on-complete="vm.goTo('accept-terms')" email="vm.user.email" verified="vm.user.isEmailVerified" rejected-email="vm.rejectedEmail")
  div(ng-if="onStep('accept-terms')" ng-controller="CoinifySignupController" ng-include="'partials/coinify/signup.pug'")
  div(ng-if="onStep('select-payment-medium')" ng-controller="CoinifyMediumController" ng-include="'partials/coinify/medium.pug'")
  div(ng-if="onStep('summary')" ng-controller="CoinifySummaryController" ng-include="'partials/coinify/summary.pug'")
  div(ng-if="onStep('isx')" ng-controller="CoinifyISXController" ng-include="'partials/coinify/isx.pug'")
  div(ng-if="onStep('trade-complete')" ng-controller="CoinifyTradeSummaryController" ng-include="'partials/trade-summary.pug'")
    p.security-red.pointer(ng-show="buySellDebug && trade.bankAccount && trade.state === 'awaiting_transfer_in'")
      i.ti-search.mrm
      span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
  .flex-end.flex-center.mtl.coinify-logo.hidden-xs(ng-hide="afterStep('summary')")
    span.pos-rel
      span.mrs.type-sm(translate="POWERED_BY")
      a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
        img(src="img/coinify-logo.svg")
        span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
