#buy(ng-class="{rendered:rendered}" data-preflight-tag="BuyModal")
  .modal-header.bc-modal-header.flex-between.flex-center(ng-class="{'no-border': isPendingBankTransfer()}")
    .alert-in-app
      alerts(context="alerts")
    .flex-1(ng-class="inMobileBuy ? 'flex-row-reverse flex-center flex-between' : 'flex-column'")
      .flex-row.flex-between.flex-center
        .hidden-xs
          h3(ng-hide="isPendingBankTransfer() || onStep('isx')" translate="BUY_BITCOIN")
          h3(ng-show="isPendingBankTransfer()" translate="BANK_TRANSFER_HEADING")
          h3(ng-show="onStep('isx')") Identity Verification
        .flex-column.flex-align-end(ng-show="status.gettingQuote")
          img(src="img/spinner.gif")
        .flex-column.flex-align-end(ng-hide="status.gettingQuote"
                                    uib-tooltip="{{getQuoteHelper() | translate}}"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="top")
          .flex-row.type-h5.em-500
            span(ng-hide="!transaction.btc || trade || needsKyc()") {{ transaction.btc }} BTC
            span(ng-show="trade && !isKYC && !needsKyc()" ng-class="{italic: expiredQuote && needsISX(), 'tilda-before': expiredQuote && needsISX()}") {{ expiredQuote && needsISX() ? btcExpected / 100000000 : (trade.outAmount || trade.outAmountExpected) / 100000000 }} BTC
            | &nbsp;
            span(ng-hide="!transaction.btc || trade || needsKyc()") ({{currencySymbol.symbol}}{{ transaction.fiat }})
            span(ng-show="trade && !isKYC && !needsKyc()") ({{currencySymbol.symbol}}{{ transaction.total }})
          quote-countdown.mid-grey(ng-hide="isKYC" quote="quote" trade-obj="trade" expired-quote="expiredQuote")
          p.security-red.pointer(ng-show="buySellDebug && quote.id")
            i.ti-search.mrm.right-align(ng-click="quote.expire()")  QA: Now
  
  div(ng-if="onStep('email')" ng-controller="CoinifyEmailController" ng-include="'partials/coinify/email.pug'")
  div(ng-if="onStep('accept-terms')" ng-controller="CoinifySignupController" ng-include="'partials/coinify/signup.pug'")
  div(ng-if="onStep('select-payment-medium')" ng-controller="CoinifyMediumController" ng-include="'partials/coinify/medium.pug'")
  div(ng-if="onStep('summary')" ng-controller="CoinifySummaryController" ng-include="'partials/coinify/summary.pug'")
  div(ng-if="onStep('isx')" ng-controller="CoinifyISXController" ng-include="'partials/coinify/isx.pug'")
  div(ng-if="onStep('trade-complete')" ng-controller="CoinifyTradeSummaryController" ng-include="'partials/trade-summary.pug'")
    p.security-red.pointer(ng-show="buySellDebug && trade.bankAccount && trade.state === 'awaiting_transfer_in'")
      i.ti-search.mrm
      span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
  .flex-end.flex-center.mtl.coinify-logo.hidden-xs(ng-hide="afterStep('summary')")
    span.pos-rel
      span.mrs.type-sm(translate="POWERED_BY")
      a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
        img(src="img/coinify-logo.svg")
        span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
