.left-nav.bg-light-blue(ui-view="left", ng-class="{toggled: menu.isCollapsed}")
.top-view.bg-white(ui-view="top")
.main-container.bg-white(ui-view="right", scroll-to-top, in-view-container, ng-click="hideMenu()")
