.modal-header
  h3(translate="VERIFY_RECOVERY_PHRASE")
.modal-body#verify-recovery
  p(translate="VERIFY_RECOVERY_PHRASE_EXPLAIN")

  p
    img(src="img/pencil.png", align="left", ng-show="step==1 || step == 2")
    img(src="img/lock.png",   align="left", ng-show="step == 3")  
  p
    b
      span(translate="WRITE_DOWN", ng-show="step==1")
      span(translate="VERIFY_WRITE_DOWN", ng-show="step==2")
      span(translate="STORE_SAFE", ng-show="step==3")  
    br
    span(translate="DO_NOT_PRINT", ng-show="step==1")
    span(translate="ENTER_WORDS", ng-show="step==2")  
    span(translate="STORE_SAFE_EXPLAIN", ng-show="step==3")  
    br(clear="all")

    .row(ng-show="step==1")
      .col-xs-12
        pre {{ recoveryPhrase }}
    .row(ng-show="step==2")
      .col-xs-3(ng-repeat="word in words | orderBy:'index'")
        .form-group(ng-class="{'has-error': word.error}")
          p(translate="{{'WORD_' + word.index}}")
          input.form-control(type="text" ng-model="word.value")

  div(ng-show="step==2")


.modal-footer.pal.flex-end
  button.button-muted.mrm(ng-click="close()", translate="CANCEL", ng-hide="step==3")
  button.button-default(ng-click="goToVerify()",translate="DONE_THIS", ng-show="step==1")
  button.button-primary(ng-click="verify()",translate="VERIFY", ng-show="step==2")
  button.button-success(ng-click="close()",translate="DONE_THIS", ng-show="step==3")
