.modal-header(data-preflight-tag="ConfirmRecoveryModal")
  h3(translate="VERIFY_RECOVERY_PHRASE")
.modal-body#verify-recovery
  span(ng-show="step==0")
    p.blue
      b
        i.ti-shield.prm
        span(translate="SECURITY_TIP")
    p(translate="DO_NOT_STORE_ON_COMPUTER").recovery-instruction-text
    
    hr
    .row
      .col-xs-12
        p(translate="PRINTABLE_SHEET")
        
        
    .row
      .col-xs-12
        p.center
          a.btn.btn-inverse(href="img/recovery.pdf", target="_blank", download="recovery.pdf" rel="noopener noreferrer")
            span
              i.ti-printer.prm
              span(translate="PRINT_RECOVERY_SHEET")
              
  span(ng-show="step==1")
    p.blue
      b
        i.ti-pencil.prm
        span(translate="WRITE_DOWN")
    p(translate="WRITE_DOWN_EXPLAIN").recovery-instruction-text
    
    .row
      .col-xs-3(ng-repeat="word in recoveryPhrase | limitTo:4:offset track by $index")
        p.center
          b {{ offset + $index + 1 }}. {{ word }}
    .row
      .col-xs-12
        p.center
          a.btn.button-muted(ng-click="previousWords()", ng-hide="offset == 0")
            i.ti-arrow-left.prm
            span(translate="PREVIOUS")
          a.btn.btn-inverse(ng-click="nextWords()", ng-hide="offset >= 8")
            span(translate="NEXT_4_WORDS").prm
            i.ti-arrow-right
    
  span(ng-show="step==2")
    p.blue
      b
        i.ti-check.prm
        span(translate="VERIFY")
    p(translate="ENTER_WORDS").recovery-instruction-text
    
    .row
      .col-xs-3(ng-repeat="word in words")
        .form-group(ng-class="{'has-error': word.error}")
          p(translate="{{'WORD_' + word.index}}")
          input.form-control(type="text" ng-model="word.value")
    
  span(ng-show="step==3")
    .row
      .col-xs-12
        p.full-circle.center
          i.ti-check.big-white
    .row 
      .col-xs-12
        p
    .row
      .col-xs-12
        p(translate="BACKED_UP").recovery-instruction-text.center

.modal-footer.pal.flex-end
  button.button-muted.mrm(  ng-click="close()", translate="CLOSE", ng-show="step==0")
  button.button-primary.mrm(ng-click="close()", translate="CLOSE", ng-show="step==3")
  button.button-muted.mrm(  ng-click="previousStep()", translate="BACK", ng-show="step > 0 && step < 3")

  button.button-primary(ng-click="goToShow()",translate="NEXT_STEP", ng-show="step==0")
  button.button-primary(ng-click="goToVerify()",translate="FINAL_STEP", ng-show="step==1", ng-disabled="!lastWordGroup")
  button.button-success(ng-click="verify()",translate="FINISH", ng-show="step==2", ng-disabled="hasEmptyWords()")
