.flex.dashboard.pal
  img(src="img/rocket.gif" alt="Welcome to your new Blockchain wallet!")
  .flex-column.mll.pal
    h1 Welcome to your new wallet!
    p.bc-well
      | We've been working hard here at Blockchain to bring you this newest version of our web wallet. We're 
      | very excited to put it in your hands to help us keeping improving your experience with our products.

    h4 Some new features you might enjoy:
    ul
      li Create Multiple Accounts within your wallet
      li A new and improved Security Center
      li Other stuff

    h4 And as always, feel free to contact us if you need any help
