.flex.dashboard.pal.flex-column
  h4 Be your own bank.
  .row
    .col-xs-6
      h4 Most Recent Activity
    .col-xs-6
      h4 Value Over Time
  .row
    .col-xs-6
      h4 Did You Know
    .col-xs-6  
      h4 Balance By Account
