.flex.dashboard.pal
  img(src="img/rocket.gif" alt="Welcome to your new Blockchain wallet!")
  .flex-column.mll.phl
    h1 Welcome to the new Blockchain Wallet!
    p.bc-well
      | We’ve been hard at work creating the ultimate new wallet experience for our 3+ million users worldwide. 
      | Thank you for taking the time to help test and explore what we’ve been working on. 
 
    h4 What's New?
    ul
      li Backup your entire wallet once with a simple 12 word Recovery Phrase and restore it anywhere, anytime on any supported HD wallet.
      li Create multiple accounts in your wallet allowing you to keep funds completely separate from each other, in one easy to manage wallet.
      li 
        | Our brand new Security Center helps you secure your wallet from unauthorized access and ensures you can recover your wallet and funds
        | anytime, anywhere.
      li 
        | Our revamped Sending algorithm makes sure never to re-use addresses after a transaction is made, keeping your transactions 
        | more private on the blockchain. 


    h4 How to leave us feedback:
    p.bc-well
      | Your feedback and comments are essential to creating the best Bitcoin wallet. Please send us bug reports, or general feedback 
      | by pressing the “Send Feedback” button on the left hand side of the page. 


.flex-column.dashboard.pal
  h4 With our new HD wallet, we create a new bitcoin address for you on every transaction.
  h6 This is your current bitcoin address:
  .form-group.flex.mtl(ng-if="paymentRequestURL")
    .mrl
      p.form-control-static(ng-hide="status.didInitializeHD")
        img(src="img/spinner.gif")  
      span(ng-show="status.didInitializeHD")
        qr(text="paymentRequestURL", size=120, correction-level="'M'")
    .plm
      p.form-control-static.bitcoin-address
        img(src="img/spinner.gif", ng-hide="status.didInitializeHD")  
        span(ng-show="status.didInitializeHD")
          | {{ paymentRequestAddress }}  
