.modal-header.flex-row.flex-center(data-preflight-tag="DynamicFee")
  h3(translate="{{:: titleTranslation }}")
  helper-button(content="DYNAMIC_FEE_HELP" linktext="LEARN_MORE" link="https://en.bitcoin.it/wiki/Transaction_fees")
.modal-body
    p(translate="{{:: bodyTranslation }}" translate-values="{ fee: currentFee, suggested: suggestedFee }")
    p(translate="BALANCE_OVERFLOW_EXPLAIN" ng-show="balanceOverflow")
.modal-footer
  button.button-muted.mrm(
    translate="GO_BACK" ng-click="cancel()")
  button.button-muted.mrm(
    translate="CONTINUE_CURRENT_FEE" ng-hide="surge" ng-click="useCurrent()")
  button.button-primary.initial-text(
    translate="{{:: btnTranslation }}" translate-values="{ suggested: suggestedFee }" ng-click="useSuggested()")
