.faq.flex-column.width-100.flex-center
  .header-bar
    h2.type-h4.mbn.mtn.em-300(translate="FAQ_FULL")
  .flex-column.faq-box.width-100
    faq-question(ng-repeat="item in items" ng-class="{toggled:item.displayed}" item="item" on-toggle="toggle(item)")
  .flex-column.flex-center.width-30.mbvl.mtm
    h3 
      small(translate="NEED_MORE_HELP")
    a.button-primary.width-60(href="https://blockchain.zendesk.com/" target="_blank" translate="VISIT_SUPPORT" rel="noopener noreferrer")
