.faq.container.flex-column.width-100.flex-center
  h1(translate="FAQ")
  hr
  .flex-column.faq-box.width-70
    faq-question(item="item" tog="toggleCurr" ng-repeat="item in items")
  .flex-column.flex-center.still-q.width-30
    h3 
      small Still Have Questions?
    a.button-primary.width-90(href="https://blockchain.zendesk.com/" target="_blank" translate="VISIT_SUPPORT" rel="noopener noreferrer")