.flex.flex-justify.mtl.feedback
  .flex-center.flex-column.mtl(ng-show="formStage == 2")
    h1.success.flex-center
      i.ti-check.prm
      | Success!
    h2.thanks
      span(translate="FEEDBACK_THANKS")
      a(href="https://www.surveygizmo.com/s3/2271145/c67c5c2b6b11" target="_blank")  SurveyGizmo
      span .
  div(ng-hide="formStage >= 2")
    .well(ng-click="supportModal()" translate="FEEDBACK_WARN")
    form.bc-form.pal(ng-submit="setFormSubmitted()" name="feedbackForm" autocomplete="off")
      .bc-form-header
        h2.mtn.em-400.type-h5(translate="FEEDBACK_TELL_US")
      label.mbl(translate="FEEDBACK_OVERALL")
        span.security-red &nbsp;*
      .flex.flex-between.bc-radio-group
        .flex-column.flex-center
          label.mbs
            span(translate="FEEDBACK_AWESOME")
          input(ng-model="rating" type="radio" name="rating" value="AWESOME" required)
        .flex-column.flex-center
          label.mbs
            span(translate="FEEDBACK_GOOD")
          input(ng-model="rating" type="radio" name="rating" value="GOOD" required)
        .flex-column.flex-center
          label.mbs
            span(translate="FEEDBACK_MEH")
          input(ng-model="rating" type="radio" name="rating" value="MEH" required)
        .flex-column.flex-center
          label.mbs
            span(translate="FEEDBACK_BAD")
          input(ng-model="rating" type="radio" name="rating" value="BAD" required)
        .flex-column.flex-center
          label.mbs
            span(translate="FEEDBACK_HORRIBLE")
          input(ng-model="rating" type="radio" name="rating" value="HORRIBLE" required)
      .flex-column.mtl
        label(translate="FEEDBACK_LIKES")
          span.security-red &nbsp;*
        textarea.plm(ng-model="descriptionGood" rows="3" name="description-good" required)
      .flex-column.mtl
        label(translate="FEEDBACK_DISLIKES")
          span.security-red &nbsp;*
        textarea.plm(ng-model="descriptionBad" rows="3" name="description-bad" required)
      .flex.flex-between.mvl
        .flex-column.flex-1.prl
          label(translate="ACCOUNT_NAME")
          input.plm(ng-model="fullname" type="text" name="fullname")
        .flex-column.flex-1.mll
          label(translate="EMAIL")
          input.plm(ng-model="email" type="email" name="email")
      .flex-center.flex-justify.ptl
        button.button-success(type="submit" ng-disabled="feedbackForm.$invalid" translate="SUBMIT")
