.modal-body.flex
  .flex-column.flex-between.rocket-text.center.flex-1
    .flex-column
      img.mbl(src="img/blocket.png")
      p.mbl.type-h4.em-300(translate="THANK_YOU_FOR_JOINING")
      p.mbl.type-h5.width-100.em-300
        span(translate="FIRST_LOGIN_TEXT_1")
        a.security-red(ui-sref="wallet.common.security-center")
          i.bc-icon-security
          | 
          span(translate="SECURITY_CENTER")
        span(translate="FIRST_LOGIN_TEXT_2")
    button.button-success.mtl(ng-click="ok()", translate="FIRST_LOGIN_ACTION")
  img.rocket-gif(src="img/rocket.gif")
