.modal-body.flex
  .flex-column.flex-between.rocket-text.flex-1
    h3.mtn.h2.em-300.center-align(translate="FIRST_LOGIN_TITLE")
    p.center-align.mtm.width-100.h4.em-300(translate="FIRST_LOGIN_TEXT")
    button.button-success.mtl(ng-click="ok()", translate="FIRST_LOGIN_ACTION")
  img.rocket-gif(src="assets/img/rocket.gif")
