.modal-body.flex-center.flex-justify
  img.rocket-gif.flex-1(src="img/rocket.gif")
  .flex-column.rocket-text.flex-1.flex-center
    h3.mtn.mbl(translate="LAUNCHED")
    p.center-align.mtm(translate="WELCOME_TEXT")
    button.button-success.button-lg.mtl(ng-click="ok()", translate="GET_STARTED")
