.modal-body.flex
  .flex-column.flex-between.rocket-text.flex-1
    h3.mtn.h2.em-300.center-align(translate="LAUNCHED")
    p.center-align.mtm.width-100.h4.em-300(translate="WELCOME_TEXT")
    button.button-success.button-lg.mtl(ng-click="ok()", translate="GET_STARTED")
  img.rocket-gif.flex-1(src="img/rocket.gif")
