.modal-header.flex-column.bc-modal-header
  h3(translate="WELCOME")
.modal-body.flex-center.flex-justify
  img.rocket-gif(src="img/rocket.gif")
.modal-footer.flex-end.pal
  button.button-success.button-lg(ng-click="ok()", translate="GET_STARTED")
