.modal-body.flex-column(data-preflight-tag="FirstLoginEth")
  img(style="height: 250px;" src="img/blue-rocket.svg")
  .flex-column.flex-between.pt-20
    .flex-column.flex-center
      h3.blue.f-28.em-300.center.mb-15(translate="NOW_SUPPORTING_ETHER")
      p.mbl.f-18.width-80.em-300.mb-15.center
        span(translate="WE_LISTENED")
    .flex-justify
      a.flex-row.flex-center(ui-sref="wallet.common.shift")
        span.upper.center.f-18(translate="GET_STARTED")
        i.primary.icon-right_arrow.ml-5
    
