div
  header
    hgroup
      .flex-between.flex-center.flex-wrap
        h2.em-300.mtn(translate="LOGIN_HELP")
      p.em-300(translate="LOGIN_HELP_TEXT")
  .flex-column
    ul.pln
      li.border-bottom-light.pvm.flex-between.flex-center
        .flex-column.flex-2.prm
          h5.blue.em-300(translate="LOST_WALLET_PWD")
          p.em-400(translate="LOST_PWD_DESC")
        .flex-1.flex-end
          a.button-default.button-nowrap(translate="RECOVER_FUNDS" ui-sref="public.recover")
      li.border-bottom-light.pvm.flex-between.flex-center
        .flex-column.flex-2.prm
          h5.blue.em-300(translate="LOST_2FA")
          p.em-400(translate="LOST_2FA_DESC")
        .flex-1.flex-end
          a.button-default.button-nowrap(translate="CONTACT_SUPPORT" href="https://blockchain.zendesk.com/anonymous_requests/new" target="_blank")
    .flex-end
      a.button-muted.mtm(ui-sref="public.login")
        span.em-300.blue(translate="GO_BACK")
