div(data-preflight-tag="LoginHelp")
  header
    hgroup
      .flex-between.flex-center.flex-wrap
        h2.em-300.mtn(translate="LOGIN_HELP")
      p.em-300(translate="LOGIN_HELP_TEXT")
  .flex-column
    ul.pln
      li.border-bottom-light.pvm.flex-between.flex-center
        .flex-column.flex-2.prm
          h5.blue.em-300(translate="LOST_WALLET_ID")
          p.em-300(translate="LOST_ID_DESC")
        .flex-1.flex-end
          a.button-default.button-nowrap(translate="REMIND_ME" ui-sref="public.reminder")
      li.border-bottom-light.pvm.flex-between.flex-center
        .flex-column.flex-2.prm
          h5.blue.em-300(translate="LOST_WALLET_PWD")
          p.em-300(translate="LOST_PWD_DESC")
        .flex-1.flex-end
          a.button-default.button-nowrap(translate="RECOVER_FUNDS" ui-sref="public.recover")
      li.border-bottom-light.pvm.flex-between.flex-center
        .flex-column.flex-2.prm
          h5.blue.em-300(translate="LOST_2FA")
          p.em-300(translate="LOST_2FA_DESC")
        .flex-1.flex-end
          a.button-default.button-nowrap(translate="RESET_2FA" ui-sref="public.reset-two-factor")
    .flex-between
      .flex-start
        a.mtm(ui-sref="public.login-no-uid" translate="GO_BACK")
      .flex-end
        a.mtm(href="https://blockchain.zendesk.com" translate="CONTACT_SUPPORT" target="_blank" rel="noopener noreferrer")
