blocket-loading(loading="!isWalletInitialized()")
.home.width-100(data-preflight-tag="Home")
  .col-md-5.col-sm-12.col-xs-12.col-home.flex-column
    .section.mb-15.border.pal
      h5.mtn.f-24.em-300.blue(translate="YOUR_BALANCES")
      ul.pln.account-balances
        li.flex-row.flex-justify.border-bottom-light
          fiat.f-28.em-300(btc="getTotal()" eth="eth.total()")
        li.flex-between.border-bottom-light(ng-if="activeAccounts().length > 0" ng-repeat="account in activeAccounts()")
          span.f-16.em-300.flex-center {{::account.label}}
          .flex-column.flex-align-end
            span.f-16.em-300 {{ account.balance | toBitCurrency:settings.btcCurrency }}
            fiat.f-12.em-300(btc="account.balance")
        li.flex-between.border-bottom-light.mid-grey(ng-if="activeLegacyAddresses().length > 0")
          span.f-16.em-300.flex-center(translate="IMPORTED_ADDRESSES")
          .flex-column.flex-align-end
            span.f-16.em-300 {{ getLegacyTotal() | toBitCurrency:settings.btcCurrency }}
            fiat(btc="getLegacyTotal()")
        li.flex-between.border-bottom-light
          span.f-16.em-300.flex-center {{ eth.defaultAccount.label }}
          .flex-column.flex-align-end
            span.f-16.em-300 {{ eth.total() | format:'eth' }} ETH
            fiat.f-12.em-300(eth="eth.total()")
    activity-feed(data-preflight-tag="ActivityFeed")
  .col-md-7.col-sm-12.col-xs-12.col-home
    .border.flex-column.pal.chart-control(ng-controller="PriceChartController")
      div(ng-class="{'disabled': useCache}")
        .flex-row.f-24.blue.em-300.pb-10.f-16-mobile
          a.blue.opacity-5(ng-click="setCurrency('btc')" ng-class="{'opacity-10': isCurrency('btc'), 'disabled': useCache}")
            span BTC =&nbsp;
            fiat(btc="BTCCurrency.conversion")
          a.blue.opacity-5(ng-click="setCurrency('eth')" ng-class="{'opacity-10': isCurrency('eth'), 'disabled': useCache}")
            span.ml-15 ETH =&nbsp;
            fiat(eth="1")
        .flex-column.flex-center.flex-justify(ng-if="!options")
          img(src="img/spinner.gif" width="35")
        .flex-column.flex-align-end.pv-5.blue(ng-if="useCache || noData")
          a.disabled.f-10.opacity-5 Last Updated: {{ options.timeFetched | date:dateFormat }}
        chart(ng-if="options" options="options")
        .flex-row.flex-justify.mt-10
          a.blue.opacity-5.mr-20(ng-click="setTime('all')" ng-class="{'opacity-10 underline-blue': isTime('all'), 'disabled': useCache }") All Time
          a.blue.opacity-5.mr-20(ng-click="setTime('1year')" ng-class="{'opacity-10 underline-blue': isTime('1year'), 'disabled': useCache }") Year
          a.blue.opacity-5.mr-20(ng-click="setTime('1month')" ng-class="{'opacity-10 underline-blue': isTime('1month'), 'disabled': useCache }") Month
          a.blue.opacity-5.mr-20(ng-click="setTime('1week')" ng-class="{'opacity-10 underline-blue': isTime('1week'), 'disabled': useCache }") Week
          a.blue.opacity-5(ng-click="setTime('1day')" ng-class="{'opacity-10 underline-blue': isTime('1day'), 'disabled': useCache }") Day
    .section.mt-15(ng-show="showMobileConversion()")
      web-to-mobile-conversion()
    .section.mt-15(ng-hide="showMobileConversion()")
      did-you-know(data-preflight-tag="DidYouKnow")
