blocket-loading(loading="!isWalletInitialized()")
.home(data-preflight-tag="Home")
  .mtl.row
    activity-feed(data-preflight-tag="ActivityFeed")
    .col-md-6.col-sm-12.col-xs-12.col-home.flex-column.pb-50
      .section.mbvl(ng-show="activeLegacyAddresses().length || activeAccounts().length > 1")
        h5.mtn.type-h5.em-400.mb-20(translate="BALANCES")
        ul.pln.account-balances
          li.flex-between.border-bottom-light(ng-repeat="account in activeAccounts()")
            span {{::account.label}}
            fiat-or-btc(btc="account.balance")
          li.flex-between.border-bottom-light.mid-grey(ng-show="activeLegacyAddresses().length > 5")
            span(translate="IMPORTED_ADDRESSES")
            fiat-or-btc(btc="getLegacyTotal()")
          ul(ng-show="activeLegacyAddresses().length <= 5")
            li.flex-between.border-bottom-light.mid-grey(ng-repeat="address in activeLegacyAddresses()")
              .width-60.width-40-mobile
                span.text-overflow-hidden(title="{{address.address}}") {{address.label ? address.label : address.address}}
              fiat-or-btc(btc="address.balance")
          li.flex-between.basic-grey.em-500
            span Total
            fiat-or-btc(btc="getTotal()")
      .section
        did-you-know(data-preflight-tag="DidYouKnow")
