blocket-loading
.home
  .flex.flex-wrap.mtl
    activity-feed
    .col-md-6.col-sm-12.col-xs-12.col-home.flex-column
      .section
        h5.mtn.type-h5.em-400.mbl(translate="BALANCES")
        ul.pln.account-balances
          li.flex-between.border-bottom-light(ng-repeat="account in activeAccounts()")
            span.em-500 {{::account.label}}
            fiat-or-btc(btc="account.balance")
          li.flex-between.border-bottom-thick.transfer(ng-show="hasLegacyAddresses()")
            span.em-400 Imported Addresses
            fiat-or-btc(btc="getLegacyTotal()")
          li.flex-between.border-bottom-light.basic-grey.em-500
            span Total
            fiat-or-btc(btc="getTotal()")
      .section.mtvl
        did-you-know
