blocket-loading(loading="!isWalletInitialized()")
.home.width-100(data-preflight-tag="Home")
  .col-md-6.col-sm-12.col-xs-12.col-home.flex-column
    .border.flex-column.pal.chart-control(ng-controller="BalanceChartController")
      div
        .flex-row.flex-center.flex-between.upper
          h5.mtn.mbn.f-24.em-300.blue.f-16-mobile(translate="YOUR_BALANCES")
        chart(ng-if="options" options="options" id="balance-chart")
        .flex-row.flex-between.flex-column.mobile
          .flex-column.border-top-blue
            span Bitcoin
            fiat.f-12.em-300(btc="getTotal()")
          .flex-column.border-top-primary
            span Ether
            fiat.f-12.em-300(eth="eth.total()")
          .flex-column.border-top-light-blue
            span Bitcoin Cash
            fiat.f-12.em-300(btc="getTotal()")
    activity-feed(data-preflight-tag="ActivityFeed")
  .col-md-6.col-sm-12.col-xs-12.col-home
    .border.flex-column.pal.chart-control(ng-controller="PriceChartController")
      div(ng-class="{'disabled': useCache}")
        .flex-row.flex-center.flex-between.mb-20.upper
          h5.mtn.mbn.f-24.em-300.blue.f-16-mobile(translate="PRICE_CHARTS")
          .flex-row.flex-justify.f-12
            a.blue.opacity-5.mr-15(ng-click="setTime('all')" ng-class="{'opacity-10 underline-blue': isTime('all'), 'disabled': useCache }") All
            a.blue.opacity-5.mr-15(ng-click="setTime('1year')" ng-class="{'opacity-10 underline-blue': isTime('1year'), 'disabled': useCache }") Year
            a.blue.opacity-5.mr-15(ng-click="setTime('1month')" ng-class="{'opacity-10 underline-blue': isTime('1month'), 'disabled': useCache }") Month
            a.blue.opacity-5.mr-15(ng-click="setTime('1week')" ng-class="{'opacity-10 underline-blue': isTime('1week'), 'disabled': useCache }") Week
            a.blue.opacity-5(ng-click="setTime('1day')" ng-class="{'opacity-10 underline-blue': isTime('1day'), 'disabled': useCache }") Day
        .flex-column.flex-center.flex-justify(ng-if="!options")
          img(src="img/spinner.gif" width="35")
        .flex-column.flex-align-end.blue.pos-rel(ng-if="useCache || noData")
          a.disabled.f-10.opacity-5.pos-abs Last Updated: {{ options.timeFetched | date:dateFormat }}
        chart(ng-if="options" options="options" id="price-chart")
        .flex-row.flex-around.f-14.mt-15
          span.highlight.pointer(ng-click="setCurrency('btc')" ng-class="{'active': isCurrency('btc')}")
            span BTC =&nbsp;
            fiat(btc="BTCCurrency.conversion")
          span.highlight.pointer(ng-click="setCurrency('eth')" ng-class="{'active': isCurrency('eth')}")
            span ETH =&nbsp;
            fiat(eth="1")
          span.highlight.pointer(ng-click="setCurrency('bch')" ng-class="{'active': isCurrency('bch')}")
            span BCH =&nbsp;
            fiat(bch="1")
    .section.mt-15(ng-show="showMobileConversion()")
      web-to-mobile-conversion()
    .section.mt-15(ng-hide="showMobileConversion()")
      did-you-know(data-preflight-tag="DidYouKnow")
