div(translate-namespace="LARGE_TX")
  .modal-header
    h3.mas(translate=".TITLE")
  .modal-body
    .flex-column
      .mam
        p.man.em-900(translate=".BODY_1")
        p.man(translate=".BODY_2")
      .flex-row.flex-around.blue.em-300.mtl.mbl.width-100
        span.line-split.mlm
        .flex-column.flex-center.flex-1
          h2.em-300.mts {{::multiplier}}x
          span(translate=".NORMAL_SIZE")
        span.line-split.mlm.mrm
        .flex-column.flex-center.flex-1
          h2.em-300.mts
            fiat(btc="::recommendedFee")
          span(translate=".RECOMMENDED_FEE") 
        span.line-split.mrm
  .modal-footer
    button.button-muted.mrm(translate="GO_BACK" ng-click="$dismiss('cancelled')")
    button.button-primary.initial-text(translate=".ACCEPT_FEE" ng-click="$close(recommendedFee)")
