.modal-header(data-preflight-tag="MainPasswordModal")
  h3(translate="MAIN_PASSWORD")    
.modal-body.clearfix
  .alert-in-app
    alerts(context="alerts")
  form(role="form" name="mainPasswordForm" ng-submit="mainPasswordForm.$valid && submit()" novalidate)
    .form-group.clearfix(ng-class="{'has-error': errors.amount}")
      label.col-sm-3.control-label(translate="PASSWORD")
      .col-sm-9
        input.form-control(type="password" name="password" ng-model="mainPassword"  ng-model-options="{ updateOn: 'blur' }" is-valid="isCorrectMainPassword(mainPassword)" focus-when="true")
        span.help-block(ng-show="mainPasswordForm.password.$touched")
          span(translate="INCORRECT_PASSWORD" ng-show="mainPasswordForm.password.$error.isValid && !isCorrectMainPassword(mainPassword) && mainPassword !== ''")
    .form-group.clearfix
      .col-sm-12
        virtual-keyboard(ng-model="mainPassword")

.modal-footer.pal.flex-end
  button.button-muted.mrl(type="button" ng-click="cancel()" translate="CANCEL")
  button.button-primary(type="submit" ng-click="submit()" ng-disabled="!isCorrectMainPassword(mainPassword)" ui-ladda="busy" data-style="expand-left" ladda-translate="SUBMIT")
