.heavy.pointer.flex-column.flex-align-end.right-align.pointer.center-mobile.mb-15(ng-click="toggleDisplayCurrency()", ng-show="status.didUpgradeToHd")
  span(ng-show="getTotal() == null")
    h3
      img(ng-show="balance == null" src="img/spinner.gif") 
  span.flex-between.flex-column(ng-show="getTotal() != null")
    p.mvn.f-28.em-300
      fiat(btc="getTotal()" eth="getEthTotal()")
    p.mvn.mt-5.em-300
      .flex-row.f-20.em-200
        .flex-row.flex-center
          i.icon-bitcoin.f-20.mrs
          span(ng-hide="settings.displayTransactionCurrencyAsFiat")
            span {{ getTotal() | toBitCurrency:BTCCurrency }}
          span(ng-show="settings.displayTransactionCurrencyAsFiat")
            fiat(btc="getTotal()")
        .flex-row.flex-center(ng-if="getEthTotal != null")
          .vertical-line.mh-15
          i.icon-ethereum.f-20.mrs
          span(ng-hide="settings.displayTransactionCurrencyAsFiat")
            span {{ getEthTotal() }} ETH
          span(ng-show="settings.displayTransactionCurrencyAsFiat")
            fiat(eth="getEthTotal()")
