.modal-header.flex-column.flex-center
  .flex-center.success.pam
    i.h3.mrm(class="{{notification.icon}}")
    h3.em-300 {{notification.heading}}
  p {{notification.msg}}
.modal-body.bg-success.flex-justify.flex-center.pal
  button.button-transparent.button-lg(translate="OK", ng-click="ok()") OK
