.modal-body(translate-namespace="{{::namespace}}" data-preflight-tag="Confirm")
  h4
    i.security-red.mrs(ng-class="{'{{iconClass}}': iconClass, 'ti-alert': !iconClass, success: success}")
    span(translate=".TITLE")
  p.em-300.ptm(translate=".BODY" translate-values="::values")
  ul.em-300(ng-if="props")
    li.pts(ng-repeat="(prop, val) in props track by $index")
      span(translate="{{::prop}}")
      | :&nbsp;
      b(ng-bind="::val")
.modal-footer
  button.button-muted.mrm(ng-click="$dismiss('cancelled')" translate="{{::cancel || 'CANCEL'}}")
  button.btn(
    ng-class="{'button-primary': friendly, 'button-success': success, 'button-danger': !friendly && !success}"
    ng-click="$close()"
    translate="{{::action || 'OK'}}")
