.modal-body
  h4(translate="{{::message}}" translate-values="values")
.modal-footer
  button.button-muted(ng-click="$dismiss('cancelled')" translate="CANCEL")
  button.button-danger(ng-click="$close(true)" translate="{{::close}}") 
