.modal-header.flex-column.flex-center
  .flex-center.success.pam
    i.h3.mrm(class="{{::notification.icon}}")
    h3.em-300 {{::notification.heading}}
  p.mw {{::notification.msg}}
.modal-body.bg-success.flex-justify.flex-center.pointer.pal(ng-click="ok()")
  h5.white.h3.em-200.pbm(translate="OK")
