.modal-body(translate-namespace="{{::namespace}}")
  h4
    i.ti-alert.security-red.mrs
    span(translate=".TITLE")
  p.em-300.ptm(translate=".BODY" translate-values="::values")
  ul.em-300(ng-if="props")
    li.pts(ng-repeat="(prop, val) in props track by $index")
      span(translate="{{::prop}}")
      | :&nbsp;
      b(ng-bind="::val")
.modal-footer
  button.button-muted(ng-click="$dismiss('cancelled')" translate="{{::cancel || 'CANCEL'}}")
  button.btn(
    ng-class="::'button-' + (friendly ? 'primary' : 'danger')"
    ng-click="$close()"
    translate="{{::action || 'OK'}}")
