.bc-header(role='navigation' data-preflight-tag="WalletHeader")
  .container-fluid
    .navbar-header.flex-between.flex-center
      .flex-center
        button.navbar-toggle.mvn(type="button", ng-init="navCollapsed = true", ng-click="toggleMenu()")
          span.sr-only Toggle navigation
          span.ti-menu.white
        a.navbar-brand(ui-sref="wallet.common.home")
          img#logo(src="img/blockchain-vector.svg", alt="Blockchain" ng-show="getTheme().name !== 'dev'")
          img#logo(src="img/blockchain-vector-dev.svg", alt="Blockchain" ng-show="getTheme().name === 'dev'")
      a#wallet-nav-toggle(title="Wallet Navigation Menu", ng-click="navCollapsed = !navCollapsed")
        span.ti-angle-down.white.h4(ng-show="navCollapsed")
        span.ti-angle-up.white.h4(ng-show="!navCollapsed")
    .navbar-collapse.collapse(ng-class="{'in bg-blue' : !navCollapsed}", ng-click="navCollapsed=true")
      ul.nav.navbar-nav.navbar-right(ng-show="status.isLoggedIn")
        li.item.hidden-xs(ng-hide="true")
          button.button-transparent.button-border.button(translate="SUBSCRIBE" ng-click="subscribe()")
        li.item.flex-important.flex-row.flex-center(ng-show="settings.btcCurrency")
          a(href="/markets" target="_blank" rel="noopener noreferrer")
            span
              | 1 {{ settings.btcCurrency.code }} =&nbsp;
              fiat(btc="settings.btcCurrency.conversion")
          .vertical-line.border-white(ng-show="showEthereum()")
          span.white.pv-10.ph-15(ng-show="showEthereum()")
            | 1 ETH =&nbsp;
            fiat(eth="1")
        li.whats-new.item.hidden-xs(uib-dropdown uib-dropdown-toggle ng-if="status.didUpgradeToHd" on-toggle="open && viewedWhatsNew()")
          a(uib-popover-template="::whatsNewTemplate"
            popover-class="whats-new-popover"
            popover-placement="bottom"
            popover-title="{{:: ('WHATS_NEW' | translate) + '?' }}"
            popover-trigger="outsideClick")
            i.icon-bell
            span.whats-new-icon(ng-show="nLatestFeats > 0")
              span {{ nLatestFeats }}
        li.item
          a(ng-click="refresh()" ng-class="{'rotating': refreshing}").refresh
            img(src="img/refresh.svg" ng-show="getTheme().name !== 'dev'")
            img(src="img/refresh-dev.svg" ng-show="getTheme().name === 'dev'")
        li.item
          a.upper(ng-click="logout()", translate="SIGNOUT")
