.bc-header(role='navigation' data-preflight-tag="WalletHeader")
  .container-fluid
    .navbar-header.flex-between.flex-center
      .flex-center
        button.navbar-toggle.mvn(type="button", ng-init="navCollapsed = true", ng-click="toggleMenu()")
          span.sr-only Toggle navigation
          span.ti-menu.white
        a.navbar-brand(ui-sref="wallet.common.home")
          img#logo(src="img/blockchain-vector.svg", alt="Blockchain" ng-show="getTheme().name !== 'dev'")
          img#logo(src="img/blockchain-vector-dev.svg", alt="Blockchain" ng-show="getTheme().name === 'dev'")
      a#wallet-nav-toggle(title="Wallet Navigation Menu", ng-click="navCollapsed = !navCollapsed")
        span.ti-angle-down.white.h4(ng-show="navCollapsed")
        span.ti-angle-up.white.h4(ng-show="!navCollapsed")
    .navbar-collapse.collapse(ng-class="{'in bg-blue' : !navCollapsed}", ng-click="navCollapsed=true")
      ul.nav.navbar-nav.navbar-right(ng-show="status.isLoggedIn")
        li.item.hidden-xs(ng-hide="true")
          button.button-transparent.button-border.button(translate="SUBSCRIBE" ng-click="subscribe()")
        li.item(ng-show="settings.btcCurrency")
          a.flex-important.flex-column(href="https://markets.blockchain.info/" target="_blank" rel="noopener noreferrer")
            span
              | 1 {{ settings.btcCurrency.code }} =&nbsp;
              fiat(btc="settings.btcCurrency.conversion")
        li.dropdown.item.hidden-xs(uib-dropdown)
          a.uib-dropdown-toggle(href="#" data-toggle="uib-dropdown" role="button" aria-expanded="false" uib-dropdown-toggle)
            span(translate="EXPLORE")
            i.ti-angle-down.mlm
          ul.uib-dropdown-menu.dropdown-menu(role='menu')
            li
              a(href="{{rootURL}}", translate="HOME" target="_blank" rel="noopener noreferrer")
            li
              a(href="{{rootURL}}charts", translate="CHARTS" target="_blank" rel="noopener noreferrer")
            li
              a(href="{{rootURL}}stats", translate="STATS" target="_blank" rel="noopener noreferrer")
            li
              a(href="{{rootURL}}markets", translate="MARKETS" target="_blank" rel="noopener noreferrer")
            li
              a(href="{{rootURL}}api", translate="API" target="_blank" rel="noopener noreferrer")
        li.item.visible-xs
          a(href="{{rootURL}}", translate="HOME" target="_blank" rel="noopener noreferrer")
        li.item.visible-xs
          a(href="{{rootURL}}charts", translate="CHARTS" target="_blank" rel="noopener noreferrer")
        li.item.visible-xs
          a(href="{{rootURL}}stats", translate="STATS" target="_blank" rel="noopener noreferrer")
        li.item.visible-xs
          a(href="{{rootURL}}api", translate="API" target="_blank" rel="noopener noreferrer")
        li.item.visible-xs
          a(href="{{rootURL}}markets", translate="MARKETS" target="_blank" rel="noopener noreferrer")
        li.whats-new.item.hidden-xs(uib-dropdown uib-dropdown-toggle ng-if="status.didUpgradeToHd" on-toggle="open && viewedWhatsNew()")
          a(uib-popover-template="::whatsNewTemplate"
            popover-class="whats-new-popover"
            popover-placement="bottom"
            popover-title="{{:: ('WHATS_NEW' | translate) + '?' }}"
            popover-trigger="outsideClick")
            i.ti-gift
            span.whats-new-icon(ng-show="nLatestFeats > 0")
              span {{ nLatestFeats }}
        li.item
          a(ng-click="refresh()" ng-class="{'rotating': refreshing}").refresh
            img(src="img/refresh.svg" ng-show="getTheme().name !== 'dev'")
            img(src="img/refresh-dev.svg" ng-show="getTheme().name === 'dev'")
        li.item
          a(ng-click="logout()", translate="SIGNOUT")
