.container-fluid
  a.navbar-brand.col-xs-2(href="#")
    img#logo(src="img/logo.png",alt="Blockchain")
  ul.nav.navbar-nav.col-xs-8(ng-show="status.isLoggedIn")
    li.item(ui-sref-active="active") 
      a(ui-sref="dashboard") 
        img.tab(src="img/dashboard-icon.png")
        span(translate="DASHBOARD")
    li.item(ui-sref-active="active") 
      a(ui-sref="transactions({accountIndex:''})") 
        img.tab(src="img/transactions-icon.png")
        span(translate="TRANSACTIONS")
  ul.nav.navbar-nav.col-xs-2(ng-show="status.isLoggedIn")
    li.pull-right.dropdown
      a.dropdown-toggle(href="")
        img#account(src="img/account-icon.png",alt="Account Settings")
        img#account-toggle(src="img/account-icon-toggle.png")
      ul.dropdown-menu
        li
          a(ui-sref="settings.my-details", translate="SETTINGS")
        li
          a(ui-sref="settings.security-center", translate="SECURITY")
        li
          a(ng-click="logout()", translate="LOGOUT")