.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button", ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') 
        img#logo(src="img/logo-updated.png",alt="Blockchain")
    .navbar-collapse.collapse(ng-class="{'in' : !navCollapsed}", ng-click="navCollapsed=true")
      ul.nav.navbar-nav(ng-show="status.isLoggedIn")
        li.item(ng-class="{ active: isTransactionState() }")
          a.transactions(ng-click="visitTransactions()", translate="TRANSACTIONS")
      ul.nav.navbar-nav.navbar-right(ng-show="status.isLoggedIn")
        li.item(ng-class="{ active: isSecurityState() }")
          a(ui-sref="wallet.common.settings.security-center", ng-class="{'security-level-0': security.level == 0, 'security-level-1': security.level == 1, 'security-level-2': security.level == 2, 'security-level-3': security.level == 3}", translate="SECURITY")
        li.dropdown.item.hidden-xs(dropdown, ng-class="{ active: isSettingsState() }")
          a.dropdown-toggle.profile(href dropdown-toggle, translate="PROFILE")
          ul.dropdown-menu.sub-dropdown(role='menu')
            li
              a(ui-sref="wallet.common.settings.my-details", translate="SETTINGS")
            li
              a(ui-sref="wallet.common.settings.mobile", translate="MOBILE")
            li
              a(ng-click="logout()", translate="LOGOUT")
        li.item.visible-xs
          a(ui-sref="wallet.common.settings.my-details", translate="SETTINGS")
        li.item.visible-xs
          a(ng-click="logout()", translate="LOGOUT")
    // /.nav-collapse
