.container-fluid
  .navbar-brand.col-sm-3.hidden-xs
    img#logo(src="img/logo.png",alt="Blockchain")
  .col-sm-9.col-xs-12
    ul.navbar-nav(ng-show="status.isLoggedIn")
      li.item(ng-class="{ active: isTransactionState() }")  
        a.transactions(ng-click="visitTransactions()")
          span(translate="TRANSACTIONS")
    ul.navbar-nav.extra-nav(ng-show="status.isLoggedIn")
      li.item(ng-class="{ active: isSecurityState() }")
        a.security(ui-sref="wallet.common.settings.security-center", ng-class="{'security-level-0': security.level == 0, 'security-level-1': security.level == 1, 'security-level-2': security.level == 2, 'security-level-3': security.level == 3}")
          span(translate="SECURITY")
      li.dropdown.item(dropdown, ng-class="{ active: isSettingsState() }")
        a.dropdown-toggle.profile(href dropdown-toggle)
          span(translate="PROFILE")
        ul.dropdown-menu
          li
            a(ui-sref="wallet.common.settings.my-details", translate="SETTINGS")
          li
            a(ui-sref="wallet.common.settings.mobile", translate="MOBILE")
          li
            a(ng-click="logout()", translate="LOGOUT")
