div(ng-show="(requests | filter:{complete:false,canceled:false}).length > 0")
  table.left-header
    tr
      td.header(translate="PENDING_PAYMENTS")
      td.right
  table.left
    tr(ng-repeat="request in requests | filter:{complete:false,canceled:false}")
      td 
        a(ng-click="open(request)")
          {{ request.address | limitTo: 15 }}...
      td.amount {{ request.amount | fiat:settings.currency }}
