div(ng-show="(requests | filter:{complete:false}).length > 0")
  table.left-header
    tr
      td.header 
        |Pending Payments
      td.right
  table.left
    tr(ng-repeat="request in requests | filter:{complete:false}")
      td 
        a(href="")
          {{ request.address | limitTo: 15 }}...
      td.amount {{ request.amount | fiat:settings.currency }}
