.login-pg.overflow-scroll.flex-justify.flex-center
  public-header
  .flex-center.flex-justify.flex-column.login-box-container
    .flex.flex-justify
      alerts
    .login-box.mhs(ui-view="contents")
