.modal-header
  h3(translate="RECOVERY_BEFORE_SECOND_PASSWORD")
.modal-body
  p(translate="RECOVERY_BEFORE_SECOND_EXPLAINER")    
.modal-footer.pal.flex-end
  button.button-muted.mrm(translate="SET_SECOND_PW_ANYWAY" ng-click="$dismiss()")
  button.button-primary(translate="BACKUP_NOW" ng-click="$close()")