.modal-header
  h3(translate="RECOVERY_BEFORE_SECOND_PASSWORD")
.modal-body
  p(translate="RECOVERY_BEFORE_SECOND_EXPLAINER")
  div.center
    button.button-primary(translate="CONFIRM_RECOVERY_PHRASE" ng-click="openRecoveryModal()")
.modal-footer
  button.button-muted.mrm(translate="NO_THANKS" ng-click="$close()")