.modal-header
  h3(translate="RECEIVE_BITCOIN")
.modal-body
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)") 
    {{alert.msg}}
  fields.form-horizontal(role="form",name="form",novalidate)
    .form-group(ng-class="{'has-warning': fields.to.isWatchOnly}")
      label.col-sm-3.control-label(translate="RECEIVE_TO")
      .col-sm-9
        ui-select(ng-model="fields.to", ng-disabled="paymentRequest")
          ui-select-match {{ $select.selected.label + ($select.selected.isWatchOnly ? ' (Watch Only)' : '') }}
          ui-select-choices(repeat="destination in destinations | filter: $select.search" group-by="'type'") 
            span(ng-bind-html="(destination.label | highlight: $select.search) + (destination.isWatchOnly ? ' <i>(Watch Only)</i>' : '')")
        span.help-block(ng-show="fields.to.isWatchOnly") Your wallet does not have the private key for this address. Without the private key you will not have access to the bitcoins sent to this address. Make sure you have this private key somewhere else!
    .form-group
      label.col-sm-3.control-label(translate="AMOUNT")
      .col-sm-4
        input.form-control(type="text",ng-model="fields.amount", ng-disabled="paymentRequest && paymentRequest.paid > 0")
      .col-sm-4
        ui-select(ng-model="fields.currency")
          ui-select-match {{ $select.selected.code }}
          ui-select-choices(repeat="currency in currencies | filter: $select.search" group-by="'type'") 
            span(ng-bind-html="currency.code | highlight: $select.search")   
    .form-group(ng-show="paymentRequest && paymentRequest.paid > 0 && paymentRequest.paid != fields.amount")
      label.col-sm-3.control-label(translate="PAID")
      .col-sm-9
        p.form-control-static
          {{ paymentRequest.paid / 100000000.0 }}  
    .form-group(ng-show="paymentRequestAddress")
      label.col-sm-3.control-label(translate="PAYMENT_ADDRESS")
      .col-sm-9
        //- .input-group
        p.form-control-static
          {{ paymentRequestAddress }}  
        //- span.input-group-btn
        //-   button.btn.btn-default(type="button", translate="COPY")
     .form-group(ng-if="paymentRequestURL")
      .col-sm-3
      .col-sm-9
        qr(text="paymentRequestURL", size=172)
.modal-footer
  button.btn.btn-info(ng-click="close()", ng-show="!paymentRequest || (paymentRequest.paid > 0 && paymentRequest.paid <= paymentRequest.amount)", translate="CLOSE")
  button.btn.btn-danger(ng-click="cancel()", ng-show="paymentRequest && paymentRequest.paid == 0", translate="CANCEL")
  button.btn.btn-primary(ng-click="save()", ng-show="paymentRequest  && paymentRequest.paid == 0", translate="SAVE")
  button.btn.btn-danger(ng-click="accept()", ng-show="paymentRequest  && paymentRequest.paid > 0 && paymentRequest.paid !=  paymentRequest.amount", translate="ACCEPT")
  