.modal-header
  h3 Receive Bitcoin
.modal-body
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert($index)") 
    {{alert.msg}}
  fields.form-horizontal(role="form",name="form",novalidate)
    .form-group
      label.col-sm-3.control-label Receive To:
      .col-sm-9
        ui-select(ng-model="fields.to", ng-disabled="paymentRequest")
          ui-select-match {{ $select.selected.label }}
          ui-select-choices(repeat="account in accounts | filter: $select.search") 
            span(ng-bind-html="account.label | highlight: $select.search")
    .form-group
      label.col-sm-3.control-label Amount:
      .col-sm-5
        .input-group
          input.form-control(type="text",ng-model="fields.amount", ng-disabled="paymentRequest && paymentRequest.paid > 0")
    .form-group(ng-show="paymentRequest.paid != fields.amount")
      label.col-sm-3.control-label Paid:
      .col-sm-9
        p.form-control-static
          {{ paymentRequest.paid / 100000000.0 }}  
    .form-group(ng-show="paymentRequest.address")
      label.col-sm-3.control-label Payment address:
      .col-sm-9
        //- .input-group
        p.form-control-static
          {{ paymentRequest.address }}  
        //- span.input-group-btn
        //-   button.btn.btn-default(type="button") copy
     .form-group(ng-if="paymentRequest.address")
      .col-sm-3
      .col-sm-9
        qr(text="paymentRequest.URL", size=172)
.modal-footer
  button.btn.btn-info(ng-click="close()", ng-show="!paymentRequest || (paymentRequest.paid > 0 && paymentRequest.paid <= paymentRequest.amount)") Close
  button.btn.btn-danger(ng-click="cancel()", ng-show="paymentRequest && paymentRequest.paid == 0") Cancel
  button.btn.btn-primary(ng-click="save()", ng-show="paymentRequest  && paymentRequest.paid == 0") Save
  button.btn.btn-danger(ng-click="accept()", ng-show="paymentRequest  && paymentRequest.paid > 0 && paymentRequest.paid !=  paymentRequest.amount") Accept
  