.modal-header.flex-column.bc-modal-header
  .flex-center
    img(src="img/arrow-down.png")
    h3(translate="RECEIVE_BITCOIN")
  h5 We've just created a new address for you to share with anyone in order to receive bitcoins
.modal-body
  fields.form-horizontal(role="form",name="form",novalidate)
    .form-group(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1" ng-class="{'has-warning': fields.to.isWatchOnlyLegacyAddress}")
      label.col-sm-3.control-label(translate="RECEIVE_TO")
      .col-sm-9
        ui-select(ng-model="fields.to", ng-disabled="paymentRequest.amount > 0 || paymentRequest.label")
          ui-select-match {{ $select.selected.label + ($select.selected.isWatchOnlyLegacyAddress ? ' (Watch Only)' : '') }}
          ui-select-choices(repeat="destination in destinations | filter: getFilter($select.search)" group-by="'type'") 
            span(ng-bind-html="(determineLabel(destination) | highlight: $select.search) + (destination.isWatchOnlyLegacyAddress ? ' <i>(Watch Only)</i>' : '')")
        span.help-block(ng-show="fields.to.isWatchOnlyLegacyAddress") Your wallet does not have the private key for this address. Without the private key you will not have access to the bitcoins sent to this address. Make sure you have this private key somewhere else!
    .form-group
      label.col-sm-3.control-label(translate="AMOUNT")
      .col-sm-3
        input.form-control(type="text",ng-model="fields.amount",  ng-disabled="paymentRequest && paymentRequest.paid > 0")
        span.help-block.security-red(ng-if="!validate()") Enter valid amount
      .col-sm-3
        ui-select(ng-model="fields.currency")
          ui-select-match {{ $select.selected.code }}
          ui-select-choices(repeat="currency in currencies | filter: $select.search" group-by="'type'")
            span(ng-bind-html="currency.code | highlight: $select.search")   
      .col-sm-3
        p.form-control-static
          fiat(currency="settings.currency", btc="paymentRequestAmount",  ng-show="fields.currency.code=='BTC'")
          span(ng-hide="fields.currency.code=='BTC'") {{ paymentRequestAmount | btc }}
      
    //- .form-group
    //-   label.col-sm-3.control-label(translate="DESCRIPTION")
    //-   .col-sm-9
    //-     input.form-control(type="text",ng-model="fields.label")
    //-     span.help-block(translate="OPTIONAL")
    .form-group
      hr
    .form-group(ng-show="paymentRequest && paymentRequest.paid > 0 && paymentRequest.paid != fields.amount")
      label.col-sm-3.control-label(translate="PAID")
      .col-sm-9
        p.form-control-static
          | {{ paymentRequest.paid / 100000000.0 }}  
    .flex(ng-if="paymentRequestURL")
      .flex-1
        p(ng-hide="status.didInitializeHD")
          img(src="img/spinner.gif")  
        span(ng-show="status.didInitializeHD")
          qr(text="paymentRequestURL", size=120, correction-level="'M'")
      .phs.flex-2
        label.black(translate="BITCOIN_ADDRESS")
        p.form-control-static.bitcoin-address
          img(src="img/spinner.gif", ng-hide="status.didInitializeHD")  
          span(ng-show="status.didInitializeHD")
            | {{ paymentRequestAddress }}  
        p.ccc.mtm Just copy the address above and share
.modal-footer
  button.button-default(ng-click="close()", translate="GOT_IT")  
