.modal-header.flex-column.bc-modal-header
  .flex-center
    img(src="img/arrow-down.png")
    h3(translate="RECEIVE_BITCOIN")
  h5(translate="RECEIVE_BITCOIN_MESSAGE")
.modal-body
  form.form-horizontal(role="form" name="requestForm" novalidate)
    .form-group(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1" ng-class="{'has-warning': fields.to.isWatchOnlyLegacyAddress}")
      label.col-sm-3.control-label(translate="RECEIVE_TO")
      .col-sm-9
        ui-select(ng-model="fields.to" ng-disabled="paymentRequest.amount > 0 || paymentRequest.label")
          ui-select-match {{ $select.selected.label + ($select.selected.isWatchOnlyLegacyAddress ? ' (Watch Only)' : '') }}
          ui-select-choices(repeat="destination in destinations | filter: $select.search" group-by="'type'") 
            span(ng-bind-html="(determineLabel(destination) | highlight: $select.search) + (destination.isWatchOnlyLegacyAddress ? ' <i>(Watch Only)</i>' : '')")
        span.help-block(ng-show="fields.to.isWatchOnlyLegacyAddress") Your wallet does not have the private key for this address. Without the private key you will not have access to the bitcoins sent to this address. Make sure you have this private key somewhere else!
    .form-group(ng-class="{'has-error': requestForm.amount.$error.isValidAmount && requestForm.amount.$touched}")
      label.col-sm-3.control-label(translate="AMOUNT")
      .col-sm-3
        input.form-control(name="amount" type="text" ng-model="fields.amount" ng-disabled="paymentRequest && paymentRequest.paid > 0" is-valid-amount currency="fields.currency")
        span.help-block(ng-show="requestForm.amount.$error.isValidAmount && requestForm.amount.$touched" translate="ENTER_VALID_AMOUNT")
      .col-sm-4
        ui-select(ng-model="fields.currency")
          ui-select-match {{ $select.selected.code }}
          ui-select-choices(repeat="currency in currencies | filter: $select.search" group-by="'type'")
            span(ng-bind-html="currency.code | highlight: $select.search")   
      .col-sm-2
        p.form-control-static
          fiat(currency="settings.currency", btc="paymentRequestAmount",  ng-show="isBitCurrency(fields.currency)")
          span(ng-hide="isBitCurrency(fields.currency)") {{ paymentRequestAmount | toBitCurrency:settings.btcCurrency }}
      
    //- .form-group
    //-   label.col-sm-3.control-label(translate="DESCRIPTION")
    //-   .col-sm-9
    //-     input.form-control(type="text",ng-model="fields.label")
    //-     span.help-block(translate="OPTIONAL")
    .form-group
      hr
    .form-group(ng-show="paymentRequest && paymentRequest.paid > 0 && paymentRequest.paid != fields.amount")
      label.col-sm-3.control-label(translate="PAID")
      .col-sm-9
        p.form-control-static
          | {{ paymentRequest.paid / 100000000.0 }}  
    .flex.pam(ng-if="paymentRequestURL")
      .flex-2
        p(ng-hide="status.didInitializeHD")
          img(src="img/spinner.gif")  
        span(ng-show="status.didInitializeHD")
          qr(text="paymentRequestURL", size=120, correction-level="'M'")
      .phs.flex-3.flex-center.flex-column
        label.black
          span(translate="BITCOIN_ADDRESS")
          span :
        p.form-control-static.bitcoin-address
          img(src="img/spinner.gif", ng-hide="status.didInitializeHD")  
          span(ng-show="status.didInitializeHD" single-click-select)
            | {{ paymentRequestAddress }}
        p.black.mtm.flex-center.center-align(ng-class="{ 'hidden' : !highlighted }" ng-hide="browserCanExecCommand")
          i.ti-mouse-alt.mrs
          span(translate="COPY_ADDRESS")
        p.success.mtm.flex-center.center-align(ng-class="{ 'hidden' : !highlighted }" ng-show="browserCanExecCommand")
          i.ti-check.mrs
          span Successfully copied to your clipboard!
.modal-footer.flex-end.pal
  button.button-success.button-lg(ng-click="close()", translate="GOT_IT")  
