.modal-header
  h3(translate="ACCOUNT_XPUB_MODAL_TITLE") 
.modal-body
  .flex-column(ng-show="!showXpub")
    p.security-red.em-500.em-alt(translate="WARNING")
    p.text(translate="XPUB_WARNING")
  .form-group.flex-column.flex-justify(ng-show="showXpub")
    p.text.em-500 xPub:
    p.xpub.break-word {{::xpub}}
  .form-group.flex-column.flex-justify(ng-show="showXpub")
    p(align="center")
      qr(text="::xpub", size=200, correction-level="'M'")
.modal-footer.pal.flex-end.flex-center
  button.button-muted.mrm(ng-click="close()", translate="CLOSE")
  button.button-primary.button-md(ng-click="continue()", translate="CONTINUE" ng-hide="showXpub")
