.modal-header
  h3(translate="ACCOUNT_XPUB_MODAL_TITLE") 
.modal-body
  form(role="form" name="accountForm" novalidate)
    .form-group.flex-column.flex-justify(ng-class="{'has-error': accountForm.$invalid && accountForm.$dirty}")
      label.type-h5.em-400 Xpub:
      p.xpub.break-word {{ xpub }}
.modal-footer.pal.flex-end.flex-center
  button.button-muted.button-lg.mrm(ng-click="close()", translate="CLOSE")
