.modal-header
  h3(translate="SECOND_PASSWORD")    
.modal-body.clearfix
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)") 
    | {{alert.msg}}    
  .form-group.clearfix(ng-class="{'has-error': errors.amount}")
    label.col-sm-3.control-label(translate="PASSWORD")
    .col-sm-9
      input.form-control(type="password",ng-model="secondPassword")          
      span.help-block {{ error }}
  .form-group.clearfix
    .col-sm-12
      virtual-keyboard(ng-model="secondPassword")

.modal-footer
  button.btn.btn-info(ng-click="cancel()", translate="CANCEL", ng-hide="insist")
  button.btn.btn-primary(ui-ladda="{{ busy }}", ng-click="submit()", data-style="expand-left", ladda-translate="SUBMIT")
    