.security-center-ui
  section.level.level_one
    header.flex-center
      h1.prm.type-h4(translate="LEVEL_1")
      h2.type-h5.mid-grey-alt.em-300(translate="LEVEL_1_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-light-grey-alt.flex-center.flex-justify
        img(src="img/security-icon-1.png")
      li.level-badge(ng-class="{'badge-active': user.isEmailVerified}")
        a(ng-click="user.isEmailVerified || toggle('email')", ng-class="{'active' : display.action == 'email' }")
          .flex-center.flex-column
            img(src="img/badge-verifyemail.png")
            img.ribbon(src="img/ribbon.svg", ng-show="user.isEmailVerified")
          p(translate="ADD_VERIFY_EMAIL")
      li.level-badge(ng-class="{'badge-active': status.didConfirmRecoveryPhrase}")
        a(ng-click="status.didConfirmRecoveryPhrase || toggle('securityphrase')", ng-class="{'active' : display.action == 'securityphrase' }")
          .flex-center.flex-column
            img(src="img/badge-securityphrase.png")
            img.ribbon(src="img/ribbon.svg", ng-show="status.didConfirmRecoveryPhrase")
          p(translate="ADD_WALLET_RECOVERY")
      li.level-badge(ng-class="{'badge-active': user.passwordHint}")
        a(ng-click="user.passwordHint || toggle('passwordhint')", ng-class="{'active' : display.action == 'passwordhint' }")
          .flex-center.flex-column
            img(src="img/badge-passwordhint.png")
            img.ribbon(src="img/ribbon.svg", ng-show="user.passwordHint")
          p(translate="ADD_PASSWORD_HINT")

    .badge-panel(ng-show="display.action == 'email' || display.action == 'securityphrase' || display.action == 'passwordhint' ")
      div(ng-show="display.action == 'email' && !display.editingEmail")        
        p(translate="PLEASE_CHECK_EMAIL", translate-values='{ email: user.email}')
        verify-email(security-center)
        p(ng-hide="user.isEmailVerified")
          span(translate="DIDNT_RECEIVE_EMAIL")
          span 
            resend-email-confirmation(security-center)
            span(translate="OR")
          span
            a(ng-click="beginEditEmail()", translate="CHANGE_EMAIL_ADDRESS")

      .flex-center(ng-show="display.action == 'email' && display.editingEmail")       
        p(translate="YOUR_EMAIL_ADDRESS")
        bc-async-input(inline security-center type="email", placeholder="'EMAIL_ADDRESS' | translate", ng-model="user.email", on-save="changeEmail", action-title="'CHANGE_EMAIL_ADDRESS' | translate", autofocus)
      .flex-center(ng-show="display.action == 'securityphrase'")        
        p.flex-1.prl(translate="RECOVERY_PHRASE_SECURITY_CENTER")
        .flex-1.mll
          confirm-recovery-phrase(security-center)

      .flex(ng-show="display.action == 'passwordhint'")       
        p(translate="CHANGE_PASSWORD_HINT_SECURITY_CENTER")
        bc-async-input(inline security-center placeholder="'CHANGE_PASSWORD_HINT' | translate" ng-model="user.passwordHint", on-save="changePasswordHint", action-title="'CHANGE_PASSWORD_HINT' | translate") 

  section.level.level_two
    header.flex-center
      h1.prm.type-h4(translate="LEVEL_2")
      h2.type-h5.mid-grey-alt.em-300(translate="LEVEL_2_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-light-grey-alt.flex-center.flex-justify
        img(src="img/security-icon-2.png")
      li.level-badge(ng-class="{'badge-active': user.isMobileVerified}")
        a(ng-click="user.isMobileVerified || toggle('mobilenumber')", ng-class="{'active' : display.action == 'mobilenumber' }")
          .flex-center.flex-column
            img(src="img/badge-addmobile.png")
            img.ribbon(src="img/ribbon.svg", ng-show="user.isMobileVerified")
          p(TRANSLATE="ADD_MOBILE_NUMBER")
      li.level-badge(ng-class="{'badge-active': settings.needs2FA}")
        a(ng-click="settings.needs2FA || toggle('twofactor')", ng-class="{'active' : display.action == 'twofactor' }")
          .flex-column.flex-center
            img(src="img/badge-add2FA.png")
            img.ribbon(src="img/ribbon.svg", ng-show="settings.needs2FA")
          p(translate="ENABLE_TWO_STEP")

    .badge-panel(ng-show="display.action == 'mobilenumber' || display.action == 'twofactor'")
      div(ng-show="display.action == 'mobilenumber'")     
        configure-mobile-number(inline security-center)
      .flex-center(ng-show="display.action == 'twofactor'")     
        p.flex-1.prl(translate="SC_CONFIGURE_2FA")
        .flex-1.mll
          a.button-success.button-lg(ng-click="changeTwoFactor()" translate="CONFIGURE_2FA")

  section.level.level_three
    header.flex-center
      h1.prm.type-h4(translate="LEVEL_3")
      h2.type-h5.mid-grey-alt.em-300(translate="LEVEL_3_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-light-grey-alt.flex-center.flex-justify
        img(src="img/security-icon-3.png")
      li.level-badge(ng-class="{'badge-active': settings.blockTOR}")
        a(ng-click="settings.blockTOR || toggle('blocktor')", ng-class="{'active' : display.action == 'blocktor' }")
          .flex-column.flex-center
            img(src="img/badge-blockTOR.png")
            img.ribbon(src="img/ribbon.svg", ng-show="settings.blockTOR")
          p(TRANSLATE="ADD_BLOCK_TOR")

    .badge-panel(ng-show="display.action == 'blocktor'")
      .flex-center(ng-show="display.action == 'blocktor'")
        p.flex-1.prl(TRANSLATE="BLOCK_TOR_EXPLAIN")
        .flex-1.mll
          tor(security-center)
