.security-center-ui(data-preflight-tag="SecurityCenter")
  section.level.level_one
    header.flex-baseline.mtl
      h2.prm.type-h5.mvn.em-400(translate="LEVEL_1")
      p.gillsans.f-16.em-300.mvn(translate="LEVEL_1_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-grey.flex-center.flex-justify
        img(src="img/security-icon-1.png")
      li.level-badge(ng-click="user.isEmailVerified || toggle('email')", ng-class="{'active' : display.action == 'email', 'badge-active': user.isEmailVerified}")
        a
          .level-incomplete-container(ng-hide="user.isEmailVerified")
            .flex-center.flex-justify
              img(src="img/badge-verifyemail.png")
            p(translate="ADD_VERIFY_EMAIL")
          .level-complete-animation.flex-center.flex-column(ng-show="user.isEmailVerified")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          completed-level(ng-show="user.isEmailVerified" placement="bottom" content="EMAIL_ADDRESS_TOOLTIP" img="img/badge-verifyemail.png" message="EMAIL_VERIFIED")
      .badge-panel.visible-xs-block(ng-show="display.action == 'email'")
        div(ng-show="display.action == 'email' && !display.editingEmail")
          .verify-email
            p.gillsans.f-16(translate="PLEASE_CHECK_EMAIL", translate-values='{ email: user.email}')
            verify-email(button-class="button-primary")
            p(ng-hide="user.isEmailVerified")
              span.gillsans.f-16(translate="DIDNT_RECEIVE_EMAIL")
              span 
                resend-email-confirmation
                span.gillsans.f-16(translate="OR")
              span
                a.gillsans.f-16(ng-click="beginEditEmail()", translate="CHANGE")
        div(ng-show="display.action == 'email' && display.editingEmail")       
          bc-async-input(custom inline type="email" is-required placeholder="'EMAIL_ADDRESS' | translate", ng-model="user.email", on-cancel="cancelEditEmail" on-save="changeEmail", action-title="'CHANGE' | translate" editing=1)
      li.level-badge(ng-click="status.didConfirmRecoveryPhrase || toggle('securityphrase')", ng-class="{'active' : display.action == 'securityphrase', 'badge-active': status.didConfirmRecoveryPhrase }")
        a
          .level-incomplete-container(ng-hide="status.didConfirmRecoveryPhrase")
            .flex-center.flex-justify
              img(src="img/badge-securityphrase.png")
            p(translate="ADD_WALLET_RECOVERY")
          .level-complete-animation.flex-center.flex-column(ng-show="status.didConfirmRecoveryPhrase")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          completed-level(ng-show="status.didConfirmRecoveryPhrase" placement="bottom" content="RECOVERY_PHRASE_TOOLTIP" img="img/badge-securityphrase.png" message="PHRASE_BACKED")
      .badge-panel.visible-xs-block(ng-show="display.action == 'securityphrase'")
        .flex-center
          p.flex-1.prl(translate="RECOVERY_PHRASE_SECURITY_CENTER")
          .flex-1.mll.backup-phrase-actions
            confirm-recovery-phrase(ng-hide="status.didConfirmRecoveryPhrase")
      li.level-badge(ng-click="user.passwordHint || toggle('passwordhint')", ng-class="{'active' : display.action == 'passwordhint', 'badge-active': user.passwordHint }")
        a
          .level-incomplete-container(ng-hide="user.passwordHint")
            .flex-center.flex-justify
              img(src="img/badge-passwordhint.png")
            p(translate="ADD_PASSWORD_HINT")
          .level-complete-animation.flex-center.flex-column(ng-show="user.passwordHint")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          completed-level(ng-show="user.passwordHint" placement="bottom" content="PASSWORD_HINT_TOOLTIP" img="img/badge-passwordhint.png" message="HINT_STORED")
      .badge-panel.visible-xs-block(ng-show="display.action == 'passwordhint'")
        bc-async-input(custom inline placeholder="'ADD_PASSWORD_HINT' | translate" ng-model="user.passwordHint" on-cancel="cancelEditPasswordHint" on-save="changePasswordHint" action-title="'CHANGE' | translate" editing=1)
          .flex-center
            .form-group.width-50.flex-column(ng-class="{'has-error': !validate()}")
              p(translate="CHANGE")
              input.form-control.mtm(on-enter="save()" type="{{ type }}" ng-model="form.newValue" ng-focus="focus()" placeholder="{{ placeholder }}" ng-change="onChange()" maxlength="255")
              span.help-block {{::errorMessage}}
            .width-50.mll.pll
              button.button-primary(ng-click="save()",ng-disabled="!validate() || form.newValue == ngModel",ui-ladda="status.saving", ladda-translate="SAVE", data-style="expand-left")

    .badge-panel.hidden-xs(ng-show="display.action == 'email' || display.action == 'securityphrase' || display.action == 'passwordhint' ")
      div(ng-show="display.action == 'email' && !display.editingEmail")
        .verify-email
          p.gillsans.f-16(translate="PLEASE_CHECK_EMAIL", translate-values='{ email: user.email}')
          verify-email(button-class="button-primary")
          p(ng-hide="user.isEmailVerified")
            span.gillsans.f-16(translate="DIDNT_RECEIVE_EMAIL")
            | &nbsp;
            span
              resend-email-confirmation
            | &nbsp;
            span.gillsans.f-16(translate="OR")
            | &nbsp;
            span
              a.gillsans.f-16(ng-click="beginEditEmail()", translate="CHANGE")

      div(ng-show="display.action == 'email' && display.editingEmail")       
        bc-async-input(custom inline type="email" is-required placeholder="'EMAIL_ADDRESS' | translate", ng-model="user.email", on-cancel="cancelEditEmail" on-save="changeEmail", action-title="'CHANGE' | translate" editing=1)

      div.flex-center(ng-show="display.action == 'securityphrase'")        
        p.gillsans.f-16.flex-1.prl(translate="RECOVERY_PHRASE_SECURITY_CENTER")
        .flex-1.mll.backup-phrase-actions
          confirm-recovery-phrase(button-class="button-primary", ng-hide="status.didConfirmRecoveryPhrase", prompt-backup="promptBackup")

      div(ng-show="display.action == 'passwordhint'")
        bc-async-input(custom inline placeholder="'ADD_PASSWORD_HINT' | translate" ng-model="user.passwordHint" on-cancel="cancelEditPasswordHint" on-save="changePasswordHint" action-title="'CHANGE' | translate" editing=1)
          .flex-center
            .form-group.width-50.flex-column(ng-class="{'has-error': !validate()}")
              p(translate="CHANGE")
              input.form-control.mtm(on-enter="save()" type="{{ type }}" ng-model="form.newValue" ng-focus="focus()" placeholder="{{ placeholder }}" ng-change="onChange()" maxlength="255")
              span.help-block {{::errorMessage}}
            .width-50.mll.pll
              button.button-primary(ng-click="save()",ng-disabled="!validate() || form.newValue == ngModel",ui-ladda="status.saving", ladda-translate="SAVE", data-style="expand-left")


  section.level.level_two
    header.flex-baseline.mtl
      h2.prm.type-h5.mvn.em-400(translate="LEVEL_2")
      p.gillsans.f-16.em-300.mvn(translate="LEVEL_2_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-grey.flex-center.flex-justify
        img(src="img/security-icon-2.png")
      li.level-badge(ng-click="user.isMobileVerified || toggle('mobilenumber')", ng-class="{'active' : display.action == 'mobilenumber', 'badge-active': user.isMobileVerified }")
        a
          .level-incomplete-container(ng-hide="user.isMobileVerified")
            .flex-center.flex-justify
              img(src="img/badge-addmobile.png")
            p(TRANSLATE="ADD_MOBILE_NUMBER")
          .level-complete-animation.flex-center.flex-column(ng-show="user.isMobileVerified")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          completed-level(ng-show="user.isMobileVerified" content="MOBILE_NUMBER_TOOLTIP" img="img/badge-addmobile.png" message="MOBILE_LINKED")
      .badge-panel.visible-xs-block(ng-show="display.action == 'mobilenumber'")
        div
          configure-mobile-number(on-success="mobileNumber.step = 2" on-cancel="mobileNumber.step = 1; toggle('mobilenumber');" ng-show="mobileNumber.step == 1" full-width)          
          div(ng-show="mobileNumber.step == 2")
            h2.status.complete.hidden-xs.long-input
            verify-mobile-number(on-success="mobileNumber.step = 0" full-width)
      li.level-badge(ng-click="settings.needs2FA || toggle('twofactor')", ng-class="{'active' : display.action == 'twofactor', 'badge-active': settings.needs2FA }")
        a
          .level-incomplete-container(ng-hide="settings.needs2FA")
            .flex-center.flex-justify
              img(src="img/badge-add2FA.png")
            p(translate="ENABLE_TWO_STEP")
          .level-complete-animation.flex-center.flex-column(ng-show="settings.needs2FA")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          completed-level(ng-show="settings.needs2FA" content="2FA_TOOLTIP" img="img/badge-add2FA.png" message="TWO_STEP_ENABLED")
      .badge-panel.visible-xs-block(ng-show="display.action == 'twofactor'")     
        div.flex-center
          p.gillsans.f-16.flex-1.prl(translate="SC_CONFIGURE_2FA")
          .flex-1.mll
            a.button-primary(ng-click="changeTwoFactor()" translate="CONFIGURE_2FA")
    .badge-panel.hidden-xs(ng-show="display.action == 'mobilenumber' || display.action == 'twofactor'")
      div(ng-show="display.action == 'mobilenumber'")
        configure-mobile-number(on-success="mobileNumber.step = 2" on-cancel="mobileNumber.step = 1; toggle('mobilenumber');" ng-show="mobileNumber.step == 1" full-width)          
        div(ng-show="mobileNumber.step == 2")
          h2.status.complete.hidden-xs.long-input
          verify-mobile-number(on-success="mobileNumber.step = 0" full-width)
      div.flex-center(ng-show="display.action == 'twofactor'")     
        p.gillsans.f-16.flex-1.prl(translate="SC_CONFIGURE_2FA")
        .flex-1.mll
          a.button-primary(ng-click="changeTwoFactor()" translate="CONFIGURE_2FA")

  section.level.level_three
    header.flex-baseline.mtl
      h2.prm.type-h5.mvn.em-400(translate="LEVEL_3")
      p.gillsans.f-16.em-300.mvn(translate="LEVEL_3_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-grey.flex-center.flex-justify
        img(src="img/security-icon-3.png")
      li.level-badge(ng-click="settings.blockTOR || toggle('blocktor')", ng-class="{'active' : display.action == 'blocktor', 'badge-active': settings.blockTOR }")
        a
          .level-incomplete-container(ng-hide="settings.blockTOR")
            .flex-center.flex-justify
              img(src="img/badge-blockTOR.png")
            p(TRANSLATE="ADD_BLOCK_TOR")
          .level-complete-animation.flex-center.flex-column(ng-show="settings.blockTOR")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          completed-level(ng-show="settings.blockTOR" content="BLOCK_TOR_TOOLTIP" img="img/badge-blockTOR.png" message="TOR_BLOCKED")
        .badge-panel.visible-xs-block(ng-show="display.action == 'blocktor'")
          .flex-center(ng-show="display.action == 'blocktor'")
            p.gillsans.f-16.flex-1(TRANSLATE="BLOCK_TOR_EXPLAIN")
            .mll.pll.block-tor-actions
              tor(button-class="button-primary")

    .badge-panel.hidden-xs(ng-show="display.action == 'blocktor'")
      .flex-center(ng-show="display.action == 'blocktor'")
        p.gillsans.f-16.flex-1(TRANSLATE="BLOCK_TOR_EXPLAIN")
        .mll.pll.block-tor-actions
          tor(button-class="button-primary")
