.security-center-ui
  section.level.level_one
    header.flex-center
      h1.prm.type-h4(translate="LEVEL_1")
      h2.type-h5.mid-grey-alt.em-300(translate="LEVEL_1_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-light-grey-alt.flex-center.flex-justify
        img(src="img/security-icon-1.png")
      li.level-badge(ng-class="{'badge-active': user.isEmailVerified}")
        a(ng-click="user.isEmailVerified || toggle('email')", ng-class="{'active' : display.action == 'email' }")
          .level-incomplete-container(ng-hide="user.isEmailVerified")
            .flex-center.flex-column
              img(src="img/badge-verifyemail.png")
            p(translate="ADD_VERIFY_EMAIL")
          .level-complete-animation.flex-center.flex-colum(ng-show="user.isEmailVerified")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          .level-complete-container(ng-show="user.isEmailVerified")
            .flex-column.flex-center
              img(src="img/badge-verifyemail.png")
            p.bright-green
              i.ti-check.prm
              span(TRANSLATE="EMAIL_VERIFIED")
      li.level-badge(ng-class="{'badge-active': status.didConfirmRecoveryPhrase}")
        a(ng-click="status.didConfirmRecoveryPhrase || toggle('securityphrase')", ng-class="{'active' : display.action == 'securityphrase' }")
          .level-incomplete-container(ng-hide="status.didConfirmRecoveryPhrase")
            .flex-center.flex-column
              img(src="img/badge-securityphrase.png")
            p(translate="ADD_WALLET_RECOVERY")
          .level-complete-animation.flex-center.flex-colum(ng-show="status.didConfirmRecoveryPhrase")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          .level-complete-container(ng-show="status.didConfirmRecoveryPhrase")
            .flex-column.flex-center
              img(src="img/badge-securityphrase.png")
            p.bright-green
              i.ti-check.prm
              span(TRANSLATE="PHRASE_BACKED")
      li.level-badge(ng-class="{'badge-active': user.passwordHint}")
        a(ng-click="user.passwordHint || toggle('passwordhint')", ng-class="{'active' : display.action == 'passwordhint' }")
          .level-incomplete-container(ng-hide="user.passwordHint")
            .flex-center.flex-column
              img(src="img/badge-passwordhint.png")
            p(translate="ADD_PASSWORD_HINT")
          .level-complete-animation.flex-center.flex-colum(ng-show="user.passwordHint")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          .level-complete-container(ng-show="user.passwordHint")
            .flex-column.flex-center
              img(src="img/badge-passwordhint.png")
            p.bright-green
              i.ti-check.prm
              span(TRANSLATE="HINT_STORED")

    .badge-panel(ng-show="display.action == 'email' || display.action == 'securityphrase' || display.action == 'passwordhint' ")
      div(ng-show="display.action == 'email' && !display.editingEmail")
        .verify-email
          p(translate="PLEASE_CHECK_EMAIL", translate-values='{ email: user.email}')
          verify-email(button-class="button-success button-lg")
          p(ng-hide="user.isEmailVerified")
            span(translate="DIDNT_RECEIVE_EMAIL")
            span 
              resend-email-confirmation
              span(translate="OR")
            span
              a(ng-click="beginEditEmail()", translate="CHANGE_EMAIL_ADDRESS")

      .flex-center(ng-show="display.action == 'email' && display.editingEmail")       
        p(translate="YOUR_EMAIL_ADDRESS")
        bc-async-input.width-100.pll(inline button-class="button-success button-lg" type="email" is-required placeholder="'EMAIL_ADDRESS' | translate", ng-model="user.email", on-save="changeEmail", action-title="'CHANGE_EMAIL_ADDRESS' | translate", autofocus)
      .flex-center(ng-show="display.action == 'securityphrase'")        
        p.flex-1.prl(translate="RECOVERY_PHRASE_SECURITY_CENTER")
        .flex-1.mll.backup-phrase-actions
          confirm-recovery-phrase(button-class="button-success button-lg")

      div(ng-show="display.action == 'passwordhint'")       
        bc-async-input(custom inline placeholder="'CHANGE_PASSWORD_HINT' | translate" ng-model="user.passwordHint" on-save="changePasswordHint" action-title="'CHANGE_PASSWORD_HINT' | translate")
          .flex-center
            .form-group.width-50.flex-column(ng-class="{'has-error': !validate()}")
              p(translate="CHANGE_PASSWORD_HINT_SECURITY_CENTER")
              input.form-control.mtm(on-enter="save()" type="{{ type }}", ng-model="form.newValue", ng-focus="focus()", placeholder="{{ placeholder }}" ng-change="onChange()")
              span.help-block {{ errorMessage }}  
            .width-50.mll.pll
              button.button-success.button-lg(ng-click="save()",ng-disabled="!validate() || form.newValue == ngModel",ui-ladda="{{ status.saving }}", ladda-translate="SAVE", data-style="expand-left")


  section.level.level_two
    header.flex-center
      h1.prm.type-h4(translate="LEVEL_2")
      h2.type-h5.mid-grey-alt.em-300(translate="LEVEL_2_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-light-grey-alt.flex-center.flex-justify
        img(src="img/security-icon-2.png")
      li.level-badge(ng-class="{'badge-active': user.isMobileVerified}")
        a(ng-click="user.isMobileVerified || toggle('mobilenumber')", ng-class="{'active' : display.action == 'mobilenumber' }")
          .level-incomplete-container(ng-hide="user.isMobileVerified")
            .flex-center.flex-column
              img(src="img/badge-addmobile.png")
            p(TRANSLATE="ADD_MOBILE_NUMBER")
          .level-complete-animation.flex-center.flex-colum(ng-show="user.isMobileVerified")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          .level-complete-container(ng-show="user.isMobileVerified")
            .flex-column.flex-center
              img(src="img/badge-addmobile.png")
            p.bright-green
              i.ti-check.prm
              span(TRANSLATE="MOBILE_LINKED")
      li.level-badge(ng-class="{'badge-active': settings.needs2FA}")
        a(ng-click="settings.needs2FA || toggle('twofactor')", ng-class="{'active' : display.action == 'twofactor' }")
          .level-incomplete-container(ng-hide="settings.needs2FA")
            .flex-column.flex-center
              img(src="img/badge-add2FA.png")
            p(translate="ENABLE_TWO_STEP")
          .level-complete-animation.flex-center.flex-colum(ng-show="settings.needs2FA")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          .level-complete-container(ng-show="settings.needs2FA")
            .flex-column.flex-center
              img(src="img/badge-add2FA.png")
            p.bright-green
              i.ti-check.prm
              span(TRANSLATE="TWO_STEP_ENABLED")

    .badge-panel(ng-show="display.action == 'mobilenumber' || display.action == 'twofactor'")
      div(ng-show="display.action == 'mobilenumber'")
        configure-mobile-number(on-success="mobileNumber.step = 2" on-cancel="mobileNumber.step = 0" ng-show="mobileNumber.step == 1" button-lg full-width)
        verify-mobile-number(on-success="mobileNumber.step = 0" ng-show="mobileNumber.step == 2" button-lg full-width)
      .flex-center(ng-show="display.action == 'twofactor'")     
        p.flex-1.prl(translate="SC_CONFIGURE_2FA")
        .flex-1.mll
          a.button-success.button-lg(ng-click="changeTwoFactor()" translate="CONFIGURE_2FA")

  section.level.level_three
    header.flex-center
      h1.prm.type-h4(translate="LEVEL_3")
      h2.type-h5.mid-grey-alt.em-300(translate="LEVEL_3_TITLE")
    ul.flex.flex-start.pln.mbn
      li.level-header.bg-light-grey-alt.flex-center.flex-justify
        img(src="img/security-icon-3.png")
      li.level-badge(ng-class="{'badge-active': settings.blockTOR}")
        a(ng-click="settings.blockTOR || toggle('blocktor')", ng-class="{'active' : display.action == 'blocktor' }")
          .level-incomplete-container(ng-hide="settings.blockTOR")
            .flex-column.flex-center
              img(src="img/badge-blockTOR.png")
            p(TRANSLATE="ADD_BLOCK_TOR")
          .level-complete-animation.flex-center.flex-colum(ng-show="settings.blockTOR")
            .flex-center.flex-column
              .level-complete.flex-center.flex-justify
                i.ti-check.bright-green
            p.bright-green.em-300(translate="NICELY_DONE")
          .level-complete-container(ng-show="settings.blockTOR")
            .flex-column.flex-center
              img(src="img/badge-blockTOR.png")
            p.bright-green
              i.ti-check.prm
              span(TRANSLATE="TOR_BLOCKED")

    .badge-panel(ng-show="display.action == 'blocktor'")
      .flex-center(ng-show="display.action == 'blocktor'")
        p.flex-1(TRANSLATE="BLOCK_TOR_EXPLAIN")
        .mll.pll.block-tor-actions
          tor(security-center)
