.modal-header.flex-column.bc-modal-header
  .flex-center
    img(src="img/arrow-up.png")
    h3(ng-show="step == 1 && !advanced", translate="SEND_BITCOIN")
    h3(ng-show="advanced && step == 1", translate="ADVANCED_SEND")
    h3(ng-show="confirmationStep", translate="CONFIRM")
  h5(ng-show="step == 1 && !advanced", translate="SEND_STEP_1")
  h5(ng-show="confirmationStep", translate="SEND_STEP_2")
  h5(ng-show="advanced && step == 1", translate="SEND_STEP_1_ADVANCED")
  p.step
    span(translate="STEP")
    span {{step}}
    span(translate="OF_2")
.modal-body#send
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)")
    | {{alert.msg}}
  div(ng-hide="confirmationStep")
    form.form-horizontal(role="form",name="form",novalidate)
      .flex-column.form-group(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1")
        label.mbm
          span(translate="FROM:")
        div
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")
          span(ng-show="originsLoaded")
            ui-select(ng-model="transaction.from")
              ui-select-match {{ maxAndLabelForSelect($select) }}
              ui-select-choices(repeat="origin in origins | filter: getFilter($select.search)" group-by="'type'" ui-disable-choice="hasZeroBalance(origin)")
                span(ng-bind-html="maxAndLabel(origin) | highlight: $select.search" ng-class="{zerobalance: hasZeroBalance(origin)}")
      .flex-column.form-group(ng-class="{'has-error': errors.to, 'has-success' : success.to}", ng-hide="advanced")
        label.mbm.flex-between
          span(translate="TO:")
        div
          p.form-control-static(ng-hide="originsLoaded", )
            img(src="img/spinner.gif")
          // Use input-group if camera is present.
          .input-group(ng-show="originsLoaded", ng-if="browserWithCamera")
            ui-select(ng-model="transaction.destination", ng-blur="visualValidate('to')" ng-change="visualValidate('to')")
              ui-select-match(placeholder="Paste, scan or select address") {{ $select.selected.label }}
              ui-select-choices(repeat="destination in destinations[0] | filter: getFilter($select.search)" group-by="'type'" refresh="refreshDestinations($select.search, 0)" refresh-delay="0")
                span(ng-bind-html="determineLabel(destination) | highlight: $select.search")
            span.input-group-btn.mls
              button#qr.btn.btn-default(type="button", ng-click="cameraOn(0)")
                img(src="img/qr.png", alt="QR")
          ui-select(ng-model="transaction.destination", ng-blur="visualValidate('to')", ng-change="visualValidate('to')", ng-if="!browserWithCamera")
            ui-select-match(placeholder="Paste, scan or select address") {{ $select.selected.label }}
            ui-select-choices(repeat="destination in destinations[0] | filter: getFilter($select.search)" group-by="'type'" refresh="refreshDestinations($select.search, 0)" refresh-delay="0")
              span(ng-bind-html="determineLabel(destination) | highlight: $select.search")
        span.help-block {{ errors.to }}
      .flex-column.form-group(ng-class="{'has-error': errors.amount}", ng-hide="advanced")
        label.mbm
          span(translate="AMOUNT")
        .flex-center
          .mrl.flex-1
            .flex-center
              span.mrm {{ transaction.currency.code }}:
              input.form-control(type="text",ng-model="transaction.amount",ng-blur="visualValidate('amount')" ng-change="visualValidate('amount')")
            span.help-block {{ errors.amount }}
          a.button-success.button-sm.type-sm.mrl.flex-center(ng-click="toggleCurrency()")
            i.ti-arrows-horizontal
          .flex-center.ccc.conversion.flex-1
            p.mbn
              fiat(currency="settings.currency", btc="transaction.satoshi",  ng-show="isBitCurrency(transaction.currency)")
              span(ng-hide="isBitCurrency(transaction.currency)") {{ transaction.satoshi | toBitCurrency:btcCurrency:false }}
      //- Advanced Send
      .flex-column.form-group.bc-modal-fade.mvl.advanced-recipient(ng-show="advanced" ng-class="{'has-error': errors.amounts || errors.destinations }")
        label.mbm.flex-between
          span(translate="TO:")
        .flex-column.prl.advanced-recipient-row(ng-repeat="item in transaction.multipleDestinations track by $index")
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")
          // Use input-group if camera is present.
          .input-group(ng-show="originsLoaded", ng-if="browserWithCamera")
            ui-select(ng-model="transaction.multipleDestinations[$index]", ng-blur="visualValidate('destinations')")
              ui-select-match(placeholder="Paste, scan or select address") {{ $select.selected.label }}
              ui-select-choices(repeat="destination in destinations[$index] | filter: getFilter($select.search, true)" group-by="'type'" refresh="refreshDestinations($select.search, $index)" refresh-delay="0")
                span(ng-bind-html="determineLabel(destination) | highlight: $select.search")
            span.input-group-btn.mls
              button#qr.button(type="button", ng-click="cameraOn($index)")
                img(src="img/qr.png", alt="QR")
          ui-select(ng-model="transaction.multipleDestinations[$index]", ng-blur="visualValidate('destinations')", ng-if="!browserWithCamera")
            ui-select-match(placeholder="Paste, scan or select address") {{ $select.selected.label }}
            ui-select-choices(repeat="destination in destinations[$index] | filter: getFilter($select.search, true)" group-by="'type'" refresh="refreshDestinations($select.search, $index)" refresh-delay="0")
              span(ng-bind-html="determineLabel(destination) | highlight: $select.search")
          .flex-center.recipient-currency.mtl
            .mrl.flex-1
              .flex-center
                span.mrm {{ transaction.currency.code }}:
                input.form-control(type="text" ng-blur="visualValidate('amounts')" ng-change="visualValidate('amounts')" ng-model="transaction.multipleAmounts[$index]")
            a.button-success.button-sm.type-sm.mrl(ng-click="toggleCurrency()")
              i.ti-arrows-horizontal
            .flex-center.ccc.conversion.flex-1
              p.mbn
                fiat(currency="settings.currency", btc="convertToSatoshi(transaction.multipleAmounts[$index])",  ng-show="isBitCurrency(transaction.currency)")
                span(ng-hide="isBitCurrency(transaction.currency)") {{ convertToSatoshi(transaction.multipleAmounts[$index]) | toBitCurrency:btcCurrency:false }}
            a.mlm.button-danger.type-sm.button-sm(ng-click="removeDestination($index)" ng-hide="$first && $last")
              i.ti-close.mrm
              span(translate="REMOVE")
        span.help-block {{ errors.amounts }}
        span.help-block {{ errors.destinations }}
        label.mbm.flex-between
          a.flex-center.type-sm.button-sm.button-default(ng-click="addDestination()")
            i.ti-plus.mrm
            span(translate="ADD_ANOTHER_RECIPIENT")
      .flex-column.form-group.bc-modal-fade(ng-class="{'has-error': errors.fee}" ng-show="advanced")
        label.mbm.flex-center
          span.mlm(translate="MINERS_FEE")
          helper-button(content="ADVANCED_SEND_STEP_1")          
        p.ccc(translate="MINERS_FEE_EXPLAIN")
        .flex-center.miners-fee-selection
          .flex-column.border-right.prl.mrl
            label
              input(type="radio" ng-model="transaction.fee" value="0" ng-change="updateFee(true)" name="miners-fee")
              span(translate="FRUGAL")
            label
              input(type="radio" ng-model="transaction.fee" value="10000" ng-change="updateFee(true)" name="miners-fee")
              span(translate="NORMAL")
              span.success.mls.type-xs(translate="RECOMMENDED")
            label
              input(type="radio" ng-model="transaction.fee" value="100000" ng-change="updateFee(true)" name="miners-fee")
              span(translate="GENEROUS")
          .flex-center.pll.mll
            .mrl.flex-1
              .flex-center
                span.mrm {{ btcCurrency.code }}:
                input.form-control(type="text" ng-blur="visualValidate('fee')" ng-change="updateFee()" ng-model="feeAmount" placeholder="Enter your fee here")
              span.help-block {{ errors.fee }}

      //- .form-group(ng-show="advanced")
      //-   label.col-sm-3.control-label(translate="FEES")
      //-   .col-sm-5
      //-     p.form-control-static {{ transaction.fee | numeraljs:'btc' }}
      //- .form-group
      //-   label.col-sm-3.control-label(translate="PRIVACY_GUARD")
      //-   .col-sm-4.privacy-guard
      //-     p.form-control-static
      //-       img.privacy-guard(ng-src="img/switch-{{ privacyGuard ? 'on' : 'off' }}.png", ng-alt="{{ privacyGuard ? 'on' : 'off' }}", ng-click="privacyGuard = !privacyGuard")
      .flex-column.form-group(ng-hide="!cameraIsOn")
        label.flex-1(translate="QR")
        .flex-1
          bc-qr-reader(active="cameraRequested", on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn")
  div.overview(ng-show="confirmationStep")
    .flex-column
      .flex-center.control-group.mbl
        label.mbn.mrl(translate="FROM:")
        h5.mvn.flex-1.ccc.em-300 {{ from }}
        label.mbn.mrl(translate="TO:")
        h5.btcaddr.mvn.flex-1.ccc.em-300(ng-hide="advanced") {{ toLabel }}
        h5.mvn.flex-1.ccc.em-300(ng-show="advanced && step == 2", translate="MULTIPLE_ADDRESSES")
      ul.total-amounts.ccc.ptm
        label.mbn(translate="OVERVIEW")
        li.amount-item
          p(translate="AMOUNT")
          p
            {{ transaction.satoshi | toBitCurrency:btcCurrency:false }}
          p
            fiat(btc="transaction.satoshi")
        li.amount-item
          p(translate="FEE")
            | :
          p
            {{ transaction.fee | toBitCurrency:btcCurrency:false }}
          p
            fiat(btc="transaction.fee")
            //- helper-button(content="SEND_BITOIN_STEP2A" placement='left' class="mls")
        li.amount-item.blue
          p(translate="TOTAL")
            | :
          p
            {{ transaction.fee + transaction.satoshi | toBitCurrency:btcCurrency:false }}
          p
            fiat(btc="transaction.satoshi + transaction.fee")
      .flex-column.form-group(ng-class="{'has-error': errors.note}")
        .flex-center.pbs
          label.mbn(translate="NOTE")
          helper-button(content="SEND_BITOIN_STEP2B" placement='top')          
            |:
        textarea(rows="4", ng-model="transaction.note", ng-blur="visualValidate('note')")
        .flex-center.mtm
          input.mrs(type="checkbox", ng-model="transaction.publicNote")
          | &nbsp;
          span(translate="MAKE_PUBLIC")
        span.help-block {{ errors.note }}

.modal-footer.flex-between.flex-center.pal
  .flex-center
    a.ccc(ng-hide="advanced || step == 2", ng-click="advancedSend()", translate="ADVANCED_SEND")
    a.ccc(ng-show="advanced && step == 1", ng-click="regularSend()", translate="REGULAR_SEND")
  .flex-center.flex-end
    button.button-muted-off.mrm(ng-click="cameraOff()", ng-show="cameraIsOn", translate="CAMERA_OFF")
    button.button-muted.mrm(ng-click="close()", translate="CANCEL", ng-hide="confirmationStep")
    button.button-muted.mrm(ng-click="backToForm()", translate="BACK", ng-show="confirmationStep")
    button.button-muted.bc-modal-fade.mrm(ng-show="advanced && step == 1", translate="RESET_FORM", ng-click="resetSendForm()")
    button.button-success.button-lg(ng-click="goToConfirmation()",ng-disabled="!transactionIsValid", translate="NEXT_STEP", ng-hide="confirmationStep")
    button.button-success.button-lg(ui-ladda="{{ sending }}", ng-click="send()",ng-disabled="!transactionIsValid", data-style="expand-left", ladda-translate="SEND", ng-show="confirmationStep")
