.modal-header.flex-column.bc-modal-header
  .flex-center
    img(src="img/arrow-up.png")
    h3(ng-show="step == 1", translate="SEND_BITCOIN")
    h3(ng-show="confirmationStep", translate="CONFIRM")
  h5(ng-show="step == 1") Send bitcoin instantly to any bitcoin address, email, or phone number
  h5(ng-show="confirmationStep") Please review your transaction
  p.step Step {{step}} of 2
.modal-body#send
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)") 
    | {{alert.msg}}
  div(ng-hide="confirmationStep")
    form.form-horizontal(role="form",name="form",novalidate)
      .flex-column.form-group(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1")
        label.mbm
          span(translate="FROM")
          |:
        div
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")     
          span(ng-show="originsLoaded")
            ui-select(ng-model="transaction.from")
              ui-select-match {{ maxAndLabelForSelect($select) }}            
              ui-select-choices(repeat="origin in origins | filter: getFilter($select.search)" group-by="'type'" ui-disable-choice="hasZeroBalance(origin)") 
                span(ng-bind-html="maxAndLabel(origin) | highlight: $select.search" ng-class="{zerobalance: hasZeroBalance(origin)}")
      .flex-column.form-group(ng-class="{'has-error': errors.to, 'has-success' : success.to}")
        label.mbm
          span(translate="TO")
          |:  
        div
          p.form-control-static(ng-hide="originsLoaded", )
            img(src="img/spinner.gif")
          // Use input-group if camera is present.
          .input-group(ng-show="originsLoaded", ng-if="browserWithCamera")
            ui-select(ng-model="transaction.destination", ng-blur="visualValidate('to')")
              ui-select-match(placeholder="Paste, scan or select address") {{ $select.selected.label }}
              ui-select-choices(repeat="destination in destinations | filter: getFilter($select.search)" group-by="'type'" refresh="refreshDestinations($select.search)" refresh-delay="0") 
                span(ng-bind-html="determineLabel(destination) | highlight: $select.search")
            span.input-group-btn
              button#qr.btn.btn-default(type="button", ng-click="cameraOn()")
                img(src="img/qr.png", alt="QR")
          ui-select(ng-model="transaction.destination", ng-blur="visualValidate('to')", ng-if="!browserWithCamera")
            ui-select-match(placeholder="Paste, scan or select address") {{ $select.selected.label }}
            ui-select-choices(repeat="destination in destinations | filter: getFilter($select.search)" group-by="'type'" refresh="refreshDestinations($select.search)" refresh-delay="0") 
              span(ng-bind-html="determineLabel(destination) | highlight: $select.search")
          span.help-block {{ errors.to }}
      .flex-column.form-group(ng-class="{'has-error': errors.amount}")
        label.mbm
          span(translate="AMOUNT")
        .flex
          .flex-1.mrl
            input.form-control(type="text",ng-model="transaction.amount",ng-blur="visualValidate('amount')")          
            span.help-block {{ errors.amount }}
          .flex-1.mrl
            p 
              | {{ transaction.currency }}
              | / 
              a(ng-click="toggleCurrency()") {{ nextAlternativeCurrency() }}
          .flex-2
            p.form-control-static
              fiat(currency="settings.currency", btc="transaction.satoshi",  ng-show="transaction.currency=='BTC'")
              span(ng-hide="transaction.currency=='BTC'") {{ transaction.satoshi | btc }}
        
      //- .form-group(ng-show="advanced")
      //-   label.col-sm-3.control-label(translate="FEES")
      //-   .col-sm-5
      //-     p.form-control-static {{ transaction.fee | numeraljs:'btc' }}
      //- .form-group
      //-   label.col-sm-3.control-label(translate="PRIVACY_GUARD")
      //-   .col-sm-4.privacy-guard
      //-     p.form-control-static
      //-       img.privacy-guard(ng-src="img/switch-{{ privacyGuard ? 'on' : 'off' }}.png", ng-alt="{{ privacyGuard ? 'on' : 'off' }}", ng-click="privacyGuard = !privacyGuard")
      .form-group(ng-hide="!cameraIsOn")
        label.col-sm-3.control-label(translate="QR")
        .col-sm-9
          bc-qr-reader(active="cameraRequested", on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn")
  div.overview(ng-show="confirmationStep")
    .flex-column
      .flex-center.control-group.mbl
        label.mbn.mrl(translate="FROM:")
        h6.mvn.flex-1.ccc {{ from }}
        label.mbn.mrl(translate="TO:")
        h6.mvn.flex-1.ccc {{ toLabel }}
      ul.total-amounts.ccc.ptm
        label.mbn(translate="OVERVIEW")
        li.amount-item
          p(translate="AMOUNT")
          p
            | {{ transaction.satoshi | btc:true }} BTC
          p
            fiat(btc="transaction.satoshi")
        li.amount-item
          p(translate="FEE")
            | :
          p
            | {{ transaction.fee | btc:true }} BTC
          p
            fiat(btc="transaction.fee")
            span.why-fee why?
        li.amount-item.blue
          p(translate="TOTAL")
            | :
          p {{ transaction.fee + transaction.satoshi | btc:true }} BTC
          p
            fiat(btc="transaction.satoshi + transaction.fee")
      .flex-column
        label(translate="NOTE") 
          |:
        textarea(rows="4", ng-model="transaction.note")
        .flex-center.mtm
          input.mrs(type="checkbox", ng-model="transaction.publicNote")
          |&nbsp
          span(translate="MAKE_PUBLIC")

.modal-footer.actions
  button.btn.btn-info(ng-click="cameraOff()", ng-show="cameraIsOn", translate="CAMERA_OFF")
  button.button-muted(ng-click="close()", translate="CANCEL", ng-hide="confirmationStep")
  button.button-muted(ng-click="backToForm()", translate="BACK", ng-show="confirmationStep")
  button.button-default.button-lg(ng-click="goToConfirmation()",ng-disabled="!transactionIsValid", translate="NEXT", ng-hide="confirmationStep")
  button.button-success.button-lg(ui-ladda="{{ sending }}", ng-click="send()",ng-disabled="!transactionIsValid", data-style="expand-left", ladda-translate="SEND", ng-show="confirmationStep")
