.modal-header
  .row
    .col-xs-6
      h3(translate="SEND_BITCOIN")
.modal-body#send
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)") 
    | {{alert.msg}}
  div(ng-hide="confirmationStep")
    form.form-horizontal(role="form",name="form",novalidate)
      .form-group
        label.col-sm-3.control-label
          span(translate="SEND_FROM")
          |:
        .col-sm-7
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")     
          span(ng-show="originsLoaded")
            ui-select(ng-model="transaction.from")
              ui-select-match {{ maxAndLabelForSelect($select) }}            
              ui-select-choices(repeat="origin in origins | filter: getFilter($select.search)" group-by="'type'" ui-disable-choice="hasZeroBalance(origin)") 
                span(ng-bind-html="maxAndLabel(origin) | highlight: $select.search" ng-class="{zerobalance: hasZeroBalance(origin)}")
      .form-group(ng-class="{'has-error': errors.to, 'has-success' : success.to}")
        label.col-sm-3.control-label
          span(translate="TO")
          |:  
        .col-sm-7
          p.form-control-static(ng-hide="originsLoaded", )
            img(src="img/spinner.gif")
          // Use input-group if camera is present.
          .input-group(ng-show="originsLoaded", ng-if="browserWithCamera")
            ui-select(ng-model="transaction.destination", ng-blur="visualValidate('to')")
              ui-select-match {{ $select.selected.label }}
              ui-select-choices(repeat="destination in destinations | filter: getFilter($select.search)" group-by="'type'" refresh="refreshDestinations($select.search)" refresh-delay="0") 
                span(ng-bind-html="destination.label | highlight: $select.search")
            span.input-group-btn
              button#qr.btn.btn-default(type="button", ng-click="cameraOn()")
                img(src="img/qr.png", alt="QR")
          ui-select(ng-model="transaction.destination", ng-blur="visualValidate('to')", ng-if="!browserWithCamera")
            ui-select-match {{ $select.selected.label }}
            ui-select-choices(repeat="destination in destinations | filter: getFilter($select.search)" group-by="'type'" refresh="refreshDestinations($select.search)" refresh-delay="0") 
              span(ng-bind-html="destination.label | highlight: $select.search")
          span.help-block {{ errors.to }}
      .form-group(ng-class="{'has-error': errors.amount}")
        label.col-sm-3.control-label(translate="AMOUNT")
        .col-sm-3
          input.form-control(type="text",ng-model="transaction.amount",ng-blur="visualValidate('amount')")          
          span.help-block {{ errors.amount }}
        .col-sm-3
          ui-select(ng-model="transaction.currencySelected")
            ui-select-match {{ $select.selected.code }}
            ui-select-choices(repeat="currency in currencies | filter: $select.search" group-by="'type'") 
              span(ng-bind-html="currency.code | highlight: $select.search")                
        .col-sm-3
          p.form-control-static
            fiat(currency="settings.currency", btc="transaction.satoshi",  ng-show="transaction.currency=='BTC'")
            span(ng-hide="transaction.currency=='BTC'") {{ transaction.satoshi | btc }}
        
      //- .form-group(ng-show="advanced")
      //-   label.col-sm-3.control-label(translate="FEES")
      //-   .col-sm-5
      //-     p.form-control-static {{ transaction.fee | numeraljs:'btc' }}
      //- .form-group
      //-   label.col-sm-3.control-label(translate="PRIVACY_GUARD")
      //-   .col-sm-4.privacy-guard
      //-     p.form-control-static
      //-       img.privacy-guard(ng-src="img/switch-{{ privacyGuard ? 'on' : 'off' }}.png", ng-alt="{{ privacyGuard ? 'on' : 'off' }}", ng-click="privacyGuard = !privacyGuard")
      .form-group(ng-hide="!cameraIsOn")
        label.col-sm-3.control-label(translate="QR")
        .col-sm-9
          bc-qr-reader(active="cameraRequested", on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn")
  div.overview(ng-show="confirmationStep")
    .row
      .col-xs-6
        h4(translate="OVERVIEW")
        hr
        table
          tr
            td.left
              b 
                span(translate="FROM")
                | :
            td
              b {{ from }}
          tr
            td.left
              b 
                span(translate="TO")
                | :
            td
              | {{ toLabel }}
        hr
        table
          tr
            td.left
              span(translate="AMOUNT")
              | :
            td
              | {{ transaction.satoshi | btc:true }}
            td
              | BTC
            td
              fiat(btc="transaction.satoshi")
          tr
            td.left
              span(translate="FEE")
              | :
            td
              | {{ transaction.fee | btc:true }}
            td
              | BTC
            td
              fiat(btc="transaction.fee")
          tr.total
            td.left
              b
                span(translate="TOTAL")
                | :
            td
              b {{ transaction.fee + transaction.satoshi | btc:true }}
            td
              b BTC
            td
              fiat(btc="transaction.satoshi + transaction.fee")
      .col-xs-6
        //- h4
        //-   span(translate="TAGS")
        //-   |
        //-   span(ng-click="") +
        //- p Coming soon...
        h4
          span(translate="NOTE") 
          |:
        textarea.form-control(rows="3", ng-model="transaction.note")
        //- | []
        //- span(translate="MAKE_PUBLIC")
      
.modal-footer
  button.btn.btn-info(ng-click="cameraOff()", ng-show="cameraIsOn", translate="CAMERA_OFF")
  button.btn.btn-info(ng-click="close()", translate="CANCEL", ng-hide="confirmationStep")
  button.btn.btn-info(ng-click="backToForm()", translate="BACK", ng-show="confirmationStep")
  button.btn.btn-primary(ng-click="goToConfirmation()",ng-disabled="!transactionIsValid", translate="CONTINUE", ng-hide="confirmationStep")
  button.btn.btn-primary(ui-ladda="{{ sending }}", ng-click="send()",ng-disabled="!transactionIsValid", data-style="expand-left", ladda-translate="SEND", ng-show="confirmationStep")
  