.modal-header
  .row
    .col-xs-6
      h3(translate="SEND_BITCOIN")
    .col-xs-6.right
      a(href="", ng-click="switchToExternal()", translate="EXTERNAL", ng-show="internal", ng-disabled="accounts.length == 1")
      span(translate="EXTERNAL", ng-hide="internal")
      a(href="", ng-click="switchToInternal()", translate="INTERNAL", ng-hide="internal") 
      span(translate="INTERNAL", ng-show="internal")
        
.modal-body#send
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)") 
    | {{alert.msg}}
  div(ng-hide="confirmationStep")
    form.form-horizontal(role="form",name="form",novalidate)
      .form-group
        label.col-sm-3.control-label
          span(translate="SEND_FROM", ng-hide="internal")
          span(translate="FROM", ng-show="internal")
          |:
        .col-sm-7
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")     
          span(ng-show="originsLoaded")
            ui-select(ng-model="transaction.from")
              ui-select-match {{ maxAndLabel($select) }}            
              ui-select-choices(repeat="origin in origins | filter: $select.search" group-by="'type'") 
                span(ng-bind-html="origin.label | highlight: $select.search")
      .form-group(ng-show="internal")
        label.col-sm-3.control-label
          span(translate="TO")
          |:  
        .col-sm-7
          ui-select(ng-model="transaction.destination")
            ui-select-match {{ $select.selected.label }}
            ui-select-choices(repeat="destination in destinations | filter: $select.search" group-by="'type'") 
              span(ng-bind-html="destination.label | highlight: $select.search")
      .form-group(ng-class="{'has-error': errors.to}", ng-hide="internal")
        label.col-sm-3.control-label(for="to")
          span(translate="SEND_TO")
          |:
        .col-sm-7
          .input-group-vertical.send-methods
            //- .btn-group.btn-group-justified
            //-   .btn-group.btn-group-xs
            //-     button(type="button", ng-class="{active: method=='BTC'}", ng-click="setMethod('BTC')").btn.btn-default Bitcoin
            //-   .btn-group.btn-group-xs
            //-     button(type="button", ng-class="{active: method=='EMAIL'}", ng-click="setMethod('EMAIL')").btn.btn-default.middle Email
            //-   .btn-group.btn-group-xs
            //-     button(type="button", ng-class="{active: method=='SMS'}", ng-click="setMethod('SMS')").btn.btn-default SMS
            .input-group
              input#send-to.form-control(type="text",ng-model="transaction.to",autofocus,ng-blur="visualValidate('to')", tabindex="0")
              span.input-group-btn
                button#qr.btn.btn-default(type="button", ng-click="cameraOn()") 
                  img(src="img/qr.png", alt="QR")
          span.help-block {{ errors.to }}
      .form-group(ng-class="{'has-error': errors.amount}")
        label.col-sm-3.control-label(translate="AMOUNT")
        .col-sm-3
          input.form-control(type="text",ng-model="transaction.amount",ng-blur="visualValidate('amount')")          
          span.help-block {{ errors.amount }}
        .col-sm-3
          ui-select(ng-model="transaction.currencySelected")
            ui-select-match {{ $select.selected.code }}
            ui-select-choices(repeat="currency in currencies | filter: $select.search" group-by="'type'") 
              span(ng-bind-html="currency.code | highlight: $select.search")                
        .col-sm-3
          p(ng-show="transaction.currency=='BTC'") {{ transaction.result }} BTC
          p(ng-hide="transaction.currency=='BTC'") {{ transaction.satoshi | btc }}
        
      //- .form-group(ng-show="advanced")
      //-   label.col-sm-3.control-label(translate="FEES")
      //-   .col-sm-5
      //-     p.form-control-static {{ transaction.fee | numeraljs:'btc' }}
      //- .form-group
      //-   label.col-sm-3.control-label(translate="PRIVACY_GUARD")
      //-   .col-sm-4.privacy-guard
      //-     p.form-control-static
      //-       img.privacy-guard(ng-src="img/switch-{{ privacyGuard ? 'on' : 'off' }}.png", ng-alt="{{ privacyGuard ? 'on' : 'off' }}", ng-click="privacyGuard = !privacyGuard")
      //-       img.question(src="img/question.png", alt="Explanation")
      .form-group(ng-show="cameraIsOn")
        label.col-sm-3.control-label(translate="QR")
        .col-sm-9
          bc-qr-reader(active="cameraRequested", on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn")
  div.overview(ng-show="confirmationStep")
    .row
      .col-xs-6
        h4(translate="OVERVIEW")
        hr
        table
          tr
            td.left
              b 
                span(translate="FROM")
                | :
            td
              b {{ from }}
          tr
            td.left
              b 
                span(translate="TO")
                | :
            td
              | {{ toLabel }}
        hr
        table
          tr
            td.left
              span(translate="AMOUNT")
              | :
            td
              | {{ transaction.satoshi | btc:true }}
            td
              | BTC
            td
              fiat(btc="transaction.satoshi")
          tr
            td.left
              span(translate="FEE")
              | :
            td
              | {{ transaction.fee | btc:true }}
            td
              | BTC
            td
              fiat(btc="transaction.fee")
          tr.total
            td.left
              b
                span(translate="TOTAL")
                | :
            td
              b {{ transaction.fee + transaction.satoshi | btc:true }}
            td
              b BTC
            td
              fiat(btc="transaction.satoshi + transaction.fee")
      .col-xs-6
        //- h4
        //-   span(translate="TAGS")
        //-   |
        //-   span(ng-click="") +
        //- p Coming soon...
        h4
          span(translate="NOTE") 
          |:
        textarea.form-control(rows="3")
        //- | []
        //- span(translate="MAKE_PUBLIC")
      
.modal-footer
  button.btn.btn-info(ng-click="cameraOff()", ng-show="cameraIsOn", translate="CAMERA_OFF")
  button.btn.btn-info(ng-click="close()", translate="CANCEL", ng-hide="confirmationStep")
  button.btn.btn-info(ng-click="backToForm()", translate="BACK", ng-show="confirmationStep")
  button.btn.btn-primary(ng-click="goToConfirmation()",ng-disabled="!transactionIsValid", translate="CONTINUE", ng-hide="confirmationStep")
  button.btn.btn-primary(ui-ladda="{{ sending }}", ng-click="send()",ng-disabled="!transactionIsValid", data-style="expand-left", ladda-translate="SEND", ng-show="confirmationStep")
  