.modal-header
  .row
    .col-xs-9
      h3 Send Bitcoin
    .col-xs-3.advanced-button-header
      p 
        span(translate="ADVANCED")
        img(ng-src="img/advanced-{{ advanced ? 'on' : 'off' }}.png", alt="Show advanced settings", ng-click="advanced = !advanced")
          
.modal-body
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)") 
    {{alert.msg}}
  form.form-horizontal(role="form",name="form",novalidate)
    .form-group
      label.col-sm-3.control-label(translate="SEND_FROM")
      .col-sm-9
        ui-select(ng-model="transaction.from")
          ui-select-match {{ $select.selected.label }}
          ui-select-choices(repeat="account in accounts | filter: $select.search") 
            span(ng-bind-html="account.label | highlight: $select.search")
    .form-group
      label.col-sm-3.control-label(for:"to", translate="SEND_TO")
      .col-sm-9
        .input-group
          input.form-control(type="text",ng-model="transaction.to")
          span.input-group-btn
            button.btn.btn-default(type="button", ng-click="cameraOn()") 
              img#qr(src="img/qr.png", alt="QR")
    .form-group
      label.col-sm-3.control-label(translate="AMOUNT")
      .col-sm-5
        .input-group
          input.form-control(type="text",ng-model="transaction.amount")
          .input-group-btn
            .btn-group(dropdown,is-open="currencies.isOpen")
              button.btn.btn-default.dropdown-toggle(type="button") 
                | {{ transaction.currency }} 
                span.caret
              ul.dropdown-menu.dropdown-menu-right(role="menu")
                li
                  a(href="",ng-click="transaction.currency = 'BTC'; currencies.isOpen = false") BTC
                li
                  a(href="",ng-click="transaction.currency = 'EUR'; currencies.isOpen = false") EUR
                li
                  a(href="",ng-click="transaction.currency = 'USD'; currencies.isOpen = false") USD
      .col-sm-4
        p(ng-show="transaction.currency!='BTC'") Conversion to be implemented...
        p(ng-show="transaction.currency=='BTC'") {{ transaction.amount }} BTC
    .form-group(ng-show="advanced")
      label.col-sm-3.control-label(translate="FEES")
      .col-sm-5 
        p.form-control-static {{ transaction.fee | numeraljs:'btc' }}
    .form-group
      label.col-sm-3.control-label(translate="PRIVACY_GUARD")
      .col-sm-4
        .checkbox
          label
            input(type="checkbox")
            | ?
    .form-group(ng-show="cameraIsOn")
      label.col-sm-3.control-label(translate="QR")
      .col-sm-9
        webcam(on-stream="onStream(stream)"
               on-access-denied="onError(err)" ng-if="cameraRequested")
        canvas#qr-canvas
.modal-footer
  button.btn.btn-info(ng-click="cameraOff()", ng-show="cameraIsOn", translate="CAMERA_OFF")
  button.btn.btn-info(ng-click="close()", translate="CANCEL")
  button.btn.btn-primary(ng-click="send()",ng-disabled="!transactionIsValid", translate="SEND")