.modal-body.flex-column(data-preflight-tag="SfoxBuyComingSoon")
  img.width-15.margin-0-auto.width-20-mobile.width-20-tablet(src="img/blue-rocket.svg")
  .flex-column.flex-between.pt-20
    .flex-column.flex-center
      h3.blue.f-28.em-300.center.mb-15(translate="SFOX.BUY_COMING_SOON")
      p.mbl.f-18.width-80.em-300.mb-15.center
        span(translate="SFOX.BUY_COMING_SOON_DETAILS")
