div
  header
    h2.em-300(translate="NEW_ACCT_WELCOME", ng-show="currentStep == 1")
  form.form-horizontal(role="form",name="form",novalidate)
    div(ng-switch="currentStep")
      div(ng-switch-when="1")
        .security-red.mbl.em-400.flex-center
          i.ti-hand-stop.mrm.h3.mvn.hidden-xs
          span(translate="ALPHA_WARNING")
        .form-group(ng-class="{'has-error': errors.email, 'has-success': success.email}")
          label.col-sm-4.control-label(translate="EMAIL")
          .col-sm-8
            input.form-control(type="email",ng-model="fields.email",autofocus,ng-blur="validate()", ng-focus="errors.email = null")
            span.help-block 
              p {{ errors.email }}
        .form-group(ng-class="{'has-error': errors.password, 'has-success': success.password}")
          label.col-sm-4.control-label(translate="NEW_PASSWORD")
          .col-sm-8
            input.form-control(type="password", name="password",ng-model="fields.password",autofocus,ng-blur="validate()", ng-focus="errors.password = null", ng-maxlength="255", min-entropy="25" required)
            password-entropy(password="fields.password").help-block  
            span.help-block {{ errors.password }}
        .form-group(ng-class="{'has-error': errors.confirmation, 'has-success': success.confirmation}")
          label.col-sm-4.control-label(translate="CONFIRM_PASSWORD")
          .col-sm-8
            input.form-control(type="password",ng-model="fields.confirmation",on-enter="tryNextStep()",autofocus,ng-blur="validate()", ng-focus="errors.confirmation = null")
            span.help-block 
              p {{ errors.confirmation }}
        .form-group.flex-center.mtm
          .col-sm-4
            input#agreement_accept.pull-right(ng-model="fields.acceptedAgreement" type="checkbox" name="agreement_accept" ng-change="validate()")
          label.em-300.col-sm-8
            | I have read and agree to the 
            a.em-500(ng-click="showAgreement()") Alpha Program Participation Agreement
    .flex-center.flex-end.mbl
      button.button-primary(ng-click="nextStep()",ng-disabled="!form.$valid || !isValid[0] || !fields.acceptedAgreement", translate="CONTINUE", ng-show="currentStep == 1 && !working")  
      img(ng-show="working" src="img/spinner.gif")
