.flex.flex-justify.dashboard
  .bc-form.pal
    .bc-form-header
      h1 Contact Support!
      label.mbl Running into problems? Don't worry, our support team is here to help.
    .bc-empty-state.flex-justify.flex-center.mtl
      i.blue.bc-icon-helpdesk
    .flex.flex-justify.ptl.mtl
      a.button-success(href="https://blockchain.zendesk.com/anonymous_requests/new" target="_blank")
        | Send us a ticket
