.modal-header.flex-column.bc-modal-header
  h3(translate="CONTACT_SUPPORT")
  h5(translate="HERE_TO_HELP")
.modal-body
  .flex-row.flex-around
    .bc-empty-state.flex-justify.flex-center.flex-column
      i.blue.ti-help
      .flex.flex-justify.ptl
        a.button-primary(href="https://support.blockchain.com/hc/en-us/categories/201149143-My-Wallet-Guide" target="_blank" rel="noopener noreferrer")
          | FAQ
    .bc-empty-state.flex-justify.flex-center.flex-column
      i.blue.bc-icon-helpdesk
      .flex.flex-justify.ptl
        a.button-primary(href="https://blockchain.zendesk.com/" target="_blank" translate="VISIT_SUPPORT" rel="noopener noreferrer")
  
.modal-footer
  button.button-muted.mrm(ng-click="$dismiss()", translate="CLOSE")
