.modal-header.bg-blue.white
  h4(translate="BEFORE_LEAVE")
.modal-body
  p.em-300(translate="SURVEY_ASK")
  p.em-300(translate="VALUE_FEEDBACK")
  .flex-row.flex-end
    button.btn.button-default(ng-click="$close()" translate="NO_THANKS")
    a.btn.button-primary.mlm(ng-click="$close()" translate="TAKE_SURVEY" target="_blank" rel="noopener noreferrer"
      href="https://blockchain.co1.qualtrics.com/SE/?SID=SV_7PupfD2KjBeazC5")
