.row#top(ng-show="status.isLoggedIn")
  .col-xs-3
    h1 {{ totals.fiat | currency:settings.currency.symbol }}
  .col-xs-3
    p {{ totals.btc | btc }}
  .col-xs-6
    button.left-arrow.white(ng-click="request()") Request 
    button.right-arrow.blue(ng-click="send()") Send