.flex-center.flex-between.height-100.width-100-mobile(ng-show="status.isLoggedIn")
  .flex-column.flex-center-mobile.width-100-mobile
    .flex-baseline.heavy.hidden-xs
      h1.f-28.my-wallet.flex.upper.mtn Be your own bank.
        span.reg.pos-rel &reg;
    .visible-xs
      include ./main-balance
    .flex.flex-center-mobile
      button.btn.button-default.button-short-wide.type-h5.mrm(ng-click="send()")
        i.mrs.media-middle.icon-send
        span.em-300(translate="SEND")
      .btn-group
        button.btn.button-default.button-short-wide.type-h5.pos-rel(ng-click="request()")
          i.mrs.media-middle.icon-receive
          span.em-300(translate="REQUEST")
        button.btn.button-default.button-short.type-h5(ng-if="browser.canExecCommand" on-click-copy="nextAddress()" ng-mouseleave="resetCopy()"
                                                      uib-tooltip="{{'RECEIVE_HELPER' | translate}}"
                                                      tooltip-append-to-body="true"
                                                      tooltip-placement="top")
          i.mhs(ng-class="copied ? 'ti-check' : 'ti-clipboard'")
  .hidden-xs.mt-5
    include ./main-balance
