.flex-center.flex-between.height-100(ng-show="status.isLoggedIn")
  .flex-column
    .flex-baseline.heavy
      h1.mtn.my-wallet My Wallet
      p.mtn.mlm.type-h4.em-300
        | Be your own bank.
        span.type-xs.mls.align-offset.pos-rel &reg;
    .button-group.flex
      a.em-300.flex-center.flex-justify.mrm(ng-click="send()")
        i.bc-icon-send
        span(translate="SEND")
      a.em-300.flex-center.flex-justify.mrm(ng-click="request()")
        div.message-beacon.green(ng-show="requestBeacon")
        i.bc-icon-receive
        span(translate="REQUEST")
      span.request(ng-click="request(true)" translate="YOUR_ADDRESS" ng-show="hasLegacyAddress()")
  .heavy.pointer.flex-column.flex-align-end.right-align.pointer(ng-click="toggleDisplayCurrency()", ng-show="status.didUpgradeToHd")
    span(ng-show="getTotal(accountIndex) == null")
      h3
        img(ng-show="balance == null" src="assets/img/spinner.gif") 
    span(ng-show="getTotal(accountIndex) != null")
      span(ng-hide="isBitCurrency(settings.displayCurrency)")
        h1.mtn.em-600.pos-rel
          fiat(btc="getTotal(accountIndex)")
      span(ng-show="isBitCurrency(settings.displayCurrency)")
        h1.mtn.em-600.pos-rel {{ getTotal(accountIndex) | toBitCurrency:settings.btcCurrency }}
      p.mvn.type-h4.em-300.align-offset.pos-rel
        fiat(btc="getTotal(accountIndex)", ng-show="isBitCurrency(settings.displayCurrency)")
        span(ng-hide="isBitCurrency(settings.displayCurrency)")
          span {{ getTotal(accountIndex) | toBitCurrency:settings.btcCurrency }}
