.sticky-header.flex-center.flex-between#top(ng-show="status.isLoggedIn")
  .button-group.flex
    button.flex-center.flex-justify.mrm(ng-click="request()")
      i.bc-icon-receive
      span(translate="REQUEST")
    button.flex-center.flex-justify(ng-click="send()")
      i.bc-icon-send
      span(translate="SEND")
  .balance
    h1 {{ getTotal(accountIndex) | btc }}
    p(ng-show="getTotal(accountIndex) == null")
      img(src="img/spinner.gif").spinner  
    p
      fiat(btc="getTotal(accountIndex)")
