.row#top(ng-show="status.isLoggedIn")
  .col-xs-3
    h1 {{ total_fiat(accountIndex).value() | currency:settings.currency.symbol }}
  .col-xs-3
    p {{ total_btc(accountIndex) | btc }}
  .col-xs-6.text-right
    button.left-arrow.white(ng-click="request()") Request 
    button.right-arrow.blue(ng-click="send()") Send