.flex-between#top(ng-show="status.isLoggedIn")
  div
    button.left-arrow(ng-click="request()", translate="REQUEST") 
    button.right-arrow(ng-click="send()", translate="SEND")
  .balance
    .content
      h1 
        {{ getTotal(accountIndex) | btc }}
      p(ng-show="getTotal(accountIndex) == null")
        img(src="img/spinner.gif").spinner  
      p
        fiat(btc="getTotal(accountIndex)")
