.sticky-header.flex-center.flex-between#top(ng-show="status.isLoggedIn")
  .button-group.flex
    a.flex-center.flex-justify.mrm(ng-click="request()")
      i.bc-icon-receive
      span(translate="REQUEST")
    a.flex-center.flex-justify(ng-click="send()")
      i.bc-icon-send
      span(translate="SEND")
  .balance.flex-column.flex-align-end.right-align(ng-click="toggleCurrency()")
    span(ng-show="getTotal(accountIndex) == null")
      h3
        img(ng-show="balance == null" src="img/spinner.gif") 
    span(ng-show="getTotal(accountIndex) != null")
      span(ng-hide="isBitCurrency(settings.displayCurrency)")
        h1
          fiat(btc="getTotal(accountIndex)")
      span(ng-show="isBitCurrency(settings.displayCurrency)")
        h1 {{ getTotal(accountIndex) | toBitCurrency:settings.btcCurrency }}
      p
        fiat(btc="getTotal(accountIndex)", ng-show="isBitCurrency(settings.displayCurrency)")
        span(ng-hide="isBitCurrency(settings.displayCurrency)")
          span {{ getTotal(accountIndex) | toBitCurrency:settings.btcCurrency }}
