#buy(data-preflight-tag="TradeModal")
  .modal-body.fade.flex-center.flex-justify
    .width-100.pam
      include ./trade-summary
      .flex-1.flex-end.ptm
        button.button-primary.width-20(ng-click="$close()" translate="CLOSE")
