.modal-body.fade.clearfix
  div(data-preflight-tag="TradeSummary")
    .mbl(ng-hide="hideHeader")
      span.type-h5.em-500.flex-start.pts.capitalize(class="{{formattedTrade.class}}" translate="{{formattedTrade.namespace}}.TITLE" translate-values="formattedTrade.values")
      p.ptm(translate="{{formattedTrade.namespace}}.BODY" translate-values="formattedTrade.values")
    div(ng-if="formattedTrade.tx")
      label.em-500.flex-start.mb-15(ng-hide="isPendingBankTransfer && isPendingBankTransfer()" translate="{{isKYC || needsKyc() ? 'DETAILS' : 'ORDER_DETAILS'}}")
      p.flex-start.mb-15(ng-show="isPendingBankTransfer && isPendingBankTransfer()" translate="BANK_ORDER_DETAILS")
      ul.em-300.bg-grey.border-top.pan.mb-15(ng-class="{'bank-transfer': isPendingBankTransfer && isPendingBankTransfer()}")
        li.pam.border-right.border-left.border-bottom-light.flex-between(ng-repeat="(prop, val) in formattedTrade.tx track by $index" ng-if="val")
          span.em-300.colon(translate="{{prop}}" ng-class="{'em-500': prop === 'TOTAL_COST'}")
          span.em-300.right-align.capitalize(ng-bind="val" ng-class="{'em-500': prop === 'TOTAL_COST', 'capitalize' : prop !== 'RECEIVING_ADDRESS'}")
          span.security-red.plm(ng-if="$last && isPendingBankTransfer && isPendingBankTransfer()" translate="ORDER_ID_REFERENCE")
.modal-footer.flex-end.flex-row
  button.button-primary(translate="CLOSE" ng-show="!inMobileBuy && !bitcoinReceived" ng-click="$close()")
  button.button-primary(translate="SEE_BITCOIN" ng-show="!inMobileBuy && bitcoinReceived" ng-click="$close()" ui-sref="wallet.common.transactions")
  button.button-primary(translate="SEE_BITCOIN" ng-show="inMobileBuy && bitcoinReceived" ng-click="exitToNativeTx()")
