div(translate-namespace="{{::formattedTrade.namespace}}")
  h4
    i.mrs(ng-class="{'{{::formattedTrade.icon}}': formattedTrade.icon, '{{::formattedTrade.status}}': formattedTrade.status}")
    span(translate=".TITLE")
  p.em-300.ptm(translate=".BODY" translate-values="::formattedTrade.values")
  div(ng-hide="formattedTrade.status === 'success'")
    h5.type-h5.mtl(translate="SUMMARY")
    ul.em-300(ng-if="formattedTrade.tx")
      li.pts(ng-repeat="(prop, val) in formattedTrade.tx track by $index" ng-if="val")
        span(translate="{{::prop}}")
        | :&nbsp;
        b(ng-bind="::val")
