div(data-preflight-tag="TradeSummary")
  span.type-h5.em-500.flex-start.pts.capitalize(class="{{formattedTrade.class}}" translate="{{formattedTrade.namespace}}.TITLE" translate-values="formattedTrade.values")
  p.em-300.ptm(translate="{{formattedTrade.namespace}}.BODY" translate-values="formattedTrade.values")
  div(ng-if="formattedTrade.tx")
    label.em-500.flex-start.pts.mtl(translate="{{isKYC || needsKyc() ? 'DETAILS' : 'ORDER_DETAILS'}}")
    ul.em-300.bg-grey.mtm.mbml
      li.pam(ng-repeat="(prop, val) in formattedTrade.tx track by $index" ng-if="val")
        span.em-500.colon.phm(translate="{{prop}}")
        span.em-400(ng-bind="val")
      li.phm.pbm.parens.type-sm.mhm(translate="ORDER_ID_REFERENCE")
      