#transactions
  .row.transaction(ng-repeat="transaction in transactions | filter:transactionFilter | orderBy:'-txTime'")
    .info.clearfix(ng-click="showTransaction(transaction)")
      .col-xs-6.col-sm-6.col-md-3
        span 
          date {{ transaction.txTime * 1000 | date:'MMMM d @ hh:mm a' }}
      .col-xs-6.col-sm-6.col-md-9
        span(ng-show="transaction.confirmations == 0 && transaction.from.externalAddresses")
          i(translate="UNCONFIRMED_WARNING")
    .type.col-xs-6.col-sm-9(ng-click="showTransaction(transaction)")
      span 
        transaction-description(transaction="transaction", ng-if="canDisplayDescriptions")
    .amount.col-xs-6.col-sm-3
      span 
        amount(transaction="transaction")        
  .row
    .col-xs-5
    .col-xs-2
      p(align="center", ng-hide= "loading || allTransactionsLoaded")
        a(in-view="nextPage()", ng-click="nextPage()") Load more...
  .row(ng-show="loading")
     .col-xs-5
     .col-xs-2
       img(src="img/spinner.gif")
