#transaction-details
  .row
    .col-xs-12
      a.back(ng-click="back()")
        h2.back Back to feed
  .transaction-card.clearfix
    .tx-date
      strong Transaction Details
      | {{ transaction.txTime * 1000 | date:'MMMM d @ hh:mm a' }}
    .tx-details
      .gutter
        .tx-sender
          p(translate="FROM")
          strong {{ from }}
        .tx-receiver
          p(translate="TO")
          strong(ng-bind-html="to")
        .tx-notes
          p Notes
          transaction-note(transaction="transaction")
    .tx-sidebar
      .gutter
        .tx-amount
          amount(transaction="transaction" btc)
        .tx-status
          transaction-status(transaction="transaction")
        .tx-value-then.tx-value
          p Value at Send
          fiat(btc="transaction.result" abs date="transaction.txTime")
        .tx-value-now.tx-value
          p Value now
          fiat(btc="transaction.result" abs)
        .tx-bci-link
          a.button-default.button-sm(ng-href="http://www.blockchain.info/tx/{{ transaction.hash }}", target="_blank") Verify On Blockchain.info
  .transaction-card.clearfix(ng-if="transaction.publicNote")
    strong Public Note:
    p.mtl {{ transaction.publicNote }}
