#transactions
  .row(ng-repeat="transaction in transactions")
    .col-xs-3
      a.date(ng-href="http://www.blockchain.info/tx/{{ transaction.hash }}", target="_blank") {{ transaction.txTime | date:'MMMM d @ hh:mm a' }} 
    .col-xs-4
      b You 
      span(ng-show="transaction.intraWallet").
        moved bitcoin to 
      span(ng-show="transaction.receipient && !transaction.intraWallet")
        | sent bitcoin to 
      span(ng-show="transaction.receipient")
        b(ng-show="transaction.receipient.label")
          {{ transaction.receipient.label }}
        b(ng-hide="transaction.receipient.label")
          {{ transaction.receipient.address }}
      span(ng-show="transaction.sender")
        | received bitcoin from 
        b(ng-show="transaction.sender.label")
          {{ transaction.sender.label }}
        b(ng-hide="transaction.sender.label")
          {{ transaction.sender.address }}
    .col-xs-3 
      span.note
        a(href="", ng-hide="transaction.note").add-note Add note
        {{ transaction.note }}
    .col-xs-2
      span(ng-show="transaction.intraWallet")
        a.btn.btn-info.btn-block.btn-sm(href="") {{ settings.currency.symbol }} {{ -transaction.fiat | number:2 }}
      span(ng-show="transaction.result > 0 && !transaction.intraWallet")
        a.btn.btn-success.btn-block.btn-sm(href="") {{ settings.currency.symbol }} {{ transaction.fiat | number:2 }}
      span(ng-show="transaction.result < 0 && !transaction.intraWallet")
        a.btn.btn-danger.btn-block.btn-sm(href="") -{{ settings.currency.symbol }} {{ -transaction.fiat | number:2 }}