.transaction-details
  .row
    .col-xs-12
      a.back(ng-click="back()")
        h4.back Back to feed
  .transaction-card.flex-column.flex
    .tx-date
      span.em-600.prm(translate="TRANSACTION_DETAILS")
      span {{ transaction.txTime * 1000 | date:'MMMM d @ hh:mm a' }}
    .flex
      .tx-details.pal.flex-3
        .tx-sender
          p(translate="FROM")
          strong {{ from }}
        .tx-receiver
          p(translate="TO")
          ul.pln.flex-column.flex.type-sm
            li.flex-center.mbm(ng-repeat="destination in destinations")
              span.prm {{ destination.you }}
              span.text-overflow-hidden.flex-1 {{ destination.address }}
              span.plm.center-align {{ destination.amount }}
        .tx-notes
          p Notes
          transaction-note(transaction="transaction")
      .tx-sidebar.pal.flex-1
        .tx-amount
          amount(transaction="transaction" btc)
        .tx-status
          transaction-status(transaction="transaction")
        .tx-value-then.tx-value(ng-show="settings.currency.code == 'USD'")
          p Value at Send
          fiat(btc="transaction.result" abs date="transaction.txTime")
        .tx-value-now.tx-value
          p Value now
          fiat(btc="transaction.result" abs)
        .tx-bci-link.button-default.button-sm
          a.black(ng-href="http://www.blockchain.info/tx/{{ transaction.hash }}", target="_blank") Verify On Blockchain.info
  .transaction-card.clearfix(ng-if="transaction.publicNote")
    strong Public Note:
    p.mtl {{ transaction.publicNote }}
