.transaction-details.flex-column
  .phl.mvl
    a.flex-center.text.em-400.blue(ng-click="backToTransactions()")
      i.ti-arrow-left.mrm
      span(translate="BACK_TO_FEED")
  .flex-justify.flex-center
    .transaction-card.flex-column.flex.pal
      .border-bottom-light.pbm.mbm
        span.em-500.prm(translate="TRANSACTION_DETAILS" ng-class="{incoming_tx: transaction.result > 0, outgoing_tx: transaction.result < 0, local_tx: transaction.intraWallet}")
        span {{::transaction.time * 1000 | date:'MMMM d @ hh:mm a'}}
      .flex
        .tx-details.pal.flex-3
          .tx-sender
            label(translate="FROM")
            |:
            p.text.mbs {{::input.label}}
          .tx-receiver
            label
              span(translate="TO")
              |:  
            ul.pln.flex-column.flex.type-sm
              li.flex-center.mbm(ng-repeat="destination in destinations")
                span.text-overflow-hidden.flex-1.flex.text
                  | {{::destination.label}}
                span.plm.center-align.text(ng-hide="destinations.length <= 1")
                  fiat-or-btc(btc="destination.amount")
          .mtm.ptm.border-top
            label(translate="NOTE_LC")
            transaction-note(transaction="transaction")
          .mtm.ptm.border-top(ng-if="transaction.publicNote")
            label(translate="PUBLIC_NOTE")
            | :
            p.mtl {{::transaction.publicNote}}
        .border-left.pal.flex-1
          .tx-amount
            amount(transaction="transaction" btc)
          .tx-status
            transaction-status(transaction="transaction")
          .center-align.mbm(ng-show="settings.currency.code == 'USD' && transaction.confirmations > 5")
            p.mbn(translate="VALUE_AT_SEND")
            fiat.em-600(btc="transaction.amount" abs date="transaction.time")
          .center-align.mbm
            p.mbn(translate="VALUE_NOW")
            fiat.em-600(btc="transaction.amount" abs)
          .tx-bci-link.button-default.button-sm
            a.black(ng-href="http://www.blockchain.info/tx/{{ transaction.hash }}", target="_blank")
             span(translate="VERIFY_ON_BCI")
