#transactions
  .row
    .col-xs-12
      h2(translate="TRANSACTIONS")
  .row.transaction(ng-repeat="transaction in transactions | filter:transactionFilter | orderBy:'-txTime'")
    .col-xs-3
      a.date(ui-sref="transaction({accountIndex: accountIndex, hash: transaction.hash})") {{ transaction.txTime | date:'MMMM d @ hh:mm a' }}
    .col-xs-4.description
      transaction-description(transaction="transaction")
    .col-xs-3
      transaction-note(transaction="transaction")
    .col-xs-2(confirmations-tooltip="transaction")
      span(ng-show="transaction.intraWallet")
        button.amount.intra-wallet
          fiat(btc="-transaction.amount")
      span(ng-show="transaction.amount > 0 && !transaction.intraWallet")
        button.amount.received 
          fiat(btc="transaction.amount")
          span(ng-show="transaction.confirmations == 0").glyphicon.glyphicon-warning-sign
      span(ng-show="transaction.amount < 0 && !transaction.intraWallet")
        button.amount.spent 
          | - 
          fiat(btc="-transaction.amount")