.modal-header.flex-center
  h3(translate="UPGRADE_WALLET")        
.modal-body.upgrade-modal
  uib-alert(type="danger", close="insist = false", ng-show="insist")
    span(translate="NEED_SECOND_PASSWORD_FOR_UPGRADE")
  uib-carousel(no-wrap="true")
    uib-slide
      img(src="assets/icons/png/blue-logo.png").logo
      p(translate="UPGRADE_WELCOME")
      p(translate="UPGRADE_EASY")
    uib-slide
      li(translate="UPGRADE_NEW_DESIGN")
    uib-slide
      li(translate="UPGRADE_SECURITY_CENTER")
    uib-slide
      li(translate="UPGRADE_PRIVACY")
    uib-slide
      li(translate="UPGRADE_BACKUP")
    uib-slide
      li(translate="UPGRADE_FUND_MANAGEMENT")
  p
    span(translate="UPGRADE_LIMITATIONS")
    span  
      b(translate="UPGRADE_DISABLES_API_ACCESS", ng-show="settings.apiAccess")
.modal-footer.pal.flex-end
  button.button-muted.mrm(ng-click="cancel()", translate="CANCEL", ng-disabled="busy")
  button.button-success(ui-ladda="busy", ng-click="upgrade()" ng-disabled="waiting", ladda-translate="UPGRADE_NOW", data-style="expand-left")
