.modal-header
  h3(translate="UPGRADE_WALLET")        
.modal-body
  p(translate="UPGRADE_WALLET_EXPLAIN")
.modal-footer
  button.btn.btn-info(ng-click="cancel()", translate="CANCEL")
  button.btn.btn-danger(ng-click="close()", translate="PROCEED")