.modal-header.flex-center
  i.h3.mrm.ti-alert
  h3(translate="UPGRADE_WALLET")        
.modal-body
  p(translate="UPGRADE_WALLET_EXPLAIN")
.modal-footer.pal.flex-end
  button.button-muted.mrm(ng-click="cancel()", translate="CANCEL")
  button.button-danger(ng-click="close()", translate="PROCEED")
