.modal-header.bc-modal-header
  h3
    | BETA PROGRAM PARTICIPATION AGREEMENT
.modal-body
  .flex-column.pal
    p 
      | This Beta Program Participation Agreement (this “Agreement”) is made and entered into by and between Blockchain Lux S.a.r.l. or its affiliates (“Blockchain”), and you, the “User” who uses the Beta Services as hereinafter defined. The terms of any other agreement between Blockchain and User are hereby incorporated into the terms of this Agreement, however, in the case of any conflict, the terms of this Agreement supersede and control, except where otherwise specifically stated herein. This Agreement describes the terms and conditions under which User may access and use certain features, technologies and services that are not yet generally commercially available (each, a “Beta Service”). Blockchain and User are sometimes referred to collectively as the “Parties” and each individually as a “Party.”
    p
      b THE SOFTWARE SUPPLIED TO USER IS IN BETA FORM AND SUPPLIED FOR TESTING PURPOSES ONLY. BUGS, CRASHES AND OTHER MALFUNCTIONS ARE ALMOST CERTAIN TO OCCUR. UNDER NO CIRCUMSTANCES MAY USER USE THE SOFTWARE SUPPLIED IN CONNECTION WITH THE BETA SERVICE TO SECURE MORE THAN $10 WORTH OF BITCOIN.
    p
      b ANY DISPUTES ARISING OUT OF THIS AGREEMENT WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND THE PARTIES WAIVE THEIR RIGHTS TO GO TO COURT OR PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASS- WIDE ARBITRATION.
  .bg-light-blue.flex-column.mtl.pal
    h2 1. Definitions
    p
      ol
        li
          | “Beta Materials” means any hardware, software, specifications or other technical documentation related to a specific Beta Service that may be provided to User by Blockchain.
        li
          | “Beta Use” means the testing and evaluation of a specific Beta Service by User and certain other Blockchain customers or business partners.
        li
          | “Beta Use Information” means all information relating to User’s use, testing or evaluation of a Beta Service or any related Beta Materials, including all observations or information regarding the nature, quality, performance, features or functionality of a Beta Service or any related Beta Materials.
        li
          | “Feedback” means all feedback, suggestions, and ideas that User provides to Blockchain concerning improvements or enhancements to a Beta Service or any related Beta Materials.
        li
          | “Confidential Information” means all nonpublic information disclosed by Blockchain or its agents to User, its affiliates, or the agents of any of the foregoing, that is designated as confidential or that, given the nature of the information or the circumstances surrounding its disclosure, reasonably should be considered as confidential. Confidential Information includes, without limitation (a) nonpublic information relating to Blockchain’ or its affiliates’ technology, customers, business plans, promotional and marketing activities, finances and other business affairs, (b) third-party information that Blockchain or its affiliates is obligated to keep confidential, (c) Beta Materials, Beta Use Information, Feedback, or any other information about or involving (including the existence of) any of the Beta Uses or Beta Services, and (d) the nature, content and existence of this Agreement and any discussions or negotiations between the Parties. Confidential Information does not include any information that (i) is or becomes publicly available without breach of this Agreement, (ii) can be shown by documentation to have been known to the receiving party at the time of its receipt from the disclosing party, (iii) is received from a third party who did not acquire or disclose such information by a wrongful or tortious act, or (iv) can be shown by documentation to have been independently developed by the receiving party without reference to any Confidential Information.
        li
          | “Policies” means all policies and guidelines related to any Beta Service, Beta Materials or other web services offered by Blockchain or its affiliates and made available to User, including privacy policies, terms of use, acceptable use policies, and any additional terms and conditions for a specific Beta Use.
  .flex-column.mtl.pal
    h2 2. Participation in Beta Program
    p
      ul
        li
          | 2.1. Generally. Blockchain grants User a limited, nonexclusive, non- transferable, royalty- free, revocable license to do the following during the term of the applicable Beta Use: (a) access and use the Beta Service solely for internal evaluation purposes; and (b) install, copy, and use any related Beta Materials solely as necessary to access and use the Beta Service in the manner permitted by this Agreement. After the conclusion of a Beta Use, User will not have any further right to use the applicable Beta Service, and if Blockchain releases a generally-available version of the Beta Service, User’s use of the generally commercially available version will be subject to separate terms and conditions. However, Blockchain does not guarantee that any Beta Service will ever be made generally commercially available, or that any generally commercially available version will contain the same or similar functionality as the version made available by Blockchain during the Beta Use.
        li
          | 2.2. Blockchain reserves the right to amend this agreement at its discretion and for any reason by giving 30 days’ notice to User, after which time the amendment will become effective to bind the parties.
        li
          | 2.3. Restrictions and Limitations. User will not:
          ul
            li
              | i. allow access to any Beta Service or Beta Materials by any third party other than User’s employees and contractors who (i) have a need to use or access the Beta Service or Beta Materials in connection with User’s internal evaluation activities and (ii) have executed written nondisclosure agreements obligating them to protect the confidentiality of the Beta Service and Beta Materials;
            li
              | ii. violate any usage limits for a Beta Service that Blockchain may communicate to User;
            li
              | iii. export or allow access to any Beta Service or Beta Materials in any manner contrary to the export regulations of the United States; or
            li
              | iv. otherwise access or use any Beta Service, or install, copy or use any Beta Materials, in any manner or for any purpose not expressly permitted by this Agreement.

          | Blockchain may modify the permitted use of or suspend User’s access to any Beta Service at any time and for any reason. Beta Services also may be unavailable or their performance may be negatively affected by scheduled maintenance. No service levels or other uptime guarantees apply to the Beta Services. Blockchain may or may not, at its discretion, notify User in advance of scheduled maintenance, but Blockchain is unable to provide advance notice of unscheduled or emergency maintenance.
        li
          | 2.4. Beta Use Information and Feedback. Beta Use Information and Feedback. In consideration of the rights granted in this Agreement, User will provide Beta Use Information, when and in the form reasonably requested by Blockchain. Blockchain will have a perpetual and irrevocable right to use, evaluate and otherwise exploit all Beta Use Information for its own purposes. User will not use any Beta Use Information except for its internal evaluation purposes. Blockchain has a perpetual and irrevocable right to use and exploit all Feedback and may use the Feedback without accounting or compensation to User. User will not provide any Beta Use Information or Feedback unless it has all rights necessary to do so.
  .bg-light-blue.flex-column.mtl.pal
    h2 3. Term and Termination
    p
      ul
        li
          | 3.1. Term. Blockchain may, at its discretion, specify the term of each individual Beta Use, but the term will automatically terminate upon the release of a generally commercially available version of the applicable Beta Service. The term of this Agreement will commence on the date you begin to use the Beta Service and will continue until terminated pursuant to Section 3.2.
        li
          | 3.2. Termination. Either Party may terminate User’s participation in an individual Beta Use, or this Agreement entirely, at any time for any reason upon notice to the other Party. Upon termination of this Agreement: (a) all rights and licenses granted to User in this Agreement will immediately terminate; (b) User will immediately return or, if instructed by Blockchain, destroy all Beta Materials or any other confidential or proprietary information of Blockchain or its affiliates related to any Beta Service or this Agreement; and (c) Sections 2.4 and 4 through 8 will survive.
  .flex-column.mtl.pal 
    h2 4. Confidentiality
    p
      ul
        li
          | 4.1. Use and Disclosure. User may not disclose any Confidential Information during the term of this Agreement or at any time during the three (3) year period following the end of the Term. If the Parties have executed a separate non-disclosure agreement (the “NDA”) and there is a conflict between the terms of the NDA and the terms of this Section 4.1, the terms of the NDA will control.
        li
          | 4.2. Publicity. Neither Party will issue any press release or public statement regarding this Agreement or any Beta Use, Beta Service or Beta Materials unless Blockchain has approved in writing the time, form and content of the information to be disseminated to third parties or the public.
  .bg-light-blue.flex-column.mtl.pal
    h2 5. DISCLAIMER OF WARRANTIES
    p
      ul
        li
          | 5.1. THE BETA SERVICES AND BETA MATERIALS ARE NOT READY FOR GENERAL COMMERCIAL RELEASE AND MAY CONTAIN BUGS, ERRORS, DEFECTS OR HARMFUL COMPONENTS. ACCORDINGLY, BLOCKCHAIN IS PROVIDING THE BETA SERVICES AND BETA MATERIALS TO USER 
          b “AS IS.”
          | BLOCKCHAIN MAKES NO WARRANTIES OF ANY KIND WITH RESPECT TO THE BETA SERVICES OR BETA MATERIALS, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. NOTWITHSTANDING ANY PUBLISHED MATERIALS THAT STATE OTHERWISE, BLOCKCHAIN DOES NOT WARRANT THAT THE BETA SERVICES OR BETA MATERIALS WILL BE ERROR-FREE
          | OR THAT THEY WILL MEET ANY SPECIFIED SERVICE LEVEL, OR WILL OPERATE WITHOUT INTERRUPTIONS OR DOWNTIME.
  .flex-column.mtl.pal
    h2 6. LIMITATION OF LIABILITY
    p
      ul
        li
          | 6.1. NEITHER BLOCKCHAIN NOR ANY OF ITS AFFILIATES OR LICENSORS WILL BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR OTHER CONSEQUENTIAL DAMAGES ARISING FROM OR RELATED TO THIS AGREEMENT, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, EVEN IF THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ANY CASE, THE AGGREGATE LIABILITY OF BLOCKCHAIN AND ITS AFFILIATES AND LICENSORS ARISING FROM OR RELATED TO THIS AGREEMENT WILL NOT EXCEED THE AMOUNTS PAID (IF ANY) BY USER TO BLOCKCHAIN UNDER THIS AGREEMENT.  
  .bg-light-blue.flex-column.mtl.pal
    h2 7. Disputes Resolution by Binding Arbitration; Jury Trial Waiver; Class Action Waiver.
    p
      ul
        li
          | 7.1. For any and all controversies, disputes, demands, claims, or causes of action between the parties (including the interpretation and scope of this Section and the arbitrability of the controversy, dispute, demand, claim, or cause of action) relating to the Beta Service, Beta Use or this Agreement (as well as any related or prior agreement), the Parties agree to resolve any such controversy, dispute, demand, claim, or cause of action exclusively through binding and confidential arbitration. The arbitration will take place in the federal judicial district of the User’s residence if the User resides in the United States, or in New York City if the User does not. As used in this Section, “we” and “us” mean Blockchain. In addition, “we” and “us” include any third party providing any product, service, or benefit in connection with the Beta Services or this Agreement (as well as any related or prior agreement that you may have had with us) if such third party is named as a co-party with us in any controversy, dispute, demand, claim, or cause of action subject to this Section.
        li
          | 7.2. Arbitration will be subject to the Federal Arbitration Act and not any state arbitration law. The arbitration will be conducted before one commercial arbitrator from the American Arbitration Association (“AAA”) with substantial experience in resolving commercial contract disputes. As modified by this Agreement, and unless otherwise agreed upon by the parties in writing, the arbitration will be governed by the AAA’s Commercial Arbitration Rules and, if the arbitrator deems them applicable, the Supplementary Procedures for Consumer Related Disputes (collectively, the “Rules and Procedures”). Where no claims or counterclaims exceed $10,000, the dispute will be resolved by the submission of documents without a hearing, unless a hearing is
          | requested by a party or deemed necessary by the arbitrator, in which case, a party may elect to participate telephonically.
        li
          | 7.3. You should review this provision carefully. To the extent permitted by applicable law, 
          b YOU ARE GIVING UP YOUR RIGHT TO GO TO COURT 
          | to assert or defend your rights EXCEPT for matters that you file in small claims court in the state or municipality of your residence within the jurisdictional limits of the small claims court and as long as such matter is only pending in that court. Additionally, notwithstanding this agreement to arbitrate, claims of defamation, and infringement or misappropriation of the other party’s patent, copyright, trademark, or trade secret shall not be subject to this arbitration agreement. Such claims shall be exclusively brought in the state or federal courts located in New York County, New York. Additionally, notwithstanding this agreement to arbitrate, you or we may seek emergency equitable relief before the state or federal courts located in New York County, New York in order to maintain the status quo pending arbitration and hereby agree to submit to the exclusive personal jurisdiction of the courts located within New York County, New York for such purpose. A request for interim measures shall not be deemed a waiver of the right to arbitrate.
        li
          | 7.4. Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury. You are entitled to a FAIR HEARING, BUT the arbitration procedures may be SIMPLER AND MORE LIMITED THAN RULES APPLICABLE IN COURT. Arbitrators’ decisions are as enforceable as any court order and are subject to VERY LIMITED REVIEW BY A COURT.
        li
          | 7.5. You and we must abide by the following rules: (A) ANY CLAIMS BROUGHT BY YOU OR US MUST BE BROUGHT IN THE PARTY’S INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING; (B) THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS, MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING, AND MAY NOT AWARD CLASS-WIDE RELIEF; (c) in the event that you are able to demonstrate that the costs of arbitration will be prohibitive as compared to the costs of litigation, we will pay as much of your filing and hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the arbitration from being cost- prohibitive as compared to the cost of litigation, (d) we also reserve the right, in our sole and exclusive discretion, to assume responsibility for any or all of the costs of the arbitration; (e) the arbitrator will honor claims of privilege and privacy recognized at law; (f) the arbitration will be confidential, and neither you nor we may disclose the existence, content, or results of any arbitration, except as may be required by applicable law or for purposes of enforcement of the arbitration award; (g) subject to the limitation of liability provisions of these Terms, the arbitrator may award any individual relief or
          | individual remedies that are expressly permitted by applicable law; and (h) you and we will pay our respective attorneys’ fees and expenses, unless there is a statutory provision that requires the prevailing party to be paid its fees and litigation expenses and the arbitrator awards such attorneys’ fees and expenses to the prevailing party, and, in such instance, the fees and costs awarded will be determined by the applicable law.
        li
          | 7.7. This Section will survive termination of your account and this Agreement as well as any voluntary payment of any debt in full by you or any bankruptcy by you or us. With the exception of subparts (a) and (b) above of this Section (prohibiting arbitration on a class or collective basis), if any part of this arbitration provision is deemed to be invalid, unenforceable, or illegal, or otherwise conflicts with the Rules and Procedures, then the balance of this arbitration provision will remain in effect and will be construed in accordance with its terms as if the invalid, unenforceable, illegal or conflicting part was not contained herein. If, however, either subpart (a) or (b) above of this Section is found to be invalid, unenforceable, or illegal, then the entirety of this arbitration provision will be null and void, and neither you nor we will be entitled to arbitration. If for any reason a claim proceeds in court rather than in arbitration, the dispute shall be exclusively brought in state or federal court located in New York County, New York.
        li
          | 7.8. YOU AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATING TO THE SERVICE OR THESE TERMS MUST BE FILED WITHIN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE OR IT WILL BE FOREVER BARRED.
  .flex-column.mtl.pal
    h2 8. Miscellaneous
    p
      ul
        li
          | 8.1. Except for those limited rights expressly granted in Section 2.1, Blockchain and its licensors retain all right, title and interest in and to the Beta Services and the Beta Materials, including all related intellectual property rights. The parties are independent contractors with respect to each other, and nothing in this Agreement shall be construed as creating an employer-employee relationship, a partnership, agency relationship or a joint venture between the parties. This Agreement further controls the actions of all party representatives, officers, agents, employees and associated individuals. The terms of this Agreement shall be binding on the parties, and all successors to the foregoing who take their rights hereunder. Neither party will assign, transfer or delegate its rights or obligations under this Agreement (in whole or in part) without the other party’s prior
          | written consent except that Blockchain may assign and delegate this Agreement pursuant to a transfer of all or substantially all of Blockchain’s business and assets, whether by merger, sale of assets, sale of stock, or otherwise. Any attempted assignment, transfer or delegation in violation of the foregoing shall be null and void. All modifications to and waivers of any terms of this Agreement must be in a writing that is signed by the parties hereto and expressly references this Agreement. This Agreement shall be governed by the laws of the State of New York, without regard to New York conflict of laws rules. The exclusive venue and jurisdiction for any and all disputes, claims and controversies arising from or relating to this Agreement shall be the state or federal courts located in New York City. In the event that any provision of this Agreement conflicts with governing law or if any provision is held to be null, void or otherwise ineffective or invalid by a court of competent jurisdiction, (a) such provision shall be deemed to be restated to reflect as nearly as possible the original intentions of the parties in accordance with applicable law, and (b) the remaining terms, provisions, covenants and restrictions of this Agreement shall remain in full force and effect. No waiver of any breach of any provision of this Agreement shall constitute a waiver of any prior, concurrent or subsequent breach of the same or any other provisions hereof, and no waiver shall be effective unless made in writing and signed by an authorized representative of the waiving party. This Agreement and all expressly referenced documents constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes all prior and contemporaneous agreements or communications, including any reseller or similar agreements previously executed by the parties. All notices, consents and approvals under this Agreement must be delivered in writing by email to the email address supplied by one party to the other during the account signup process, or posted to the Blockchain website.
.modal-footer.flex-end.pal
  button.button-success.button-lg(ng-click="$close()" translate="OK")  
