blocket-loading
.welcome-page
  public-header
  //- TEMP
  .legacy
    .quickstart
      #intro-header.container
        .row-fluid
          .span4.col.hidden-phone
            h6 New Users
            p
              | Creating a new bitcoin wallet takes literally a few seconds. You will be able to send and receive payments immediately.
          .span4.col
            h6 Existing Users
            p If you have previously created a My Wallet account click below to login.
          .span4.col.hidden-phone
            h6 Help And Support
            p
              | Please consult the FAQ for commonly asked questions. For any problems with the site, please contact us.
        .row-fluid
          .span4.col.hidden-phone
            p
              a.btn.btn-primary(ui-sref="public.signup") Start A New Wallet
          .span4.col
            p
              a.btn.btn-primary(ui-sref="public.login-no-uid") Login Now
          .span4.col.hidden-phone
            p
              a.btn.btn-info(href='https://blockchain.zendesk.com' target="_blank") Support Pages
  .legacy
    .container
      .page-header
        h1
          | My Wallet 
          small Be Your Own Bank®.
          span.hidden-phone.small-pull-right
            | Confused? Read the 
            a(href='https://blockchain.zendesk.com' target="_blank") Beginners FAQ
            |  - 
            a(href='https://blockchain.info/wallet/how-it-works') How It Works
  .legacy
    .container
      .row-fluid
            .span6
              p
                img(src='/img/blockchain-legacy-rubiks-TEMP.png').img-inline
                | My Wallet is a free online bitcoin wallet, which you can use to make worldwide payments for free. We make paying with bitcoins easy and secure available anywhere on your phone or desktop.
              p
                | We are not a bank; you retain complete ownership of your Money. We cannot view your balance, see your transactions or make payments on your behalf.
              p(align='center')
                a.btn.btn-success(ui-sref="public.signup") Create My Free Wallet
            .span6
              video-container(img="img/legacy-video-placeholder-TEMP.png" video="img/legacy-what-is-bitcoin-TEMP.mp4")
  //- END TEMP

  .welcome-nav.flex-row.flex-between
    .flex-center.flex-column.flex-justify
      h3.thin(translate="I'm New To Bitcoin")
      h4(translate="Why Use Bitcoin?")
    .flex-center.flex-column.flex-justify
      h3.thin(translate="I'm New To Bitcoin")
      h4(translate="Why Use Bitcoin?")

  .split.flex-row
    .left
      .welcome-wrapper
        scroll-in-view(img="img/new-wallet-hero.jpg" shadow="true")  
      scroll-in-view.blocket(img="img/blocket.png")
      scroll-in-view.ios(img="img/ios-feature.png", transactions="true")
    .right
      uib-accordion(close-others="oneAtATime")
        uib-accordion-group(heading="EASE OF USE")
          h4(translate="Send and Receive bitcoin with ease")
          p(translate="Loved by Users. Praised by Geeks. Recognized by the Press. We make using Bitcoin safe, simple, and fun. You can instantly transact with anyone in the world.")
        uib-accordion-group(heading="EASE OF USE")
          h4(translate="Send and Receive bitcoin with ease")
          p(translate="Loved by Users. Praised by Geeks. Recognized by the Press. We make using Bitcoin safe, simple, and fun. You can instantly transact with anyone in the world.")
        uib-accordion-group(heading="EASE OF USE")
          h4(translate="Send and Receive bitcoin with ease")
          p(translate="Loved by Users. Praised by Geeks. Recognized by the Press. We make using Bitcoin safe, simple, and fun. You can instantly transact with anyone in the world.")
      div.apps
        h3.black(translate="One wallet for all your devices")
        a(href="")
          img(src="img/app-store-badge.svg")
        a.mlm(href="")
          img(src="img/google-play-badge.png")
  div.publications.flex-center.flex-around
    a(uib-popover="Here" popover-trigger="mouseenter" popover-class="clean-popover" href="https://www.google.com" target="_blank")
      img(src="img/logo-wsj.svg")
    a(uib-popover="Here" popover-trigger="mouseenter" popover-class="clean-popover" href="https://www.google.com" target="_blank")
      img.mid(src="img/logo-bloomberg.svg")
    a(uib-popover="Here" popover-trigger="mouseenter" popover-class="clean-popover" href="https://www.google.com" target="_blank")
      img(src="img/logo-nytimes.svg")
    a(uib-popover="Here" popover-trigger="mouseenter" popover-class="clean-popover" href="https://www.google.com" target="_blank")
      img.small(src="img/logo-techcrunch.svg")
    a(uib-popover="Here" popover-trigger="mouseenter" popover-class="clean-popover" href="https://www.google.com" target="_blank")
      img(src="img/logo-telegraph.svg")
  .new-user.container-max-width.flex-justify.flex-center
    .col-md-4
      h3.thin(translate="New To Bitcoin?")
      h4(translate="Why use it? What can you do with it? What is it?")
      p(translate="At Blockchain we're dedicated to building the open future of money. We spend countless hours working on refining our technology to make Bitcoin easy to use for all, safe and secure.")
    video-container.col-md-6(img="img/blockchain-ad-placeholder.jpg" video="img/blockchain-ad.mp4")
  div.squares
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="UPGRADE_SECURITY_CENTER")
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="UPGRADE_BACKUP")
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="REVAMPED")
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="UPGRADE_FUND_MANAGEMENT")
  .container-max-width.android
    .flex-row.flex-top.flex-between
      scroll-in-view.flex-1(img="img/android-feature.jpg")
      ul.flex-1
        li
          span.heavy(translate="HD_ARCH") 
          |  
          span(translate="PRIVACY_IN_MIND")
        li
          span.heavy(translate="SECURITY_AUDITS")
          |  
          span(translate="AES_ENCRYPTION")
        li
          span.heavy(translate="CLIENT_SIDE")
          |  
          span(translate="CLIENT_SIDE_ENCRYPTION")
      ul.flex-1
        li
          span.heavy(translate="OPEN_SOURCE") 
          |  
          span(translate="OPEN_SOURCE_DES")
        li
          span.heavy(translate="DYN_TX_FEE_ADJ")
          |  
          span(translate="DYN_TX_FEE_ADJ_DES")
        li
          span.heavy(translate="INTEROP")
          |  
          span(translate="INTEROP_DES")
        li
          span.heavy(translate="OTHER_FEATURES")
          |  
          p(translate="CONVERSION_RATES")
          p(translate="LANGUAGES_FEAT")
          p(translate="WATCH_ONLY")
          p(translate="SECOND_PASSWORD_PROTECTION")
          p(translate="LOGIN_IP_RESTRICTION")
  a(ui-sref="public.login-no-uid")
    img.footer-hero(src="img/footer-hero.jpg")