.welcome-page
  .navbar.navbar-default.navbar-inverse.bc-header(role='navigation')
    .container-fluid
      .navbar-header.flex-between
        a(ui-sref="wallet.common.home") 
          img#logo(src="img/logo-updated.png",alt="Blockchain")
        button.navbar-toggle(type="button", ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
          span.sr-only Toggle navigation
          span.ti-menu.h4.white
      .navbar-collapse.collapse(ng-class="{'in bg-blue' : !navCollapsed}", ng-click="navCollapsed=true")
        ul.nav.navbar-nav.navbar-right
          li.item
            a.pam(href="https://www.blockchain.info", translate="EXPLORER")
          li.item
            a.pam(href="https://www.blockchain.info/charts", translate="CHARTS")
          li.item
            a.pam(href="https://www.blockchain.info/api", translate="API")
          li.item.active
            a.pam(href="#", translate="WALLET")
          li.item
            a.pam(href="https://blockchain.com/about", translate="ABOUT")
          li.item
            a.pam(href="https://blockchain.zendesk.com/", translate="SUPPORT")
  .intro
    .flex-justify.flex-center.flex-column
      h4 It's Here
      h1 The New Blockchain Wallet
      div
        span.type-h5 Safer / 
        span.type-h5 Friendlier / 
        span.type-h5 Easier
      .flex-justify.flex-center.flex-row
        button Login
        button Sign Up
  .welcome-wrapper
    scroll-in-view(img="new-wallet-hero.png" shadow="true")  
  scroll-in-view.blocket(img="blocket.png")
  h3 The most advanced Blockchain wallet experience is here, now even more so.
  scroll-in-view(img="ios-feature.png", transactions="true")
  h3.type-h5
    a(href="").type-h5 iOs &bull;
    a(href="").type-h5  Android &bull;
    a(href="").type-h5  Web
  div.squares
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4 Robust security center
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4 Simplified back-up and recovery
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4 Revamped design and user experience
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4 Customized fund management
  .welcome-wrapper.android
    .flex-row.flex-justify.flex-center
      scroll-in-view.col-md-6(img="android-feature.jpg")
      .flex-column
        h2 Sending and receiving Bitcoin has never been so easy
        h3 We've taken our time to build and test the most user-friendly interface for our wallet.
  img.footer-hero(src="img/footer-hero.jpg")