.row
  .col-xs-3
    table#accounts-header
      tr
        td My Accounts
        td.right
          a(ng-click="generateAddress()") + NEW
    table#accounts
      tr.active
        td All Accounts
        td.amount {{ totals.fiat | currency:"$" }} USD
      tr(ng-repeat="address in addresses | filter:{active:true}")
        td 
          a(href="" tooltip-placement="right" tooltip="{{ address.address }}")
            {{ address.name }}
        td.amount {{ address.balance | currency:"$" }} USD
          
  .col-xs-9
    h1 {{ totals.fiat | currency:"$" }}
    p {{ totals.btc | currency:"" }} BTC
        