.row
  .col-xs-2
  .col-xs-10
    .row
      .col-md-12
        ul
          li(ng-repeat="address in addresses | filter:{active:true}")
            {{ address.address }}
    .row(ng-show="status.isLoggedIn")
      .col-md-12
        button.btn.btn-primary(ng-click="generateAddress()") New address