.welcome-page
  public-header
  .intro
    .flex-justify.flex-center.flex-column
      h4 It's Here
      h1 The New Blockchain Wallet
      div
        span.type-h5(translate="SAFER")
        span.type-h5  / 
        span.type-h5(translate="FRIENDLIER")
        span.type-h5  / 
        span.type-h5(translate="EASIER")
      .flex-justify.flex-center.flex-row
        button(ui-sref="public.login-no-uid" translate="LOGIN")
        button(ui-sref="public.signup" translate="SIGN_UP")
  .welcome-wrapper
    scroll-in-view(img="img/new-wallet-hero.png" shadow="true")  
  scroll-in-view.blocket(img="img/blocket.png")
  h3(translate="MOST_ADVANCED")
  scroll-in-view.ios(img="img/ios-feature.png", transactions="true")
  h3.type-h5
    a(href="https://itunes.apple.com/us/app/blockchain-bitcoin-wallet/id493253309?mt=8" target="_blank").type-h5 iOS
    span &nbsp;&bull;
    a(href="https://play.google.com/store/apps/details?id=piuk.blockchain.android&hl=en" target="_blank").type-h5  Android
    span &nbsp;&bull;&nbsp;
    a(ui-sref="public.login-no-uid" translate="WEB").type-h5  
  div.squares
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="UPGRADE_SECURITY_CENTER")
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="UPGRADE_BACKUP")
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="REVAMPED")
    div
      img(src="img/square.png")
      div.background
      div.donut
      p.type-h4(translate="UPGRADE_FUND_MANAGEMENT")
  .welcome-wrapper.android
    .flex-row.flex-justify.flex-center
      scroll-in-view.col-md-6(img="img/android-feature.jpg")
      .flex-column
        h2(translate="SENDING")
        h3(translate="BUILD_TEST")
  a(ui-sref="public.login-no-uid")
    img.footer-hero(src="img/footer-hero.jpg")
blocket-loading