.left-navigation(ng-show="status.isLoggedIn")
  ul.aside
    contextual-message
    li.header(ui-sref-active="current", ng-click="hideMenu()")
      a(ui-sref="wallet.common.dashboard")
        i.ti-home
        span(translate="HOME")
    li.scroll-parent.header.scroll-hidden(ui-sref-active="current")
      a(ui-sref="wallet.common.transactions({accountIndex: getMainAccountId() })")
        i.ti-layout-list-post
        span(translate="MY_TRANSACTIONS") 
      ul.scroll-accounts.aside-list.pas(ng-show="selectedAccountIndex != 'imported' && showOrHide('transactions')", ng-click="hideMenu()")
        li.mvs(ng-class="selectedAccountIndex == 'accounts' ? 'active' : ''", ui-sref="wallet.common.transactions({accountIndex:'accounts'})", ng-hide="!status.didUpgradeToHd || numberOfActiveAccounts() <= 1")
          a.pas(translate="ALL_ACCOUNTS")
            span
              fiat-or-btc(btc="total()")    
        li(ng-repeat="account in accounts()" ng-class="selectedAccountIndex != '' && $index == selectedAccountIndex ? 'active' : ''" ui-sref="wallet.common.transactions({accountIndex: account.index.toString()})")
          a.flex-between.pas(ng-if="!account.archived")
            span.prs {{ account.label }}
            span
              fiat-or-btc(btc="account.balance")
      li.action-bar(ng-show="selectedAccountIndex != 'imported' && showOrHide('transactions')")
        a.new-acct(ng-click="newAccount()", translate="NEW_ACCOUNT")
    li.header(ng-show="numberOfActiveLegacyAddresses() > 0" ng-class="{current:selectedAccountIndex == 'imported'}")
      a(ui-sref="wallet.common.transactions({accountIndex:'imported'})")
        i.ti-agenda
        span(translate="IMPORTED_ADDRESSES")
      ul.aside-list.pas.pln(ng-show="showImported()", ng-click="hideMenu()")
        li.mvs(ng-class="selectedAccountIndex == 'imported' ? 'active' : ''")
          a.pas(translate="ALL_ADDRESSES")
            span
              fiat-or-btc(btc="legacyTotal()")
        li
          a.pas(ui-sref="wallet.common.settings.addresses", translate="VIEW_ADDRESSES")
    li.header.mbm(ui-sref-active="current",  ng-click="hideMenu()")
      a(ui-sref="wallet.common.security-center")
        i.bc-icon-security.security-red(ng-show="security.level <= 2")
        i.bc-icon-security.security-yellow(ng-show="security.level > 2 && security.level < 6")
        i.bc-icon-security.security-green(ng-show="security.level == 6")
        span(translate="SECURITY")
        .progress-bar-wrapper.mlm(ng-hide="security.level == 6")
          .bar(ng-class="'level-' + security.level")
    li.scroll-parent.header.mbm(ui-sref-active="current")
      a(ui-sref="wallet.common.settings")
        i.ti-settings
        span(translate="SETTINGS")
      ul.scroll-settings.aside-list.pas(ng-show="showOrHide('settings')" ng-click="hideMenu()")
        li.mts.mbm(ui-sref-active="active")
          a.pas(ui-sref="wallet.common.settings.wallet", translate="WALLET_SETTINGS")
        li.mvm(ui-sref-active="active")
          a.pas(ui-sref="wallet.common.settings.my-details", translate="MY_DETAILS")
        li.mvm(ui-sref-active="active")
          a.pas(ui-sref="wallet.common.settings.addresses", translate="MY_ADDRESSES")
        li.mvm(ui-sref-active="active")
          a.pas(ui-sref="wallet.common.settings.accounts", translate="MY_ACCOUNTS")
        li.mvm(ui-sref-active="active")
          a.pas(ui-sref="wallet.common.settings.wallet-recovery", translate="WALLET_RECOVERY")
        li.mvm(ui-sref-active="active")
          a.pas(ui-sref="wallet.common.settings.advanced", translate="ADVANCED")
        li.mvm(ui-sref-active="active")
          a.pas(ui-sref="wallet.common.settings.mobile", translate="MOBILE")
    li.header.mbm(ui-sref-active="current", ng-click="hideMenu()")
      a(ui-sref="wallet.common.support")
        i.ti-headphone
        span(translate="CONTACT_SUPPORT")
    li.header.mbm(ui-sref-active="current", ng-click="hideMenu()")
      a(ui-sref="wallet.common.feedback")
        i.ti-thumb-up
        span(translate="SEND_FEEDBACK")
  ul.aside.wallet-footer
    li.header.adverts.mbm
      span(translate="SPONSORS")
      adverts
    li.terms-policy
      ul.flex-center.aside.em-300.type-sm
        li.pointer.mrm(ng-click="termsOfService()", translate="TOS")
        li.mrm.type-xs
          i.ti-control-record
        li.pointer(ng-click="privacyPolicy()", translate="PRIVACY")
