.shift-progress
  .flex-column.flex-center
    span.flex-justify
      i.icon-paper-airplane
    span.mt-10(translate="Sending Funds")
  .flex-column.flex-center
    span.flex-justify
      i.icon-ExchangeTab
    span.mt-10(translate="Exchange in Progress")
  .flex-column.flex-center
    span.flex-justify
      i.icon-completed-check
    span.mt-10(translate="Trade Completed")
