div(translate-namespace="SHIFT")
  .shift-progress(ng-show="!$ctrl.onStep('failed')")
    .flex-column.flex-center(ng-class="{active: $ctrl.onStep('no_deposits'), complete: $ctrl.afterStep('no_deposits')}")
      span.flex-justify.flex-center
        i.icon-paper-airplane
        i.icon-paper-airplane
      span.mt-10(translate="{{ $ctrl.onStep('no_deposits') ? '.SENDING_FUNDS' : '.FUNDS_SENT' }}")
    .flex-column.flex-center(ng-class="{active: $ctrl.onStep('received'), complete: $ctrl.afterStep('received')}")
      span.flex-justify.flex-center
        i.icon-ExchangeTab
        img(ng-src="img/exchange-processing.gif")
      span.mt-10(translate=".EXCHANGE_IN_PROGRESS")
    .flex-column.flex-center(ng-class="{complete: $ctrl.onStep('complete')}")
      span.flex-justify.flex-center
        i.icon-completed-check
      span.mt-10(translate="TRADE_COMPLETE")
  .shift-failed(ng-show="$ctrl.onStep('failed') || $ctrl.onStep('resolved')")
    .flex-column.flex-center
      span.flex-justify.flex-center
        i.icon-alert
