.shift-progress
  .flex-column.flex-center
    span.flex-justify.flex-center
      i.icon-paper-airplane
      i.icon-paper-airplane
    span.mt-10(translate="Sending Funds")
  .flex-column.flex-center
    span.flex-justify.flex-center
      i.icon-ExchangeTab
      img(ng-src="img/exchange-processing.gif")
    span.mt-10(translate="Exchange in Progress")
  .flex-column.flex-center
    span.flex-justify.flex-center
      i.icon-completed-check
    span.mt-10(translate="Trade Completed")
