p.headliner.hidden-xs(translate="ACCOUNT_MANAGEMENT_EXPLAIN")
  
.row.form-ctrl
  .col-xs-12.col-sm-7.col-md-8.col-lg-6
    input.filter(type="text", ng-model="searchText").form-control
  .hidden-xs.col-sm-5.col-md-4.col-lg-6(align="right")
    a.btn.btn-info.btn-bci(ng-click="newAccount()", translate="CREATE_NEW_ACCOUNT")
    a.btn.btn-info.btn-bci(ng-click="transfer(address)", translate="TRANSFER_BETWEEN_ACCOUNTS") (transfer)
.row
  .col-xs-12
    table.responsive
      tr
        th(translate="ACCOUNT_NAME")
        th(translate="BALANCE")
        th
        th
        th
        //- th
      tr(ng-repeat="account in accounts | filter:searchText | filter:{active: true}")
        td(ng-bind-html="account.label | highlight:searchText")
        td 
          span.btc {{ account.balance | btc }} 
          fiat.fiat(btc="account.balance") 
        td 
          a(translate="MAKE_DEFAULT", ng-hide="account.isDefault", ng-click="makeDefault(account)")
          span.label.label-primary(translate="DEFAULT", ng-show="account.isDefault")
        td 
          a(translate="RENAME",          ng-click="editAccount(account)")
        td 
          a(translate="BITCOIN_ADDRESS", ng-click="showAddress(account)")
        //- td
        //-   a(translate="ARCHIVE",          ng-click="archive(account)")

div.settings-options

h2(translate="ARCHIVED_ACCOUNTS", ng-click="display.archived = !display.archived")

p.hidden-xs(translate="ARCHIVED_ACCOUNTS_EXPLAIN", ng-show="display.archived")
  
.row(ng-show="display.archived") 
  p Coming soon...

.row(ng-show="display.archived")
  .col-xs-12
    table.responsive
      tr
        th(translate="ACCOUNT_NAME")
        th
        th
      tr(ng-repeat="account in accounts | filter:searchText | filter:{active: false}")
        td(ng-bind-html="account.label | highlight:searchText")
        td 
          a(translate="RENAME",          ng-click="editAccount(account)")
        td
          a(translate="UNARCHIVE",          ng-click="unarchive(account)")
