h5.well.headliner.hidden-xs(translate="ACCOUNT_MANAGEMENT_EXPLAIN")
  
.row.pvl
  .col-xs-12.flex-center
    .filter-search-alt.width-100.pos-rel.mrm
      input(type="text" ng-model="searchText")
      i.ti-search.pos-abs
    a.button-primary.mrm.hidden-xs.button-nowrap(ng-click="newAccount()" translate="CREATE_ALT")
    a.button-default.hidden-xs.button-nowrap(ng-click="transfer(address)"  ng-show="numberOfActiveAccounts() > 1" translate="TRANSFER") (transfer)
.row
  .col-xs-12
    .account-container.pam.mvm.clearfix(ng-repeat="account in accounts() | filter:{archived: false, label: searchText}")
      .clearfix.flex-center.border-bottom.pbl
        .col-xs-6
          h2
            span(ng-bind-html="account.label | highlight:searchText")
            span.label.label-primary(translate="DEFAULT", ng-show="isDefault(account)")
        .col-xs-6.right-align
          p.man(ng-show="account.balance != null") {{ account.balance | toBitCurrency:settings.btcCurrency }}
          p.man(btc="account.balance", ng-show="account.balance != null")
      .col-xs-12.mtm
        ul.man.pan
          li
            a(translate="RENAME",          ng-click="editAccount(account)")
          li
            a(translate="MAKE_DEFAULT", ng-hide="isDefault(account)", ng-click="makeDefault(account)")            
          li
            a(translate="BITCOIN_ADDRESS", ng-click="showAddress(account)")
          li
            a(translate="ARCHIVE",          ng-click="archive(account)", ng-hide="isDefault(account)")

.mtl
  button.button-default(translate="ARCHIVED_ACCOUNTS", ng-click="display.archived = !display.archived" ng-class="{active : display.archived}")
  p.mtm.hidden-xs(translate="ARCHIVED_ACCOUNTS_EXPLAIN", ng-show="display.archived")

.row(ng-show="display.archived")
  .col-xs-12.table-container
    table.responsive
      tr
        th(translate="ACCOUNT_NAME")
        th
      tr(ng-repeat="account in accounts() | filter:{archived: true, label: searchText}")
        td(ng-bind-html="account.label | highlight:searchText")
        td
          a(translate="UNARCHIVE",          ng-click="unarchive(account)")
