h2(translate="MY_ADDRESSES")

p(translate="MY_ADDRESSES_EXPLAIN")
  
.row
  .col-xs-6
    | [All accounts]
    input(type="text", ng-model="searchText", placeholder="filter by address or label")
  .col-xs-6(align="right")
    .btn-group(dropdown is-open="display.account_dropdown_open")
      button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        span(translate="NEW_ADDRESS")
        span.caret
      ul.dropdown-menu(role="menu")
        li(ng-repeat="account in accounts")
          a(ng-click="generateRequestForAccount(account.index)") {{ account.label }}
.row
  .col-xs-12
    table
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th(translate="ACCOUNT")
        th(translate="REQUESTED_AMOUNT")
        th
        th    
      tr(ng-repeat="request in requests | filter:{canceled:false, complete:false} | filter:searchText")
        td {{ request.address }}
        td(ng-bind-html="request.label | highlight:searchText")
        td 
          {{ accounts[request.account].label }}
        td.amount
          fiat(btc="request.amount", ng-show="request.amount > 0")
          span.label.label-success(ng-show="request.amount > 0 && request.complete", translate="REQUEST_PAID")
          span(ng-show="request.paid != 0 && request.amount != 0 && request.amount != request.paid && !request.complete")
            span.label.label-warning(ng-show="request.amount > request.paid", translate="INSUFFICIENT")
            span.label.label-warning(ng-show="request.amount < request.paid", translate="TOO_MUCH")  
            br
            span(translate="RECEIVED_X", translate-values="{amount: request.amount / 100000000, paid: request.paid / 100000000}")
        td 
          a(ng-click="open(request)", translate="DETAILS")
        td
          a.btn.btn-xs.btn-info(ng-hide="request.complete || request.paid > 0", ng-click="clear(request)") Clear
          a.btn.btn-xs.btn-warning(ng-show="request.paid != 0 && request.amount != 0 && request.amount != request.paid && !request.complete", ng-click="accept(request)") Accept

h2(translate="IMPORTED_ADDRESSES")

p(translate="IMPORTED_ADDRESSES_EXPLAIN")

  .row
    .col-xs-6
      input(type="text", ng-model="searchTextLegacy", placeholder="filter by address or label")
    .col-xs-6(align="right")
      a.btn.btn-info(ng-click="importAddress()", translate="IMPORT_ADDRESS")

.row
  .col-xs-12
    table
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th(translate="BALANCE")
        th
        th
        th
      tr(ng-repeat="address in legacyAddresses | filter:{active: true} | filter:searchTextLegacy")
        td
          span(ng-bind-html="address.address | highlight:searchTextLegacy")
          span.label.label-warning(ng-show="address.isWatchOnlyLegacyAddress", translate="WATCH_ONLY")    
        td(ng-bind-html="address.label | highlight:searchTextLegacy")
        td 
          span(ng-show="address.balance != null")
            span.btc{{ address.balance | btc }}
            fiat.fiat(btc="address.balance") 
          //- span(us-spinner="{radius:6, width:6, length: 6}" spinner-key="{{ address.address }}" spinner-start-active="true" ng-show="address.balance == null")
          img(ng-show="address.balance == null" src="img/spinner.gif")
        td
          a(ui-sref="settings.address({address: address.address})", translate="DETAILS")
        td 
          a(translate="TRANSFER", ng-click="transfer(address)")
        td 
          a(translate="ARCHIVE", ng-click="archive(address)")

h2(translate="ARCHIVED_ADDRESSES", ng-click="display.archived = !display.archived")

p(translate="ARCHIVED_ADDRESSES_EXPLAIN", ng-show="display.archived")

.row(ng-show="display.archived")
  .col-xs-12
    input(type="text", ng-model="searchTextArchived", placeholder="filter by address or label")
.row(ng-show="display.archived")
  .col-xs-12
    table
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th
        th
          th
      tr(ng-repeat="address in legacyAddresses | filter:{active: false} | filter:searchTextArchived")
        td(ng-bind-html="address.address | highlight:searchTextArchived")
        td(ng-bind-html="address.label | highlight:searchTextArchived")
        td 
          a(translate="TRANSFER")
        td 
          a(translate="UNARCHIVE", ng-click="unarchive(address)")
        td
          a(translate="DELETE", ng-click="delete(address)")