.row
  .col-xs-12
    a.back(ng-click="back()")
      h2.back(translate="ADDRESS_DETAILS")

div(ng-hide="address.address")
  img(src="img/spinner.gif")
div(ng-show="address.address")
  .row
    .col-xs-12.col-md-6
      fields.form-horizontal(role="form",name="form",novalidate)
        .form-group
          label.col-sm-3.control-label(translate="ADDRESS")
          .col-sm-9
            p.form-control-static.long-input
              | {{ address.address }}  
              span.label.label-warning(ng-show="address.isWatchOnlyLegacyAddress", translate="WATCH_ONLY")              
        .form-group(ng-show="address.account")
          label.col-sm-3.control-label(translate="ACCOUNT")
          .col-sm-9
            p.form-control-static
              | {{ address.accountLabel }}
        .form-group(ng-class="{'has-error': errors.label}")
          label.col-sm-3.control-label(translate="LABEL")
          .col-sm-9(ng-if="address")
            bc-async-input(inline ng-model="address.label", on-save="changeLabel")    
            span.help-block {{ errors.label }}
        //- .form-group(ng-class="{'has-error': errors.label}")
        //-   label.col-sm-3.control-label(translate="LABEL")
        //-   .col-sm-9
        //-     input.form-control(type="text", ng-model="newLabel", ng-focus="show.editLabel = 1")
        //-     span.help-block {{ errors.label }}
        //- div(ng-show="show.editLabel")
        //-   button.btn.btn-primary.btn-small(ng-click="changeLabel(newLabel)",ng-disabled="address.label == newLabel", translate="SAVE_CHANGES")
        //-   button.btn.btn-info.btn-small(ng-click="newLabel = address.label; show.editLabel = false", translate="CLEAR")
        .form-group(ng-show="address.isWatchOnlyLegacyAddress")
          label.col-sm-3.control-label(translate="WARNING")  
          .col-sm-9
            p(translate="WATCH_ONLY_EXPLAIN")
        
    .col-xs-12.col-md-6.text-center
      a(ng-click="show.watchOnly = true", ng-show="address.isWatchOnlyLegacyAddress && !show.watchOnly", translate="DISPLAY_QR")
      p(ng-show="address.isWatchOnlyLegacyAddress")
      qr(text="url" size="140", ng-show="!address.isWatchOnlyLegacyAddress || show.watchOnly", ng-if="url != null")
  hr(ng-hide="address.isWatchOnlyLegacyAddress") 
  
  //- h2(translate="ADVANCED_OPTIONS", ng-hide="address.isWatchOnlyLegacyAddress")
  //-
  //- p(translate="SIGN_MESSAGE_EXPLAIN", ng-hide="address.isWatchOnlyLegacyAddress")
  //-
  //- p(ng-hide="address.isWatchOnlyLegacyAddress")
  //-   a(translate="SIGN_MESSAGE", ng-click="signMessage()")