.row
  .col-xs-12.mbl
    a.flex-center.text.em-400.blue(ng-click="back()")
      i.ti-arrow-left.mrm
      span(translate="BACK")
        
.row
  .col-xs-12.col-md-6
  .col-xs-12.col-md-6
    .flex-1.mrl.filter-search-alt.width-100.pos-rel
      input(type="text", ng-model="searchText")
      i.ti-search.pos-abs

h2(translate="ADDRESS_BOOK")

.row
  .col-xs-12
    table.responsive.width-100.account-container
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th
      tr(
        address-book-entry="address", 
        search-text="searchText",
        ng-repeat="address in addressBook() | addressOrNameMatch:searchText"
      )
