.row
  .col-xs-12.mbl
    a.flex-center.text.em-400.blue(ng-click="back()")
      i.ti-arrow-left.mrm
      span(translate="BACK")

h5.well.type-h5.em-400.hidden-xs(translate="MY_ADDRESSES_EXPLAIN")

.row
  .col-xs-6
    button.btn.button-primary(role="button", ng-click="createAddress()", translate="CREATE_ADDRESS")
  .col-xs-6
    .flex-1.width-100.filter-search-alt.pos-rel
      input(type="text", ng-model="searchText")
      i.ti-search.pos-abs

h2(translate="HD_ADDRESSES_FOR_ACCOUNT", translate-values="{account: account.label}")

.row
  .col-xs-12.table-container
    table.addresses-container.responsive.width-100
      tr
        th.shrink(translate="ADDRESS")
        th.expand(translate="LABEL")
        th.shrink
      tr(
        hd-address="address" 
        search-text="searchText" 
        ng-repeat="address in hdAddresses() | addressOrNameMatch:searchText | orderBy:'-index' track by address.index"
        ng-class="{'address-animate': !searchText}"
      )
