h5.well.headliner.hidden-xs(translate="MY_ADDRESSES_EXPLAIN_TEMP")

div(ng-show="hdAddresses.length == 0")
  img(src="img/spinner.gif")
div(ng-show="hdAddresses.length > 0")
  .form-ctrl.flex-between.flex-center
    .flex-1.mrl
      input.filter(type="text", ng-model="searchText").form-control
    .btn-group(dropdown is-open="display.account_dropdown_open")
      button.btn.btn-info.dropdown-toggle.btn-bci(dropdown-toggle type="button", data-toggle="dropdown", aria-expanded="false")
        span(translate="NEW_ADDRESS")
        span.caret
      ul.dropdown-menu(role="menu")
        li(ng-repeat="account in accounts")
          a(ng-click="addAddressForAccount(account)") {{ account.label }}
  .row
    .col-xs-12.table-container
      table.responsive
        tr
          th(translate="ADDRESS")
          th.hidden-xs(translate="LABEL")
          th.hidden-xs(translate="ACCOUNT")
          //- th(translate="REQUESTED_AMOUNT")
          //- th
          //- th  
        //- tr(ng-repeat="request in requests | filter:{canceled:false, complete:false} | filter:searchText")
        tr(ng-repeat="address in hdAddresses  | filter:searchText | orderBy:['account.index', 'index']")
          td
            a(ng-bind-html="address.address | highlight:searchText", ui-sref="wallet.common.settings.address({address: address.address})")
          td.hidden-xs(ng-bind-html="address.label | highlight:searchText")
          td.hidden-xs(ng-bind-html="address.accountLabel | highlight:searchText")

          //- td.amount
          //-   fiat(btc="request.amount", ng-show="request.amount > 0")
          //-   span.label.label-success(ng-show="request.amount > 0 && request.complete", translate="REQUEST_PAID")
          //-   span(ng-show="request.paid != 0 && request.amount != 0 && request.amount != request.paid && !request.complete")
          //-     span.label.label-warning(ng-show="request.amount > request.paid", translate="INSUFFICIENT")
          //-     span.label.label-warning(ng-show="request.amount < request.paid", translate="TOO_MUCH")
          //-     br
          //-     span(translate="RECEIVED_X", translate-values="{amount: request.amount / 100000000, paid: request.paid / 100000000}")
          //- td 
            //- a(ng-click="open(request)", translate="DETAILS")
            //- a(ui-sref="wallet.common.settings.address({address: address.address})", translate="DETAILS")
          //- td
          //-   a.btn.btn-xs.btn-info(ng-hide="request.complete || request.paid > 0", ng-click="clear(request)") Clear
          //-   a.btn.btn-xs.btn-warning(ng-show="request.paid != 0 && request.amount != 0 && request.amount != request.paid && !request.complete", ng-click="accept(request)") Accept

.flex.mtl
  button.button-default.mrl(translate="IMPORTED_ADDRESSES", ng-click="toggleDisplayImported()" ng-class="{active : display.imported}")
  button.button-default(translate="ARCHIVED_ADDRESSES", ng-click="toggleDisplayArchived()" ng-class="{active : display.archived}")

p.mtl.hidden-xs(translate="IMPORTED_ADDRESSES_EXPLAIN", ng-show="display.imported")
p.mtl.hidden-xs(translate="ARCHIVED_ADDRESSES_EXPLAIN", ng-show="display.archived")

.flex-between.flex-center.form-ctrl(ng-show="display.imported")
  .flex-1.mrl
    input.filter(type="text", ng-model="searchTextLegacy").form-control
  a.btn.btn-info.btn-bci(ng-click="importAddress()", translate="IMPORT_ADDRESS")

.row(ng-show="display.imported")
  .col-xs-12.table-container
    table.responsive
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th(translate="BALANCE")
        th
        th
        th
      tr(ng-repeat="address in legacyAddresses | filter:{active: true} | filter:searchTextLegacy")
        td
          a(ng-bind-html="address.address | highlight:searchTextLegacy", ui-sref="wallet.common.settings.address({address: address.address})")
          span.label.label-warning(ng-show="address.isWatchOnlyLegacyAddress", translate="WATCH_ONLY")    
        td(ng-bind-html="address.label | highlight:searchTextLegacy")
        td 
          span(ng-show="address.balance != null")
            span.btc {{ address.balance | toBitCurrency:settings.btcCurrency }}
            fiat.fiat(btc="address.balance") 
          //- span(us-spinner="{radius:6, width:6, length: 6}" spinner-key="{{ address.address }}" spinner-start-active="true" ng-show="address.balance == null")
          img(ng-show="address.balance == null" src="img/spinner.gif")
        //- td
          //- a(ui-sref="wallet.common.settings.address({address: address.address})", translate="DETAILS")
        td 
          a(translate="TRANSFER", ng-click="transfer(address)")
        td 
          a(translate="ARCHIVE", ng-click="archive(address)")
        td 
          a(translate="YOUR_PRIVATE_KEY", ng-hide="address.isWatchOnlyLegacyAddress", ng-click="showPrivKey(address)")


.row.form-ctrl(ng-show="display.archived")
  .col-xs-12.col-lg-6
    input.filter(type="text", ng-model="searchTextArchived").form-control
.row(ng-show="display.archived")
  .col-xs-12.table-container
    table.responsive
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th(translate="BALANCE")
        th
          th
      tr(ng-repeat="address in legacyAddresses | filter:{active: false} | filter:searchTextArchived")
        td(ng-bind-html="address.address | highlight:searchTextArchived")
        td(ng-bind-html="address.label | highlight:searchTextArchived")
        td 
          span(ng-show="address.balance != null")
            span.btc {{ address.balance | toBitCurrency:settings.btcCurrency }}
            fiat.fiat(btc="address.balance") 
          img(ng-show="address.balance == null" src="img/spinner.gif")
        td 
          a(translate="UNARCHIVE", ng-click="unarchive(address)")
        td
          a(translate="DELETE", ng-click="delete(address)")
