h2(translate="MY_ADDRESSES")

p(translate="MY_ADDRESSES_EXPLAIN")
  
.row
  .col-xs-6
    | [All accounts]
    input(type="text", ng-model="searchText", placeholder="filter by address or label")
  .col-xs-6(align="right")
    a.btn.btn-info(ng-click="newAddress()", translate="NEW_ADDRESS")
.row
  .col-xs-12
    table
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th(translate="ACCOUNT")
        th
      tr(ng-repeat="address in hdAddresses | filter:searchText")
        td
          {{ address.address }}
        td(ng-bind-html="address.label | highlight:searchText")
        td 
          {{ address.account.label }}
        td 
          a(translate="DETAILS")

h2(translate="IMPORTED_ADDRESSES")

p(translate="IMPORTED_ADDRESSES_EXPLAIN")

  .row
    .col-xs-6
      input(type="text", ng-model="searchTextLegacy", placeholder="filter by address or label")
    .col-xs-6(align="right")
      a.btn.btn-info(ng-click="importAddress()", translate="IMPORT_ADDRESS")

.row
  .col-xs-12
    table
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th(translate="BALANCE")
        th
        th
      tr(ng-repeat="address in legacyAddresses | filter:{active: true} | filter:searchTextLegacy")
        td(ng-bind-html="address.address | highlight:searchTextLegacy")
        td(ng-bind-html="address.label | highlight:searchTextLegacy")
        td 
          span.btc{{ address.balance | btc }}
          fiat.fiat(btc="address.balance") 
        td 
          a(translate="TRANSFER")
        td 
          a(translate="ARCHIVE", ng-click="archive(address)")

h2(translate="ARCHIVED_ADDRESSES", ng-click="display.archived = !display.archived")

p(translate="ARCHIVED_ADDRESSES_EXPLAIN", ng-show="display.archived")

.row(ng-show="display.archived")
  .col-xs-6
    input(type="text", ng-model="searchTextArchived", placeholder="filter by address or label")
  .col-xs-6(align="right")
    a.btn.btn-info(ng-click="importAddress()", translate="IMPORT_ADDRESS")
.row(ng-show="display.archived")
  .col-xs-12
    table
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th
        th
          th
      tr(ng-repeat="address in legacyAddresses | filter:{active: false} | filter:searchTextArchived")
        td(ng-bind-html="address.address | highlight:searchTextArchived")
        td(ng-bind-html="address.label | highlight:searchTextArchived")
        td 
          a(translate="TRANSFER")
        td 
          a(translate="UNARCHIVE", ng-click="unarchive(address)")
        td
          a(translate="DELETE", ng-click="delete(address)")