.row
  .col-xs-12
    h2(translate="WALLET_SECOND_PASSWORD")
.row
  .col-xs-6
    p(translate="WALLET_SECOND_PASSWORD_EXPLAIN")
  .col-xs-6
    p
      b.text-success(translate="SECOND_PASSWORD_SET", ng-show="settings.secondPassword")  
    p   
      configure-second-password
.row
  hr
.row
  .col-xs-12
    h2(translate="REMEMBER_2FA")
.row
  .col-xs-6
    p(translate="REMEMBER_2FA_EXPLAIN")
  .col-xs-6.right
    h2.status.incomplete(ng-hide="settings.rememberTwoFactor", translate="DISABLED")
    h2.status.complete(ng-show="settings.rememberTwoFactor", translate="ENABLED")
    p
      a(ng-click="enableRememberTwoFactor()", translate="ENABLE_REMEMBER_2FA", ng-hide="settings.rememberTwoFactor")
      a(ng-click="disableRememberTwoFactor()", translate="DISABLE_REMEMBER_2FA", ng-show="settings.rememberTwoFactor")
.row
  .col-xs-12
    h2(translate="BLOCK_TOR")
.row
  .col-xs-6
    p(translate="BLOCK_TOR_EXPLAIN")
  .col-xs-6.right
    h2.status.incomplete(ng-hide="settings.blockTOR", translate="DISABLED")
    h2.status.complete(ng-show="settings.blockTOR", translate="ENABLED")
    p 
      tor
.row
  hr
.row
  .col-xs-12
    h2(translate="PBKDF2_ITERATIONS")
.row
  .col-xs-6
    p(translate="PBKDF2_ITERATIONS_EXPLAIN")
  .col-xs-6.right
    div(ng-hide="edit.pbkdf2")
      p.form-control-static {{ settings.pbkdf2 }}
      p
        a(ng-click="edit.pbkdf2 = !edit.pbkdf2", translate="CHANGE_PBKDF2")
    .edit-mobile(ng-show="edit.pbkdf2")
      input.form-control(type="text", ng-model="newPbkdf2")
      button.btn.btn-primary.btn-small(ng-click="changePbkdf2(newPbkdf2)",ng-disabled="!validatePbkdf2(newPbkdf2)", translate="SAVE")
      button.btn.btn-info.btn-small(ng-click="edit.pbkdf2 = false", translate="CANCEL")
.row
  hr
.row
  .col-xs-12
    h2(translate="IP_WHITELIST")
.row
  .col-xs-6
    p(translate="IP_WHITELIST_EXPLAIN")
  .col-xs-6.right
    div(ng-hide="edit.ipWhitelist")
      p.form-control-static {{ settings.ipWhitelist }}
      p
        a(ng-click="edit.ipWhitelist = !edit.ipWhitelist", translate="CHANGE_IP_WHITELIST")
    .form-group(ng-class="{'has-error': !validateIpWhitelist(newIpWhitelist)}",ng-show="edit.ipWhitelist")
      input.form-control(type="text", ng-model="newIpWhitelist")
      button.btn.btn-primary.btn-small(ng-click="changeIpWhitelist(newIpWhitelist)",ng-disabled="!validateIpWhitelist(newIpWhitelist)",ui-ladda="{{ saving.ipWhitelist }}", ladda-translate="SAVE", data-style="expand-left")
      button.btn.btn-info.btn-small(ng-click="edit.ipWhitelist = false; newIpWhitelist = settings.ipWhitelist", translate="CANCEL", ng-hide="saving.ipWhitelist")        