h5.well.headliner.hidden-xs(translate="ADVANCED_EXPLAIN")

form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-12.col-md-6
      label(translate="WALLET_SECOND_PASSWORD")
      p.explain.hidden-xs.hidden-sm(translate="WALLET_SECOND_PASSWORD_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      h2.status.incomplete.hidden-xs.hidden-sm.mbm(ng-hide="settings.secondPassword", translate="DISABLED")    
      h2.status.complete.hidden-xs.hidden-sm.mbm(translate="SECOND_PASSWORD_SET", ng-show="settings.secondPassword")
      configure-second-password

  .form-group(ng-if="false")
    .col-sm-12.col-md-6
      label(translate="REMEMBER_2FA")
      p.explain.hidden-xs.hidden-sm(translate="REMEMBER_2FA_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      div(ng-show="processToggleRememberTwoFactor")
        img(src="img/spinner.gif")
      div(ng-hide="processToggleRememberTwoFactor")
        h2.status.incomplete.hidden-xs.hidden-sm(ng-hide="settings.rememberTwoFactor", translate="DISABLED")
        h2.status.complete.hidden-xs.hidden-sm(ng-show="settings.rememberTwoFactor", translate="ENABLED")
      .mtl
        a.button-primary(ng-click="enableRememberTwoFactor()", translate="ENABLE_REMEMBER_2FA", ng-hide="settings.rememberTwoFactor")
        a.button-primary(ng-click="disableRememberTwoFactor()", translate="DISABLE_REMEMBER_2FA", ng-show="settings.rememberTwoFactor")

  .form-group
    .col-sm-12.col-md-6
      label(translate="BLOCK_TOR")
      p.explain.hidden-xs.hidden-sm(translate="BLOCK_TOR_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      h2.status.incomplete.hidden-xs.hidden-sm(ng-hide="settings.blockTOR", translate="DISABLED")
      h2.status.complete.hidden-xs.hidden-sm(ng-show="settings.blockTOR", translate="ENABLED")
      tor

  .form-group
    .col-sm-12.col-md-6
      label(translate="PBKDF2_ITERATIONS")
      p.explain.hidden-xs.hidden-sm(translate="PBKDF2_ITERATIONS_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      bc-async-input(ng-model="settings.pbkdf2", validator="validatePbkdf2", on-save="changePbkdf2", action-title="'CHANGE_PBKDF2' | translate")

  .form-group
    .col-sm-12.col-md-6
      label(translate="AUTO_LOGOUT")
      p.explain.hidden-sm.hidden-xs(translate="AUTO_LOGOUT_EXPLAIN") 
    .col-sm-12.col-md-6.setting-result
      bc-async-input(ng-model="settings.logoutTimeMinutes", validator="validateLogoutTime", on-save="changeLogoutTime", action-title="'CHANGE_AUTO_LOGOUT' | translate")

  .form-group(ng-class="{'has-error': errors.ipWhitelist}")
    .col-sm-12.col-md-6
      label(translate="IP_WHITELIST")
      p.explain.hidden-xs.hidden-sm(translate="IP_WHITELIST_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      bc-async-input.long-input(ng-model="settings.ipWhitelist", validator="validateIpWhitelist", on-save="changeIpWhitelist", action-title="'CHANGE_IP_WHITELIST' | translate", error-message="errors.ipWhitelist")

  .form-group
    .col-sm-12.col-md-6
      label(translate="API_ACCESS")
      p.explain.hidden-xs.hidden-sm(translate="API_ACCESS_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      h2.status.incomplete.hidden-xs.hidden-sm(ng-hide="settings.apiAccess", translate="DISABLED")
      h2.status.complete.hidden-xs.hidden-sm(ng-show="settings.apiAccess", translate="ENABLED")
      api-access

  .form-group
    .col-sm-12.col-md-6
      label(translate="IP_WHITELIST_RESTRICT")
      p.explain.hidden-xs.hidden-sm(translate="IP_WHITELIST_RESTRICT_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      h2.status.incomplete.hidden-xs.hidden-sm(ng-hide="settings.restrictToWhitelist", translate="DISABLED")
      h2.status.complete.hidden-xs.hidden-sm(ng-show="settings.restrictToWhitelist", translate="ENABLED")
      ip-whitelist-restrict

h2.pointer(ng-if="!dist" translate="DEVELOPER", ng-click="display.dev = !display.dev")

form.form-horizontal(ng-if="!dist" role="form", name="form2", ng-show="display.dev", novalidate)
  .form-group
    .col-sm-12.col-md-6
      label(translate="MULTI_ACCOUNT")
      span.label.label-warning.hidden-sm.hidden-xs(translate="DISABLED", ng-show="!settings.multiAccount")
      span.label.label-success.hidden-sm.hidden-xs(translate="ENABLED", ng-show="settings.multiAccount")
      p.explain.hidden-xs(translate="MULTI_ACCOUNT_DESC")
    .col-sm-12.col-md-6.setting-result
      multi-account
