.modal-header
  h3(translate="CHANGE_PASSWORD")
.modal-body
  form.form-horizontal(role="form",name="form.theForm")
    .form-group(ng-class="{'has-error': errors.currentPassword, 'has-success': success.currentPassword}")
      label.col-sm-4.control-label(translate="CURRENT_PASSWORD")
      .col-sm-8
        input.form-control(type="password",ng-model="fields.currentPassword",autofocus,ng-blur="validate()", ng-focus="errors.currentPassword = null")
        span.help-block {{ errors.currentPassword }}
    .form-group(ng-class="{'has-error': errors.password, 'has-success': success.password}")
      label.col-sm-4.control-label(translate="NEW_PASSWORD")
      .col-sm-8
        input.form-control(type="password", name="password", ng-model="fields.password",autofocus,ng-blur="validate()", ng-focus="errors.password = null", min-entropy="25", ng-maxlength="255", required)
        password-entropy(password="fields.password").help-block 
        span.help-block {{ errors.password }}
    .form-group(ng-class="{'has-error': errors.confirmation, 'has-success': success.confirmation}")
      label.col-sm-4.control-label(translate="CONFIRM_PASSWORD")
      .col-sm-8
        input.form-control(type="password",ng-model="fields.confirmation",autofocus,ng-blur="validate()", ng-focus="errors.confirmation = null")
        span.help-block {{ errors.confirmation }}
.modal-footer
  button.btn.btn-info(ng-click="close()", translate="CLOSE")
  button.btn.btn-primary(ng-click="changePassword()",ng-disabled="!isValid", translate="CHANGE_PASSWORD")