.row
  .col-xs-12
    table.responsive.width-100.imported-addresses-container(ng-controller="SettingsImportedAddressesCtrl")
      tr
        th(translate="ADDRESS")
        th(translate="LABEL")
        th(translate="BALANCE")
        th
      tr(
        imported-address="address", 
        search-text="searchText",
        ng-repeat="address in legacyAddresses() | filter:{archived: false} | addressOrNameMatch:searchText"
      )

div(ng-controller="SettingsImportedAddressesCtrl")
  .flex-between.flex-center.mtl
    span.type-md.em-500(translate="ARCHIVED_ADDRESSES")
    span.pointer.blue(translate="{{display.archived ? 'HIDE' : 'SHOW'}}" ng-click="toggleDisplayArchived()")

  p.mtl.hidden-xs(translate="ARCHIVED_ADDRESSES_EXPLAIN", ng-show="display.archived")

  .row(ng-show="display.archived")
    .col-xs-12.table-container
      table.responsive.width-100.addresses-container(ng-controller="SettingsImportedAddressesCtrl")
        tr
          th(translate="ADDRESS")
          th(translate="LABEL")
          th
            th
        tr(ng-repeat="address in legacyAddresses() | filter:{archived: true} | addressOrNameMatch:searchText")
          td(ng-bind-html="address.address | escapeHtml | highlight:searchText")
          td(ng-bind-html="address.label | escapeHtml | highlight:searchText")
          td
            a(translate="UNARCHIVE", ng-click="unarchive(address)")
          td
            a(translate="DELETE", ng-click="delete(address)")
