.row
  .col-xs-12
    table.accounts-container.addresses.responsive.width-100(ng-controller="SettingsImportedAddressesCtrl" gradual-render)
      tr.width-100.pointer(ng-click="importAddress()")
        td.col-md-3
          i.ti-plus.blue.mrm
          span(translate="IMPORT_ADDRESS")
        td.col-md-3
        td.col-md-3
      tr(
        imported-address="address"
        search-text="searchText"
        ng-repeat="address in legacyAddresses() | filter:{archived: false} | addressOrNameMatch:searchText | limitTo:$render.limit track by $index"
        in-view="$last && $render.next()")

div(ng-controller="SettingsImportedAddressesCtrl")
  .flex-between.flex-center.mtl
    span.type-md.em-500(translate="ARCHIVED_ADDRESSES")
    span.pointer.blue(translate="{{display.archived ? 'HIDE' : 'SHOW'}}" ng-click="toggleDisplayArchived()")

  p.mtl.hidden-xs(translate="ARCHIVED_ADDRESSES_EXPLAIN", ng-show="display.archived")

  .row(ng-show="display.archived")
    .col-xs-12.table-container
      table.accounts-container.addresses.responsive.width-100(ng-controller="SettingsImportedAddressesCtrl")
        tr(ng-repeat="address in legacyAddresses() | filter:{archived: true} | addressOrNameMatch:searchText")
          td(ng-bind-html="address.address | escapeHtml | highlight:searchText")
          td(ng-bind-html="address.label | escapeHtml | highlight:searchText")
          td.right-align
            a(translate="UNARCHIVE", ng-click="unarchive(address)")
          td.right-align
            a(translate="DELETE", ng-click="delete(address)")
