.modal-header
  h3(translate="IMPORT_BITCOIN_ADDRESS")
.modal-body
  div(ng-show="step==1")
    p(translate="IMPORT_BITCOIN_ADDRESS_EXPLAIN")
    .form-group(ng-class="{'has-error': errors.invalidInput || errors.addressPresentInWallet }")
      label.control-label(for="address")
        span(ng-show="errors.invalidInput", translate="INPUT_NOT_RECOGNIZED")
        span(ng-show="errors.addressPresentInWallet")
          span(translate="ALREADY_IN_WALLET")
          |: 
          b {{ address.address }}
      textarea(rows="3", ng-model="fields.addressOrPrivateKey", id="address", ng-disabled="BIP38", autofocus)
    .form-group(ng-class="{'has-error' : errors.incorrectBip38Password}", ng-show="BIP38")
      label.control-label Password for private key
      input.form-control(type="password", ng-model="bip38passphrase")
      span.help-block(ng-show="errors.incorrectBip38Password", translate="INCORRECT_PASSWORD")
    .pal.flex-center.flex-column(ng-hide="!cameraIsOn")
        label(translate="SCAN_QR_CODE")
        bc-qr-reader(active="cameraRequested", on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn")
  div(ng-show="step==2")
    p(translate="PRIVATE_KEY_VALID", ng-hide="address.isWatchOnlyLegacyAddress")
    p
      span(translate="ADDRESS_VALID", ng-show="address.isWatchOnlyLegacyAddress")
      span(translate="ADDRESS_FOR_PRIVATE_KEY", ng-hide="address.isWatchOnlyLegacyAddress")
      |: 
      b {{ address.address }}
    p
      span(translate="BALANCE_FOR_ADDRESS")
      |: 
      b(ng-show="address.balance != null") {{ address.balance | toBitCurrency:settings.btcCurrency }}
      span.fiat.plm(ng-show="address.balance != null")
        fiat(btc="address.balance")
      img(ng-show="address.balance == null" src="img/spinner.gif")
  form.form-horizontal(role="form",name="form",novalidate, ng-show="step==3")
    .form-group
      label.col-sm-3.control-label
        span(translate="FROM")
        |:  
      .col-sm-5
        p.form-control-static {{ address.address }}
    .form-group
      label.col-sm-3.control-label
        span(translate="TO_ACCOUNT")
        |:  
      .col-sm-7
        ui-select(ng-model="fields.account")
          ui-select-match {{ $select.selected.label }}
          ui-select-choices(repeat="account in accounts | filter: $select.search") 
            span(ng-bind-html="account.label | highlight: $select.search")
    .form-group
      label.col-sm-3.control-label
        span(translate="AMOUNT")
      .col-sm-5
        p.form-control-static 
          b {{ address.balance | toBitCurrency:settings.btcCurrency }}
          span.fiat.plm
            fiat(btc="address.balance")
.modal-footer.pal.flex-end
  button.btn.btn-info(ng-click="cameraOn()", ng-show="step == 1", ng-if="browserWithCamera", translate="QR")
  button.btn.btn-primary(ui-ladda="{{ status.busy }}", ng-show="step == 1", ng-click="validate()", ng-disabled="fields.addressOrPrivateKey == ''", ladda-translate="VALIDATE", data-style="expand-left")
  button.btn.btn-info(ng-show="step == 2", ng-click="close()", translate="CLOSE")
  button.btn.btn-primary(ng-show="step == 2 && !address.isWatchOnlyLegacyAddress && address.balance > 0 && isValid()", ng-click="goToTransfer()", translate="TRANSFER")
  button.btn.btn-primary(ng-show="step == 3", ui-ladda="{{ sweeping }}", ng-click="transfer()", data-style="expand-left", ladda-translate="CONTINUE")
