h5.well.headliner.hidden-xs(translate="MY_DETAILS_EXPLAIN")
form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-12.col-md-6
      label(translate="UID")
      p.explain.hidden-xs(translate="UID_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result.flex-column
      label(ng-bind="uid")
  .form-group
    .col-sm-12.col-md-6
      label(translate="EMAIL_ADDRESS")
      span.label.label-warning.hidden-sm.hidden-xs(translate="UNVERIFIED", ng-show="!user.isEmailVerified")
      span.label.label-success.hidden-sm.hidden-xs(translate="VERIFIED", ng-show="user.isEmailVerified")
      p.explain.hidden-xs(translate="EMAIL_ADDRESS_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result.flex-column
      bc-async-input(type="email", ng-model="user.email", on-save="changeEmail", action-title="'CHANGE_EMAIL_ADDRESS' | translate", autofocus)
      verify-email
      resend-email-confirmation
  .form-group
    .col-sm-12.col-md-6
      label(translate="MOBILE_NUMBER")
      span.label.label-warning.hidden-sm.hidden-xs(translate="UNVERIFIED", ng-show="!user.isMobileVerified")
      span.label.label-success.hidden-sm.hidden-xs(translate="VERIFIED", ng-show="user.isMobileVerified")
      p.explain.hidden-xs(translate="MOBILE_NUMBER_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      configure-mobile-number
        div(ng-hide="edit.mobile || step == 2")
          h2.status.complete.securityhide {{ user.internationalMobileNumber }}
          a.button-primary(ng-click="edit.mobile = !edit.mobile", translate="CHANGE_MOBILE_NUMBER")
        .edit-mobile(ng-if="edit.mobile && step == 1")
          input(type="text" international-phone-number ng-model="fields.newMobile" default-country="{{ mobileDefaultCountry }}" preferred-countries="us,ca,gb,au" skip-util-script-download auto-placeholder="false", ng-disabled="status.busy").form-control
          br
          button.button-primary(ui-ladda="{{ status.busy }}", ng-click="changeMobile(fields.newMobile)",ng-disabled="!validateMobileNumber(fields.newMobile)", ladda-translate="SAVE", data-style="expand-left")
          button.button-muted.btn-small(ng-click="edit.mobile = false", translate="CANCEL")
        .flex(ng-show="!user.isMobileVerified && !noMobile && step == 2")
          .flex-3
            p We have sent your mobile phone an SMS message with a verification code. Enter the code below to verify your mobile phone number.
            input.form-control(type="text",ng-model="code", ng-disabled="status.busy")
            span.help-block {{ errors.verify }}
          .flex-1.mhl
            button.button-primary(ui-ladda="{{ status.busy }}", ng-click="verifyMobile(code)",ng-disabled="!code || code.length < 3", ladda-translate="VERIFY", data-style="expand-left")
  .form-group
    .col-sm-12.col-md-6
      label(translate="TWO_FACTOR")
      span.label.label-warning.hidden-sm.hidden-xs(translate="DISABLED", ng-show="!settings.needs2FA")
      span.label.label-success.hidden-sm.hidden-xs(translate="ENABLED", ng-show="settings.needs2FA")
      p.explain.hidden-xs(translate="TWO_FACTOR_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      a.button-primary(ng-click="changeTwoFactor()" translate="CONFIGURE_2FA" ng-hide="settings.needs2FA")
      a.button-primary(ng-click="changeTwoFactor()" translate="DISABLE" ng-show="settings.needs2FA")
  .form-group
    .col-sm-12.col-md-6
      label(translate="WALLET_PASSWORD")
      p.explain.hidden-xs(translate="WALLET_PASSWORD_EXPLAIN")
    .col-sm-12.col-md-6.setting-result
      h2.status.complete.hidden-sm.hidden-xs.mbm(translate="PASSWORD_SET")
      a.button-primary(ng-click="changePassword()", translate="CHANGE_PASSWORD")
  .form-group(ng-class="{'has-error':errors.passwordHint}")
    .col-sm-12.col-md-6
      label(translate="PASSWORD_HINT")
      p.explain.hidden-sm.hidden-xs(translate="PASSWORD_HINT_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      bc-async-input(ng-model="user.passwordHint", on-save="changePasswordHint", on-change="clearErrors", action-title="'CHANGE_PASSWORD_HINT' | translate")
    .help-block
      span {{ errors.passwordHint }}
