h5.well.headliner.hidden-xs(translate="MY_DETAILS_EXPLAIN")
form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-12.col-md-6
      label(translate="UID")
      p.explain.hidden-xs(translate="UID_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result.flex-column
      label(ng-bind="uid")
  .form-group
    .col-sm-12.col-md-6
      label(translate="EMAIL_ADDRESS")
      span.label.label-warning.hidden-sm.hidden-xs(translate="UNVERIFIED", ng-show="!user.isEmailVerified")
      span.label.label-success.hidden-sm.hidden-xs(translate="VERIFIED", ng-show="user.isEmailVerified")
      p.explain.hidden-xs(translate="EMAIL_ADDRESS_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result.flex-column
      bc-async-input(type="email", ng-model="user.email", on-save="changeEmail", action-title="'CHANGE_EMAIL_ADDRESS' | translate", autofocus)
      verify-email
      resend-email-confirmation
  .form-group
    .col-sm-12.col-md-6
      label(translate="MOBILE_NUMBER")
      span.label.label-warning.hidden-sm.hidden-xs(translate="UNVERIFIED", ng-show="!user.isMobileVerified")
      span.label.label-success.hidden-sm.hidden-xs(translate="VERIFIED", ng-show="user.isMobileVerified")
      p.explain.hidden-xs(translate="MOBILE_NUMBER_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      div(ng-show="mobile.step == 0")
        h2.status.complete.securityhide {{ user.internationalMobileNumber }}
        a.button-primary(ng-click="mobile.step = 1", translate="CHANGE_MOBILE_NUMBER")
      configure-mobile-number(set-step="setMobileStep" ng-show="mobile.step == 1")
      verify-mobile-number(set-step="setMobileStep" ng-show="mobile.step == 2")
  .form-group
    .col-sm-12.col-md-6
      label(translate="ENABLE_TWO_STEP")
      span.label.label-warning.hidden-sm.hidden-xs(translate="DISABLED", ng-show="!settings.needs2FA")
      span.label.label-success.hidden-sm.hidden-xs(translate="ENABLED", ng-show="settings.needs2FA")
      p.explain.hidden-xs(translate="SC_CONFIGURE_2FA")    
    .col-sm-12.col-md-6.setting-result
      a.button-primary(ng-click="changeTwoFactor()" translate="CONFIGURE_2FA" ng-hide="settings.needs2FA")
      a.button-primary(ng-click="changeTwoFactor()" translate="DISABLE" ng-show="settings.needs2FA")
  .form-group
    .col-sm-12.col-md-6
      label(translate="WALLET_PASSWORD")
      p.explain.hidden-xs(translate="WALLET_PASSWORD_EXPLAIN")
    .col-sm-12.col-md-6.setting-result
      h2.status.complete.hidden-sm.hidden-xs.mbm(translate="PASSWORD_SET")
      a.button-primary(ng-click="changePassword()", translate="CHANGE_PASSWORD")
  .form-group(ng-class="{'has-error':errors.passwordHint}")
    .col-sm-12.col-md-6
      label(translate="PASSWORD_HINT")
      p.explain.hidden-sm.hidden-xs(translate="PASSWORD_HINT_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      bc-async-input(ng-model="user.passwordHint" on-save="changePasswordHint" on-change="clearErrors" action-title="'CHANGE_PASSWORD_HINT' | translate")
    .help-block
      span {{ errors.passwordHint }}
