form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-6
      label(translate="EMAIL_ADDRESS")
      span.label.label-warning(translate="UNVERIFIED", ng-show="!user.isEmailVerified")
      span.label.label-success(translate="VERIFIED", ng-show="user.isEmailVerified")
      br
      p(translate="EMAIL_ADDRESS_EXPLAIN")    
    .col-sm-6
      div(ng-hide="edit.email")
        p.form-control-static {{ user.email }}
        p
          a(ng-click="edit.email = !edit.email", translate="CHANGE_EMAIL_ADDRESS")
      div(ng-show="edit.email")     
        input#send-to.form-control(type="email",name="email",placeholder="{{ user.email }}",ng-model="newEmail")
        button.btn.btn-primary.btn-small(ng-click="changeEmail(newEmail)",ng-disabled="!newEmail || form.email.$error.email", translate="SAVE")
        button.btn.btn-info.btn-small(ng-click="edit.email = false", translate="CANCEL")
  hr
  .form-group
    .col-sm-6
      label(translate="MOBILE_NUMBER")
      span.label.label-warning(translate="UNVERIFIED", ng-show="!user.isMobileVerified")
      span.label.label-success(translate="VERIFIED", ng-show="user.isMobileVerified")
      br
      p(translate="MOBILE_NUMBER_EXPLAIN")    
    .col-sm-6
      div(ng-hide="edit.mobile")
        p.form-control-static {{ user.internationalMobileNumber }}
        p
          a(ng-click="edit.mobile = !edit.mobile", translate="CHANGE_MOBILE_NUMBER")
      .edit-mobile(ng-show="edit.mobile")
        .input-group
          ui-select(ng-model="newMobile.country").input-group-btn
            ui-select-match {{ $select.selected.alpha2 }}
            ui-select-choices(repeat="country in countries | filter: $select.search") 
              span(ng-bind-html="country.name | highlight: $select.search")
          input.form-control(type="text",name="mobile",ng-model="newMobile.number")
        button.btn.btn-primary.btn-small(ng-click="changeMobile(newMobile)",ng-disabled="!validateMobileNumber(newMobile)", translate="SAVE")
        button.btn.btn-info.btn-small(ng-click="edit.mobile = false", translate="CANCEL")
      .row(ng-show="!user.isMobileVerified")
        .col-xs-9
          input.form-control(type="text",placeholder="AB123",ng-model="code")
        .col-xs-3
          button.btn.btn-primary(ng-click="verifyMobile(code)",ng-disabled="!code || code.length < 3", translate="VERIFY")    
  hr
  .form-group
    .col-sm-6
      label(translate="WALLET_PASSWORD")
      br
      p(translate="WALLET_PASSWORD_EXPLAIN")
    .col-sm-6
      p
        b.text-success(translate="PASSWORD_SET")
      p
        a(ng-click="changePassword()", translate="CHANGE_PASSWORD")
  hr
  .form-group
    .col-sm-6
      label(translate="PASSWORD_HINT")
      br
      p(translate="PASSWORD_HINT_EXPLAIN")    
    .col-sm-6
      div
        input#send-to.form-control(type="text",placeholder="Open Sesame",ng-model="newPasswordHint", ng-focus="edit.passwordHint = 1")
      div(ng-show="edit.passwordHint")     
        button.btn.btn-primary.btn-small(ng-click="changePasswordHint(newPasswordHint)",ng-disabled="user.passwordHint == newPasswordHint", translate="SAVE")
        button.btn.btn-info.btn-small(ng-click="edit.passwordHint = false", translate="CANCEL")
  hr
  .form-group
    .col-sm-6
      label(translate="TWO_FACTOR")
      span.label.label-warning(translate="DISABLED", ng-show="!settings.needs2FA")
      span.label.label-success(translate="ENABLED", ng-show="settings.needs2FA")
      br
      p(translate="TWO_FACTOR_EXPLAIN")    
    .col-sm-6
      div(ng-hide="edit.twoFactor")
        p.form-control-static
          span(ng-show="settings.twoFactorMethod == 3", translate="2FA_YUBI")
          span(ng-show="settings.twoFactorMethod == 2", translate="2FA_EMAIL")
          span(ng-show="settings.twoFactorMethod == 5", translate="2FA_SMS")
          span(ng-show="settings.twoFactorMethod == 4", translate="2FA_GOOGLE_AUTH")
        p
          a(ng-click="edit.twoFactor = !edit.twoFactor", translate="CONFIGURE_2FA", ng-hide="settings.needs2FA")
          a(ng-click="disableSecondFactor()", translate="DISABLE", ng-show="settings.needs2FA")
      div(ng-show="edit.twoFactor") 
        ul
          li 
            a(ng-click="setTwoFactorSMS()", ng-show="user.isMobileVerified") Enable SMS
            span(ng-show="!user.isMobileVerified") Enable SMS (Please verify your mobile first)
          li
            a(ng-click="setTwoFactorEmail()", ng-show="user.isEmailVerified") Enable email
            span(ng-show="!user.isEmailVerified") Enable email (Please verify your email first)
          li
            a(ng-click="setTwoFactorGoogleAuthenticator()") Enable Google Authenticator
        div(ng-if="settings.googleAuthenticatorSecret")
          qr(text="settings.googleAuthenticatorSecret", size=172)
          input.form-control(type="text",placeholder="Enter code shown in the app",ng-model="fields.authenticatorCode")
        button.btn.btn-info.btn-small(ng-click="edit.twoFactor = false", translate="CANCEL")
        button.btn.btn-info.btn-primary(ng-click="confirmTwoFactorGoogleAuthenticator()", translate="ENABLE",ng-show="settings.googleAuthenticatorSecret", ng-disabled="fields.authenticatorCode.length != 6")
          