p.headliner.hidden-xs(translate="MY_DETAILS_EXPLAIN")
form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-12.col-md-6
      label(translate="MULTI_ACCOUNT")
      span.label.label-warning.hidden-sm.hidden-xs(translate="DISABLED", ng-show="!settings.multiAccount")
      span.label.label-success.hidden-sm.hidden-xs(translate="ENABLED", ng-show="settings.multiAccount")
      p.explain.hidden-xs(translate="MULTI_ACCOUNT_DESC")
    .col-sm-12.col-md-6.setting-result
      multi-account
  .form-group
    .col-sm-12.col-md-6
      label(translate="EMAIL_ADDRESS")
      span.label.label-warning.hidden-sm.hidden-xs(translate="UNVERIFIED", ng-show="!user.isEmailVerified")
      span.label.label-success.hidden-sm.hidden-xs(translate="VERIFIED", ng-show="user.isEmailVerified")
      p.explain.hidden-xs(translate="EMAIL_ADDRESS_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      bc-async-input(type="email", ng-model="user.email", on-save="changeEmail", action-title="'CHANGE_EMAIL_ADDRESS' | translate", autofocus)
      verify-email
      resend-email-confirmation
  .form-group
    .col-sm-12.col-md-6
      label(translate="MOBILE_NUMBER")
      span.label.label-warning.hidden-sm.hidden-xs(translate="UNVERIFIED", ng-show="!user.isMobileVerified")
      span.label.label-success.hidden-sm.hidden-xs(translate="VERIFIED", ng-show="user.isMobileVerified")
      p.explain.hidden-xs(translate="MOBILE_NUMBER_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
       configure-mobile-number
  .form-group
    .col-sm-12.col-md-6
      label(translate="TWO_FACTOR")
      span.label.label-warning.hidden-sm.hidden-xs(translate="DISABLED", ng-show="!settings.needs2FA")
      span.label.label-success.hidden-sm.hidden-xs(translate="ENABLED", ng-show="settings.needs2FA")
      p.explain.hidden-xs(translate="TWO_FACTOR_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      two-factor  
  .form-group
    .col-sm-12.col-md-6
      label(translate="WALLET_PASSWORD")
      p.explain.hidden-xs(translate="WALLET_PASSWORD_EXPLAIN")
    .col-sm-12.col-md-6.setting-result
      h2.status.complete.hidden-sm.hidden-xs(translate="PASSWORD_SET")
      a.settingaction(ng-click="changePassword()", translate="CHANGE_PASSWORD")
  .form-group
    .col-sm-12.col-md-6
      label(translate="PASSWORD_HINT")
      p.explain.hidden-sm.hidden-xs(translate="PASSWORD_HINT_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      bc-async-input(ng-model="user.passwordHint", on-save="changePasswordHint", action-title="'CHANGE_PASSWORD_HINT' | translate")      
