form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-6
      label(translate="EMAIL_ADDRESS")
      span.label.label-warning(translate="UNVERIFIED", ng-show="!user.isEmailVerified")
      span.label.label-success(translate="VERIFIED", ng-show="user.isEmailVerified")
      br
      p(translate="EMAIL_ADDRESS_EXPLAIN")    
    .col-sm-6
      bc-async-input(type="email", ng-model="user.email", on-save="changeEmail", action-title="'CHANGE_EMAIL_ADDRESS' | translate")
      .form-group(ng-class="{'has-error': errors.emailVerificationCode }", ng-show="!user.isEmailVerified && user.email != null && user.email != ''")
        .col-xs-9
          input.form-control(type="text",ng-model="code")
        .col-xs-3
          button.btn.btn-primary(ng-click="verifyEmail(code)",ng-disabled="!code || code.length < 3", translate="VERIFY")
  hr
  .form-group
    .col-sm-6
      label(translate="MOBILE_NUMBER")
      span.label.label-warning(translate="UNVERIFIED", ng-show="!user.isMobileVerified")
      span.label.label-success(translate="VERIFIED", ng-show="user.isMobileVerified")
      br
      p(translate="MOBILE_NUMBER_EXPLAIN")    
    .col-sm-6
       configure-mobile-number
  hr
  .form-group
    .col-sm-6
      label(translate="WALLET_PASSWORD")
      br
      p(translate="WALLET_PASSWORD_EXPLAIN")
    .col-sm-6
      p
        b.text-success(translate="PASSWORD_SET")
      p
        a(ng-click="changePassword()", translate="CHANGE_PASSWORD")
  hr
  .form-group
    .col-sm-6
      label(translate="PASSWORD_HINT")
      br
      p(translate="PASSWORD_HINT_EXPLAIN")    
    .col-sm-6
      bc-async-input(inline ng-model="user.passwordHint", on-save="changePasswordHint")      
  hr
  .form-group
    .col-sm-6
      label(translate="TWO_FACTOR")
      span.label.label-warning(translate="DISABLED", ng-show="!settings.needs2FA")
      span.label.label-success(translate="ENABLED", ng-show="settings.needs2FA")
      br
      p(translate="TWO_FACTOR_EXPLAIN")    
    .col-sm-6
      two-factor