ul.aside.settings-nav
  a.plm(ng-click="goHome()")
    i.ti-arrow-left.mrs
    | Go back
  li.settings-nav-header.current.phl.pvm.mbn.mtl Settings
  ul.aside-list.pas
    li.header(ui-sref-active="active") 
      a(ui-sref="wallet.common.settings.my-details", translate="MY_DETAILS")
    li.header(ui-sref-active="active") 
      a(ui-sref="wallet.common.settings.wallet", translate="WALLET_SETTINGS")
    li.header(ui-sref-active="active") 
      a(ui-sref="wallet.common.settings.addresses", translate="MY_ADDRESSES")
    li.header(ui-sref-active="active",ng-show="settings.multiAccount")
      a(ui-sref="wallet.common.settings.accounts", translate="MY_ACCOUNTS")
    li.header(ui-sref-active="active") 
      a(ui-sref="wallet.common.settings.security-center", translate="SECURITY_CENTER")
    li.header(ui-sref-active="active") 
      a(ui-sref="wallet.common.settings.wallet-recovery", translate="WALLET_RECOVERY")
    li.header(ui-sref-active="active") 
      a(ui-sref="wallet.common.settings.advanced", translate="ADVANCED")
    li.header(ui-sref-active="active") 
      a(ui-sref="wallet.common.settings.mobile", translate="MOBILE")
