ul.nav.nav-stacked.nav-pills
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.my-details", translate="MY_DETAILS")
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.wallet", translate="WALLET_SETTINGS")
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.addresses", translate="MY_ADDRESSES")
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.accounts", translate="MY_ACCOUNTS")
  li.nav-divider
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.security-center", translate="SECURITY_CENTER")
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.wallet-recovery", translate="WALLET_RECOVERY")
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.advanced", translate="ADVANCED")
  li.nav-divider
  li.item(ui-sref-active="active") 
    a(ui-sref="wallet.common.settings.mobile", translate="MOBILE")