ul
  li.item(ui-sref-active="active") 
    a(ui-sref="settings.my-details", translate="MY_DETAILS")
  li.item(ui-sref-active="active") 
    a(ui-sref="settings.wallet", translate="WALLET_SETTINGS")
hr
  
hr

button.btn.btn-info(ng-click="logout()", translate="LOGOUT")
