h5.well.em-400.type-h5.hidden-xs(translate="PREFERENCES_EXPLAIN")

.clearfix(ng-if="status.isLoggedIn")
  .form-group.mbn.border-bottom.clearfix.pvl.phm(ng-controller="ChangeEmailCtrl" data-preflight-tag="ChangeEmail")
    div(settings-form)
      .col-sm-12.col-md-6
        .flex-center.mbm
          label.em-400.type-h5.mbn.mrm(translate="EMAIL_ADDRESS")
          span.label.label-warning(translate="UNVERIFIED", ng-show="!user.isEmailVerified")
          span.label.label-success(translate="VERIFIED", ng-show="user.isEmailVerified")
        p.text.em-300.hidden-xs(translate="EMAIL_ADDRESS_EXPLAIN")
        p.text.em-400.hidden-xs.security-red(translate="CHANGE_EMAIL_NOT_EXCHANGE" ng-show="userHasExchangeAcct && active")
      .col-sm-12.col-md-6.setting-result(ng-hide="active")
        p.em-400.type-h5.mbm {{ user.email }}
        a.button-primary.display-inline-block(ng-click="activate()", translate="CHANGE")
      .col-sm-12.col-md-6.flex-column(ng-show="active")
        include ./change-email.jade
        .right-align.mtm
          resend-email-confirmation.mtl(ng-hide="user.isEmailVerified")

  .form-group.mbn.border-bottom.clearfix.pvl.phm(data-preflight-tag="ChangeMobile")
    .col-sm-12.col-md-6
      .flex-center.mbm
        label.em-400.type-h5.mbn.mrm(translate="MOBILE_NUMBER")
        span.label.label-warning(translate="UNVERIFIED", ng-show="!user.isMobileVerified")
        span.label.label-success(translate="VERIFIED", ng-show="user.isMobileVerified")
      p.text.em-300.hidden-xs(translate="MOBILE_NUMBER_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      div(ng-show="mobileNumber.step == 0")
        //- Don't use one-time binding for mobileNumber
        p.em-400.type-h5.mbm(ng-hide="user.mobileNumber.length < 5") {{ formattedMobileNumber }}
        a.button-primary.display-inline-block(ng-click="mobileNumber.step = 1", translate="CHANGE")
      configure-mobile-number(on-success="mobileNumber.step = 2" on-cancel="mobileNumber.step = 0" ng-show="mobileNumber.step == 1")
      verify-mobile-number(on-success="mobileNumber.step = 0" ng-show="user.mobileNumber.length > 4 && !user.isMobileVerified && mobileNumber.step != 1")

  .form-group.mbn.border-bottom.clearfix.pvl.phm(data-preflight-tag="ChangeLanguage")
    .col-sm-12.col-md-6
      label.em-400.type-h5(translate="LANGUAGE")
      p.text.em-300.hidden-xs(translate="LANGUAGE_EXPLAIN")   
    .col-sm-6.col-md-3
    .col-sm-6.col-md-3.setting-result
      async-select(selected="settings.language" range="languages" display-prop="name" on-change="changeLanguage")

  .form-group.mbn.border-bottom.clearfix.pvl.phm(data-preflight-tag="ChangeCurrency")
    .col-sm-12.col-md-6
      label.em-400.type-h5(translate="CURRENCY")
      p.text.em-300.hidden-xs(translate="CURRENCY_EXPLAIN")    
    .col-sm-6.col-md-3
    .col-sm-6.col-md-3.setting-result
      async-select(selected="settings.currency" range="currencies" display-prop="name" display-optional="code" on-change="changeCurrency")

  .form-group.mbn.border-bottom.clearfix.pvl.phm(data-preflight-tag="ChangeBitcoinCurrency")
    .col-sm-12.col-md-6
      label.em-400.type-h5(translate="BITCOIN_CURRENCY")
      p.text.em-300.hidden-xs(translate="BITCOIN_CURRENCY_EXPLAIN")
    .col-sm-6.col-md-3
    .col-sm-6.col-md-3.setting-result
      async-select(selected="settings.btcCurrency" range="btcCurrencies" display-prop="code" display-optional="btcValue" on-change="changeBTCCurrency")

  .form-group.mbn.border-bottom.clearfix.pvl.phm(data-preflight-tag="NotificationSettings")
    .col-sm-12.col-md-6
      label.em-400.type-h5(translate="NOTIFICATIONS")
      p.text.em-300.hidden-xs(translate="NOTIFICATIONS_EXPLAIN")    
    .col-sm-6.col-md-3
    .col-sm-6.col-md-3.setting-result
      label.em-400.type-h5.colon(translate="RECEIVE_BY")
      br
      .flex-column.flex-end.display-inline-block.mbl
        label.flex-between.flex-center
          input(type="checkbox" ng-model="notifications.email" ng-checked="user.isEmailVerified && notifications.email" ng-change="updateNotificationsType()" ng-disabled="!user.isEmailVerified")
          span.mlm(translate="EMAIL" uib-tooltip="{{::'VERIFY_EMAIL_FIRST'|translate}}" tooltip-enable="!user.isEmailVerified" tooltip-placement="{{responsivePlacement}}")
        label.flex-between.flex-center
          input(type="checkbox" ng-model="notifications.sms" ng-checked="user.isMobileVerified && notifications.sms" ng-change="updateNotificationsType()" ng-disabled="!user.isMobileVerified")
          span.mlm(translate="SMS" uib-tooltip="{{::'VERIFY_MOBILE_FIRST'|translate}}" tooltip-enable="!user.isMobileVerified" tooltip-placement="{{responsivePlacement}}")

  .form-group.mbn.border-bottom.clearfix.pvl.phm(ng-show="browserCanHandleBitcoinLinks" data-preflight-tag="HandleLinks")
    .col-sm-12.col-md-6
      label.em-400.type-h5(translate="HANDLE_BITCOIN_LINKS")
      p.text.em-300.hidden-xs(translate="HANDLE_BITCOIN_LINKS_EXPLAIN")    
    .col-sm-6.col-md-3
    .col-sm-6.col-md-3.setting-result
      a.button-primary(ng-click="setHandleBitcoinLinks()", translate="SET_HANDLE_BITCOIN_LINKS", ng-hide="settings.handleBitcoinLinks")
      p.settingtext.mtl(translate="HANDLE_BITCOIN_LINKS_STATUS_UNKNOWN")

  .form-group.mbn.border-bottom.clearfix.pvl.phm(ng-controller="ChangeLogoutTimeCtrl" data-preflight-tag="ChangeLogoutTime")
    div(settings-form)
      .col-sm-12.col-md-6
        label.type-h5.em-400(translate="AUTO_LOGOUT")
        p.em-300.text.hidden-sm.hidden-xs(translate="AUTO_LOGOUT_EXPLAIN") 
      .col-sm-12.col-md-6.setting-result(ng-hide="active")
        p.em-400.type-h5.mbm {{ settings.logoutTimeMinutes }} minutes
        a.button-primary.display-inline-block(ng-click="activate()", translate="CHANGE")
      .col-sm-12.col-md-6(ng-show="active")
        include ./change-logout.jade

  .form-group.mbn.border-bottom.clearfix.pvl.phm(data-preflight-tag="ChangeTheme")
    .col-sm-12.col-md-6
      label.em-400.type-h5(translate="Themes")
      p.text.em-300.line-height.hidden-xs(translate="Try out different themes for the wallet.")
    .col-sm-6.col-md-3
    .col-sm-6.col-md-3.setting-result
      async-select.capitalize(selected="settings.theme" range="themes" display-prop="display-name" on-change="changeTheme")
