h2(translate="SECURITY_LEVEL")
p(translate="SECURITY_LEVEL_EXPLAIN")
.row
  .col-xs-6.col-centered
    h2(translate="CURRENT_LEVEL")
    br
    security-badge(level="level", ng-hide="level == 0").current
  .col-xs-6.col-centered(ng-hide="level == 3")
    h2(translate="IN_PROGRESS")
    br
    security-badge(level="level + 1", pending="1")
.row.spacing
div(ng-hide="user.isEmailVerified")
  .row
    .col-xs-12
      h2(translate="VERIFY_EMAIL")
  .row(ng-hide="user.isEmailVerified")
    .col-xs-6
      p(translate="VERIFY_EMAIL_EXPLAIN")
    .col-xs-6
      p
        a(ng-click="resendEmailConfirmation()", translate="RESEND_EMAIL_VERIFICATION")
configure-mobile-number(ng-hide="user.isMobileVerified")
confirm-recovery-phrase(ng-hide="status.didConfirmRecoveryPhrase")
two-factor(ng-hide="settings.needs2FA")