.security-center
  p.headliner(translate="SECURITY_LEVEL_EXPLAIN")
  .row.bucket
    .col-xs-12.level1.level
      .col-md-3.title
        img(src="img/security-icon-1.png")
        p Level 1
      .col-md-3.secbadge(ng-class="{'badge-active': user.isEmailVerified}")
        a(ng-click="display.email_action = !display.email_action")
          img(src="img/badge-verifyemail.png")
          p(translate="ADD_VERIFY_EMAIL")
      .col-md-3.secbadge(ng-class="{'badge-active': user.didConfirmRecoveryPhrase}")
        a(ng-click="display.securityphrase_action = !display.securityphrase_action")
          img(src="img/badge-securityphrase.png")
          p(translate="ADD_WALLET_RECOVERY")
      .col-md-3.secbadge
        a(ng-click="display.passwordhint_action = !display.passwordhint_action")
          img(src="img/badge-passwordhint.png")
          p(translate="ADD_PASSWORD_HINT")
          
      .col-xs-12.actionHolder(ng-show="display.email_action")	  
        .actionitem(ng-hide="user.isEmailVerified")
          h3 Add Your Email Address
          p Adding your email address will allow us to email you password and GUID reminders.
          resend-email-confirmation

      .col-xs-12.actionHolder(ng-show="display.securityphrase_action")
        .actionitem(ng-hide="status.didConfirmRecoveryPhrase")
          h3 Backup Your Security Phrase
          p Your Security Phrase allows you to access your wallet in case you forget your password. Keep it very safe!
          confirm-recovery-phrase

      .col-xs-12.actionHolder(ng-show="display.passwordhint_action")
        .actionitem
          h3 Set A Password Hint
          p We cannot reset or help you if you lose your password. Set a memorable hint that will jar your memory that we can send to your email address.
        
  .row.bucket
    .col-xs-12.level2.level
      .col-md-3.title
        img(src="img/security-icon-2.png")
        p Level 2
      .col-md-3.secbadge(ng-class="{'badge-active': user.isMobileVerified}")
        a(ng-click="display.mobilenumber_action = !display.mobilenumber_action")
          img(src="img/badge-addmobile.png")
          p(TRANSLATE="ADD_MOBILE_NUMBER")
      .col-md-3.secbadge(ng-class="{'badge-active': settings.needs2FA}")
        a(ng-click="display.twofactor_action = !display.twofactor_action")
          img(src="img/badge-add2FA.png")
          p(TRANSLATE="ADD_TWO_FACTOR")
      .col-md-3.secbadge

      .col-xs-12.actionHolder(ng-show="display.mobilenumber_action")
        .actionitem(ng-hide="user.isMobileVerified")
          h3 Add Your Mobile Number for Instant Alerts
          p By adding a mobile number you will be alerted whenever your wallet is accessed and when funds are sent or received.
          configure-mobile-number
      
      .col-xs-12.actionHolder(ng-show="display.twofactor_action")
        .actionitem(ng-hide="settings.needs2FA")
          h3 Add Two Factor Authorization
          p By adding a Two Factor option you will be required to confirm every access attempt into your wallet.
          two-factor
 
  .row.bucket
    .col-xs-12.level3.level
      .col-md-3.title
        img(src="img/security-icon-3.png")
        p Level 3
      .col-md-3.secbadge
        a(ng-click="display.blockie_action = !display.blockie_action")
          img(src="img/badge-blockIE.png")
          p("TRANSLATE=ADD_BLOCK_IE")
      .col-md-3.secbadge(ng-class="{'badge-active': settings.blockTOR}")
        a(ng-click="display.blocktor_action = !display.blocktor_action")
          img(src="img/badge-blockTOR.png")
          p(TRANSLATE="ADD_BLOCK_TOR")
      .col-md-3.secbadge

      .col-xs-12.actionHolder(ng-show="display.blockie_action")
        .actionitem()
          h3 Block IE
          p Blah

      .col-xs-12.actionHolder(ng-show="display.blocktor_action")
        .actionitem(ng-hide="settings.blockTOR")
          h3 Block Tor
          p Blah
          tor
