.security-center
  p.headliner(translate="SECURITY_LEVEL_EXPLAIN")
  .row.badge-container
    .col-xs-6.col-centered.thebadge.current
      h2(translate="CURRENT_LEVEL")
      span(ng-show="security.level == null")
        img(src="img/spinner.gif")
      security-badge(level="security.level", ng-hide="security.level == 0 || security.level == null").current
    .col-xs-6.col-centered.thebadge(ng-hide="security.level == 3 || security.level == null")
      h2(translate="IN_PROGRESS")
      security-badge(level="security.level + 1", pending="1")    
  .row.spacing(ng-hide="security.level == 3")
    .col-xs-12
      h2(translate="SECURITY_LEVEL_NEXT_STEPS")
  .next-step.row(ng-hide="user.isEmailVerified")
    //- .col-xs-2
    //- p.points(translate="TEMP_POINTS")
    .col-xs-6
      p
        strong(translate="VERIFY_EMAIL")
      p(translate="VERIFY_EMAIL_EXPLAIN")
    .col-xs-6
      resend-email-confirmation
  .next-step.row(ng-hide="user.isMobileVerified || security.level < 1")
    .col-xs-12
      .form-group
        .col-sm-6
          label(translate="MOBILE_NUMBER")
          span.label.label-warning(translate="UNVERIFIED", ng-show="!user.isMobileVerified")
          span.label.label-success(translate="VERIFIED", ng-show="user.isMobileVerified")
          br
          p(translate="MOBILE_NUMBER_EXPLAIN")    
        .col-sm-6
           configure-mobile-number(ng-hide="user.isMobileVerified || security.level < 1")
  .next-step.row(ng-hide="settings.needs2FA || security.level < 1")     
    .col-xs-12
      .form-group 
        .col-sm-6
          label(translate="TWO_FACTOR")
          span.label.label-warning(translate="DISABLED", ng-show="!settings.needs2FA")
          span.label.label-success(translate="ENABLED", ng-show="settings.needs2FA")
          br
          p(translate="TWO_FACTOR_EXPLAIN")    
        .col-sm-6
          two-factor
  .next-step.row(ng-hide="status.didConfirmRecoveryPhrase || security.level < 1")
    .col-xs-12    
      .row
        .col-xs-12
          .header-with-label
            h2(translate="MY_RECOVERY_PHRASE")
            span.label.label-danger(translate="UNCONFIRMED", ng-hide="status.didConfirmRecoveryPhrase ")
      .row
        .col-xs-6
          p(translate="RECOVERY_PHRASE_EXPLAIN")
        .col-xs-6.right
          confirm-recovery-phrase
  .next-step.row(ng-hide="settings.secondPassword || security.level < 2")
    .col-xs-12
      .row
        .col-xs-12
          h2(translate="WALLET_SECOND_PASSWORD")
      .row
        .col-xs-6
          p(translate="WALLET_SECOND_PASSWORD_EXPLAIN")
        .col-xs-6
          p
            b.text-success(translate="SECOND_PASSWORD_SET", ng-show="settings.secondPassword")  
          p        
            configure-second-password
  .next-step.row(ng-hide="settings.blockTOR || security.level < 2")
    .col-xs-12 
      .row
        .col-xs-12
          h2(translate="BLOCK_TOR")
      .row
        .col-xs-6
          p(translate="BLOCK_TOR_EXPLAIN")
        .col-xs-6
          h2.status.incomplete(ng-hide="settings.blockTOR", translate="DISABLED")
          h2.status.complete(ng-show="settings.blockTOR", translate="ENABLED")
          p 
            tor
  .next-step.row(ng-hide="legacyAddresses.length == 0 || security.level < 2")
    .col-xs-12         
      .row(ng-hide="legacyAddresses.length == 0 || security.level < 2")
        //-.col-xs-2
          //-p.points(translate="TEMP_POINTS")
        .col-xs-6
          p
            strong(translate="SWEEP_LEGACY")
          p(translate="SWEEP_LEGACY_EXPLAIN")
        .col-xs-6
          ul
            li(ng-repeat="address in legacyAddresses")
              a(ui-sref="settings.address({address: address.address})")
                | {{ address.address | limitTo:8 }}... 
                | : {{ address.balance | btc }} 
          a(ng-click="transfer(address)") (transfer)
