.modal-header
  h3(translate="SET_SECOND_PASSWORD")
.modal-body
  form.form-horizontal(role="form",name="form",novalidate)
    .form-group(ng-class="{'has-error': errors.password, 'has-success': success.password}")
      label.col-sm-4.control-label(translate="NEW_PASSWORD")
      .col-sm-8
        input.form-control(type="password",ng-model="fields.password",autofocus,ng-blur="validate()", ng-focus="errors.password = null")
        span.help-block {{ errors.password }}
    .form-group(ng-class="{'has-error': errors.confirmation, 'has-success': success.confirmation}")
      label.col-sm-4.control-label(translate="CONFIRM_PASSWORD")
      .col-sm-8
        input.form-control(type="password",ng-model="fields.confirmation",autofocus,ng-blur="validate()", ng-focus="errors.confirmation = null")
        span.help-block {{ errors.confirmation }}
.modal-footer
  button.btn.btn-info(ng-click="close()", translate="CLOSE", ng-hide="busy")
  button.btn.btn-primary(ui-ladda= "{{ busy }}", ng-click="setPassword()",ng-disabled="!isValid", ladda-translate="SET_PASSWORD")