.modal-header
  h3(translate="YOUR_PRIVATE_KEY")
.modal-body
  div(ng-hide="accessAllowed")
    p(translate="PRIVATE_KEY_WARNING")
  div(ng-show="accessAllowed")
    .row
      .col-sm-4.col-md-3
        qr(text="privKeys[format]" size="120" correction-level="'M'")
      .col-sm-12.col-md-8
        p
          label(translate="ADDRESS")
          span : {{ address }}
        p
          label(translate="BALANCE")
          span : {{ balance | convert }}
        p
          label(translate="YOUR_PRIVATE_KEY") 
          span : {{ privKeys[format] }}
        .flex-row.flex-center
          label.prs
            span(translate="PK_FORMAT")
            |:
          .flex-2
            ui-select(ng-model="$parent.format")
              ui-select-match
                span {{ $select.selected }}
              ui-select-choices(repeat="fmt in formats")
                span {{ fmt }}
.modal-footer
  button.button-default.mrm(ng-click="close()", translate="CLOSE")
  button.button-primary(ng-hide="accessAllowed" ng-click="tryContinue()" translate="CONTINUE")
