.modal-header
  h3(translate="YOUR_PRIVATE_KEY")
.modal-body
  div.show-key-body
    div(ng-hide="accessAllowed")
      .col-sm-10.col-sm-offset-1
        p(translate="PRIVATE_KEY_WARNING")
      .col-sm-10.col-sm-offset-1(ng-show="needsSecondPassword")
        label(translate="SECOND_PASSWORD")
        span : 
        input(type="password", ng-model="secondPasswordInput", autofocus)
      .col-sm-10.col-sm-offset-1(ng-show="incorrectSecondPassword")
        label.wrong-password(translate="INCORRECT_PASSWORD")
    div(ng-show="accessAllowed")
      .col-sm-2.col-sm-offset-1
        qr(text="privKey", size=120, correction-level="'M'")
      .col-sm-9
        p
          label(translate="ADDRESS")
          span : {{ address }}
        p
          label(translate="BALANCE")
          span : {{ balance | btc }}
        p
          label(translate="YOUR_PRIVATE_KEY") 
          span : {{ privKey }}
.modal-footer
  button.btn.btn-info(ng-click="close()", translate="CLOSE")
  button.btn.btn-primary(ng-hide="accessAllowed", ng-click="tryContinue()", translate="CONTINUE")