.modal-header
  .flex-center
    img.mrm.two-fa-image(src="img/2FA.png")
    h3.mvn(translate="ENABLE_TWO_STEP" ng-hide="isStep('disable')")
    h3.mvn(translate="DISABLE_TWO_STEP" ng-show="isStep('disable')")
    helper-button(content="TWO_STEP_EXPLAIN")
.modal-body.two-factor-modal
  .alert-in-app
    alerts(context="alerts")
  div(ng-show="isStep('disable')")
    h5(translate="CONFIRM_DISABLE_2FA")
  div(ng-show="isStep('enable')")
    .flex.flex-align-end.row.pal
      .flex-column.col-xs-6.flex-center.border-right(ng-click="authWithPhone()")
        img.phone-image.mbl.pointer(src="img/phone.png")
        a(translate="USE_MOBILE")
      .flex-column.col-xs-6.flex-center(ng-click="authWithApp()")
        i.ti-lock.pointer
        a(translate="USE_AUTH_YUBIKEY")
  .pal(ng-show="isStep('configure_mobile')")
    configure-mobile-number(on-success="mobileNumber.step = 2" on-cancel="goToStep('enable')" ng-show="mobileNumber.step == 1")
    verify-mobile-number(on-success="mobileNumber.step = 0" ng-show="mobileNumber.step == 2")
  .row.clearfix.pal(ng-show="isStep('pair')")
    .col-xs-6.flex-justify.flex
      a(ng-click="pairWith = 'authenticator'", ng-class="{'basic-grey' : pairWith == 'yubiKey'}") Google Authenticator
    .col-xs-6.flex-justify.flex
      a(ng-click="pairWith = 'yubiKey'", ng-class="{'basic-grey' : pairWith == 'authenticator'}") YubiKey
    .col-xs-12.mtl(ng-show="pairWith == 'authenticator'")
      img(ng-hide="settings.googleAuthenticatorSecret" src="img/spinner.gif")
      .form-group.flex-between(ng-if="settings.googleAuthenticatorSecret" ng-class="{'has-error': errors.authenticatorCode}")
        qr(text="settings.googleAuthenticatorSecret", size=172, image="true")
        .flex-column.flex-center.flex-1.pal
          p.width-75(translate="SCAN_QR_CODE_GA")
          input.form-control.width-75(type="text" ng-model="fields.authenticatorCode")
    .col-xs-12.mtl(ng-show="pairWith == 'yubiKey'")
      .flex-center.flex-column.pal.form-group(ng-class="{'has-error': errors.yubiKeyCode}")
        p.mbm(translate="PAIR_YUBIKEY")
        input.form-control(type="text" ng-model="fields.yubiKeyCode")
  //- div(ng-show="isStep('confirm_sms')")
    p We have sent a SMS message to <b>{{ user.mobile.number }}</b> containing a 5 digit code. Enter that code below to complete the 2FA setup.
    input(ng-model="fields.smsCode")
    button(translate="CONTINUE" ng-click="goToStep('success')")
  div(ng-show="isStep('success')")
    h2.status.complete
      span(ng-show="settings.twoFactorMethod == 1" translate="2FA_YUBI")
      span(ng-show="settings.twoFactorMethod == 4" translate="2FA_GOOGLE_AUTH")
      span(ng-show="settings.twoFactorMethod == 5" translate="2FA_SMS")
    h5(translate="2FA_SUCCESS")
  div(ng-show="isStep('loading')")
    img(src="img/spinner.gif")
  div(ng-show="isStep('error')")
    p(translate="2FA_ERROR")
.modal-footer.pal.flex-end
  button.button-muted(ng-click="mobileNumber.step = 1; goToStep('configure_mobile')" ng-show="mobileNumber.step === 2 && isStep('configure_mobile')") Change Mobile Number
  button.button-muted.mrm(ng-click="close()" translate="CLOSE")
  button.button-success(ui-ladda="status.loading" data-style="expand-left" ng-show="isStep('pair')" ng-disabled="!validateCode(pairWith)" ng-click="pairWithApp(pairWith)" ladda-translate="ENABLE_2FA")
  button.button-danger(translate="DISABLE" ng-click="disableTwoFactor(); close()" ng-show="isStep('disable')")
