.modal-header(data-preflight-tag="Change2FA")
  .flex-center
    img.mrm.two-fa-image(src="img/2FA.png")
    h3.mvn(translate="ENABLE_TWO_STEP" ng-hide="isStep('disable')")
    h3.mvn(translate="DISABLE_TWO_STEP" ng-show="isStep('disable')")
    helper-button(content="TWO_STEP_EXPLAIN")
.modal-body.two-factor-modal
  .alert-in-app
    alerts(context="alerts")
  .flex-center.flex-column(ng-show="isStep('disable')")
    i.ti-na.font-4.security-red
    p(translate="CONFIRM_DISABLE_2FA")
  .bc-carousel.no-arrows(ng-show="isStep('enable')")
    uib-carousel(no-wrap="true" interval="0" active="active")
      uib-slide(index="0")
        .flex-column.pointer(ng-click="authWithApp()")
          i.ti-lock.font-4
          a(translate="USE_AUTH_YUBIKEY")
      uib-slide(index="1")
        .flex-column.pointer(ng-click="authWithPhone()")
          i.ti-mobile.font-4
          a(translate="USE_MOBILE")
  .pal(ng-show="isStep('configure_mobile')")
    configure-mobile-number(on-success="mobileNumber.step = 2" on-cancel="goToStep('enable')" ng-show="mobileNumber.step == 1")
    verify-mobile-number(on-success="mobileNumber.step = 0" ng-show="mobileNumber.step == 2")
  .row.clearfix.pal(ng-show="isStep('pair')")
    .col-xs-6.flex-justify.flex
      a(ng-click="pairWith = 'authenticator'", ng-class="{'basic-grey' : pairWith == 'yubiKey'}") Google Authenticator
    .col-xs-6.flex-justify.flex
      a(ng-click="pairWith = 'yubiKey'", ng-class="{'basic-grey' : pairWith == 'authenticator'}") YubiKey
    .col-xs-12.mtl.flex-center.flex-justify(ng-show="pairWith == 'authenticator'")
      img(ng-hide="settings.googleAuthenticatorSecret" src="img/spinner.gif")
      .flex-column.flex-center(ng-if="settings.googleAuthenticatorSecret" ng-class="{'has-error': errors.authenticatorCode}")
        qr.pal(text="settings.googleAuthenticatorSecret", size=100, image="true")
        .flex-column.flex-center
          p.width-75.left(translate="SCAN_QR_CODE_GA")
          input.form-control.width-75(type="text" ng-model="fields.authenticatorCode")
    .col-xs-12.mtl(ng-show="pairWith == 'yubiKey'")
      .flex-center.flex-column.pal(ng-class="{'has-error': errors.yubiKeyCode}")
        p.mbm(translate="PAIR_YUBIKEY")
        input.form-control(type="text" ng-model="fields.yubiKeyCode")
  //- div(ng-show="isStep('confirm_sms')")
    p We have sent a SMS message to <b>{{ user.mobile.number }}</b> containing a 5 digit code. Enter that code below to complete the 2FA setup.
    input(ng-model="fields.smsCode")
    button(translate="CONTINUE" ng-click="goToStep('success')")
  .flex-center.flex-column(ng-show="isStep('success')")
    i.ti-lock.font-4.success(ng-show="settings.twoFactorMethod == 1 || settings.twoFactorMethod == 4")
    i.ti-mobile.font-4.success(ng-show="settings.twoFactorMethod == 5")
    p(translate="2FA_SUCCESS")
  .flex-center.flex-column(ng-show="isStep('loading')")
    img(src="img/spinner.gif")
  div(ng-show="isStep('error')")
    p(translate="2FA_ERROR")
.modal-footer.pal.flex-center.flex-between
  .flex-start
    button.button-muted(ng-show="isStep('configure_mobile') || isStep('pair')" ng-click="goToStep('enable')" translate="CANCEL")
  .flex-end
    button.button-muted(ng-click="mobileNumber.step = 1; goToStep('configure_mobile')" ng-show="mobileNumber.step === 2 && isStep('configure_mobile')") Change Mobile Number
    button.button-muted.mrm(ng-click="close()" translate="CLOSE")
    button.button-primary(ui-ladda="status.loading" data-style="expand-left" ng-show="isStep('pair')" ng-disabled="!validateCode(pairWith)" ng-click="pairWithApp(pairWith)" ladda-translate="ENABLE_2FA")
    button.button-danger(translate="DISABLE" ng-click="disableTwoFactor(); close()" ng-show="isStep('disable')")
