.modal-header
  .flex-center.pam
    h3.man.mrm(translate="VERIFY_MESSAGE")
    helper-button(content="VERIFY_MESSAGE_EXPLAIN")
#sign-msg.modal-body.fade
  .alert-in-app
    alerts(context="alerts")
  form.ph-form(role="form" name="verifyMessageForm" autocomplete="off" novalidate)
    .form-group.row.pbm.flex-justify.flex-center(
      ng-class="{'has-error': verifyMessageForm.address.$invalid && verifyMessageForm.address.$touched}")
      label.control-label.mbn.colon(translate="ADDRESS")
      .flex-1
        input.form-control(ng-model="address" name="address" is-valid="isBitcoinAddress(address)" required)
    .form-group.row.pbm.flex-row.flex-justify.note(
      ng-class="{'has-error': verifyMessageForm.message.$invalid && verifyMessageForm.message.$touched}")
      label.control-label.colon(translate="MESSAGE")
      textarea.form-control(rows="3" ng-model="message" name="message" required)
    .form-group.row.pbm.flex-row.flex-justify.note(
      ng-class="{'has-error': verifyMessageForm.signature.$invalid && verifyMessageForm.signature.$touched}")
      label.control-label.colon(translate="SIGNATURE")
      textarea.form-control(rows="3" ng-model="signature" name="signature" is-valid="isBase64(signature)" required)
    .pull-right.type-h4.flex-center(ng-show="verified != null")
      span.mrm(translate="{{ verified ? 'MSG_VERIFIED' : 'MSG_NOT_VERIFIED' }}")
      span.type-h4(ng-class="{ 'ti-check success': verified, 'ti-close security-red': !verified }")
.modal-footer
    button.button-muted.mrm(translate="CLOSE" ng-click="$dismiss()" ng-hide="verified != null")
    button.btn.button-primary(translate="VERIFY" ng-click="verify()" ng-disabled="verifyMessageForm.$invalid" ng-hide="verified != null")
    button.btn.button-primary(translate="DONE" ng-click="$dismiss()" ng-show="verified != null")
