confirm-recovery-phrase

.row
  .col-xs-12
    a(ng-click="toggleRecoveryPhrase()", ng-hide="showRecoveryPhrase", translate="SHOW_RECOVERY_PHRASE")
    a(ng-click="toggleRecoveryPhrase()", ng-show="showRecoveryPhrase", translate="HIDE_RECOVERY_PHRASE")

.row
  .col-xs-12
    pre(ng-show="showRecoveryPhrase") {{ recoveryPhrase }}

.row
  .col-xs-12
    h2(translate="IMPORT_RECOVERY_PHRASE")
.row
  .col-xs-6
    p(translate="IMPORT_RECOVERY_PHRASE_EXPLAIN")
  .col-xs-6.right
    p
      a(ng-click="importRecoveryPhrase()",translate="IMPORT_RECOVERY_PHRASE", ng-hide="editMnemonic")
    input.form-control(type="text",ng-model="mnemonic", ng-focus="errors.mnemonic = null", ng-disabled="importing", ng-show="editMnemonic")
    br
    img(ng-show="importing" src="img/spinner.gif")     
    a.btn.btn-primary(ng-click="performImport()", translate="IMPORT", ng-show="editMnemonic && !importing", ng-disabled="!isValid")
      
