h5.well.headliner.hidden-xs(translate="WALLET_RECOVERY_EXPLAIN")
form.form-horizontal(role="form" name="recoveryForm" novalidate)  
  .form-group
    .col-sm-12.col-md-6
      label(translate="MY_RECOVERY_PHRASE")
      span.label.label-danger.hidden-xs.hidden-sm(translate="UNCONFIRMED", ng-hide="status.didConfirmRecoveryPhrase ")
      span.label.label-success.hidden-sm.hidden-xs(translate="VERIFIED", ng-show="status.didConfirmRecoveryPhrase")
      p.explain.hidden-xs.hidden-sm(translate="RECOVERY_PHRASE_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      confirm-recovery-phrase
      a.recovery.button-muted(ng-click="toggleRecoveryPhrase()", ng-hide="showRecoveryPhrase", translate="SHOW_RECOVERY_PHRASE")
      a.recovery.button-muted(ng-click="toggleRecoveryPhrase()", ng-show="showRecoveryPhrase", translate="HIDE_RECOVERY_PHRASE")

    .row
      .col-xs-12
        pre.recovery(ng-show="showRecoveryPhrase", ng-cut="doNotCopyPaste($event)" ng-copy="doNotCopyPaste($event)") {{ recoveryPhrase }}
        pre.recovery(ng-show="showRecoveryPhrase && recoveryPassphrase", ng-cut="doNotCopyPaste($event)" ng-copy="doNotCopyPaste($event)") {{ recoveryPassphrase }}
        
  .form-group
    .col-sm-12.col-md-6
      label(translate="IMPORT_RECOVERY_PHRASE")
      p.explain.hidden-xs.hidden-sm(translate="IMPORT_RECOVERY_PHRASE_EXPLAIN")    
    .col-sm-12.col-md-6.setting-result
      p
        a.button-primary(ng-click="importRecoveryPhrase()",translate="IMPORT_RECOVERY_PHRASE", ng-hide="editMnemonic")
      .flex-column.flex-around.mbl(ng-show="editMnemonic")
        .mbl(ng-class="{'has-error': recoveryForm.mnemonic.$invalid && recoveryForm.mnemonic.$touched}")
          label
            span(translate="RECOVERY_PHRASE")
            |:
          input.form-control(type="text" ng-model="mnemonic" name="mnemonic" ng-focus="errors.mnemonic = null" ng-disabled="importing" is-valid="isValidMnemonic(mnemonic)" autofocus required)
          span.help-block(translate="ENTER_VALID_AMOUNT" ng-show="recoveryForm.mnemonic.$invalid && recoveryForm.mnemonic.$touched")
        .mbs
          label
            span(translate="OPTIONAL_PASSPHRASE")
            |:
          input.form-control(type="text",ng-model="passphrase", ng-disabled="importing", ng-show="editMnemonic")

      img(ng-show="importing" src="img/spinner.gif")     
      button.button-primary(ui-ladda="{{ importing }}" ng-click="performImport()" ng-disabled="recoveryForm.$invalid" data-style="expand-left" ladda-translate="IMPORT" ng-show="editMnemonic")       
