form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-3
      label(translate="LANGUAGE")
      br
      p(translate="LANGUAGE_EXPLAIN")    
    .col-sm-6
      language-picker(language="settings.language")
  .form-group
    .col-sm-3
      label(translate="CURRENCY")
      br
      p(translate="CURRENCY_EXPLAIN")    
    .col-sm-6
      currency-picker(currency="settings.currency")