form.form-horizontal(role="form",name="form",novalidate)  
  .form-group
    .col-sm-3
      label(translate="LANGUAGE")
      br
      p(translate="LANGUAGE_EXPLAIN")    
    .col-sm-6
      ui-select(ng-model="settings.language")
        ui-select-match {{ $select.selected.name }}
        ui-select-choices(repeat="language in languages | filter:$select.search") 
          span(ng-bind-html="language.name | highlight: $select.search")