doctype
html(ng-app="AdminInterface" lang='en')
  head
    meta(charset='utf-8')
    title Beta Admin
    
    <!-- @if !PRODUCTION -->
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/angular/angular.js')
    script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')

    link(rel='stylesheet', href='../build/css/blockchain.css')
    link(rel='stylesheet', href='../build/css/navigation.css')
    
    script(src='../app/admin.js')
    <!-- @endif -->
        
    <!-- @if PRODUCTION !>
    link(rel='stylesheet', href='../beta-admin.css')
    script(src='../beta-admin.js')
    <!-- @endif -->

  body.overflow-scroll(ng-controller="AdminCtrl")
    .navbar.navbar-default.navbar-inverse.navbar-unauth(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand
            img#logo(src="../img/logo-updated.png" alt="Blockchain")
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.item
              a(href="/") Home
            li.item
              a(href="/") About
            li.item.active
              a(href="/") Wallet
            li.item
              a(href="/") Explorer
            li.item
              a(href="/") Merchant
            li.item
              a(href="/") Support
    
    div.container.login-form
      h1 HD Beta Admin Interface
      .form-group.col-xs-6
        form.form-inline
          button.btn.btn-default(ng-click="openModal('assignKeyModal.html', 'AssignKeyCtrl')") + New Key
          button.btn.btn-default(ng-click="openModal('capturePageModal.html', 'CapturePageCtrl')") Capture Page
          button.btn.btn-default(ng-click="openModal('activationModal.html', 'ActivateKeysCtrl')")
            span.glyphicon.glyphicon-flash
            span &nbsp;Activate Keys
          button.btn.btn-default(ng-click="retrieveCSV()") CSV
      .form-group.col-xs-6
        form.form-inline.pull-right(name="searchForm" ng-submit="load()" novalidate)
          input.form-control(ng-model="search.text" type="text" placeholder="Search" required)
          select.form-control(ng-model="search.filter" ng-options="f for f in filters" required)
          button.btn.btn-default(ng-disabled="searchForm.$invalid" type="submit")
            span(class="glyphicon glyphicon-arrow-right")
      .form-group.col-xs-6.ng-cloak
        label {{ walletCount }} Wallets Created
      .table-div.ng-cloak
        table.table.table-hover.table-condensed
          tr
            th.pointer(ng-repeat="th in headers" ng-click="sort(th)") {{ th }}
            th edit
            th revoke
          tr(ng-repeat="item in tableData")
            td {{ item.rowid }}
            td {{ item.key }}
            td {{ item.name }}
            td {{ item.email }}
            td {{ getDateFromTime(item.lastseen) }}
            td {{ item.guid }}
            td {{ (item.activated) ? 'Activated' : 'Pending' }}
            td
              a(ng-click="openModal('editModal.html', 'EditKeyCtrl', item)") edit
            td
              a(ng-click="revokeKey(item.rowid)") revoke

    // Assign new key modal
    script(type="text/ng-template" id="assignKeyModal.html").
      <div class="modal-header">
        <h3>Assign New Key</h3>
      </div>
      <div class="modal-body">
        <form name="assignForm" ng-submit="assignKey(fields.name, fields.email, fields.guid)" novalidate>
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-2 control-label">Name</label>
              <div class="col-xs-8">
                <input class="form-control" ng-model="fields.name" name="name" type="text" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-2 control-label">Email</label>
              <div class="col-xs-8">
                <input class="form-control" ng-model="fields.email" name="email" type="email" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-2 control-label">Existing Guid</label>
              <div class="col-xs-8">
                <input class="form-control" ng-model="fields.guid" type="text" placeholder="(optional)">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-2 col-xs-offset-2">
                <button class="btn btn-default" name="submit" type="submit" ng-disabled="assignForm.$invalid">Assign</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    // Edit/Activate key modal
    script(type="text/ng-template" id="editModal.html").
      <div class="modal-header">
        <h3>Edit Entry</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="editForm" ng-submit="submitEdit()" novalidate>
          <div class="form-group">
            <label class="col-xs-2 control-label">Key</label>
            <div class="col-xs-8"><input class="form-control" ng-model="fields.key" name="key" type="text" disabled></div> 
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label">Name</label>
            <div class="col-xs-8"><input class="form-control" ng-model="fields.name" name="name" type="text" placeholder="(optional)"></div> 
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label">Email</label>
            <div class="col-xs-8"><input class="form-control" ng-model="fields.email" name="email" type="email" placeholder="(optional)"></div> 
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label">Guid</label>
            <div class="col-xs-8"><input class="form-control" ng-model="fields.guid" name="guid" type="text" placeholder="(optional)"></div> 
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label">iOS</label>
            <div class="col-xs-4">
              <div class="form-control"><input type="checkbox" ng-model="fields.ios" name="iosReq" disabled><label>&nbsp;Requested</label></div>
            </div>
            <div class="col-xs-4">
              <div class="form-control"><input type="checkbox" ng-model="fields.ios_sent" name="iosSent" ng-disabled="fields.ios_sent || !fields.ios"><label>&nbsp;Invitation Sent</label></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 control-label">Android</label>
            <div class="col-xs-4">
              <div class="form-control"><input type="checkbox" ng-model="fields.android" name="androidReq" disabled><label>&nbsp;Requested</label></div>
            </div>
            <div class="col-xs-4">
              <div class="form-control"><input type="checkbox" ng-model="fields.android_sent" name="androidSent" ng-disabled="fields.android_sent || !fields.android"><label>&nbsp;Invitation Sent</label></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5 col-xs-offset-2">
              <button class="btn" ng-disabled="editForm.$invalid" ng-class="(fields.activated) ? 'btn-default' : 'btn-danger'" type="submit">
                {{ (fields.activated) ? 'Update' : 'Activate' }}
              </button>
              <button class="btn btn-default mlm" ng-show="fields.activated" ng-click="resendActivationEmail()" ng-disabled="resending" type="button">
                {{ resendText }}
              </button>
            </div> 
          </div>
        </form>
      </div>

    // Capture page settings modal
    script(type="text/ng-template" id="capturePageModal.html").
      <div class="modal-header">
        <h3>Capture Page Settings</h3>
      </div>
      <div class="modal-body">
        <form name="captureForm" ng-submit="setPercent(percent)" novalidate>
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-4 control-label">Current</label>
              <div class="col-xs-6">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" style="width: {{percentRequested}}%">{{percentRequested}}%</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Percent Requested</label>
              <div class="col-xs-6">
                <input class="form-control" ng-model="percent" name="percent" type="number" min="0" max="100" required />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 col-xs-offset-4">
                <button class="btn btn-default" ng-disabled="captureForm.$invalid" type="submit">Set</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    // Activate many keys modal
    script(type="text/ng-template" id="activationModal.html").
      <div class="modal-header">
        <h3>Activate Multiple</h3>
      </div>
      <div class="modal-body" ng-switch="step">
        <div ng-switch-when="0">
          <form class="form-horizontal" name="activationForm" ng-submit="activate(min, max)" novalidate>
            <div class="form-group">
              <label class="col-xs-3 control-label">Min id</label>
              <div class="col-xs-3"><input class="form-control" ng-model="min" name="min" type="number"></div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label">Max id</label>
              <div class="col-xs-3"><input class="form-control" ng-model="max" name="max" type="number"></div>
            </div>
            <div class="form-group">
              <div class="col-xs-3 col-xs-offset-3">
                <button class="btn btn-danger" ng-disabled="activationForm.$invalid" type="submit">Activate</button>
              </div>
            </div>
          </form>
        </div>
        <div ng-switch-when="1">
          <p>Please wait...</p>
          <p>This process may take several minutes to complete</p>
        </div>
        <div ng-switch-when="2">
          <div class="col-xs-offset-3">
            <p>{{numKeys}} keys have been activated</p>
            <p>{{numEmails}} emails were sent</p>
            <span class="text-danger" ng-show="errors.length > 0">
              <p>{{errors.length}} emails failed to send!</p>
              <p ng-repeat="err in errors track by $index">
                Send failed ({{err.key}}, {{err.email}}): {{err.message}}
              </p>
            <span>
          </div>
        </div>
      </div>
