doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Beta Admin
    link(rel='stylesheet', href='../bower_components/bootstrap-css-only/css/bootstrap.css')
    script(src='../bower_components/jquery/dist/jquery.js')

  body
    div.container
      h1 HD Beta Admin Interface
      .form-group
        label New Key
        form#key-form.form-inline
          input#name-input.form-control(type="text" placeholder="Name")
          input#email-input.form-control(type="text" placeholder="Email")
          input.btn.btn-default(type="submit" value="Assign")  
          br
          input#guid-input.form-control(type="text" placeholder="Existing GUID")
          | (optional)
      .form-group
        label Sort By
        .form-inline
          input.btn.btn-default.sort(type="button" value="Name: A-Z" data-sort="name" data-order="A")
          input.btn.btn-default.sort(type="button" value="Email: A-Z" data-sort="email" data-order="A")
          input.btn.btn-default.sort(type="button" value="Last Seen: Least Recent" data-sort="lastseen" data-order="A")
        .form-inline
          input.btn.btn-default.sort(type="button" value="Name: Z-A" data-sort="name" data-order="Z")
          input.btn.btn-default.sort(type="button" value="Email: Z-A" data-sort="email" data-order="Z")
          input.btn.btn-default.sort(type="button" value="Last Seen: Most Recent" data-sort="lastseen" data-order="Z")
      .table-div
        table#key-table.table.table-hover.table-condensed
    script(src='../betaAdminClient.js')