doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title My Wallet HD Beta
    link(rel='stylesheet', href='bower_components/bootstrap-css-only/css/bootstrap.css')
    script(src='bower_components/jquery/dist/jquery.js')

    !=css('app')
    !=css('navigation')
    !=css('login')

  body
    include ./beta/navigation.jade

    .container-fluid.login
      .row
        .col-xs-8.col-xs-offset-2
          h1 MyWallet HD Beta
      .row
        .login-form.col-xs-8.col-xs-offset-2
          form.form-horizontal(role="form")
            .form-group
              label.control-label.col-md-3 Beta Key
              .col-md-6
                input.form-control(type="text" name="key") 
            .form-group   
              .col-md-9
                input#login.btn.btn-primary.btn-login(type="submit" value="Continue")