doctype
html(lang='en', ng-app='walletApp', ng-init='savePassword=' + process.env.SAVE_PASSWORD ng-csp)
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1")  
    title Blockchain Wallet HD
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="bower_components/angular-ui-select/dist/select.min.css")
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-cookies/angular-cookies.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='bower_components/angular-ui-select/dist/select.min.js')
    script(src='bower_components/angular-audio/app/angular.audio.js')
    script(src='bower_components/qrcode/lib/qrcode.min.js')
    script(src='bower_components/angular-qr/angular-qr.min.js')
    script(src='bower_components/angular-local-storage/dist/angular-local-storage.min.js')
    script(src='bower_components/numeral/numeral.js')    
    script(src='bower_components/angular-numeraljs/dist/angular-numeraljs.js')    
    script(src='bower_components/angular-translate/angular-translate.js')
    script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
    script(src='bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')    
    script(src='bower_components/angular-bootstrap-slider/slider.js')
    
    // angular-ladda doesn't play nicely with ui-bootstrap
    // script(src="bower_components/ladda/js/spin.js")
    // script(src="bower_components/ladda/js/ladda.js")
    // script(src="bower_components/angular-ladda/dist/angular-ladda.min.js")
    
    link(rel='stylesheet', href='bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css')
    //- link(rel="stylesheet", href="bower_components/ladda/dist/ladda-themeless.min.css")
    !=css('ladda')
    
    !=css('app')
    !=css('navigation')
    !=css('transactions')
    !=css('accounts')
    !=css('top')
    !=css('left')
    !=css('payment-requests')
    !=css('send')
    !=css('settings')
    !=css('signup')
    !=css('directives')
    !=css('virtual-keyboard')
    !=css('angular-csp')
            
    // Blockchain MyWallet javascript (must be called before 'app')
    unless process.env.MYWALLET_MOCK == "1"
      !=js('my-wallet/shared')
      !=js('my-wallet/bitcoinjs')
      !=js('my-wallet/bower_components/cryptojslib/rollups/sha256.js')
      !=js('my-wallet/bower_components/cryptojslib/rollups/aes.js')
      !=js('my-wallet/bower_components/cryptojslib/rollups/pbkdf2.js')
      !=js('my-wallet/bower_components/cryptojslib/components/cipher-core.js')
      !=js('my-wallet/bower_components/cryptojslib/components/pad-iso10126.js')
      !=js('my-wallet/bower_components/cryptojslib/components/mode-ecb.js')
      !=js('my-wallet/bower_components/cryptojslib/components/pad-nopadding.js')
      !=js('my-wallet/node_modules/sjcl/sjcl')
      !=js('my-wallet/crypto-util-legacy.js')
      !=js('my-wallet/blockchainapi')
      !=js('my-wallet/signer')
      !=js('my-wallet/wallet')
      !=js('my-wallet/wallet-signup')
      !=js('my-wallet/HDWalletAccount.js')
      !=js('my-wallet/hdwallet')
      !=js('my-wallet/mnemonic')
      !=js('my-wallet/bip39')
      !=js('my-wallet/xregexp-all')
      !=js('my-wallet/import-export')
      !=js('my_wallet')
    
    if process.env.MYWALLET_MOCK == "1"
      // Use mock instead (uncomment the above):
      !=js('services/my_wallet_mock')
    
    !=js('country-data')
    !=js('app')
    !=js('translations')
    !=js('controllers')
    !=js('filters')
    !=js('routes')
    !=js('directives')
    !=js('services/wallet')
    !=js('templates')
    
    // https://github.com/LazarSoft/jsqrcode
    !=js('jsqrcode/src/grid')
    !=js('jsqrcode/src/version')
    !=js('jsqrcode/src/detector')
    !=js('jsqrcode/src/formatinf')
    !=js('jsqrcode/src/errorlevel')
    !=js('jsqrcode/src/bitmat')
    !=js('jsqrcode/src/datablock')
    !=js('jsqrcode/src/bmparser')
    !=js('jsqrcode/src/datamask')
    !=js('jsqrcode/src/rsdecoder')
    !=js('jsqrcode/src/gf256poly')
    !=js('jsqrcode/src/gf256')
    !=js('jsqrcode/src/decoder')
    !=js('jsqrcode/src/qrcode')
    !=js('jsqrcode/src/findpat')
    !=js('jsqrcode/src/alignpat')
    !=js('jsqrcode/src/databr')  
    
    !=js('webcam')
    

  body(ng-controller="AppCtrl")
    .navbar.navbar-inverse(role="navigation", ui-view="navigation")
    .container-fluid
      .row.spacing
      .row
        .col-xs-12(ui-view="alerts")
      .row
        .col-xs-3(ui-view="left")
        .col-xs-9
          div(ui-view="top")
          div(ui-view="right")