doctype
html(lang='en', ng-app='walletApp')
head
    meta(charset='utf-8')
    title Blockchain Wallet HD
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    !=js('app')
    !=js('controllers')
    !=js('filters')
    !=js('services')
    
    //- Blockchain MyWallet javascript: bip32 branch:
    //- !=js('my-wallet-modern/shared')
    //- !=js('my-wallet-modern/bitcoinjs')
    //- !=js('my-wallet-modern/wallet')
    
    //- Blockchain MyWallet javascript: master branch:
    !=js('my-wallet-legacy/shared')
    !=js('my-wallet-legacy/bitcoinjs')
    !=js('my-wallet-legacy/wallet')
  body
    .view-container
      .view-frame(ng-view='ng-view')