doctype
html(lang='en', ng-app='walletApp')
head
    meta(charset='utf-8')
    title Blockchain Wallet HD
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/transactions.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-cookies/angular-cookies.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    
    !=js('app')
    !=js('controllers')
    !=js('filters')
    !=js('services')
    
    //- Blockchain MyWallet javascript:
    !=js('my-wallet/shared')
    !=js('my-wallet/bitcoinjs')
    !=js('my-wallet/old_bitcoinjs')
    !=js('my-wallet/blockchainapi')
    !=js('my-wallet/wallet')
  body
    .navbar.navbar-inverse(role="navigation")
      .container-fluid
        a.navbar-brand.col-xs-2(href="#") Blockchain
        ul.nav.navbar-nav.col-xs-8
          li.item(ui-sref-active="active") 
            a(ui-sref="dashboard") Dashboard
          li.item(ui-sref-active="active") 
            a(ui-sref="transactions") Transactions
        ul.nav.navbar-nav.col-xs-2
          li.pull-right
            a(href="#") My Account
                
    .container-fluid(ui-view)