doctype
html(lang='en', ng-app='walletApp', ng-init='savePassword=' + process.env.SAVE_PASSWORD + "; beta=" + process.env.BETA ng-csp)
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1") 
    meta(name="theme-color" content="#187fc0")
    meta(name="apple-itunes-app" content="app-id=493253309")
    title Blockchain Wallet HD
    link(rel="stylesheet", href="bower_components/angular-ui-select/dist/select.css")
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-ui-select/dist/select.js')
    script(src='bower_components/angular-audio/app/angular.audio.js')
    script(src='bower_components/qrcode/lib/qrcode.js')
    script(src='bower_components/angular-qr/src/angular-qr.js')
    script(src='bower_components/angular-local-storage/dist/angular-local-storage.js')
    script(src='bower_components/numeral/numeral.js')    
    script(src='bower_components/angular-numeraljs/dist/angular-numeraljs.js')    
    script(src='bower_components/angular-translate/angular-translate.js')
    script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
    
    // Not used a.t.m. and they depend on jQuery:
    // script(src='bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')    
    // script(src='bower_components/angular-bootstrap-slider/slider.js')
   
    script(src='bower_components/angular-inview/angular-inview.js')
    script(src='bower_components/angular-password-entropy/password-entropy.js')
    script(src='bower_components/intl-tel-input/build/js/intlTelInput.js')
    script(src='bower_components/intl-tel-input/lib/libphonenumber/build/utils.js')
    script(src='bower_components/international-phone-number/releases/international-phone-number.js')
    script(src='bower_components/browserdetection/src/browser-detection.js')
    
    // angular-ladda doesn't play nicely with ui-bootstrap
    // script(src="bower_components/ladda/js/spin.js")
    // script(src="bower_components/ladda/js/ladda.js")
    // script(src="bower_components/angular-ladda/dist/angular-ladda.js")
    
    //- link(rel='stylesheet', href='bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css')
    //- link(rel="stylesheet", href="bower_components/ladda/dist/ladda-themeless.css")
    !=css('ladda')
    link(rel='stylesheet', href='build/css/blockchain.css')
    link(rel='stylesheet', href='build/css/app.css')
    link(rel='stylesheet', href='build/css/navigation.css')
    link(rel='stylesheet', href='build/css/transactions.css')
    link(rel='stylesheet', href='build/css/accounts.css')
    link(rel='stylesheet', href='build/css/top.css')
    link(rel='stylesheet', href='build/css/left.css')
    link(rel='stylesheet', href='build/css/payment-requests.css')
    link(rel='stylesheet', href='build/css/send.css')
    link(rel='stylesheet', href='build/css/settings.css')
    link(rel='stylesheet', href='build/css/signup.css')
    link(rel='stylesheet', href='build/css/login.css')
    link(rel='stylesheet', href='build/css/directives.css')
    link(rel='stylesheet', href='build/css/virtual-keyboard.css')
    link(rel='stylesheet', href='build/css/security-center.css')
    link(rel='stylesheet', href='build/css/security-badge.css')
    link(rel='stylesheet', href='build/css/verify-recovery-phrase.css')
    link(rel='stylesheet', href='build/css/angular-csp.css')
    link(rel='stylesheet', href='build/css/adverts.css')
        
    link(rel='stylesheet', href='build/css/intlTelInput.css')
    link(rel='stylesheet', href='build/css/show-private-key.css')
    
    // Blockchain MyWallet javascript (must be called before 'app')
    !=js('my-wallet/dist/my-wallet.js')        
    !=js('wrappers')
    
    !=js('app')
    !=js('translations')
    !=js('controllers')
    !=js('filters')
    !=js('routes')
    !=js('directives')
    !=js('services/wallet')
    !=js('services/security_center')
    !=js('services/adverts')
    !=js('templates')
    
    script(src='bower_components/bc-qr-reader/dist/bc-qr-reader.js')
    

  body(ng-controller="AppCtrl", ui-view="body")