doctype
<!-- @if !PRODUCTION --><html lang='en' ng-app='walletApp' ng-init="savePassword=#{ process.env.SAVE_PASSWORD || false }; beta=#{ process.env.BETA || false }" ng-csp><!-- @endif -->
<!-- @if PRODUCTION && !BETA !><html lang='en' ng-app='walletApp' ng-init='beta=0' ng-csp><!-- @endif -->
<!-- @if PRODUCTION && BETA !><html lang='en' ng-app='walletApp' ng-init='beta=1' ng-csp><!-- @endif -->
head
  meta(charset='utf-8')
  meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1") 
  meta(name="theme-color" content="#187fc0")
  meta(name="apple-itunes-app" content="app-id=493253309")
  link(rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico")
  title Blockchain Wallet HD
  <!-- @if !PRODUCTION -->
  link(rel="stylesheet", href="bower_components/angular-ui-select/dist/select.css")
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='bower_components/angular-animate/angular-animate.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='bower_components/angular-ui-select/dist/select.js')
  script(src='bower_components/angular-audio/app/angular.audio.js')
  script(src='bower_components/qrcode/lib/qrcode.js')
  script(src='bower_components/angular-qr/src/angular-qr.js')
  script(src='bower_components/angular-local-storage/dist/angular-local-storage.js')
  script(src='bower_components/numeral/numeral.js')    
  script(src='bower_components/angular-numeraljs/dist/angular-numeraljs.js')    
  script(src='bower_components/angular-translate/angular-translate.js')
  script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
  
  // Not used a.t.m. and they depend on jQuery:
  // script(src='bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')    
  // script(src='bower_components/angular-bootstrap-slider/slider.js')
 
  script(src='bower_components/angular-inview/angular-inview.js')
  script(src='bower_components/angular-password-entropy/password-entropy.js')
  
  // Depends on jQuery: 
  // https://github.com/mareczek/international-phone-number/issues/44
  script(src='bower_components/intl-tel-input/build/js/intlTelInput.js')
  script(src='bower_components/intl-tel-input/lib/libphonenumber/build/utils.js')
  script(src='bower_components/international-phone-number/releases/international-phone-number.js')
  
  
  script(src='bower_components/browserdetection/src/browser-detection.js')
  
  // angular-ladda doesn't play nicely with ui-bootstrap
  // script(src="bower_components/ladda/js/spin.js")
  // script(src="bower_components/ladda/js/ladda.js")
  // script(src="bower_components/angular-ladda/dist/angular-ladda.js")
  
  //- link(rel='stylesheet', href='bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css')
  //- link(rel="stylesheet", href="bower_components/ladda/dist/ladda-themeless.css")
  link(rel='stylesheet', href='build/css/ladda.css')
  link(rel='stylesheet', href='build/css/blockchain.css')
  link(rel='stylesheet', href='build/css/fonts.css')
  link(rel='stylesheet', href='build/css/top.css')
  link(rel='stylesheet', href='build/css/send.css')
  link(rel='stylesheet', href='build/css/settings.css')
  link(rel='stylesheet', href='build/css/signup.css')
  link(rel='stylesheet', href='build/css/login.css')
  link(rel='stylesheet', href='build/css/directives.css')
  link(rel='stylesheet', href='build/css/virtual-keyboard.css')
  link(rel='stylesheet', href='build/css/verify-recovery-phrase.css')
  link(rel='stylesheet', href='build/css/angular-csp.css')
      
  link(rel='stylesheet', href='build/css/intlTelInput.css')
  link(rel='stylesheet', href='build/css/show-private-key.css')
  
  // Blockchain MyWallet javascript (must be called before 'app')
  script(src='assets/js/my-wallet/dist/my-wallet.js')
  script(src='build/js/wrappers/my_blockchain_api.js')
  script(src='build/js/wrappers/my_wallet_settings.js')
  script(src='build/js/wrappers/my_wallet_spender.js')
  script(src='build/js/wrappers/my_wallet_store.js')
  script(src='build/js/wrappers/my_wallet.js')
  
  script(src='build/js/app.js')
  script(src='build/js/translations.js')
  
  script(src='build/js/controllers/account_form_ctrl.js')
  script(src='build/js/controllers/accounts_ctrl.js')
  script(src='build/js/controllers/alerts_ctrl.js')
  script(src='build/js/controllers/app_ctrl.js')
  script(src='build/js/controllers/claim_ctrl.js')
  script(src='build/js/controllers/claim_modal_ctrl.js')
  script(src='build/js/controllers/confirm_recovery_phrase_ctrl.js')
  script(src='build/js/controllers/dashboard_ctrl.js')
  script(src='build/js/controllers/feedback_ctrl.js')
  script(src='build/js/controllers/login_ctrl.js')
  script(src='build/js/controllers/navigation_ctrl.js')
  script(src='build/js/controllers/open_link_ctrl.js')
  script(src='build/js/controllers/registration_ctrl.js')
  script(src='build/js/controllers/request_ctrl.js')
  script(src='build/js/controllers/second_password_ctrl.js')
  script(src='build/js/controllers/security_center_ctrl.js')
  script(src='build/js/controllers/send_ctrl.js')
  script(src='build/js/controllers/signup_ctrl.js')
  script(src='build/js/controllers/top_ctrl.js')
  script(src='build/js/controllers/transaction_ctrl.js')
  script(src='build/js/controllers/transactions_ctrl.js')
  script(src='build/js/controllers/upgrade_ctrl.js')
  script(src='build/js/controllers/modal_notification_ctrl.js')
  script(src='build/js/controllers/settings/accounts_ctrl.js')
  script(src='build/js/controllers/settings/address_ctrl.js')
  script(src='build/js/controllers/settings/address_import_ctrl.js')
  script(src='build/js/controllers/settings/addresses_ctrl.js')
  script(src='build/js/controllers/settings/advanced_ctrl.js')
  script(src='build/js/controllers/settings/change_password_ctrl.js')
  script(src='build/js/controllers/settings/mobile_ctrl.js')
  script(src='build/js/controllers/settings/my_details_ctrl.js')
  script(src='build/js/controllers/settings/navigation_ctrl.js')
  script(src='build/js/controllers/settings/recovery_ctrl.js')
  script(src='build/js/controllers/settings/set_second_password_ctrl.js')
  script(src='build/js/controllers/settings/settings_ctrl.js')
  script(src='build/js/controllers/settings/show_private_key_ctrl.js')
  script(src='build/js/controllers/settings/wallet_settings_ctrl.js')
  script(src='build/js/controllers/settings/two_factor_ctrl.js')
  
  script(src='build/js/filters.js')
  script(src='build/js/routes.js')
  
  script(src='build/js/directives/adverts.js')
  script(src='build/js/directives/amount.js')
  script(src='build/js/directives/api-access.js')
  script(src='build/js/directives/bc-async-input.js')
  script(src='build/js/directives/btc.js')
  script(src='build/js/directives/configure-mobile-number.js')
  script(src='build/js/directives/configure-second-password.js')
  script(src='build/js/directives/confirm-recovery-phrase.js')
  script(src='build/js/directives/currency-picker.js')
  script(src='build/js/directives/fiat-or-btc.js')
  script(src='build/js/directives/fiat.js')
  script(src='build/js/directives/ip-whitelist-restrict.js')
  script(src='build/js/directives/language-picker.js')
  script(src='build/js/directives/multi-account.js')
  script(src='build/js/directives/network-fee-picker.js')
  script(src='build/js/directives/on-enter.js')
  script(src='build/js/directives/resend-email-confirmation.js')
  script(src='build/js/directives/security-badge.js')
  script(src='build/js/directives/toggle-nav.js')
  script(src='build/js/directives/tor.js')
  script(src='build/js/directives/transaction-description.js')
  script(src='build/js/directives/transaction-note.js')
  script(src='build/js/directives/transaction-status.js')
  script(src='build/js/directives/two-factor.js')
  script(src='build/js/directives/ui-ladda.js')
  script(src='build/js/directives/verify-email.js')
  script(src='build/js/directives/virtual-keyboard.js')
  script(src='build/js/directives/btc-picker.js')
  script(src='build/js/directives/focus-when.js')
  
  script(src='build/js/services/wallet.js')
  script(src='build/js/services/security_center.js')
  script(src='build/js/services/adverts.js')
  
  script(src='build/js/templates.js')
      
  script(src='bower_components/webcam-directive/app/scripts/webcam.js')
  script(src='bower_components/bc-qr-reader/dist/bc-qr-reader.js')
  
  <!-- @endif -->
  
  <!-- @if PRODUCTION !>
  link(rel='stylesheet', href='application.css')
  script(src='application.min.js')
  <!-- @endif -->
  
  script.
    if(browserDetection().browser === "ie" && browserDetection().version < 11) {
      alert("Internet Explorer 10 and older are not supported");
      window.location = "https://blockchain.info/"
    }

body(ng-controller="AppCtrl", ui-view="body")
