doctype
html(lang='en', ng-app='walletApp')
head
    meta(charset='utf-8')
    title Blockchain Wallet HD
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    !=js('app')
    !=js('controllers')
    !=js('filters')
    !=js('services')
    
    //- Blockchain MyWallet javascript:
    !=js('my-wallet/shared')
    !=js('my-wallet/bitcoinjs')
    !=js('my-wallet/old_bitcoinjs')
    !=js('my-wallet/wallet')
  body
    .view-container
      .view-frame(ng-view='ng-view')