doctype
html(lang='en', ng-app='walletApp')
head
    meta(charset='utf-8')
    title Blockchain Wallet HD
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/transactions.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-cookies/angular-cookies.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    
    !=js('app')
    !=js('controllers/dashboard')
    !=js('controllers/addresses')
    !=js('controllers/top')
    !=js('controllers/navigation')
    !=js('controllers/transactions')
    !=js('controllers/account')
    !=js('controllers/request')
    !=js('controllers/send')
    !=js('my_wallet')
    !=js('filters')
    !=js('services')
    
    //- Blockchain MyWallet javascript:
    !=js('my-wallet/shared')
    !=js('my-wallet/bitcoinjs')
    !=js('my-wallet/old_bitcoinjs')
    !=js('my-wallet/blockchainapi')
    !=js('my-wallet-sjors/wallet')
  body
    .navbar.navbar-inverse(role="navigation", ui-view="navigation")
    .container-fluid
      .row
        .col-xs-3(ui-view="left")
        .col-xs-9
          div(ui-view="top")
          div(ui-view="right")