doctype
html(lang='en', ng-app='walletApp')
head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1")  
    title Blockchain Wallet HD
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="bower_components/angular-ui-select/dist/select.min.css")
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-cookies/angular-cookies.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='bower_components/angular-ui-select/dist/select.min.js')
    script(src='bower_components/angular-audio/angular.audio.js')
    script(src='bower_components/qrcode/lib/qrcode.min.js')
    script(src='bower_components/angular-qr/angular-qr.min.js')
    
    !=css('app')
    !=css('navigation')
    !=css('transactions')
    !=css('accounts')
    !=css('top')
    !=css('left')
    !=css('payment-requests')
    !=css('send')
            
    // Blockchain MyWallet javascript (must be called before 'app')
    unless process.env.MYWALLET_MOCK == "1"
      !=js('my-wallet/shared')
      !=js('my-wallet/bitcoinjs')
      !=js('my-wallet/old_bitcoinjs')
      !=js('my-wallet/blockchainapi')
      !=js('my-wallet/signer')
      !=js('my-wallet/wallet')
      !=js('my_wallet')
    
    if process.env.MYWALLET_MOCK == "1"
      // Use mock instead (uncomment the above):
      !=js('services/my_wallet_mock')
    
    !=js('app')
    !=js('controllers/app')
    !=js('controllers/dashboard')
    !=js('controllers/accounts')
    !=js('controllers/top')
    !=js('controllers/navigation')
    !=js('controllers/transactions')
    !=js('controllers/account')
    !=js('controllers/request')
    !=js('controllers/payment-requests')
    !=js('controllers/send')
    !=js('filters')
    !=js('services/wallet')
    
    // https://github.com/LazarSoft/jsqrcode
    !=js('jsqrcode/src/grid')
    !=js('jsqrcode/src/version')
    !=js('jsqrcode/src/detector')
    !=js('jsqrcode/src/formatinf')
    !=js('jsqrcode/src/errorlevel')
    !=js('jsqrcode/src/bitmat')
    !=js('jsqrcode/src/datablock')
    !=js('jsqrcode/src/bmparser')
    !=js('jsqrcode/src/datamask')
    !=js('jsqrcode/src/rsdecoder')
    !=js('jsqrcode/src/gf256poly')
    !=js('jsqrcode/src/gf256')
    !=js('jsqrcode/src/decoder')
    !=js('jsqrcode/src/qrcode')
    !=js('jsqrcode/src/findpat')
    !=js('jsqrcode/src/alignpat')
    !=js('jsqrcode/src/databr')  
    
    !=js('webcam')
    

  body(ng-controller="AppCtrl")
    .navbar.navbar-inverse(role="navigation", ui-view="navigation")
    .container-fluid
      .row.spacing
      .row
        .col-xs-3
          .left-navigation(ng-show="status.isLoggedIn")
            div(ui-view="accounts")
            table.left-header
              tr
                td.header 
                  img(src="img/security-center-icon.png") 
                  |Security Center
                td.right
                  a
                    img(src="img/icon-collapse.png")
            div(ui-view="payment-requests")
        .col-xs-9
          div(ui-view="top")
          div(ui-view="right")