doctype
html(lang='en', ng-app='walletApp', ng-init='savePassword=' + process.env.SAVE_PASSWORD ng-csp)
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1") 
    meta(name="theme-color" content="#187fc0") 
    meta(name="apple-itunes-app" content="app-id=493253309")
    title Blockchain Wallet HD
    link(rel='stylesheet', href='bower_components/bootstrap-css-only/css/bootstrap.css')
    link(rel="stylesheet", href="bower_components/angular-ui-select/dist/select.min.css")
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-cookies/angular-cookies.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='bower_components/angular-ui-select/dist/select.min.js')
    script(src='bower_components/angular-audio/app/angular.audio.js')
    script(src='bower_components/qrcode/lib/qrcode.min.js')
    script(src='bower_components/angular-qr/angular-qr.min.js')
    script(src='bower_components/angular-local-storage/dist/angular-local-storage.min.js')
    script(src='bower_components/numeral/numeral.js')    
    script(src='bower_components/angular-numeraljs/dist/angular-numeraljs.js')    
    script(src='bower_components/angular-translate/angular-translate.js')
    script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
    
    // Not used a.t.m. and they depend on jQuery:
    // script(src='bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')    
    // script(src='bower_components/angular-bootstrap-slider/slider.js')
   
    script(src='bower_components/angular-inview/angular-inview.js')
    script(src='bower_components/angular-password-entropy/password-entropy.js')
    script(src='bower_components/intl-tel-input/build/js/intlTelInput.js')
    script(src='bower_components/intl-tel-input/lib/libphonenumber/build/utils.js')
    script(src='bower_components/international-phone-number/releases/international-phone-number.js')
    script(src='bower_components/browserdetection/src/browser-detection.js')
    
    // angular-ladda doesn't play nicely with ui-bootstrap
    // script(src="bower_components/ladda/js/spin.js")
    // script(src="bower_components/ladda/js/ladda.js")
    // script(src="bower_components/angular-ladda/dist/angular-ladda.min.js")
    
    //- link(rel='stylesheet', href='bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css')
    //- link(rel="stylesheet", href="bower_components/ladda/dist/ladda-themeless.min.css")
    !=css('ladda')
    
    !=css('app')
    !=css('navigation')
    !=css('transactions')
    !=css('accounts')
    !=css('top')
    !=css('left')
    !=css('payment-requests')
    !=css('send')
    !=css('settings')
    !=css('signup')
    !=css('directives')
    !=css('virtual-keyboard')
    !=css('security-center')
    !=css('security-badge')
    !=css('verify-recovery-phrase.css')
    !=css('angular-csp')
    !=css('adverts')
    !=css('intlTelInput')
    
    // Blockchain MyWallet javascript (must be called before 'app')
    unless process.env.MYWALLET_MOCK == "1"
      // Uncomment for more easier debugging of MyWallet javascript:        
      //- !=js('my-wallet/ie')
      //- !=js('my-wallet/shared')
      //- !=js('my-wallet/browserify')
      //- !=js('my-wallet/bower_components/cryptojslib/rollups/sha256.js')
      //- !=js('my-wallet/bower_components/cryptojslib/rollups/aes.js')
      //- !=js('my-wallet/bower_components/cryptojslib/rollups/pbkdf2.js')
      //- !=js('my-wallet/bower_components/cryptojslib/components/cipher-core.js')
      //- !=js('my-wallet/bower_components/cryptojslib/components/pad-iso10126.js')
      //- !=js('my-wallet/bower_components/cryptojslib/components/mode-ecb.js')
      //- !=js('my-wallet/bower_components/cryptojslib/components/pad-nopadding.js')
      //- !=js('my-wallet/node_modules/sjcl/sjcl')
      //- !=js('my-wallet/crypto-util-legacy.js')
      //- !=js('my-wallet/blockchainapi')
      //- !=js('my-wallet/signer')
      //- !=js('my-wallet/wallet')
      //- !=js('my-wallet/wallet-signup')
      //- !=js('my-wallet/HDWalletAccount.js')
      //- !=js('my-wallet/hdwallet')
      //- !=js('my-wallet/mnemonic')
      //- !=js('my-wallet/bip39')
      //- !=js('my-wallet/xregexp-all')
      //- !=js('my-wallet/import-export')
      
      !=js('my-wallet/dist/my-wallet.js')
      !=js('my_wallet')
    
    if process.env.MYWALLET_MOCK == "1"
      // Use mock instead (uncomment the above):
      !=js('services/my_wallet_mock')
    
    !=js('app')
    !=js('translations')
    !=js('controllers')
    !=js('filters')
    !=js('routes')
    !=js('directives')
    !=js('services/wallet')
    !=js('services/security_center')
    !=js('services/adverts')
    !=js('templates')
    
    !=js('bc-qr-reader')

  body(ng-controller="AppCtrl", ui-view="body")