.landing-page(translate-namespace="LANDING")
  public-header(i18n-loaded='i18nLoaded')
  .banner(data-preflight-tag="LandingPage")
    .flex-column.height-100.flex-center.flex-justify.container
      div.width-100
        h1.f-42.em-200.width-100.man.mb-15(translate=".HEADER")
        p.width-60.f-16.em-300.man.mb-15(translate=".SUB_HEADER")
        a.f-16.em-500.upper.flex-center
          span(translate=".GET_STARTED_NOW" ui-sref="public.signup")
          i.icon-right_arrow.ml-5
  .stats.upper.clearfix
    .flex-center.flex-justify.center.col-md-4.col-sm-12.col-xs-12.bg-mariner
      span.em-300.f-24.em-300.white(translate="NUMBER_1_WALLET")
    .flex-center.flex-justify.center.col-md-4.col-sm-12.col-xs-12.bg-blue
      span.em-300.f-24.em-300.white(translate="TRANSACTIONS_AMT" translate-values="{count: txsCount}")
    .flex-center.flex-justify.center.col-md-4.col-sm-12.col-xs-12.bg-primary
      span.em-300.f-24.em-300.white(translate="WALLETS_AMT" translate-values="{count: walletCount}")
  .container.mt-90
    h2.upper.f-36.em-200.mvn.center(translate=".WHY_BLOCKCHAIN")
    p.f-16.em-300.mt-10.mbn.center(translate=".LOVED_BY_ALL")
    uib-carousel.mt-50(active="active" interval="0")
      uib-slide(index="0")
        .clearfix
          .col-md-4
            i.f-60.icon-simple-icon.blue
            p.f-18.em-300.upper(translate=".SIMPLE.TITLE")
            p.f-14.em-200.left-align(translate=".SIMPLE.COPY")
          .col-md-4
            i.f-60.icon-safe-secure-icon.blue
            p.f-18.em-300.upper(translate=".SAFE_AND_SECURE.TITLE")
            p.f-14.em-200.left-align(translate=".SAFE_AND_SECURE.COPY")
          .col-md-4
            i.f-60.icon-buy-sell-icon.blue
            p.f-18.em-300.upper(translate=".BUY_AND_SELL.TITLE")
            p.f-14.em-200.left-align(translate=".BUY_AND_SELL.COPY")
      uib-slide(index="1")
        .clearfix
          .col-md-4
            i.f-60.icon-sophisticated-icon.blue
            p.f-18.em-300.upper(translate=".SOPHISTICATED.TITLE")
            p.f-14.em-200.left-align(translate=".SOPHISTICATED.COPY")
          .col-md-4
            i.f-60.icon-global-icon.blue
            p.f-18.em-300.upper(translate=".GLOBAL.TITLE")
            p.f-14.em-200.left-align(translate=".GLOBAL.COPY")
          .col-md-4
            i.f-60.icon-always-supported-icon.blue
            p.f-18.em-300.upper(translate=".SUPPORTED.TITLE")
            p.f-14.em-200.left-align(translate=".SUPPORTED.COPY")
  .banner.sm(data-preflight-tag="LandingPage")
    .flex-column.height-100.flex-center.flex-justify.container
      div.width-100
        h2.f-42.em-200.width-100.man.mb-15(translate=".BITCOIN_ON_ALL_DEVICES.HEADER")
        p.width-60.f-16.em-300.man.mb-15(translate=".BITCOIN_ON_ALL_DEVICES.SUB_TEXT")
        
  .container.flex-center.hidden-xs.hidden-sm.mv-70
    .col-md-6
      h2.upper.f-36.em-200.mvn(translate=".NEW_TO_BITCOIN.HEADER")
      p.f-16.em-300.mt-10.mb-15(translate=".NEW_TO_BITCOIN.SUB_TEXT")
      a.f-16.em-500.upper.flex-center
        span(translate="LEARN_MORE" href="https://blockchain.info/wallet/bitcoin-faq")
        i.icon-right_arrow.ml-5
    .col-md-6.center
      img.width-80(src="img/bitcoin-network.svg")
  .container.visible-xs.visible-sm.mv-30
    .col-md-6
      h2.upper.f-36.em-200.mvn(translate=".NEW_TO_BITCOIN.HEADER")
      p.f-16.em-300.mt-10.mb-15(translate=".NEW_TO_BITCOIN.SUB_TEXT")
      a.f-16.em-500.upper.flex-center
        span(translate="LEARN_MORE" href="https://blockchain.info/wallet/bitcoin-faq")
        i.icon-right_arrow.ml-5
    .col-md-6.center.mt-30
      img.width-80(src="img/bitcoin-network.svg")
  .pv-70.flex-center.flex-justify.bg-grey
    .flex-column.flex-center
      p.f-24.em-200.center.pt-10.mbn.upper(translate=".GET_WORLDS_MOST_POPULAR_WALLET")
      p.mv-15
        button.button-primary.round.upper(translate=".GET_STARTED_NOW")
      p.f-14.em-300.upper
        | or&nbsp;
        a(translate="LOGIN" ui-sref="public.login-no-uid")
  .footer.pv-40.ph-10
    .container
      .row.upper
        .col-md-3
          img(src="{{rootURL}}Resources/blockchain-blue.svg" width="170px")
        .col-md-2.col-sm-6.col-xs-6
          p.primary.uppercase.ls-label(translate="PRODUCTS")
          p
            a(href="{{rootURL}}wallet/" target="_blank" rel="noopener noreferrer" class="mrl ls-label uppercase medium-blue" translate="WALLET")
          p
            a(href="https://www.blockchain.com/enterprise" class="mrl ls-label uppercase medium-blue" translate="BUSINESS")
          p
            a(href="https://www.blockchain.com/research" target="_blank" rel="noopener noreferrer" class="mrl ls-label uppercase medium-blue" translate="RESEARCH")
          p
            a(href="{{rootURL}}" target="_blank" rel="noopener noreferrer" class="mrl ls-label uppercase medium-blue") .Info Explorer
          p
            a(href="https://support.blockchain.com" target="_blank" rel="noopener noreferrer" class="mrl ls-label uppercase medium-blue" translate="SUPPORT")
        .col-md-3.col-sm-6.col-xs-6.right-align.visible-sm.visible-xs
          li.dropup(uib-dropdown)
            a(href="#" uib-dropdown-toggle)
              span.upper.f-12 {{language}}
              i.icon-down_arrow.f-8.ml-5
            ul.languages_select(uib-dropdown-menu)
              li(ng-repeat="lang in languages")
                a(ng-href="/{{lang.code}}/wallet/#{{path()}}") {{lang.name}}
        .col-md-2
          p.primary.uppercase.ls-label Company
          p
            a(href="https://www.blockchain.com/about" class="mrl ls-label uppercase medium-blue" translate="ABOUT")
          p
            a(href="https://www.blockchain.com/team" class="mrl ls-label uppercase medium-blue" translate="TEAM")
          p
            a(href="https://www.blockchain.com/careers" class="mrl ls-label uppercase medium-blue" translate="CAREERS")
          p
            a(href="https://www.blockchain.com/interview" class="mrl ls-label uppercase medium-blue" translate="INTERVIEWING")
          p
            a(href="https://www.blockchain.com/faq" class="mrl ls-label uppercase medium-blue") FAQ
        .col-md-2
          p(class="primary uppercase ls-label") News
          p
            a(href="https://www.blockchain.com/press" class="mrl ls-label uppercase medium-blue" translate="PRESS")
          p
            a(href="https://blog.blockchain.com" target="_blank" rel="noopener noreferrer" class="mrl ls-label uppercase medium-blue" translate="BLOG")
        .col-md-3.right-align.hidden-sm.hidden-xs
          li.dropup(uib-dropdown)
            a(href="#" uib-dropdown-toggle)
              span.upper.f-12 {{language}}
              i.icon-down_arrow.f-8.ml-5
            ul.languages_select(uib-dropdown-menu)
              li(ng-repeat="lang in languages")
                a(ng-href="/{{lang.code}}/wallet/#{{path()}}") {{lang.name}}
    .container.type-sm.flex-column-reverse-mobile.flex-center
      .col-md-8.pln.pt-60
        span(class="medium-blue mbn upper f-10")
          span(class="mrm") 2017 Blockchain Luxembourg S.A. All Rights Reserved.
          br.visible-xs
          a(class="blue light-bg mrm legal-link" href="https://blockchain.com/privacy") Privacy
          a(class="blue light-bg mrm legal-link" href="https://blockchain.com/terms") Terms
          a(class="blue light-bg legal-link" href="https://blockchain.com/legal") Law Enforcement Guide
      .col-md-4.prn.pt-60.right-align
        a(href="https://www.facebook.com/blockchain/" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="{{rootURL}}Resources/facebook.png" alt="")
        a(href="https://www.linkedin.com/company/blockchain" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="{{rootURL}}Resources/linkedin.png" alt="")
        a(href="https://twitter.com/blockchain" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="{{rootURL}}Resources/twitter.png" alt="")
