.landing-page(translate-namespace="LANDING")
  public-header(i18n-loaded='i18nLoaded')
  .banner(data-preflight-tag="LandingPage")
    .flex-column.height-100.flex-center.flex-justify.container
      div.width-100
        h1.f-42.em-200.width-100.man.mb-15(translate=".HEADER")
        p.width-60.f-16.em-300.man.mb-15(translate=".SUB_HEADER")
        a.f-16.em-500.upper.flex-center(ui-sref="public.signup")
          span(translate=".GET_STARTED_NOW")
          i.icon-right_arrow.ml-5
  .stats.upper.clearfix
    .flex-center.flex-justify.center.col-md-4.col-sm-12.col-xs-12.bg-mariner
      span.em-300.f-24.em-300.white(translate="NUMBER_1_WALLET")
    .flex-center.flex-justify.center.col-md-4.col-sm-12.col-xs-12.bg-blue
      span.em-300.f-24.em-300.white(translate="TRANSACTIONS_AMT" translate-values="{count: txsCount}")
    .flex-center.flex-justify.center.col-md-4.col-sm-12.col-xs-12.bg-primary
      span.em-300.f-24.em-300.white(translate="WALLETS_AMT" translate-values="{count: walletCount}")
  .container.mt-90.mb-70
    h2.upper.f-36.em-200.mvn.center(translate=".WHY_BLOCKCHAIN")
    p.f-16.em-300.mt-10.mbn.center(translate=".LOVED_BY_ALL")
    uib-carousel.mt-50(active="active" interval="0")
      uib-slide(index="0")
        .clearfix
          .col-md-4
            i.f-60.icon-simple.blue
            p.f-18.em-300.upper(translate=".SIMPLE.TITLE")
            p.f-14.em-200.left-align(translate=".SIMPLE.COPY")
          .col-md-4
            i.f-60.icon-safe-secure.blue
            p.f-18.em-300.upper(translate=".SAFE_AND_SECURE.TITLE")
            p.f-14.em-200.left-align(translate=".SAFE_AND_SECURE.COPY")
          .col-md-4
            i.f-60.icon-buy-sell.blue
            p.f-18.em-300.upper(translate=".BUY_AND_SELL.TITLE")
            p.f-14.em-200.left-align(translate=".BUY_AND_SELL.COPY")
      uib-slide(index="1")
        .clearfix
          .col-md-4
            i.f-60
              img(height="50px;" src="img/sophisticated.svg")
            p.f-18.em-300.upper.mt-5(translate=".SOPHISTICATED.TITLE")
            p.f-14.em-200.left-align(translate=".SOPHISTICATED.COPY")
          .col-md-4
            i.f-60.icon-global.blue
            p.f-18.em-300.upper(translate=".GLOBAL.TITLE")
            p.f-14.em-200.left-align(translate=".GLOBAL.COPY")
          .col-md-4
            i.f-60.icon-always-supported.blue
            p.f-18.em-300.upper(translate=".SUPPORTED.TITLE")
            p.f-14.em-200.left-align(translate=".SUPPORTED.COPY")
  .banner.sm(data-preflight-tag="LandingPage")
    .flex-column.height-100.flex-center.flex-justify.container
      div.width-100
        h2.f-42.em-200.width-100.man.mb-15(translate=".BITCOIN_ON_ALL_DEVICES.HEADER")
        p.width-60.f-16.em-300.man.mb-15(translate=".BITCOIN_ON_ALL_DEVICES.SUB_TEXT")
        a(href="https://itunes.apple.com/us/app/blockchain-bitcoin-wallet/id493253309" target="_blank" rel="noopener noreferrer")
          img.app-store-badge(src="img/app-store-badge.svg")
        a(href="https://play.google.com/store/apps/details?id=piuk.blockchain.android" target="_blank" rel="noopener noreferrer")
          img.play-store-badge(src="img/google-play-badge.png")
  .container.flex-center.hidden-xs.hidden-sm.mv-70
    .col-md-6
      h2.upper.f-36.em-200.mvn(translate=".NEW_TO_BITCOIN.HEADER")
      p.f-16.em-300.mt-10.mb-15(translate=".NEW_TO_BITCOIN.SUB_TEXT")
      a.f-16.em-500.upper.flex-center(href="https://blockchain.info/wallet/bitcoin-faq")
        span(translate="LEARN_MORE")
        i.icon-right_arrow.primary.ml-5
    .col-md-6.center
      img.width-80(src="img/bitcoin-network.svg")
  .container.visible-xs.visible-sm.mv-30
    .col-md-6
      h2.upper.f-36.em-200.mvn(translate=".NEW_TO_BITCOIN.HEADER")
      p.f-16.em-300.mt-10.mb-15(translate=".NEW_TO_BITCOIN.SUB_TEXT")
      a.f-16.em-500.upper.flex-center(href="https://blockchain.info/wallet/bitcoin-faq")
        span(translate="LEARN_MORE")
        i.icon-right_arrow.primary.ml-5
    .col-md-6.center.mt-30
      img.width-80(src="img/bitcoin-network.svg")
  .pv-70.flex-center.flex-justify.bg-grey
    .flex-column.flex-center
      p.f-24.em-200.center.pt-10.mbn.upper(translate=".GET_WORLDS_MOST_POPULAR_WALLET")
      p.mv-15
        button.button-primary.round.upper(translate=".GET_STARTED_NOW" ui-sref="public.signup")
      p.f-14.em-300.upper
        | or&nbsp;
        a(translate="LOGIN" ui-sref="public.login-no-uid")
  .footer.pt-30.pb-25.ph-10
    .container
      .row.upper
        .col-md-2
          img(src="img/bc-name-and-logo-dark-blue.svg" width="150px")
        .col-md-2.col-sm-6.col-xs-6.mr-40.no-margin-mobile
          p.blue.uppercase.em-600.f-12.underline-blue.visible-lg.visible-md.visible-sm.hidden-xs(translate="PRODUCTS")
          p.blue.uppercase.em-600.f-12.hidden-lg.hidden-md.hidden-sm.visible-xs
            span.underline-blue Products
          .flex-column.footer-links.flex-wrap
            p
              a(href="{{rootURL}}wallet/" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase" translate="WALLET")
            p
              a(href="{{rootURL}}api/" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase") API
            p
              a(href="https://www.blockchain.com/enterprise" class="blue em-300 f-12 uppercase" translate="BUSINESS")
            p
              a(href="https://www.blockchain.com/thunder" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase" translate="THUNDER")
            p
              a(href="https://www.blockchain.com/research" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase" translate="RESEARCH")
            p
              a(href="{{rootURL}}" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase") Explorer
            p
              a(href="{{rootURL}}charts" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase") Charts
            p
              a(href="{{rootURL}}markets" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase") Markets
            p
              a(href="{{rootURL}}stats" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase") Stats
        .col-md-3.col-sm-6.col-xs-6.right-align.visible-sm.visible-xs
          li.dropup(uib-dropdown)
            a(href="#" uib-dropdown-toggle)
              span.upper.f-12 {{language}}
              i.icon-down_arrow.f-8.ml-5
            ul.languages_select(uib-dropdown-menu)
              li(ng-repeat="lang in languages")
                a(ng-href="/{{lang.code}}/wallet/#{{path()}}") {{lang.name}}
        .col-md-2.col-sm-6.mr-40.no-margin-mobile
          p.blue.uppercase.em-600.f-12.underline-blue.visible-lg.visible-md.visible-sm.hidden-xs Company
          p.blue.uppercase.em-600.f-12.hidden-lg.hidden-md.hidden-sm.visible-xs
            span.underline-blue Company
          .flex-column.footer-links.flex-wrap
            p
              a(href="https://www.blockchain.com/about" class="blue em-300 f-12 uppercase" translate="ABOUT")
            p
              a(href="https://www.blockchain.com/team" class="blue em-300 f-12 uppercase" translate="TEAM")
            p
              a(href="https://www.blockchain.com/careers" class="blue em-300 f-12 uppercase" translate="CAREERS")
            p
              a(href="https://www.blockchain.com/interview" class="blue em-300 f-12 uppercase" translate="INTERVIEWING")
            p
              a(href="https://www.blockchain.com/faq" class="blue em-300 f-12 uppercase") FAQ
            p
              a(href="https://www.blockchain.com/press" class="blue em-300 f-12 uppercase") Press
            p
              a(href="https://blog.blockchain.com/" class="blue em-300 f-12 uppercase") Blog
        .col-md-2.col-sm-6
          p.blue.uppercase.em-600.f-12.underline-blue.visible-lg.visible-md.visible-sm.hidden-xs  Support
          p.blue.uppercase.em-600.f-12.hidden-lg.hidden-md.hidden-sm.visible-xs
            span.underline-blue Support
          p
            a(href="https://support.blockchain.com/" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase" translate="Help Center")
          p
            a(href="https://blog.blockchain.com/category/tutorials-and-guides/" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase" translate="Tutorials")
          p
            a(href="https://blockchain.info/wallet/bitcoin-faq" target="_blank" rel="noopener noreferrer" class="blue em-300 f-12 uppercase" translate="Learning Portal")
        .col-md-3.right-align.hidden-sm.hidden-xs
          li.dropup(uib-dropdown)
            a(href="#" uib-dropdown-toggle)
              span.upper.f-12 {{language}}
              i.icon-down_arrow.f-8.ml-5
            ul.languages_select(uib-dropdown-menu)
              li(ng-repeat="lang in languages")
                a(ng-href="/{{lang.code}}/wallet/#{{path()}}") {{lang.name}}
    .container.type-sm.flex-column-reverse-mobile.flex-center
      .col-md-8.col-sm-7.pln.pt-15
        span(class="blue mbn upper f-10")
          span(class="mrm em-300") 2017 Blockchain Luxembourg S.A. All Rights Reserved.
          br.visible-xs
          a(class="blue light-bg mrm legal-link" href="https://www.blockchain.com/privacy") Privacy
          a(class="blue light-bg mrm legal-link" href="https://www.blockchain.com/terms") Terms
          a(class="blue light-bg mrm legal-link" href="https://www.blockchain.com/legal") Law Enforcement Guide
          a(class="blue light-bg legal-link" href="https://blockchain.info/advertise") Advertise
      .col-md-4.col-sm-5.prn.pt-15.right-align
        a(href="https://play.google.com/store/apps/details?id=piuk.blockchain.android&hl=en" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="img/android-footer-logo.svg" alt="")
        a(href="https://itunes.apple.com/us/app/blockchain-bitcoin-wallet/id493253309?mt=8" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="img/apple-footer-logo.svg" alt="")
        a(href="https://www.facebook.com/blockchain/" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="img/facebook-footer-logo.svg" alt="")
        a(href="https://www.linkedin.com/company/blockchain" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="img/linkedin-footer-logo.svg" alt="")
        a(href="https://twitter.com/blockchain" target="_blank" rel="noopener noreferrer nofollow")
          img(class="social-logo mlm" src="img/twitter-footer-logo.svg" alt="")
