doctype
<!-- @if !PRODUCTION --><html lang='en' ng-app='plaidApp' ng-csp><!-- @endif -->
<!-- @if PRODUCTION !><html lang='en' ng-app='plaidApp' ng-csp ng-class="{'not-fixed': outOfApp}"><!-- @endif -->
head
  meta(charset='utf-8')
  <!-- @if !PRODUCTION -->
  script(src='bower_components/angular/angular.js', defer)
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js', defer)
  script(src='bower_components/angular-sanitize/angular-sanitize.js', defer)
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js', defer)

  script(src="https://cdn.plaid.com/link/v2/stable/link-initialize.js", defer)

  // include: "type": "js", "files": "build/js/plaidApp.js"

  <!-- @endif -->

  <!-- @if PRODUCTION !>
  script(src='js/plaid.min.js' defer)
  <!-- @endif -->
  title Plaid
  <!-- @if !PRODUCTION -->  
  link(rel='stylesheet' href='build/css/plaid.css')
  <!-- @endif -->

  <!-- @if PRODUCTION !>
  link(rel='stylesheet' href='css/plaid.css')
  <!-- @endif -->

body(
  ui-view="body"
)
  h1 Hello
  p World
  button#linkButton.btn.button-primary.full Sign In To Your Bank Account
