.buy-sell {
  padding: 20px 30px 0 30px;
  @media (max-width: 992px) {
    padding: 20px 10px 0 10px;
  }
  table {
    table-layout: fixed;
    border-spacing: 1em;
    border-collapse: collapse;
    tr:nth-child(2) {
      padding-bottom: 0px;
    }
    tr:last-child {
      @extend .pbm;
    }
  }
}

.currency-dropdown {
  max-height: 210px;
  overflow: scroll;
}

.bc-modal.coinify {
  .modal-dialog {
    .modal-content {
      height: 100%;
      .modal-body {
        width: calc(100% - 1px);
        position: relative;
        height: 470px;
        overflow: auto;
        padding: 0px;
      }
    }
  }
}

.coinify-logo {
  width: 60px;
}

.payment-methods {
  input {
    & ~ .flex-column img { 
      width: 25px; 
      &.checked { display: none; }
    }
  }
  input:checked ~ .flex-column img {
    display: none;
    &.checked { display: inline-block; }
  }
  input:checked ~ .flex-column .type-h5 {
    color: $blue;
  }
}

#buy {
  .modal-body {
    @media (max-width: 768px) {
      opacity: 1 !important;
    }
    @media (min-width: 769px) {
      &.fade {
        opacity: 1;
        @include bc-ng-animate('buy-amount', 'height', '122px', '122px');
        @include bc-ng-animate('buy-select-country', 'height', '122px', '122px');
        @include bc-ng-animate('buy-email', 'height', '122px', '260px');
        @include bc-ng-animate('buy-accept-terms', 'height', '260px', '160px');
        @include bc-ng-animate('buy-summary', 'height', '160px', '320px');
        @include bc-ng-animate('isx', 'height', '320px', '450px');
      }
    }
  }
}

.buy-steps {
  .blue,
  .success,
  .width-20 {
    @include transition(color $slow);
  }
  i.ti-shopping-cart {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}

.isx {
  padding: 0px;
}

.iframe {
  height: 510px;
  isignthis {
    position: absolute;
    overflow: scroll;
    height: 100%;
    width: 100%;
  }
  #isx-iframe {
    position: relative;
    height: 100vh;
    width: 100%;
    border: 0;
    left: 0;
    top: 0;
  }
}

.buy-sell {
  .sell,
  .sell > * {
    opacity: 0.6;
    cursor: no-drop;
  }
}
