.buy-sell {
  padding: 20px 30px 0 30px;
  @media (max-width: 992px) {
    padding: 20px 10px 0 10px;
  }
  &.loading {
    height: 100%;
    overflow: hidden;
  }
  table {
    table-layout: fixed;
    border-spacing: 1em;
    border-collapse: collapse;
    tr:nth-child(2) {
      padding-bottom: 0px;
    }
    tr:last-child {
      @extend .pbm;
    }
    .state {
      display: inline-block;
      min-width: 70px;
    }
  }
  .kyc-status {
    background-color: $light-grey;
  }
}

.currency-dropdown {
  max-height: 210px;
  overflow: scroll;
}

.bc-modal.coinify {
  .modal-dialog {
    .modal-content {
      height: 100%;
      .modal-body {
        width: calc(100% - 1px);
        position: relative;
        height: 470px;
        overflow: auto;
        padding: 0px;
      }
    }
  }
}

.coinify-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
  img {
    width: 60px;
    & + span {
      top: 0;
      left: 0;
    }
  }
  &.coinify-logo-left {
    left: 0px;
    right: auto;
    bottom: 0px;
  }
}

.payment-methods {
  input {
    & ~ .flex-column img {
      width: 30px;
      &.checked { display: none; }
    }
  }
  input:checked ~ .flex-column img {
    display: none;
    &.checked { display: inline-block; }
  }
}

#buy {
  .modal-body {
    @media (max-width: 768px) {
      opacity: 1 !important;
    }
    &.fade {
      opacity: 1;
      @include bc-ng-animate('summary', 'height', '260px', '325px');
      @include bc-ng-animate('result', 'height', '500px', '335px');
      @include bc-ng-animate('isx', 'height', '320px', '450px');
      @include bc-ng-animate('capture', 'height', '250px', '500px', '!important');
      @include bc-ng-animate('secret', 'height', '500px', '400px', '!important');
      @include bc-ng-animate('otp', 'height', '400px', '415px', '!important');
      @include bc-ng-animate('otp-pin', 'height', '415px', '500px', '!important');
      @include bc-ng-animate('pin', 'height', '500px', '366px', '!important');
      @include bc-ng-animate('verify-pin', 'height', '366px', '347px', '!important');
      @include bc-ng-animate('kyc', 'height', '347px', '500px', '!important');
      @include bc-ng-animate('documents', 'height', '500px', '500px', '!important');
      #isx-iframe {
        margin-bottom: -5px;
      }
      &.isx {
        height: 500px;
        #isx-iframe {
          height: 500px;
        }
      }
      &.capture {
        height: 500px;
        #isx-iframe {
          height: 650px;
        }
      }
      &.secret {
        height: 400px;
        #isx-iframe {
          height: 400px;
        }
      }
      &.otp {
        height: 415px;
        #isx-iframe {
          height: 415px;
        }
      }
      &.otp-pin {
        height: 500px;
        #isx-iframe {
          height: 632px;
        }
      }
      &.pin {
        height: 366px;
        #isx-iframe {
          height: 366px;
        }
      }
      &.verify-pin {
        height: 347px;
        #isx-iframe {
          height: 347px;
        }
      }
      &.kyc {
        height: 500px;
        #isx-iframe {
          height: 700px;
        }
      }
      &.documents {
        height: 500px;
        #isx-iframe {
          height: 520px;
        }
      }
      // default height
      min-height: 260px;
      @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
        min-height: 260px !important;
        &.summary {
          height: 325px !important;
        }
        &.result {
          height: 335px !important;
        }
        &.isx {
          height: 450px !important;
        }
      }
    }
  }
}

.buy-steps {
  .blue,
  .success,
  .width-20 {
    @include transition(color $slow);
  }
  i.ti-shopping-cart {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  i.ti-credit-card.bank {
    position: relative;
    &:before {
      opacity: 0;
    }
    &:after {
      top: 8px;
      left: 2px;
      content: '';
      width: 22px;
      height: 22px;
      display: block;
      position: absolute;
      background-size: cover;
      background-image: url('../img/bank.png');
    }
  }
  .blue {
    i.ti-credit-card.bank {
      &:after {
        background-image: url('../img/bank-blue.png');
      }
    }
  }
  .success {
    i.ti-credit-card.bank {
      &:after {
        background-image: url('../img/bank-success.png');
      }
    }
  }
}

.isx {
  padding: 0px;
}

.iframe {
  isignthis {
    position: absolute;
    overflow: auto;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  #isx-iframe {
    position: relative;
    width: 100%;
    border: 0;
    left: 0;
    top: 0;
  }
}

.buy-sell {
  .sell,
  .sell > * {
    opacity: 0.6;
    cursor: no-drop;
  }
}

.o-3 {
  opacity: 0.3;
  @include transition(opacity $fast);
}

.modal .buy-steps {
  width: 570px;
  margin: auto;
}

.pos-rel {
  .amount-input {
    top: 0;
    right: 0;
    position: absolute;
    input, button {
      border-top: 0px;
      border-radius: 0px;
    }
    button {
      margin-top: 1px;
    }
    .input-group-btn {
      width: 70px;
    }
  }
}

#buysell {
  table th:last-child {
    padding-right: 36px;
  }
}

.copy-bar {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  position: absolute;
}

.blocket-troposphere {
  opacity: 0.4;
  position: relative;
  > img {
    top: 50%;
    left: 50%;
    width: auto;
    height: 260px;
    position: absolute;
    outline: 1px solid transparent;
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    &.sos {
      height: 495px;
      margin-top: -248px;
      margin-left: -141px;
      @include animation(sway 2s infinite);
    }
  }
  .clouds {
    position: relative;
    @include animation(float-up 3s infinite linear);
    &.down {
      @include animation(float-down 1.9s infinite linear);
    }
    // random cloud positions and sizes
    img {
      width: auto;
      height: 80px;
      margin-top: 20px;
      margin-bottom: 30px;
      &:nth-child(odd) {
        margin-left: 200px;
      }
      &:nth-child(even) {
        margin-right: 180px;
      }
    }
    &:nth-child(2) img {
      &:nth-child(odd) {
        margin-left: 300px;
      }
      &:nth-child(even) {
        margin-right: 260px;
      }  
    }
  }
}
