.full-circle {
  height: 150px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 150px;
  margin:0 auto;
}

.big-white {
  font-size: 300%;
  height: 150px;
  width: 150px;
  text-align: center;
  position: relative;
  top: 33%;
  display:block;
  margin:0 auto;
}
