.faq {
  .header-bar {
    width: 100%;
    height: 5.5em;
    padding: 2em;
  }

  faq-question {
    padding: 0em 3em;
    .faq-question {
      padding: 3em 0em;
      border-bottom: 1px solid $light-blue;
    }
    &.toggled {
      background-color: $light-blue;
    }
  }

  .question {
    font-size: 1.2em;
    i { display: inline-block; }
  }
}
