.faq {  
  .faq-box {
    margin-top: 50px;
  }
  
  .header-bar {
    position: fixed;
    width: calc(100% - 270px);
    left: 270px;
    top: 175px;
    height: 50px;
    background: $light-blue;
    padding: 14px 30px;
    border-bottom: 1px solid #ddd;
    z-index: 1;
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 17px;
    }
    .header-bar {
      width: 100%;
      top: 145px;
      left: 0;
      border-top: 1px solid $eee;
      padding: 14px 30px;
    }
  }
  
  span {
    color: #049bd4; }

  @media (max-width: 992px) {
    .width-100 {
      width: 100% !important;
    }
  }

  .question {
    font-size: 1.2em;
    i {
      display: inline-block;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      transition:all linear 0.3s;
    }
    i.active {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      transition:all linear 0.3s;
    }
  }
  
  .animate-if {
    padding:10px;
  }

  .animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.68,0.64,0.67,1.04) 0.3s;
  } 
  
  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
  }

  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    line-height: 1.428571429;
    opacity: 1;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .answer {
      letter-spacing: .1px;
    }
  }
  
  faq-question {
    border-bottom: 1px solid #a7a7a7;
  }
}
