.bc-header {
  z-index: 1030;
  .dropdown-menu > li {
    &:hover {
      background: #EBEBEB;
    }
  }
  .dropdown {
    .ti-angle-down {
      float: right;
    }
    a {
      @extend .clearfix;
      > span, > i {
        display: inline-block;
        float: left;
      }
    }
  }
  span.ti-angle-down { font-weight: 900; font-size: 1.5em; position: relative; top: 1px; }
  .navbar-toggle {  padding: 0; margin: 0 10px 0 20px; }
}

#wallet-nav-toggle {
  span.ti-menu, span.ti-close {
    display: none;
    font-size: 23px;
    padding: 0px 20px;
  }
  @media (max-width: 768px) {
    span.ti-menu {
      display: inline-block;
    }
  }
}


//bootstrap overrides

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: $blue;
  border-color: $blue;
}

.navbar {
  .container-fluid {
    padding-left: 10px;
  }
}

.container-fluid {
  .navbar-header {
    margin: 0;
  }
}

.navbar-inverse .navbar-toggle { border: none; }

.navbar-inverse .navbar-nav > li > a { 
  color: white; 
  padding: 10px 15px 10px;
}

.navbar-left {
  @media (min-width: 768px) {
    margin-left: 26px;
  }
}

.navbar-inverse {
  background-color: $blue;
  border:none;
  border-radius: 0px;
  z-index: 1030;
  @media (min-width: 768px) {
    height: 60px;
  }
  .navbar-brand {
    color: white;
    margin-left: 0px !important;
    img {
      padding-left: 0px;
    }
  }
  .navbar-nav {
    > li {
      margin-left: 2px;
      padding-top: 10px;
      a {
        &.refresh {
          img {
            display: inline-block;
            margin-bottom: 3px;
            margin-top: 2px;
            height: 15px;
          }
        }
      }
    }
    > li > a:hover {
      background-color: transparent;
    }

    > .open > a {
      &:hover, &:focus {
        background: #0face5;
      }
    }

    li.active {
     a {
        background-color: #0face5;
      }
      a:hover {
        background-color: #0face5;
      }
      a:focus, a:active {
        background-color: transparent;
      }

    }
    > li {
      a:hover {
        background-color: #0face5;
      }
      a:focus, a:active {
        background-color: transparent;
      }
    }
    li.open{
      a {background-color: transparent;}
    }
    // The dropdown on the top right:
    .dropdown-menu a {
      color: $black;
      text-transform: none;
    }
  }

}

@media (max-width: 620px) {
  .navbar-inverse {
    .container-fluid { padding: 0px 15px; }
  }
}

img#logo {
  height: 30px;
}

@media (max-width: 620px) {
  img#logo { height: 25px; margin-top: 0; }
}

.navbar-header {
  .navbar-brand{
    padding: 0;
  }
  &:before, &:after {
    content: none;
    display: block;
  }
  .navbar-brand {
    line-height: 60px;
    @media (max-width: 768px) {
      line-height: 50px;
    }
    img {
      display: inline-block;
    }
  }
}

.navbar-collapse {
  border: none;
  box-shadow: none;
}


@media (min-width: 768px){
  .navbar-collapse{
    display: block !important;
  }
  ul.navbar-nav{
    .container-fluid{
      padding: 10px 30px;
    }
   li.active{
     a {
      border-bottom: none;
      margin-bottom: 1px;
      color: #d3edfb;
     }
   }
  }
}

// language dropdown
.language {
  min-width: 120px;
  min-height: 20px;
  position: relative;
  .ui-select-container {
    width: 100%;
    position: absolute;
    background: transparent;
    &.open {
      .ui-select-match {
        display: block !important;
      }
    }
    input[type="text"].ui-select-search {
      display: none !important;
    }
    .btn-default-focus, .btn-default:hover {
      background: transparent;
      border: 0px !important;
    }
    .ui-select-toggle {
      height: 100%;
      padding: 0px;
      border: 0px !important;
      background: transparent;
    }
    .ui-select-match-text {
      color: #fff;
      font-size: 13px;
    }
  }
}