#wallet-nav-toggle {
  span.ti-close, span.ti-angle-down, span.ti-angle-up {
    display: none;
    padding: 0px 20px;
  }
  @media (max-width: 767px) {
    span.ti-angle-down, span.ti-angle-up {
      display: inline-block;
    }
  }
}

.whats-new {
  .whats-new-icon {
    background-color: $security-red;
    position: absolute;
    text-align: center;
    top: -14px;
    right: -14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 12px;
  }
}

.whats-new-popover {
  width: 400px;
  .popover-content {
    li {
      list-style-type: none !important;
    }
    max-height: 300px;
    overflow: scroll;
    @extend .pts;
    > div > li {
      border-bottom: 1px solid $border-grey;
      small, p {
        font-size: 12px;
      }
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}

nav.short {
  height: 60px;
  .igation {
    height: 60px;
    padding: 0 25px;
  }
  .refresh img {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
  }
  @media (max-width: 767px) {
    .igation {
      padding: 0px 5px;
    }
  }
  @media (max-width: 1024px) {
    .hidden-sm.hidden-xs {
      display: none !important;
    }
  }
}

nav.logo {
  .display-block {
    display: block !important;
  }
  @media (max-width: 767px) {
    position: relative;
  }
}
