.home { padding: 10px 15px 0 30px; margin-bottom: 2em; }
@media (max-width: 768px) {
  .home {
    padding: 10px 15px 0px 15px;
  }
}
.col-home {
  &:first-of-type { margin-bottom: 35px; }
}
.section { &:last-of-type { margin-bottom: 5px } }

.hashtag {
  &.feature {
    color: $blue;
    &:hover { color: $blue; }
  }
  &.survey {
    color: $blue;
    &:hover { color: $blue; }
  }
  &.educational {
    color: $jade;
    &:hover { color: $jade; }
  }
}

.widget {
  padding: 1em;
  border: 1px solid $border-grey;
  &.empty {
    background: RGBA(247, 247, 247, 1);
    height: 275px;
  }
  .button-sm {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  h5 { z-index: 10; }
}

//override settings
.activity-feed { .settings { padding: 0; margin: 0; } }

.account-balances {
  border: 1px solid #d2ced0;
  padding: 10px;
  li {
    padding: .6em 0;
    font-size: 14px;
    &:first-of-type {
      border-top: none;
    }
  }
  > ul {
    padding: 0px;
    overflow: auto;
    max-height: 200px;
    > li:first-of-type {
      border-top: 0px;
    }
  }
}
