.home { padding: 20px 30px 0 30px; margin-bottom: 2em; }
@media (max-width: 768px) {
  .home {
    padding: 10px 30px 0px 30px;
  }
}
.col-home {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 992px) {
  .col-home {
    &:last-of-type {
      margin-top: 25px;
    }
  }
}
@media (min-width: 992px) {
  .col-home {
    &:last-of-type {
      padding-left: 15px;
      padding-right: 0;
    }
  }
}

.col-home {
  > div:first-child {
    height: 370px;
  }
}

.border-top-blue,
.border-top-primary,
.border-top-light-blue {
  @extend .pt-5;
  border-top: 4px solid;
}

.border-top-blue { border-top-color: $blue; }
.border-top-primary { border-top-color: $primary; }
.border-top-light-blue { border-top-color: $light-blue; }

.section { &:last-of-type { margin-bottom: 5px } }

//override settings
.activity-feed { .settings { padding: 0; } }

.chart-control {
  .disabled {
    cursor: not-allowed;
    .underline-blue.disabled {
      border-bottom: 1px solid #AAAAAA;
    }
  }
  a.disabled {
    pointer-events: none;
    color: #AAAAAA;
  }
}

#price-chart,
#balance-chart {
  display: block;
  max-height: 230px;
}

#balance-chart {
  .highcharts-title {
    font-size: 18px;
    fill: #5f5f5f !important;
    color: #5f5f5f !important;
  }
  .highcharts-point {
    cursor: pointer;
  }
  & + div .f-10 {
    white-space: nowrap;
  }
}

#sfox-signup {
  background-color: #E4EFF5;
}
