.section { max-height: 350px; }

.pill {
  border-radius: 8px;
  &.feature {
    color: $blue;
    &:hover { color: $blue; }
  }
  &.partner {
  color: $partner;
    &:hover { color: $partner; }
  }
  &.educational {
    color: $educational;
    &:hover { color: $educational; }
  }
}

.widget {
  padding: 1em;
  border: 1px solid #eee;
  height: 100%;
  &.empty {
    background: #F3F3F3;
    height: 275px;
  }
  .button-sm {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  h4 { z-index: 10; }
}

//hack absolute positioning center
.pos-abs-chart {
  position: absolute;
  left: 50%;
  top: 15%;
}
.empty-state-chart {
  height: 200px;
  width: 200px;
  border: 30px solid #E7E7E7;
  border-radius: 100%;
  position: relative;
  left: -50%;
}

.chart {
  height: 250px;
  width: 445px;
  position: relative;
}
// overrides for chart. temporary
.ac-legend td {
  padding: 0 5px;
}
.angular-charts-template table {
  position: absolute;
  right: 0;
  top: 0;
  float: none;
  max-width: none;
}

.angular-charts-template .ac-chart {
  float: none;
  width: 100%;
}

.pie-chart-label {
  fill: #aaa;
}
