.landing-page {
  overflow: scroll;
  input {
    @media (min-width: 768px) {
      width: auto;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
  .stats {
    > div {
      height: 100px;
    }
  }
  .banner {
    color: white;
    height: 480px;
    background-image: url('../img/landing-page-banner-overlay.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &.sm {
      height: 300px;
      background-image: url('../img/landing-page-banner-sm-overlay.jpg');
    }
  }
  .navbar {
    margin-bottom: 0px;
  }
  img {
    max-width: 100%;
  }
  .carousel {
    .carousel-control {
      display: none;
    }
    .carousel-indicators {
      margin-top: 30px;
      position: relative;
      > li {
        width: 12px;
        height: 12px;
        @extend .mh-5;
        border-radius: 50%;
        background: $lighter-blue;
        &.active {
          background: $blue;
        }
      }
    }
  }
}

.blocket-loading {
  @include transition(top 0.7s 0.3s, opacity 0s 1s);
  background-color: $blue;
  overflow: hidden;
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  opacity: 1;
  left: 0;
  top: 0;
  > div {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    height: 200px;
    left: 50%;
    top: 50%;
    img {
      top: 50%;
      left: 50%;
      width: auto;
      height: 200px;
      position: absolute;
      outline: 1px solid transparent;
      transform: translate(-50%, -50%);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate(-50%, -50%);
      &.full {
        -webkit-animation: opacity-change 1s infinite;
        -moz-animation:    opacity-change 1s infinite;
        -o-animation:      opacity-change 1s infinite;
        animation:         opacity-change 1s infinite;
        transition:        opacity 1s, transform 0.5s;
      }
    }
  }
  &.liftoff {
    > div img.full {
      -webkit-animation: none;
      -moz-animation:    none;
      -o-animation:      none;
      animation:         none;
      transition:        opacity 0.8s, transform 0.5s;
    }
    &.orbit {
      top: -100%;
      @include transition(top 0.3s 0.2s);
      > div {
        transform: translate(-50%, -500%);
        @include transition(transform 0.5s);
      }
    }
  }
}
