.landing-page {
  input {
    @media (min-width: 768px) {
      width: auto;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
  .banner {
    .width-100 {
      width: 100% !important;
    }
    .signup {
      margin-top: 80px;
    }
    .stats {
      margin-top: 60px;
      .type-med {
        font-size: 32px;
      }
      .type-h5 {
        font-size: 20px;
      }
    }
    color: white;
    height: 660px;
    padding-top: 150px;
    background-image: url('../img/landing-page-banner.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media (max-width: 767px) {
      padding-top: 285px;
      background-position: 10% 100%;
    }
    @media (min-width: 1441px) {
      height: 800px;
      background-position: 100% 60%;
    }
    @media (min-width: 1800px) {
      height: 1000px;
      background-position: 100% 60%;
    }
    h1 {
      font-weight: 400;
      letter-spacing: 1px;
    }
    .title {
      font-weight: 300;
    }
    .type-h5 {
      font-weight: 300;
    }
    small {
      color: white;
    }
    @media (max-width: 767px) {
      span {
        font-size: 20px;
      }
      .type-h5 {
        font-size: 12px;
      }
      .width-30 {
        width: 30%;
      }
      h1 {
        margin: 0;
      }
    }
    @media (min-width: 768px) {
      h1 {
        font-size: 52px;
      }
    }
    @media (max-width: 922px) {
      .width-80 {
          width: 80%;
      }
    }
  }
  .whyuseblockchain {
    margin-right: auto;
    margin-left: auto;
    img {
      width: 40px;
      height: auto;
      margin-right: 15px;
    }
    h4 {
      color: #5f5f5f;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.428571429;
    }
    .plrl-desk {
      padding-right: 3em;
      padding-left: 3em;
    }
    @media (max-width: 767px) {
      .plrl-desk {
        padding-left: 0;
        padding-right: 0;
      }
      .type-h5 {
        letter-spacing: 1px;
      }
    }
  }
  .quickstart {
    width: 100%;
    position: absolute;
    background-color: rgba(245,245,245,0.7);
    .border-left {
      border-left: 0;
    }
  }
  .navbar {
    margin-bottom: 0px;
  }
  img {
    max-width: 100%;
  }
  .navbar {
    margin-bottom: 0px;
  }
  h3.thin, .panel .accordion-toggle span {
    color: $blue;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: 0px 0px 5px 0px;
    text-transform: uppercase;
  }
  h4 {
    margin: 0px;
    color: $blue;
    font-size: 16px;
    font-weight: 700;
  }
  .carousel {
    .carousel-inner {
      margin-top: 40px;
      min-height: 335px;
      position: relative;
      background: $grey;
      @media (max-width: 767px) {
        margin-top: 20px;
        min-height: 300px;
      }
      .item {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: scale(.8);
        @extend .flex-center;
        @extend .flex-justify;
        @include transition(opacity .1s $slow, transform .1s $slow);
        &.active {
          opacity: 1;
          z-index: 10;
          transform: scale(1);
          @include transition(opacity $slow, transform $slow);
          &.ng-animate {
            opacity: 0;
            transform: scale(1.2);
            transition: opacity $slow, transform $slow !important;
            -ms-transition: opacity $slow, transform $slow !important;
            -moz-transition: opacity $slow, transform $slow !important;
            -webkit-transition: opacity $slow, transform $slow !important;
          }
        }
        > div {
          padding: 0 15px;
          position: relative;
          @media (min-width: 799px) {
            max-width: 600px;
            padding: initial;
            margin: 0;
          }
          img {
            display: block;
            max-height: 30px;
            margin: 20px auto;
          }
          p {
            font-size: 24px;
            position: relative;
            font-family: 'Serif';
            &:before {
              top: -5px;
              left: -35px;
              content: '';
              width: 25px;
              height: 25px;
              display: block;
              position: absolute;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url("../img/quote-icon.svg");
            }
          }
          span {
            font-style: italic;
            position: absolute;
            font-size: 14px;
            color: $text;
            right: -50px;
            bottom: 0px;
            &:before {
              content: '-'
            }
            a {
              color: $text;
              text-decoration: underline;
            }
          }
          @media (max-width: 992px) {
            img {
              max-height: 20px;
            }
            p {
              font-size: 18px;
              &:before {
                top: -30px;
                left: 0;
              }
            }
            span {
              right: 20px;
              bottom: -20px;
            }
          }
        }
      }
    }
    h4 {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      position: absolute;
      font-size: 24px;
      left: 50%;
      top: 35px;
      @media (max-width: 767px) {
        left: 0;
        top: 20px;
        width: 100%;
        font-size: 18px;
        text-align: center;
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }
    .carousel-indicators {
      li {
        margin: 0px 3px !important;
        height: 16px !important;
        width: 16px !important;
        background: $mid-grey;
        @media (max-width: 767px) {
          height: 12px !important;
          width: 12px !important;
        }
        &.active {
          background: $basic-grey;
        }
      }
    }
    .carousel-control {
      display: none;
    }
  }
  img.footer-hero {
    width: 100%;
  }
}

.blocket-loading {
  @include transition(top 0.7s 0.3s, opacity 0s 1s);
  background-color: $blue;
  overflow: hidden;
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  opacity: 1;
  left: 0;
  top: 0;
  > div {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    height: 200px;
    left: 50%;
    top: 50%;
    img {
      top: 50%;
      left: 50%;
      width: auto;
      height: 200px;
      position: absolute;
      outline: 1px solid transparent;
      transform: translate(-50%, -50%);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate(-50%, -50%);
      &.full {
        -webkit-animation: opacity-change 1s infinite;
        -moz-animation:    opacity-change 1s infinite;
        -o-animation:      opacity-change 1s infinite;
        animation:         opacity-change 1s infinite;
        transition:        opacity 1s, transform 0.5s;
      }
    }
  }
  &.liftoff {
    > div img.full {
      -webkit-animation: none;
      -moz-animation:    none;
      -o-animation:      none;
      animation:         none;
      transition:        opacity 0.8s, transform 0.5s;
    }
    &.orbit {
      top: -100%;
      @include transition(top 0.3s 0.2s);
      > div {
        transform: translate(-50%, -500%);
        @include transition(transform 0.5s);
      }
    }
  }
}

.landing-page #video-player {
  position: relative;
}

.landing-page #video-player > #placeholder {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.landing-page #video-player > #play-button {
    width: 5%;
    position: absolute;
    top: 49%;
    left: 51%;
    transform: translate(-50%,-50%);
}

.landing-page #video-player > h3 {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.landing-page .video-player .video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  z-index: -3;
}

.landing-page .bitinf > img {
  width: 3em;
}

.landing-page #timeline {
  width: 35em;
  margin-right: 0px;
}

@media (max-width: 992px){
  .landing-page #timeline {
    margin: 0;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .flex-column-med {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .landing-page #video-player > #placeholder {
      position: relative;
      top: 0px;
      left: 0px;
      transform: translate(0,0);
      width: 40%;
  }

  .landing-page #video-player > #play-button {
      width: 4%;
  }

  .landing-page #video-player > h3 {
      top: 67%;
  }
  .landing-page .video-player .video-container {
    top: 0px;
    left: 0px;
  }
}

.new .flex-row .video-container .imag-prev {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

@media (max-width: 992px) {
  .new .flex-row .video-container .imag-prev {
    position: relative;
    width: 75%;
    left: 0;
    top: 0;
    transform: translate(0,0);
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .newtobitcoin {
    .video-container {
      margin-right: 15px;
    }
  }
}
