.wallet-container {
  height: 100%;
  position: relative;
}

.left-nav {
  position: absolute;
  width: 270px;
  height: 100%;
  padding: 15px;
  background: $light-blue;
  border-right: 1px solid $border-grey;
  .active-accounts{
    margin-bottom: 30px;
  }
  .legacy-addresses, .partners{
    margin-bottom: 30px;
  }
  .side-box {
    background-color: $light-grey;
    border: 1px solid $grey;
  }
}
.top-view {
  position: absolute;
  width: calc(100% - 270px);
  z-index: 1;
  background: white;
  margin-left: 270px;
  border-bottom: 1px solid $border-grey;
  padding: 0 30px;
  height: 115px;
  .heavy {
    h1 { font-size: 2.3em; }
    img.spinner {
      height: 11px;
    }
  }
  .align-offset { top: -7px; }
}

.main-container {
  background: white;
  position: relative;
  left: 270px;
  top: 115px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% - 270px);
  height: calc(100% - 175px); // make viewport smaller for overflow-y to work
  -webkit-overflow-scrolling: touch; // smooth scrolling on ios
}

.overflow-scroll {
  overflow-y: scroll !important;
  height: 100%;
}

@media (max-width: 768px) {
  .left-nav {
    left: -270px;
    z-index: 11; //just enough to be visible
    transition: all .3s ease-in-out;
    top: 0px;
  }
  .left-nav.toggled { left: 0; }
  .top-view {
    width: 100%;
    position: relative;
    margin-left: 0;
    height: 95px;
    top: 0px;
  }
  .transactions { top: 0; }
  .main-container {
    left: 0;
    top: 0;
    width: 100%;
  }
}

.rel { position: relative; }

.brdrn { border-radius: 0px !important; }

@media (max-width: 992px) {
  .top-view .heavy h1 { font-size: 1.75em; }
  .top-view .heavy p { font-size: 1em; }
}

@media (max-width: 768px) {
  .top-view .my-wallet { display: none; }
  .top-view .heavy h1 { font-size: 1.25em; }
  .top-view .heavy p { font-size: .9em; }
  .top-view .heavy { top: -6px; }
}

@media (max-width:480px) {
  .main-container {
    background: transparent;
    height: calc(100% - 145px);
  }
}
