.wallet-container { height: 100%; }

.left-nav {
  position: absolute;
  width: 270px;
  height: 100%;
  padding: 15px;
  top: 65px;
  background: $light-blue;
  border-right: 1px solid $border-grey;
  .active-accounts{
    margin-bottom: 30px;
  }
  .legacy-addresses, .partners{
    margin-bottom: 30px;
  }
  .side-box {
    background-color: $light-grey;
    border: 1px solid $grey;
  }
}
.top-view {
  position: fixed;
  width: calc(100% - 270px);
  z-index: 1;
  background: white;
  margin-left: 270px;
  border-bottom: 1px solid $border-grey;
  padding: 0 30px;
  height: 100px;
  top: 65px;
  .balance {
    cursor: pointer;
    h1 {
      font-size: 2.5em;
      font-weight: 600;
    }
    p {
      margin-top: 0px;
      float: right;
      font-size: 1.3em;
    }
    img.spinner {
      height: 11px;
    }
  }
}

.main-container {
  background: white;
  position: relative;
  left: 270px;
  top: 90px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% - 270px);
  height: calc(100% - 170px); // make viewport smaller for overflow-y to work
}

.overflow-scroll {
  overflow-y: scroll !important;
  height: 100%;
}

@media (max-width: 768px) {
  .left-nav {
    left: -270px;
    z-index: 1051; //just above Bootstrap
    transition: all .3s ease-in-out;
    top: 0px;
  }
  .left-nav.toggled { left: 0; }
  .top-view {
    width: 100%;
    position: relative;
    margin-left: 0;
    height: 80px;
    top: 0px;
  }
  .transactions { top: 0; }
  .main-container {
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .top-view .balance h1 { font-size: 2em; }
}

@media (max-width: 768px) {
  .top-view .balance h1 { font-size: 1.25em; }
  .top-view .balance p { font-size: .9em; }
}

@media (max-width:480px) {
  .main-container {
    background: transparent;
    height: calc(100% - 120px);
  }
}
