
.wallet-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.left-nav {
  flex: 0 0 270px;
  padding: 15px;
  background: $grey;
  border-right: 1px solid $border-grey;
  @media (max-height: 550px) {
    overflow: auto;
  }
  @media (max-width: 767px) {
    height: calc(100% - 50px);
  }
  .active-accounts{
    margin-bottom: 30px;
  }
  .legacy-addresses, .partners{
    margin-bottom: 30px;
  }
  .side-box {
    background-color: $grey;
    border: 1px solid $border-grey;
  }
}

.main-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.top-view {
  background: white;
  border-bottom: 1px solid $border-grey;
  padding: 0 30px;
  height: 115px;
  .heavy {
    h1 { font-size: 2.3em; }
    img.spinner {
      height: 11px;
    }
  }
  .reg {
    font-size: 0.5em;
    font-weight: 300;
  }
}

.right-container {
  background: white;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; // smooth scrolling on ios
}

.overflow-scroll {
  overflow-y: scroll !important;
  height: 100%;
}

@media (max-width: 767px) {
  .left-nav {
    position: absolute;
    left: -270px;
    width: 270px;
    z-index: 11; //just enough to be visible
    transition: all .3s ease-in-out;
    &.toggled { left: 0; }
  }
  .top-view {
    width: 100%;
    position: relative;
    margin-left: 0;
    height: 150px;
  }
  .right-container {
    width: 100%;
  }
}

.hide { display: none; }
.invisible { visibility: hidden; opacity: 0; }

.height-100 { height: 100%; }

@for $i from 1 through 20 {
  .width-#{$i*5} {
    width: percentage($i*5/100);
    @media (max-width: 991px) {
      width: auto;
    }
  }
}

@for $i from 1 through 20 {
  .width-#{$i*5}-tablet {
    @media (min-width: 768px) and (max-width: 991px) {
      width: percentage($i*5/100);
    }
  }
}

@for $i from 1 through 20 {
  .width-#{$i*5}-mobile {
    @media (max-width: 767px) {
      width: percentage($i*5/100);
    }
  }
}

.width-33 { width: 33.333%; }

.z-10 { z-index: 10; }

.brdrn { border-radius: 0px !important; }

@media (max-width: 991px) {
  .top-view .heavy h1 { font-size: 1.75em; }
}

@media (max-width: 767px) {
  .top-view .heavy p { font-size: 1.2em; }
}

@media (max-width:480px) {
  .right-container {
    background: transparent;
    height: calc(100% - 145px);
  }
}

.container-max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.clear-left { clear: left; }
.clear-right { clear: right; }

.width-100 {
  @media (max-width: 991px) {
    width: 100%;
  }
}

.vat { vertical-align: top; }

.bottom-right-footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 270px;
  padding: 15px 30px;
  background-color: $grey-transparent;
  @media (max-width: 767px) {
    left: 0px;
  }
}
