.wallet-container{
  margin: 0;
  display: flex;
  background: rgb(246, 246, 246);
    .left-nav {
      flex: 1;
    .active-accounts{
      margin-bottom: 30px;
    }
    .legacy-addresses, .partners{
      margin-bottom: 30px;
    }

    .side-box{
      background-color: #FDFDFD;
      border: 1px solid rgb(229, 229, 229);
    }


    }
    .right-view{
      background-color: #FFFFFF;
    }
    .top-view{
      background-color: #FFFFFF;
    }
    .right-container{
    background: #fff;
    }
    .main-container {
      flex: 3;
      border-left: 1px solid rgb(221, 221, 221);
      background: white;
    }
}

@media (max-width: 768px) {
  .wallet-container {
    display: block;
    .left-nav {
      position: absolute;
      top: 0;
      left: -210px;
    }
    .main-container {
      flex: 1;
    }
  }
  .bc-modal {
    .modal-dialog {
      width: 98%; /* fallback for browsers without support for calc() */
      width: calc(100% - 1em)
    }
  }
}
