.wallet-container{
  margin: 0;
  .left-nav {
    position: absolute;
    width: 25%;
    height: 100%;
    background: $light-grey-alt;
    border-right: 1px solid #ddd;
    .active-accounts{
      margin-bottom: 30px;
    }
    .legacy-addresses, .partners{
      margin-bottom: 30px;
    }
    .side-box {
      background-color: #FDFDFD;
      border: 1px solid rgb(229, 229, 229);
    }
  }
  .sticky-header {
    position: fixed;
    width: 74%;
    z-index: 1;
    background: white;
    box-shadow: 0px 10px 14px -12px $ccc;
    -webkit-box-shadow: 0px 10px 14px -12px $ccc;
    -moz-box-shadow: 0px 10px 14px -12px $ccc;
  }
  .main-container {
    background: white;
    position: relative;
    margin-left: 25%;
  }
}

@media (max-width: 768px) {
  .wallet-container {
    .left-nav {
      position: relative;
      width: 100%;
    }
    .sticky-header {
      width: 100%;
      position: relative;
    }
    .transactions {
      top: 0;
    }
    .main-container {
      margin-left: 0;
    }
  }
}
