.left-nav {
  padding: 15px;
}
.left-navigation {
  color: #c9c9c9;
  width: initial;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #c9c9c9;
    display: block;
    cursor: pointer;
  }
}
.sidebox{
  header{
    padding: 0px 15px 5px;
    border-bottom: 1px solid #E8E8E8;
    h3{
      font-size: 1.25em;
      color: #636363;
    }
  }
}
ul.aside {
  list-style: none;
  padding: 0;
  a.new-acct {
    font-weight: bold;
    color: #747474;
    &:hover{color: #444;}
  }
  li.header{
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin:0 0 10px 0;
    a {
      color: #737373;
      padding: .6em 1em;
      display: flex;
      align-items: center;
      i { margin-right: .55em; line-height: 0; font-size: 1.3em; }
    }
  }
  li.current {
    background: #EBEBEB;
  }
  ul.aside-list{
    background: white;
    list-style: none;
    font-size: 1em;
    text-transform: none;
    .btn {  min-width: 110px; }
    a{
      color: #878787;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li.active{
      a{
        color: #049BD4;
        font-weight: bold;
      }
    }
  }
}
.adverts{
  position: relative;
  bottom: calc(0% + 7%);
  ul.aside-list{
    background: transparent;
    li {
      display: block;
    }
    a { 
      padding: .25em .5em;
    }
  }
  span.btn, span.btn-danger, span.btn-success, span.btn-primary, span.btn-warning{
    text-align: right;
    background: none!important;
    border: none!important;
    font-size: 13px!important;
    font-weight: normal!important;
  }
  span.btn-danger{
    color: #d9534f;
  }
  span.btn-success{
    color: #5cb85c;
  }
  span.btn-primary{
    color: #1973D6;
  }
  span.btn-warning{
    color: #f0ad4e;
  }
}

@media (max-width: 768px) {
  .adverts {
    display: none;
  }
}
