.payment-url {
  @extend .flex;
}

.modal-body#send {
  input {
    height: 33px;
  }
  textarea {
    border-radius: 3px;
    border: 1px solid #EEEEEE;
    height: 60px;
    width: 300px;
    &:focus {
      outline: none;
    }
    resize: none;
    padding: 5px;

  }
}

.receive-code canvas { margin-right: 2em; padding-right: 2em; }
@media (max-width: 768px) {
  .payment-url {
    flex-direction: column;
    align-items: center;
  }
  .receive-address { margin-top: 1em; }
  .receive-code canvas { margin-right: 0; padding-right: 0; }
}

.miners-fee-selection {
  display: flex;
  align-items: center;
  .fee-choices, .fee-custom { @extend .flex; }
  .fee-choices {
    flex-direction: column;
    border-right: 1px solid $grey;
    margin-right: 30px;
    padding-right: 20px;
  }
  .fee-custom {
    align-items: center;
  }
  label { font-size: small; }
  .form-control { width: auto; }
}

@media (max-width: 668px) {
  .miners-fee-selection {
    flex-direction: column;
    align-items: initial;
    span.success { display: block; }
    label { margin-right: 15px; }
    .fee-choices {
      flex-direction: row;
      margin-bottom: 10px;
      margin-right: 0;
      border-right: none;
    }
    .fee-custom {}
  }
}

@media (max-width: 668px) {
  .send-actions {
    .button-lg {
      font-size: 1em;
    }
  }
}
