#send, #receive, #sign-msg, .filter-bar {
  .ui-select-choices-row-inner,
  .ui-select-match {
    label-origin {
      display: block;
      overflow: hidden;
      height: 1.428571429em;
    }
  }
}

#send, #sign-msg {
  .inprv {
    bottom: -12px;
  }
  .open > .uib-dropdown-menu {
    overflow-y: auto;
    max-height: 160px;
    overflow-x: hidden;
  }
  .dropdown-menu {
    > li:first-child {
      .dropdown-header {
        // we need to remove this when we come up with what we want to call Accounts
        display: none;
      }
    }
  }
  .row {
    @extend .flex-row;
  }
  .form-group {
    position: relative;
    > label {
      font-size: 1.1em;
      min-width: 80px;
    }
    > div, textarea, .bitcoin-address {
      @extend .mlm;
      @media (min-width: 768px) {
        max-width: 440px;
        min-width: 440px;
      }
      &.auto {
        width: auto;
        max-width: initial;
        min-width: initial;
      }
    }
    @media (max-width: 767px) {
      display: block;
      > label {
        min-width: auto;
        min-width: initial;
      }
      > div, textarea, .bitcoin-address {
        width: 100%;
        min-width: auto;
        max-width: none;
        margin-left: 0px;
        min-width: initial;
        border-radius: 0px;
      }
    }
  }

  textarea {
    border: 1px solid #EEEEEE;
    padding: 6px 12px;
    font-size: 14px;
    height: 60px;
    resize: none;
    &:focus {
      outline: none;
    }
  }

  & + .modal-footer {
    clear: left;
  }

  .ui-select-match {
    label-origin {
      > span:first-child {
        max-width: 200px;
      }
    }
  }

  @media (max-width: 767px) {
    .row {
      display: block;
    }
    & + .modal-footer {
      font-size: 12px;
    }
  }
}

// SEND

#send {
  .destination-input {
    input {
      @extend .brdrn;
    }
  }

  .form-group {
    > label {
      min-width: 105px;
    }
    &.note {
      button {
        top: -10px;
        right: -10px;
        position: absolute;
      }
      textarea {
        margin-left: 0;
      }
    }
    &.fee {
      button {
        z-index: 15;
        bottom: 5px;
        right: -10px;
        position: absolute;
      }
      & ~ .help-block {
        bottom: -30px;
        margin-left: 95px;
        position: absolute;
      }
    }
  }

  .has-error {
    position: relative;
    > span {
      margin: 0;
      position: absolute;
    }
  }

  &.advanced-container {
    max-height: 460px; // avoid overflow issues
    .add {
      background-color: $border-grey;
      border-radius: 100%;
      position: absolute;
      bottom: 20px;
      right: -15px;
      padding: 0px;
      height: 30px;
      width: 30px;
    }
    .advanced-recipient-row {
      margin-bottom: 20px;
      position: relative;
      border: 1px solid #eee;
      padding: 1em;
      .ui-select-container {
        min-width: 225px;
        margin-right: 10px;
      }
      > .remove {
        border-radius: 100%;
        position: absolute;
        padding: 1px 5px;
        right: -10px;
        top: -10px;
        z-index: 2;
      }
      & + .has-error {
        top: -20px;
      }
    }
  }

  &.confirmation {
    @media (min-width: 769px) {
      min-width: 520px;
      padding-left: 25px;
      padding-right: 25px;
    }
    .btcaddr {
      font-size: 0.7em;
    }
    .overview {
      .flex-row {
        > span.account {
          text-align: left;
          @media (max-width: 767px) {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &.aaa {
            color: $border-grey !important;
          }
        }
        .helper {
          position: absolute;
          right: -15px;
          top: 2px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &.fade {
      opacity: 1 !important;
    }
  }
  @media (min-width: 769px) {
    &.fade {
      opacity: 1;
      overflow-y: auto;
      overflow-x: hidden;
      @include bc-ng-animate('confirmation', 'height', '265px', '200px');
      @include bc-ng-animate('advanced-container', 'height', '265px', '365px');
    }
    &.sm.fade {
      @include bc-ng-animate('advanced-container', 'height', '235px', '345px');
    }
    &.confirmation.fade {
      @include bc-ng-animate('confirmation', 'height', '265px', '200px');
    }
  }
}

.miners-fee-selection {
  .fee-choices, .fee-custom { @extend .flex; }
  .fee-choices {
    border-right: 1px solid $grey;
    flex-direction: column;
    margin-right: 30px;
    padding-right: 20px;
  }
  .fee-custom {
    align-items: center;
  }
  label { font-size: small; }
}

@media (max-width: 668px) {
  .miners-fee-selection {
    flex-direction: column;
    align-items: initial;
    span.success { display: block; }
    label { margin-right: 15px; }
    .fee-choices {
      flex-direction: row;
      margin-bottom: 10px;
      margin-right: 0;
      border-right: none;
    }
  }
}

@media (max-width: 668px) {
  .send-actions {
    .button-lg {
      font-size: 1em;
    }
  }
}

#receive {
  .ui-select-bootstrap > .ui-select-choices {
    max-height: 168px;
  }
  // ff specific fix
  @-moz-document url-prefix() {
    .text-overflow-hidden {
      max-width: 450px;
      @media (max-width: 767px) {
        max-width: 350px;
      }
    }
  }
}

.popover {
  z-index: 1060;
}

.ui-select-container {
  .divider {
    margin: 0px auto;
  }
}

#sign-msg {
  @media (max-width: 767px) {
    opacity: 1 !important;
  }
  @media (min-width: 769px) {
    opacity: 1;
    overflow: hidden;
    @include bc-ng-animate('signature', 'height', '147px', '227px');
  }
  input {
    border-bottom-color: $border-grey;
  }
}
