.payment-url {
  @extend .flex;
}

.modal-body#send {
  .destination-input {
    input, button {
      height: 34px;
    }
  }

  form[name="noteForm"] {
    width: 50%;
  }

  textarea {
    border-radius: 3px;
    border: 1px solid #EEEEEE;
    height: 60px;
    width: 100%;
    &:focus {
      outline: none;
    }
    resize: none;
    padding: 5px;

  }
}

.receive-code canvas { margin-right: 2em; padding-right: 2em; }
@media (max-width: 768px) {
  .payment-url {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .receive-address { margin-top: 1em; }
  .receive-code canvas { margin-right: 0; padding-right: 0; }
}

.legacy-msg {
  > a {
    font-size: 14px;
    margin-left: 2px;
  }
}

.miners-fee-selection {
  display: flex;
  align-items: center;
  .fee-choices, .fee-custom { @extend .flex; }
  .fee-choices {
    flex-direction: column;
    border-right: 1px solid $grey;
    margin-right: 30px;
    padding-right: 20px;
  }
  .fee-custom {
    align-items: center;
  }
  label { font-size: small; }
  .form-control { width: auto; }
  & ~ .help-block {
    &.friendly {
      color: $blue;
    }
    .has-error {
      color: $state-danger-text;
    }
  }
}

@media (max-width: 668px) {
  .miners-fee-selection {
    flex-direction: column;
    align-items: initial;
    span.success { display: block; }
    label { margin-right: 15px; }
    .fee-choices {
      flex-direction: row;
      margin-bottom: 10px;
      margin-right: 0;
      border-right: none;
    }
    .fee-custom {}
  }
}

@media (max-width: 668px) {
  .send-actions {
    .button-lg {
      font-size: 1em;
    }
  }
}

#send, #receive {
  .divider {
    margin: 0px auto;
  }
  // we need to remove this when we come up with what we want to call Accounts
  .dropdown-menu {
    > li:first-child {
      .dropdown-header {
        display: none;
      }
    }
  }
  & + .modal-footer {
    clear: left;
  }
}

.popover {
  z-index: 1060;
}