#settings {
  padding: 15px 30px;
  .label {
    font-weight: normal;
    margin-left: 10px;
  }
  .label-warning {
    background-color: $security-red;
  }
  .label-success {
    background-color: $security-green;
  }
  .qr{
    padding: 20px 0;
  }
  h2 {
    font-size: 12pt;
  }
  .right {
    a {
      text-transform: lowercase;
    }
  }
  .edit-mobile {
    button.ui-select-match {
      width: 75px;
    }
    input.ui-select-search {
      width: 150px;
    }
    li {
      text-align: left; // Country dropdown
    }
  }
  pre.recovery{
    padding: 15px;
    margin: 15px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  table {
    width: 100%;

    th {
      background-color: #F2F2F2;
    }

    td, th {
      border: 1px solid $border-grey;
      padding: 10px;

      .btc {
        color: #545454;
      }

      .fiat {
        color: $dark-grey;
        font-size: 80%;
        display: block;
      }

    }
  }
  form.form-horizontal{
  .form-group{
     margin: 0!important;
   border-bottom: 1px solid $grey;
   padding: 20px 0;

     &:hover{
      background: $hover-blue;
     }

     label{
    color: #838383;
    font-size: 125%;
    font-weight: 400;
     }

     p.explain{
    color: $mid-grey;
    line-height: 1.6em;
    font-size: 10pt;
     }

     p.settingtext {
       font-size: 8pt;
       clear: both;
     }
    }
  }
}

.title {
  h2 { margin: 0 0 15px 0; }
  p{
   font-size: 120%;
   color: #AEAEAE;
  }
}

.setting-result {
  p { margin-top: 15px; }
}

.inneredit{padding: 10px 15px 0;}

.account-container {
  border: 1px solid $grey;
  .label-primary {background-color: $blue; color: white;}
  h2 {
    background: url('/img/my-accounts-icon.png') no-repeat 0 0;
    padding: 5px 0px 5px 40px;
    background-size: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    span{font-size: 13pt;word-break: break-word; color: #686868;margin-bottom: 10px;}
    span.label{font-size: 10pt!important;}
  }
  ul {
    list-style: none;
    li { padding: 2px 0; }
  }
}

.intl-tel-input { margin-bottom: 10px; }

@media (min-width: 992px){
  .setting-result {
    text-align: right;
  }
  h2.status {
    margin: 0px 0px 15px;
  }
}
@media (max-width: 991px) {
  .setting-result { margin-top: 10px; }
}
