.settings {
  padding: 15px 30px;
  margin-bottom: 3em;
  .label {
    font-weight: normal;
    margin-left: 10px;
  }
  .label-warning { background-color: $security-red;
  }
  .label-success { background-color: $security-green; }
  h2 {
    font-size: 12pt;
  }
  .edit-mobile {
    button.ui-select-match {
      width: 75px;
    }
    input.ui-select-search {
      width: 150px;
    }
    li {
      text-align: left; // Country dropdown
    }
  }
  pre.recovery{
    padding: 15px;
    margin: 15px;
    user-select: none;
  }
  table {
    th {
      background-color: $light-grey;
    }
    td, th {
      border: 1px solid $border-grey;
      padding: 10px;
    }
  }
  form.form-horizontal {
    .form-group {
      margin: 0!important;
      border-bottom: 1px solid $grey;
      padding: 20px 0;
      &:hover { background: $hover-blue; }
    }
  }
}

.setting-result {
  p { margin-top: 15px; }
}

.inneredit { padding: 10px 15px 0;}

.account-container {
  border: 1px solid $grey;
  .label-primary {background-color: $blue; color: white;}
  h2 {
    background: url('/img/my-accounts-icon.png') no-repeat 0 0;
    padding: 5px 0px 5px 40px;
    background-size: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    span {font-size: 13pt;word-break: break-word; color: #686868;margin-bottom: 10px;}
    span.label{font-size: 10pt!important;}
  }
  ul {
    list-style: none;
    li { padding: 2px 0; }
  }
}

.intl-tel-input { margin-bottom: 10px; }

//A better .well class
.well {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $light-blue;
  border: 1px solid $border-grey;
  border-radius: 5px;
  line-height: 2em;
}

@media (min-width: 992px){
  .setting-result {
    text-align: right;
  }
  h2.status {
    margin: 0px 0px 15px;
  }
}
@media (max-width: 991px) {
  .setting-result { margin-top: 10px; }
}
