.settings {
  padding: 15px 30px;
  margin-bottom: 3em;
  .label {
    font-weight: normal;
    margin-left: 10px;
  }
  .label-warning { background-color: $security-red; }
  .label-success { background-color: $security-green; }
  h2 {
    font-size: 12pt;
  }
  .edit-mobile {
    // Our custom CSS causes layout issues for bc-phone-number:
    .form-control {
      height: 33px !important;
    }
    .caret {
      padding-left: 0px !important;
      margin-left: 0px;
      margin-right: -3px
    }
  }
  pre.recovery{
    padding: 15px;
    margin: 15px;
    user-select: none;
  }
  table {
    th {
      background-color: $light-grey;
    }
    td, th {
      border: 1px solid $border-grey;
      padding: 10px;
    }
  }
  // Preferences
  form.form-horizontal {
    .form-group {
      margin: 0!important;
      border-bottom: 1px solid $grey;
      padding: 20px 0;
      &:hover { background: $hover-blue; }
      .button-primary {
        display: inline-block;
      }
      @media(max-width: 992px) {
        .setting-result {
          clear: left;
        }
      }
    }
  }
  // Accounts & Addresses
  @media (max-width: 768px) {
    .accounts-container {
      width: 100%;
      tr {
        height: auto;
        display: block;
        position: relative;
        td {
          border: 0px;
          padding: 0px;
          display: block;
          margin: 10px 0;
          button { 
            display: block;
            margin-top: 10px;
          }
          &:first-child {
            padding-top: 10px;
            border-top: 1px solid $grey;
          }
        }
      }
    }
  }
}

.setting-result {
  p { margin-top: 15px; }
}

.inneredit { padding: 10px 15px 0;}

table.accounts-container {
  tr {
    height: 66px;
    &.active {
      background-color: $light-blue;
    }
  }

  td {
    border-left: none;
    border-right: none;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }

  .account-label {
    font-size: 12pt;
    font-weight: 500;
  }

  .label-primary {background-color: $blue; color: white;}

  &.imported-addresses{
    color: $mid-grey;
  }

}

.intl-tel-input { margin-bottom: 10px; }

//A better .well class
.well {
  padding: 20px;
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 20px;
  background-color: $pale-yellow;
  border-left: 10px solid $security-yellow;
}

@media (min-width: 992px){
  .setting-result {
    text-align: right;
  }
  h2.status {
    margin: 0px 0px 15px;
  }
}
@media (max-width: 991px) {
  .setting-result { margin-top: 10px; }
}

// accounts
.accounts-container {
  position: relative;
  > .list {
    @include transition(width $slow);
    position: relative;
    z-index: 10;
    width: 100%;
    &.active {
      width: 40%;
      tr { height: 40px; }
      td:first-child {
        > span, > a, > button { display: none; }
        > span:first-child { display: block; }
      }
    }
  }
  > .account {
    @include transition(opacity 0s);
    position: absolute;
    opacity: 0;
    width: 60%;
    right: 0;
    top: 0;
    .well {
      margin-top: 0px;
    }
    &.active {
      opacity: 1;
      @include transition(opacity $slow $slow);
    }
  }
}