.settings {
  padding: 15px 30px;
  margin-bottom: 3em;
  .label {
    font-weight: normal;
    margin-left: 10px;
  }
  .label-warning { background-color: $security-red; }
  .label-success { background-color: $security-green; }
  .label-success, .label-warning {
    @extend .btn-xs;
    display: inline-block;
  }
  h2 {
    font-size: 12pt;
  }
  .edit-mobile {
    .caret {
      padding-left: 0px !important;
      margin-left: 0px;
      margin-right: -3px
    }
  }
  pre.recovery{
    padding: 15px;
    margin: 15px;
    user-select: none;
  }
  table {
    th {
      background-color: $light-grey;
    }
    td, th {
      border: 1px solid $border-grey;
      padding: 10px;
    }
  }
  // Preferences
  .clearfix {
    .form-group {
      &:hover { background: $hover-blue; }
      @media(max-width: 992px) {
        .setting-result {
          clear: left;
        }
      }
    }
  }
  .imported-addresses-container {
    .dropdown-menu {
      @media (min-width: 769px) {
        left: auto !important;
        right: 0px !important;
      }
      > li > a {
        font-size: small;
        &:before {
          @extend .prm;
        }
      }
    }
  }
  // Accounts & Addresses
  @media (max-width: 900px) {
    .accounts-container,
    .addresses-container,
    .imported-addresses-container {
      width: 100%;
      tr {
        height: auto;
        display: block;
        position: relative;
        td {
          border: 0px;
          padding: 0px;
          display: block;
          margin: 10px 0;
          button {
            display: block;
            margin-top: 10px;
          }
          &:first-child {
            padding-top: 10px;
            border-top: 1px solid $grey;
          }
        }
      }
    }
    .addresses-container,
    .imported-addresses-container {
      tr {
        &:first-child {
          display: none;
        }
        td {
          button {
            display: inline-block;
            margin-top: 0px;
          }
        }
      }
    }
  }
}

.inneredit { padding: 10px 15px 0;}

table.accounts-container {

  tr {
    height: 66px;
  }

  td {
    border-left: none;
    border-right: none;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }

  .account-label {
    font-size: 12pt;
    font-weight: 500;
  }

  .label-primary {
    display: inline-block;
    @extend .btn-xs;
    color: white;
  }

  &.imported-addresses{
    color: $mid-grey;
  }

}

.intl-tel-input { margin-bottom: 10px; }

//A better .well class
.well {
  padding: 15px;
  margin-bottom: 20px;
  background-color: $pale-yellow;
  border-left: 5px solid $security-yellow;
  line-height: 1.5em;
  font-size: 1.1em;
}

.well.friendly {
  background-color: $light-blue;
  border-left: 5px solid $blue;
}

@media (min-width: 992px){
  .setting-result {
    text-align: right;
    float: right;
    @media (max-width: 1200px) {
      min-width: 33.333%;
    }
  }
  h2.status {
    margin: 0px 0px 15px;
  }
}
@media (max-width: 991px) {
  .setting-result { margin-top: 10px; }
}

.settings {
  td.address-label {
    height: 44px;
    > span {
      display: inline-block;
      border-bottom: 1px solid transparent;
    }
    .col-sm-12 {
      padding-left: 0px;
    }
    form[name="bcAsyncForm"] {
      > div {
        @extend .flex-row;
        @extend .flex-center;
        @extend .flex-between;
        > div:first-child {
          @extend .flex-1;
        }
        input {
          font-weight: normal;
          margin-bottom: 1px;
          font-size: small;
          display: block;
          width: 80%;
        }
        button {
          padding: 0px;
        }
        button.button-primary {
          padding: 2px 4px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .settings {
    padding: 15px 15px;
  }
}

@media (max-width: 768px) {
  .pbm-m {
    padding-bottom: 0.625em;
  }
}
