//login page
div.login-form {
  background: white;
  box-shadow: 0px 0px 8px 0px rgba(211, 211, 211, 0.32);
  border: 1px solid white;
  form {
    margin: 0 auto;
    padding: 30px;
  }
}

.login-pg {
  background-color: $blue;
  height: calc(100% + 50px); //offset margin from bootstrap
  .navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.login-box-container {
  margin-top: -100px;
}

@media (max-height: 700px) {
  html, body {
    position: relative;
  }
  .login-pg {
    height: 100%;
    display: block !important;
    .navbar {
      position: relative;
    }
  }
  .login-box-container {
    margin-top: 0px;
  }
  .login-box {
    max-height: none !important;
  }
}

.login-box {
  background-color: white;
  padding: 10px 50px 25px;
  width: 550px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -8px black;
  max-height: 600px;
  overflow: auto;
  header {
    padding: 15px 0 10px;
    border-bottom: 1px solid rgb(240, 236, 236);
  }
  .form-horizontal .form-group {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; 
  }
  .help-block .info {
    color: $mid-grey;
    &:hover {
      color: $dark-grey;
    }
  }
  .help-block {
    margin-bottom: 0px;
    p {
      margin: 0;
    }
    & + .help-block {
      margin-top: 5px;
    }
  }
  input[type='checkbox'] { margin: 0; }
  .step { right: 20px; top: 10px; }
}

#verify-recovery {
  img {
     height: 50px;
     align: left;
     margin-right: 10px;
  }
  pre {
    -webkit-user-select: none;
    user-select: none;
  }
}

.versions {
  position: absolute;
  bottom: 10px;
  opacity: 0.8;
  right: 15px;
  &:hover {
    opacity: 1;
  }
  a {
    color: white !important;
    text-decoration: none !important;
  }
  @media (max-width: 768px) and (max-height: 600px) {
    position: relative;
    bottom: -10px;
    right: -15px;
  }
}

@media (max-width: 620px) {
  .login-box {
    padding: 10px 25px 25px;
    min-width: 0;
    width: 95%;
    header h2 { font-size: 18px; margin-top: 0; margin-bottom: 5px; }
    .navbar { margin-bottom: 0; }
    .form-group { margin-bottom: 0; }
  }
}

.recover-funds {
  form .flex-center .button-muted{ 
    min-height: 45px;
  }
}
