.transactions {
  width: 100%;
  .label-success,
  .label-primary,
  .label-default {
    @extend .btn-xs;
    display: inline-block;
  }
  .transaction-feed {
    position: relative;
    .loading .col-xs-2 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  a.date { padding-top: 10px; }
  .transaction {
    border-bottom: 1pt solid $border-grey;
    padding: 15px 30px;
    position: relative;
    &:hover { background: $grey; }
    .timestamp{
      font-style: italic;
    }
    .type {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .feed-info {
      width: 120px;
    }
    .incoming_tx {
      color: $received;
    }
    .outgoing_tx {
      color: $sent;
    }
    .local_tx {
     color: $transferred;
    }
    .tx-toggle {
      top: 25px;
      left: 10px;
      position: absolute;
      font-size: 8px;
    }
    button.amount {
      padding: 10px;
      min-width: 125px;
    }
    transaction-status {
      width: 100%;
      position: relative;
      .helper {
        margin: 0px;
      }
    }
    transaction-description {
      .progress {
        @extend .mbn;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.4);
      }
      .progress-bar {
        background-color: $blue;
        &.progress-bar-success {
          background-color: $jade;
        }
        &[aria-valuenow="0"] span {
          color: $basic-grey;
        }
      }
      .fee {
        button {
          margin-top: -3px;
        }
      }
      .bc-link {
        color: $basic-grey;
        &:hover {
          color: $blue;
        }
      }
      .pending-clock {
        width: 17px;
      }
    }
  }
  @media (max-width: 991px) {
    .transaction {
      .mtvl {
        flex: 2 0 0;
        -ms-flex: 2;
        margin-top: 0.625em;
      }
      .tx-details {
        margin-left: 1em;
      }
    }
  }
  @media (max-width: 767px) {
    .transaction {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .description {
    color: $basic-grey;
  }
  .feed-details {
    border-top: 1px solid $border-grey;
  }
  .tx-note {
    max-width: 100%;
    word-wrap: break-word;
  }
  .tx-warning {
    left: -37px;
    bottom: -2px;
  }

  font-size: 16px;
  font-weight: 300;
  font-family: GillSans-Light;

  .rotated {
    transform: rotate(-90deg);
  }
}

.transaction-card {
  background-color: $grey;
  border: 1px solid $border-grey;
  border-radius: 5px;
  min-width: 50vw;
  font-size: 1.1em;
  @media (max-width: 991px) {
    width: 95%;
  }
  .tx-status{
    font-weight: 600;
    color: rgb(4, 155, 212);
    padding: 15px 0px;
  }
  .tx-amount{
    span{float: none;}
  }
  button.amount{padding: 10px;height: auto;width: 100%;}
  span.you{opacity: .5; font-style: italic;padding-right: 5px;}
  .tx-sender, .tx-receiver {
    @media (max-width: 991px) {
      overflow: hidden;
      label + ul, &.tx-sender span {
        width: calc(100% - 50px);
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
    label {
      vertical-align: top;
      & + ul {
        display: inline-block;
      }
    }
  }
  @media (max-width: 620px) {
    .details-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .tx-details {
      padding: 0px;
    }
    .border-left {
      border-top: 1px solid $border-grey;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      margin-top: 0.625em;
      flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-left: 0px;
      padding: 15px 0px;
      > div {
        width: 50%;
        margin-bottom: 5px;
        .success {
          h6 {
            text-align: center;
          }
          i {
            margin-right: 3px;
          }
        }
      }
      .tx-status {
        padding: 0px 15px;
      }
      .tx-bci-link {
        margin-top: 10px;
        font-size: 0.9em;
        width: 100%;
      }
    }
  }
}

button.amount {
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  outline: none;
}

button {
  &.intra-wallet  { @extend .bg-transferred; }
  &.received { @extend .bg-received; }
  &.spent { @extend .bg-sent; }
}
.unconfirmed { opacity: 0.5; }

.note {
  color: $black;
  position: relative;
  textarea {
    resize: none;
    height: 60px;
    border-color: $border-grey;
    padding: 10px 0px 0px 10px;
  }
  @media (min-width: 768px) {
    .input {
      width: 100%;
      top: 1.5em;
      left: 0;
    }
  }
  @media (max-width: 991px) {
    .input.pos-abs {
      top: 0px;
      position: relative;
    }
  }
}

a.date,p.date { color: $black; }

.amountTotal {
  font-family: Montserrat;
  font-weight: 300;
  float: none;
  min-width: 130px;
  text-transform: none;
  padding: 7px 8px 7px 8px;
}

.from, .to{
  padding: 5px 0;
  strong{
    span{
    font-weight: normal;
    }
    span.result{
    padding: 5px 0;
    font-weight: bold;
    display: block;
    overflow-wrap: break-word;
  }
  }
}

.tx-bci-link {
  min-width: -webkit-min-content;
}

@media (min-width: 992px){
  .amountTotal{float: right;}
}

@media(max-width: 991px) {
  .tx-bci-link {
    font-size: .8em;
  }
}

@media (min-width: 768px){
  .transaction-details {
    .status{text-align: right;}
  }
}

@media(max-width: 767px) {
  .transaction-card {
    top: 0;
    margin: 10px;
    .tx-sidebar, .tx-details {
      width: 100%;
    }
  }
  .transactions .row.transaction div.amount button.amount {
    min-width: 121px;
    font-size: .8em;
  }
}

@media (max-width: 620px) {
  .transactions {
    top: 0;
    .transaction {
      .tx-details { margin-left: 0; }
    }
  }
  .tx-bci-link {
    font-size: 0.4em;
    width: 85px;
  }
  .transaction-card {
    button.amount { font-size: .75em; }
    .helper { display: none; }
  }
}
