.transactions {
  .transaction-feed {
    position: relative;
    top: 50px;
    .loading .col-xs-2 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  a.date { padding-top: 10px; }
  .transaction {
    border-bottom: 1pt solid $eee;
    padding: 15px 30px;
    position: relative;
    &:hover { background: $hover-blue; }
    .timestamp{
      font-style: italic;
    }
    .type {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .feed-info {
      width: 120px;
    }
    .action {
      font-weight: 500;
      font-size: 1.3em;
    }
    .action.incoming_tx{
      color: $receive-green;
    }
    .action.outgoing_tx{
     color: $send-red;
    }
    .action.local_tx{
     color: $transfer-blue;
    }
    .destination{
      display: block;
      font-size: 1.1em;
    }
    .amount {
      padding: 10px 0;
      position: absolute;
      right: 10px;
      top: 18px;
      button.amount{
        font-size: 1.1em;
        min-width: 125px;
        float: right;
      }
    }
    .tx-toggle {
      position: absolute;
      top: 62.5px;
      transform: translateY(-50%);
    }
    .tx-details {
      margin-left: 3em;
    }
  }
  .description {
    color: $dark-grey;
  }
  .feed-details {
    border-top: 1px solid $eee;
  }
}

.transaction-card {
  background-color: $light-blue;
  border: 1px solid $eee;
  border-radius: 5px;
  min-width: 50vw;
  font-size: 1.1em;
  .tx-status{
    font-weight: 600;
    color: rgb(4, 155, 212);
    padding: 15px 0px;
  }
  .tx-amount{
    span{float: none;}
  }
  button.amount{padding: 10px;height: auto;width: 100%;}
  span.you{opacity: .5; font-style: italic;padding-right: 5px;}
  .tx-sender, .tx-receiver {
    label {
      vertical-align: top;
      & + ul { display: inline-block; }
    }
  }
}

button.amount {
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  outline: none;
}

button {
  &.intra-wallet  { background: $transfer-blue; }
  &.spent { background: $send-red; }
  &.received {
    background: $receive-green;
    span.glyphicon {
      padding-left: 10px;
    }
    &:hover {
      color:white;
    }
  }
}
.unconfirmed { opacity: 0.5; }

.note { color: $black; }

a.date,p.date { color: $black; }

.amountTotal{ float: none;}

.from, .to{
  padding: 5px 0;
  strong{
    span{
    font-weight: normal;
    }
    span.result{
    padding: 5px 0;
    font-weight: bold;
    display: block;
    overflow-wrap: break-word;
  }
  }
}

.tx-bci-link {
  min-width: -webkit-min-content;
}

@media (min-width: 992px){
  .amountTotal{float: right;}
}

@media(max-width: 902px) {
  .tx-bci-link {
    font-size: .8em;
  }
}

@media (min-width: 768px){
  .transaction-details {
    .status{text-align: right;}
  }
}

@media(max-width: 767px) {
  .transaction-card {
    top: 0;
    margin: 10px;
    .tx-sidebar, .tx-details {
      width: 100%;
    }
  }
  .transactions .row.transaction div.amount button.amount {
    min-width: 121px;
    font-size: .8em;
  }
}

@media (max-width: 620px) {
  .transactions {
    top: 0;
    .transaction {
      .tx-details { margin-left: 0; }
    }
  }
  .tx-bci-link {
    font-size: 0.4em;
    width: 85px;
  }
  .transaction-card {
    button.amount { font-size: .75em; }
    .helper { display: none; }
  }
}
