#transactions {
  .transaction-feed {
    position: relative;
    top: 50px;
  }
  a.date { padding-top: 10px; }
  .transaction {
    border-bottom: 1pt solid $light-grey;
    padding: 15px 30px;
    &:hover { background: $hover-blue; }
    .timestamp{
      font-size: 9pt;
      color: rgb(190, 190, 190);
      font-style: italic;
    }
    .type {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .feed-info {
      width: 120px;
    }
    .action {
      font-weight: 500;
      font-size: 1.3em;
    }
    .action.incoming_tx{
    color: #85B45B;
    }
    .action.outgoing_tx{
     color: #E27E82;
    }
    .action.local_tx{
     color: #5BACD0;
    }
    .destination{
      display: block;
      font-size: 1.2em;
      font-weight: 400;
      color: #B2B2B2;
      margin-left: 3em;
    }
    .amount {
      padding: 10px 0;
      button.amount{
        font-size: 1.2em;
        font-weight: normal;
        min-width: 175px;
        float: right;
      }
    }
  }
  .description {
    color: #828181;
  }
  .feed-details {
    border-top: 1px solid $eee;
  }
}

.transaction-card {
  background-color: $light-grey-alt;
  border: 1px solid $eee;
  border-radius: 5px;
  padding: 20px;
  max-width: 780px;
  margin: 10px auto;
  font-size: 1.1em;
  .tx-date{
    border-bottom: 1px solid #DCDCDC;
    padding: 0 0px 15px 0;
    margin-bottom: 15px;
    color: #6C6C6C;
    font-size: 1.1em;
  }
  .tx-details{
    div{
      margin-bottom: 20px;
    }
    p{
      margin: 0 10px 0px 0;
      font-weight: 600;
      color: #777777;
    }
    strong{
      display: inline;
      font-weight: 400;
      word-break: break-all;
    }
  }
  .tx-sidebar{
    border-left: 1px solid #DCDCDC;
  }
  .tx-status{
    font-weight: 600;
    color: rgb(4, 155, 212);
    padding: 15px 0px;
  }
  .tx-notes{
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #E5E5E5;
    i{margin-right: 5px;}

  }
  .tx-amount{
    span{float: none;}
  }
  .tx-value{
    text-align: center;
    margin-bottom: 10px;
    p{font-size: .9em; margin: 0; color: darkgrey;}
    span{font-weight: bold; font-size: 1.3em;}

  }
  button.amount{padding: 10px;height: auto;width: 100%;}
  span.you{opacity: .5; font-style: italic;padding-right: 5px;}
}

button.amount {
  margin-top: 0px;
  margin-left: 5px;
  padding: 10px 20px;
  border: none;
  background: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  outline: none;
}



button.intra-wallet  {
  background: #5BACD0;
  background-size: 80px 24px;
}

button.spent {
  background: #E27E82;
  background-size: 80px 24px;
}

button.received {
  background: #85B45B;
  background-size: 80px 24px;

  span.glyphicon {
    padding-left: 10px;
  }
}

.unconfirmed {
  button {
    opacity: 0.5;
  }
}

#transaction-details {
  h2 {
    color: #57AACA;
    font-size: 17px;
  }

  .status {
    color: gray;
    font-size: 10px;

    span.short {
      font-weight: bold;
      margin-left: 3px;
    }
  }

  .to-from-amount-box {
    background-color: #F7FAFB;
    border: 1px solid #ECEDEC;
    padding: 20px;
    color: #939393;

    .row {
      background-color: transparent;
    }

    table {
      td {
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 20px;
      }
    }
  }

  button.amount {
    width: 100%;
  }

  .right {
    float: right;
  }

  .blockchain {
    .btn {
      background: #1A75BC;
      color: white;
      border-radius: 0;
    }
    margin-top: 80px;
    width: 100%;
    text-align: center;

  }

  .notes-tags {
    border-right: 1px solid #E1E1E1;
  }

  h3, h4 {
    color: #565E64;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .note {
    font-size: 1em;
    margin-top: 10px;
    display: block;
  }

  .value-at-tx {
    font-size: 25px;
    font-weight: bold;
  }

  .value-now {
    font-size: 25px;
    font-weight: bold;
    color: #B3B3B3;
  }
}

.note {
  color: #aeaeae;
  //  font-weight: lighter;
  font-weight: 300;
  img {
    height: 15px;
    padding-right: 5px;
  }
  a {
    color: #CCCCCC;
  }

.btn-note{
  margin: 5px;
}

}

a.date,p.date {
  color: #adc0c9;
}

.amountTotal{float: none;}

.from, .to{
  padding: 5px 0;
  strong{
    span{
    font-weight: normal;
    }
    span.result{
    padding: 5px 0;
    font-weight: bold;
    display: block;
    overflow-wrap: break-word;
  }
  }
}

@media (min-width: 992px){
  .amountTotal{float: right;}
}

@media(max-width: 902px) {
  .tx-bci-link {
    font-size: .8em;
  }
}

@media (min-width: 768px){
  #transaction-details{
    .status{text-align: right;}
  }
}

@media(max-width: 767px) {
  .transaction-card {
    top: 0;
    .tx-sidebar, .tx-details {
      width: 100%;
    }
  }
  #transactions .row.transaction div.amount button.amount {
    min-width: 121px;
    font-size: .8em;
  }
}

@media (max-width: 620px) {
  #transactions {
    top: 0;
  }
  .tx-bci-link {
    font-size: 0.4em;
    width: 85px;
  }
  .transaction-card {
    button.amount { font-size: .75em; }
    .helper { display: none; }
  }
}
