.transactions {
  .label-success,
  .label-default {
    @extend .btn-xs;
    display: inline-block;
  }
  .transaction-feed {
    position: relative;
    top: 50px;
    .loading .col-xs-2 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  a.date { padding-top: 10px; }
  .transaction {
    border-bottom: 1pt solid $eee;
    padding: 15px 30px;
    position: relative;
    &:hover { background: $hover-blue; }
    .timestamp{
      font-style: italic;
    }
    .type {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .feed-info {
      width: 120px;
    }
    .action {
      font-weight: 500;
      font-size: 1.3em;
    }
    .action.incoming_tx{
      color: $receive-green;
    }
    .action.outgoing_tx{
     color: $send-red;
    }
    .action.local_tx{
     color: $transfer-blue;
    }
    .destination{
      width: 265px;
      display: block;
      font-size: 1.1em;
      overflow: hidden;
    }
    .tx-toggle {
      top: 10px;
      left: 10px;
      position: absolute;
    }
    .tx-details {
      margin-left: 3em;
    }
    transaction-status {
      .helper {
        margin: 0px;
      }
    }
    transaction-description {
      .on-hover {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        position: absolute;
        @include transition(opacity $fast);
      }
      .bc-link {
        width: 142px;
        &:hover {
          .on-hover {
            opacity: 1;
          }
        }
      }
      .fee {
        button {
          margin-top: -3px;
        }
      }
    }
  }
  .description {
    color: $dark-grey;
  }
  .feed-details {
    border-top: 1px solid $eee;
  }
}

.transaction-card {
  background-color: $light-blue;
  border: 1px solid $eee;
  border-radius: 5px;
  min-width: 50vw;
  font-size: 1.1em;
  @media (max-width: 992px) {
    width: 95%;
  }
  .tx-status{
    font-weight: 600;
    color: rgb(4, 155, 212);
    padding: 15px 0px;
  }
  .tx-amount{
    span{float: none;}
  }
  button.amount{padding: 10px;height: auto;width: 100%;}
  span.you{opacity: .5; font-style: italic;padding-right: 5px;}
  .tx-sender, .tx-receiver {
    @media (max-width: 992px) {
      overflow: hidden;
      label + ul, &.tx-sender span {
        width: calc(100% - 50px);
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
    label {
      vertical-align: top;
      & + ul { 
        display: inline-block; 
      }
    }
  }
  @media (max-width: 620px) {
    .details-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .tx-details {
      padding: 0px;
    }
    .border-left {
      border-top: 1px solid $eee;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      margin-top: 0.625em;
      flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-left: 0px;
      padding: 15px 0px;
      > div {
        width: 50%;
        margin-bottom: 5px;
        .success {
          h6 {
            text-align: center;
          }
          i {
            margin-right: 3px;
          }
        }
      }
      .tx-status {
        padding: 0px 15px;
      }
      .tx-bci-link {
        margin-top: 10px;
        font-size: 0.9em;
        width: 100%;
      }
    }
  }
}

button.amount {
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  outline: none;
}

button {
  &.intra-wallet  { background: $transfer-blue; }
  &.spent { background: $send-red; }
  &.received {
    background: $receive-green;
    span.glyphicon {
      padding-left: 10px;
    }
    &:hover {
      color:white;
    }
  }
}
.unconfirmed { opacity: 0.5; }

.note { 
  color: $black;
  position: relative;
  textarea {
    resize: none;
    height: 60px;
    border-color: $eee;
    padding: 10px 0px 0px 10px;
  }
  .edit, .delete {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .edit {
    right: 1.5em;
  }
  .input.pos-abs {
    width: 100%;
    top: 1.5em;
    left: 0;
  }
}

a.date,p.date { color: $black; }

.amountTotal{ float: none;}

.from, .to{
  padding: 5px 0;
  strong{
    span{
    font-weight: normal;
    }
    span.result{
    padding: 5px 0;
    font-weight: bold;
    display: block;
    overflow-wrap: break-word;
  }
  }
}

.tx-bci-link {
  min-width: -webkit-min-content;
}

@media (min-width: 992px){
  .amountTotal{float: right;}
}

@media(max-width: 902px) {
  .tx-bci-link {
    font-size: .8em;
  }
}

@media (min-width: 768px){
  .transaction-details {
    .status{text-align: right;}
  }
}

@media(max-width: 767px) {
  .transaction-card {
    top: 0;
    margin: 10px;
    .tx-sidebar, .tx-details {
      width: 100%;
    }
  }
  .transactions .row.transaction div.amount button.amount {
    min-width: 121px;
    font-size: .8em;
  }
}

@media (max-width: 620px) {
  .transactions {
    top: 0;
    .transaction {
      .tx-details { margin-left: 0; }
    }
  }
  .tx-bci-link {
    font-size: 0.4em;
    width: 85px;
  }
  .transaction-card {
    button.amount { font-size: .75em; }
    .helper { display: none; }
  }
}
