#transactions {
  padding: 5px 30px 20px 30px;
  position: relative;
  top: 90px;
  a.date {
    padding-top: 10px;

  }
  .row.transaction {
    border-bottom: 1pt solid $light-grey;
    padding: 15px 0;
    &:hover {
      background: $hover-blue;
    }
    div.info{
    padding: 5px 0;
    font-size: 9pt;
    color: rgb(190, 190, 190);
    font-style: italic;
      &:hover{cursor: pointer;}
    }

    div.type{
      padding-bottom: 10px;
      padding-top: 10px;
       &:hover{cursor: pointer;}
      span.action{
        font-weight: 500;
        font-size: 1.3em;
      }
      span.action.incoming_tx{
      color: #85B45B;
      }
      span.action.outgoing_tx{
       color: #E27E82;
      }
      span.action.local_tx{
       color: #5BACD0;
      }

      span.destination{
      display: block;
      padding: 5px 0;
      font-size: 1.2em;
      font-weight: 400;
      color: #B2B2B2;
      }

    }

    div.amount{
     padding-bottom: 5px;
     padding-top: 5px;

      button.amount{
      font-size: 1.2em;
      font-weight: normal;
      min-width: 175px;
      float: right;

      }

    }

  }
  .col-xs-2 {
    cursor: pointer;
  }
  .description{
    color: #828181;
    cursor: pointer;
  }

}

#transaction-details {
  padding: 105px 30px 10px;
}

.transaction-card{
  background-color: $light-grey-alt;
  border: 1px solid $eee;
  border-radius: 5px;
  padding: 20px 30px;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1em;
  .tx-date{
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 0 0px 15px 0;
    margin-bottom: 15px;
    color: rgb(166, 166, 166);
    font-size: 1.1em;
  }
  .tx-details{
    float: left;
    width: 70%;
    .gutter{padding: 0 10px;}

    div{
    margin-bottom: 10px;
    margin-top: 20px;
    }
    p{
      margin: 0 10px 0px 0;
      font-weight: 600;
      color: #777777;
    }
    strong{display: inline; font-weight: 400;}
  }
  .tx-sidebar{
  float: right;
  width: 30%;
  border-left: 2px solid rgb(242, 242, 242);
    .gutter{padding:20px;}
  }
  .tx-status{
  font-weight: 600;
  color: rgb(4, 155, 212);
  padding: 15px 0px;
  }
  .tx-notes{
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #ECECEC;

    i{margin-right: 5px;}

  }
  .tx-amount{
    span{float: none;}
  }
  .tx-value{
    margin-bottom: 10px;
    p{font-size: .9em; margin: 0; color: darkgrey;}
    span{font-weight: bold; font-size: 1.3em;}

  }

  .tx-bci-link{
  float: none;
  margin: 0;
  padding: 0;
  }

  button.amount{padding: 10px;height: auto;}

}

button.amount {
  margin-top: 0px;
  margin-left: 5px;
  width: 100px;
  padding: 10px 20px;
  border: none;
  background: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  outline: none;
}



button.intra-wallet  {
  background: #5BACD0;
  background-size: 80px 24px;
}

button.spent {
  background: #E27E82;
  background-size: 80px 24px;
}

button.received {
  background: #85B45B;
  background-size: 80px 24px;

  span.glyphicon {
    padding-left: 10px;
  }
}

.unconfirmed {
  button {
    opacity: 0.5;
  }
}

#transaction-details {
  h2 {
    color: #57AACA;
    font-size: 17px;
  }

  .status {
    color: gray;
    font-size: 10px;

    span.short {
      font-weight: bold;
      margin-left: 3px;
    }
  }

  .to-from-amount-box {
    background-color: #F7FAFB;
    border: 1px solid #ECEDEC;
    padding: 20px;
    color: #939393;

    .row {
      background-color: transparent;
    }

    table {
      td {
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 20px;
      }
    }
  }

  button.amount {
    width: 100%;
  }

  .right {
    float: right;
  }

  .blockchain {
    .btn {
      background: #1A75BC;
      color: white;
      border-radius: 0;
    }
    margin-top: 80px;
    width: 100%;
    text-align: center;

  }

  .notes-tags {
    border-right: 1px solid #E1E1E1;
  }

  h3, h4 {
    color: #565E64;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .note {
    font-size: 1em;
    margin-top: 10px;
    display: block;
  }

  .value-at-tx {
    font-size: 25px;
    font-weight: bold;
  }

  .value-now {
    font-size: 25px;
    font-weight: bold;
    color: #B3B3B3;
  }
}

.note {
  color: #aeaeae;
  //  font-weight: lighter;
  font-weight: 300;
  img {
    height: 15px;
    padding-right: 5px;
  }
  a {
    color: #CCCCCC;
  }

.btn-note{
  margin: 5px;
}

}

a.date,p.date {
  color: #adc0c9;
}

.amountTotal{float: none;}

.from, .to{
  padding: 5px 0;
  strong{
    span{
    font-weight: normal;
    }
    span.result{
    padding: 5px 0;
    font-weight: bold;
    display: block;
    overflow-wrap: break-word;
  }
  }
}

@media (min-width: 768px){
  #transaction-details{
    .status{text-align: right;}
  }
}

@media (min-width: 992px){
  .amountTotal{float: right;}
}

@media (max-width: 620px) {
  #transactions {
    top: 0;
  }
  .tx-bci-link {
    font-size: 0.4em;
  }
}

@media(max-width: 767px) {
  .transaction-card {
    .tx-sidebar, .tx-details {
      width: 100%;
    }
  }
}
