.two-factor-modal {
  .edit-mobile {
    .btn-info{
      margin: 5px;
    }

    // Our custom CSS causes layout issues for bc-phone-number:
    .caret {
      padding-left: 0px !important;
      margin-left: 0px;
      margin-right: -3px;
    }

    button.dropdown-toggle {
      border: none;
      background-color: white !important;

    }
  }
}
