.welcome-page {
  img {
    max-width: 100%;
  }
  h3.thin, .panel .accordion-toggle span {
    color: $blue;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: 0px 0px 5px 0px;
    text-transform: uppercase;
  }
  h4 {
    margin: 0px;
    color: $blue;
    font-size: 16px;
    font-weight: 700;
  }
  .welcome-nav {
    > div {
      background: $light-grey;
      height: 80px;
      width: 49.8%;
    }
  }
  .welcome-wrapper {
    @media (max-width: 768px) {
      padding: 0 20px;
      img {
        width: 100%;
      }
    }
  }
  .split {
    margin-top: 100px;
    @media (min-width: 769px) {
      .left {
        width: 60%;
      }
      .right {
        width: 40%;
      }
      .panel-group {
        .panel {
          z-index: 1;
          max-width: 250px;
          position: relative;
          @media (max-width: 992px) {
            margin: 0 auto;
          }
          h3, h4 {
            margin: 0px;
          }
          h4 {
            line-height: 1.4;
          }
          p {
            line-height: 1.8;
            margin: 30px 0px 60px 0px;
          }
        }
        .panel-collapse {
          height: 100% !important;
          display: block !important;
        }
      }
    }
    @media (max-width: 768px) {
      display: block !important;
    }
    .apps {
      img {
        max-width: 135px;
      }
    }
  }
  .publications {
    background: $light-grey;
    margin: 100px auto;
    position: relative;
    min-height: 200px;
    img {
      width: 200px;
      &.small {
        width: 70px;
      }
      &.mid {
        width: 100px;
      }
    }
    .popover-content {
      font-family: 'Serif';
      font-style: italic;
    }
    @media (max-width: 768px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      img {
        height: 100px;
      }
    }
  }
  .new-user {
    margin-bottom: 100px;
    p {
      line-height: 1.8;
      margin: 30px 0px 60px 0px;
    }
  }
  .scroll-in-view {
      transition: all 1s;
      position: relative;
      opacity: 0;
      top: 40px;
    .image-container {
      max-width: 80%;
      position: relative;
      img {
        width: 100%;
        max-width: 720px;
        transform: translateZ(0px);
        -webkit-transform: translateZ(0px);
      }
      &.shadow {
        &:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          position: absolute;
          transition: all 1s;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
      }
    }
    &.active {
      opacity: 1;
      top: 0px;
      .image-container {
        &.shadow {
          &:before {
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                              0  6px 30px 5px rgba(0, 0, 0, 0.12),
                              0  8px 10px -5px rgba(0, 0, 0, 0.4);
          }
        }
      }
      .tx {
        @include transition(top 1s);
        &:nth-child(1) {
          top: 105px;
          left: 310px;
        }
        &:nth-child(2) {
          top: 125px;
          left: 271px;
        }
        &:nth-child(3) {
          top: 150px;
          left: 227px;
        }
        &:nth-child(4) {
          top: 172px;
          left: 187px;
        }
        &:nth-child(5) {
          top: 195px;
          left: 148px;
        }
        &:nth-child(6) {
          top: 215px;
          left: 120px;
          width: 30%;
        }
      }
    }
    .txs {
      position: static;
      .tx {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        @include delay(1, 6, 10);
        position: absolute;
        width: 31%;
        top: 50px;
      }
    }
  }
  .blocket {
    .scroll-in-view {
      &.active {
        @include transition-delay(.5s);
      }
    }
    .image-container {
      position: relative;
      margin: 0 auto;
      width: 720px;
      img {
        top: -70px;
        left: 150px;
        width: 100px;
        position: absolute;
        @media (max-width: 768px) {
          top: -30px;
          width: 50px;
        }
      }
    }
  }
  .ios {
    .scroll-in-view {
      margin-top: 150px;
      overflow: visible; 
      .image-container {
        max-width: 720px;
        min-width: 720px;
      }
    }
  }
  .android {
    margin: 60px auto;
    @media (max-width: 768px) {
      margin: 40px auto;
    }
    h2, h3 {
      margin: 0px;
      color: $blue;
      text-align: left;
      line-height: 35px;
    }
    h3 {
      font-weight: 400;
    }
    > div {
      > div {
        max-width: 440px;
        h3 {
          margin-top: 5px;
          color: $pale-grey;
        }
      }
    }
    @media (max-width: 768px) {
      .flex-row {
        flex-direction: column !important;
      }
      h2, h3 {
        line-height: 28px;
      }
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }
  img.footer-hero {
    width: 100%;
  }
}

.squares {
  @extend .clearfix;
  > div {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    .background {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-position: center center;
    }
    .donut {
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      @include transition(all 1s);
      box-sizing: content-box;
      background: transparent;
      border-radius: 100%;
      position: absolute;
      height: 65%;
      width: 65%;
      left: 50%;
      top: 45%;
      border: 500px solid $baby-blue;
      box-shadow: inset 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                        0  6px 30px 5px rgba(0, 0, 0, 0.12),
                        0  8px 10px -5px rgba(0, 0, 0, 0.4);
    }
    p:last-child {
      @include transition(opacity $slow);
      transform: translateX(-50%);
      position: absolute;
      text-align: center;
      color: $pale-grey;
      max-width: 200px;
      min-height: 10%;
      bottom: 2%;
      left: 50%;
      @media (min-width: 768px) {
        bottom: 5%;
      }
    }

    @media (max-width: 768px) {
      &:nth-child(2), &:nth-child(4) {
        .donut {
          border: 500px solid $steel;
        }
      }
    }
    @media (min-width: 768px) {
      float: left;
      width: 50%;
      &:nth-child(2), &:nth-child(3) {
        .donut {
          border: 500px solid $steel;
        }
      }
    }
    &:nth-child(1) {
      .background {
         background-image: url('../img/security-upgrade-welcome.jpg');
      } 
    }
    &:nth-child(2) {
      .background {
        background-image: url('../img/recover-welcome.jpg'); 
      }
    }
    &:nth-child(3) {
      .background {
        background-image: url('../img/new-design-welcome.jpg');
      }
    }
    &:nth-child(4) {
      .background {
        background-image: url('../img/fund-management-welcome.jpg'); 
      }
    }
    &:hover {
      .donut {
        border-radius: 0%;
        box-shadow: none;
        height: 101%;
        width: 101%;
        top: 50%;
      }
      p {
        opacity: 0;
      }
    }
  }
}

.blocket-loading {
  @include transition(top 0.7s 0.3s, opacity 0s 1s);
  background-color: $blue;
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  opacity: 1;
  left: 0;
  top: 0;
  > div {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    height: 200px;
    left: 50%;
    top: 50%;
    img {
      top: 50%;
      left: 50%;
      width: auto;
      height: 200px;
      position: absolute;
      outline: 1px solid transparent;
      transform: translate(-50%, -50%);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate(-50%, -50%);
      &.full {
        -webkit-animation: opacity-change 1s infinite;
        -moz-animation:    opacity-change 1s infinite;
        -o-animation:      opacity-change 1s infinite;
        animation:         opacity-change 1s infinite;
        transition:        opacity 1s, transform 0.5s;
      }
    }
  }
  &.liftoff {
    > div img.full {
      -webkit-animation: none;
      -moz-animation:    none;
      -o-animation:      none;
      animation:         none;
      transition:        opacity 0.8s, transform 0.5s;
    }
    &.orbit {
      top: -100%;
      @include transition(top 0.3s 0.5s);
      > div {
        transform: translate(-50%, -500%);
        @include transition(transform 0.5s);
      }
    }
  }
}