.welcome-page {
  overflow: scroll;
  .intro {
    margin: 80px auto;
    h1, h4 {
      color: $blue;
      margin-top: 0px;
    }
    h4 {
      text-transform: uppercase;
    }
  }
  .features {
    padding: 0px;
    li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0px;
        list-style: none;
      }
    }
  }
  .scroll-in-view {
    .image-container {
      position: relative;
      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      // &:after {
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   content: '';
      //   box-shadow: 0px;
      //   position: absolute;
      // }
      &:before, &:after {
        transition: box-shadow 1s;
      }
      &:hover:before {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                          0  6px 30px 5px rgba(0, 0, 0, 0.12),
                          0  8px 10px -5px rgba(0, 0, 0, 0.4);
      }
      &:hover:after {
        box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17);
      }
    }
    img {
      max-width: 720px;
    }
  }
}