.phvl.ph-form
  .form-group.row.flex-justify
    span.type-h5.em-500.flex-start.pts(translate="SELECT_COUNTRY")
    .flex-1.mvl
      ui-select(ng-model="fields.countryCode" tagging)
        ui-select-match(placeholder="{{'SEARCH' | translate}}...") 
          span {{ $select.selected['Name'] }}
        ui-select-choices(repeat="country['Code'] as country in countries.countryCodes | filter: $select.search")
          span(ng-bind-html="country['Name']")
  .flex-center.flex-between.flex-row.row.mtl(ng-show="isCountryBlacklisted")
    i.ti-alert.sent.mrs.type-h4
    span.sent.mrs(translate="BLACKLISTED_COUNTRY")
    span.pointer.blue.underline(translate="NOTIFY_ME" ng-click="signupForAccess()")
