.left-navigation {
  color: #c9c9c9;
  
  a {
    color: #c9c9c9;
  }
  
  td {
    padding: 10px;
  }

}

table.left-header {
  width: 100%;
  
  a {
    color: #cfcfcf;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  td.header {
    font-size: 130%;
    font-weight: bold;
    color: #737373;
    
    img {
      height: 17px;
      margin: 10px;
    }
  }
  
  td.right {
    text-align: right;
  }
  
  img {
    height: 11px;
  }
  
  
}

table#accounts {
  width: 100%;
  
  tr {
    border-bottom: 1px solid #f5f5f5;
  }
  
  tr.active {
    font-weight: bold;
    color: #838383;
    background-color: #e5ebef;
    border-top: 2pt solid #dddfe3;
  }
  
  td {
    height: 30px;
    
    .amount {
      text-align: right;
    }
  }
  
}