table#accounts-header {
  width: 100%;
  
  td.right {
    text-align: right;
  }
  
  a {
    color: gray;
  }
  
}

table#accounts {
  width: 100%;
  color: gray;
  
  tr.active {
    font-weight: bold;
  }
  
  td {
    height: 30px;
    
    .amount {
      text-align: right;
    }
  }
  
}