.adverts{
	table.left-header{
		td.header{padding: 10px 10px 0 10px;}
	}
	table.left{
		margin: 5px 0 0 0px;
	  tr.ad{
		  margin: 0;
		  border: 15px solid #FFF;
		  opacity: .7;
		  &:hover{
			  opacity: 1;
		  }
	    td{
		  padding: 0;
		  height: inherit;
		 a{
		  display: block;
		  padding: 10px;
		   img{
			 padding: 5px 0px 5px 5px;
			 float: left;
		   }
		   p{
			font-weight: bold;
			color: #1E262D;
			font-size: 11px;
			text-align: center;
			background: #fff;
			padding: 10px;
			float: right;
			width: 115px;
			border-radius: 10px;
		   }
		  }   
	    }
	  }
	}
}




.adverts{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		  li{
			border-bottom: 1px solid #EAEAEA;
			margin: 0 5px;
			a{
			  display: block;
			  padding: 15px 10px;
			  img{display: block}	
			  span{
				color: #8E8E8E;
				padding: 0 15px;
				overflow: hidden;
				font-style: italic;				  
			  }
			  button.btn{
				  width: 115px;
				  img{margin: 0 auto;}
			  }
			}  
		  }
		  span.btn, span.btn-danger, span.btn-success, span.btn-primary{
			  background: none!important;
			  border: none!important;
			  font-size: 13px!important;
			  font-weight: normal!important;
		  }
		  
		  span.btn-danger{
			  color: #d9534f;
		  }

		  span.btn-success{
			  color: #5cb85c;
		  }

		  span.btn-primary{
			  color: #1973D6;
		  }

	}
}