body {
  font-size: 1.2em;
  background-image:url('/img/background.png');
  background-size: 997px 213px;
  background-color: transparent;
  background-repeat: horizontal;
}

.row {
  background: white;
}

.row.spacing {
  height: 50px;
  background: transparent;
}
