body {
  font-size: 1.3em;
  background-image:url('/img/background.png');
  background-color: rgb(242, 242, 242);
  background-repeat: repeat-x;
  color: #6C6C6C;
}
a{
 cursor: pointer;	
}
.row {
  vertical-align: bottom;
}



.row.spacing {
  height: 20px;
  background: transparent;
}

.modal-backdrop{
	background: #EDEDED;
}

.blockchain-modal {

  .modal-content {
    border: 10px solid #ECECEC;
  
    textarea {
      width: 100%;
    }
  }

  .modal-header {
    h3 {
      color: #2071AA;
      margin-bottom: 0px;
      display: inline;    
      text-transform: capitalize;
    }
  
  
    vertical-align: bottom;
    border-bottom: 4px solid #e5e5e5;
  
    a {
      padding: 10px;
    }
  
    .right {
      text-align: right;
    }
  }

  .modal-body {
    color: #627B8A;
    button, input, .btn-group, .btn-group-justified, .btn {
      background-color: #F5F7F9;
      border-radius: 0;
    
    }
  
    input {
      font-size: 90%;
    
    }

  
  
  }

  .modal-footer {
    border-top: none;
    button {
      text-transform: uppercase;
    }
  }
}

.modal-dialog{
	width: 70%;
}


.btn {
}

.btn-info,.btn-info:link,.btn-info:visited,.btn-info:hover,.btn-info:active,.btn-info:focus {
  background-color: #BDBDBD;
  border-color: #BDBDBD;
  font-size: 80%;
  font-weight: bold;
  
}

.btn-primary,.btn-primary:link,.btn-primary:visited,.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
  background-color: #1973D6 !important;
  border-color: #1973D6;
  font-size: 80%;
  font-weight: bold;
  
  
}

.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tx-row{
  margin: 0;
  
    .left-view{
 
	  .active-accounts{
		  
	  }
	  .legacy-addresses{
	    margin-top: 30px;
	  }
	  
	  .side-box{
        background-color: #FAFCFD;
	    box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.05);  		  
	  }
	  
	     
    }	
    .right-view{
      background-color: #FFFFFF;
      padding: 30px;
      
    }
    .top-view{
      background-color: #FFFFFF;
      padding: 10px;
    }	 
    
    .right-container{
	  background: #fff;  
	  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.05);    
    }   	    
}

a.back {
  float: left;
  margin-top: -15px;
  padding-top: 15px;
  margin-bottom: -15px;
  padding-bottom: 15px;
  margin-left: -30px;
  padding-left: 15px;
  
  img {
    height: 15px;
  }
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.modal.signup{
	display: block;
	position: fixed;
	bottom: 0;
	
	.modal-lg{
		width: 100%;
		position: absolute;
		top: auto;
		bottom: 0;
		margin: 0 auto;
	}
	
}

.form-ctrl{
  padding: 15px 0;	
	  .btn-bci{
	    margin: 6px 0px 0 5px;	
	  }
	  input{
		border: 1px solid #CCC;
		border-radius: 5px;
		padding: 3px;
		width: 60%;	  
	  }
	  input.filter{
	  background-image:url('/img/spyglass.png');
	  background-repeat: no-repeat;
	  background-position: 98% center;
	  background-size: 7%;
	  }  
  }


.tooltip-inner {
    max-width: 300px;
}


// this is naughty, and I need to put these styles in the appropriate places.

@media (min-width: 768px){
.tx-row .left-view{padding: 0 15px;}

}