body {
  font-size: 1.3em;
  background-image:url('/img/background.png');
  background-size: 997px 213px;
  background-color: transparent;
  background-repeat: horizontal;
}

.row {
  background: white;
  vertical-align: bottom;
}

.row.spacing {
  height: 20px;
  background: transparent;
}

.modal-content {
  border: 10px solid #ECECEC;
}

.modal-header {
  h3 {
    color: #2071AA;
    margin-bottom: 0px;
    display: inline;    
    text-transform: capitalize;
  }
  
  
  vertical-align: bottom;
  border-bottom: 4px solid #e5e5e5;
  
  a {
    padding: 10px;
  }
  
  .right {
    text-align: right;
  }
}

.modal-body {
  color: #627B8A;
  button, input, .btn-group, .btn-group-justified, .btn {
    background-color: #F5F7F9;
    border-radius: 0;
    
  }
  
  input {
    font-size: 90%;
    
  }

  
  
}

.modal-footer {
  border-top: none;
  button {
    text-transform: uppercase;
  }
}

.btn {
}

.btn-info,.btn-info:link,.btn-info:visited,.btn-info:hover,.btn-info:active,.btn-info:focus {
  background-color: #BDBDBD;
  border-color: #BDBDBD;
  font-size: 80%;
  font-weight: bold;
  
}

.btn-primary,.btn-primary:link,.btn-primary:visited,.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
  background-color: #1973D6 !important;
  border-color: #1973D6;
  font-size: 80%;
  font-weight: bold;
  
  
}
