@import 'angular-csp';
@import 'bootstrap-blockchain';

//import utilitarian CSS
@import 'utilities/colors';
@import 'utilities/animations';
@import 'utilities/flex';
@import 'utilities/spacing';
@import 'utilities/typography';
@import 'utilities/shadows';
@import 'utilities/mobile-specific';
@import 'utilities/borders';
@import 'utilities/addresses';
@import 'utilities/shadows';
@import 'utilities/flex';

//import elements
@import 'elements/buttons';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/links';
@import 'elements/tables';
@import 'elements/carousel';

//import components
@import 'components/forms';
@import 'components/video-container';
@import 'components/qr-scan';
@import 'components/modals';
@import 'components/transfer-all';
@import 'components/alerts';
@import 'components/bitcoin-addresses';
@import 'components/filter-bar';
@import 'components/notifications';
@import 'components/progress-bars';
@import 'components/helpers';
@import 'components/activity-feed';
@import 'components/virtual-keyboard';
@import 'components/spinner';

@import 'modules/destination-input';
@import 'modules/home';
@import 'modules/left-nav';
@import 'modules/buy-sell';
@import 'modules/signin';
@import 'modules/two-factor';
@import 'modules/confirm-recovery-phrase';

//import modules
@import 'modules/header';
@import 'modules/layout';
@import 'modules/landing';
@import 'modules/send-receive';
@import 'modules/security-center';
@import 'modules/upgrade';
@import 'modules/settings';
@import 'modules/transaction-list';

//override bootstrap
@import 'utilities/bs_overrides';
@import 'utilities/general';
