@import 'angular-csp';
//import global blockchain CSS
@import 'blockchain-css/sass/bootstrap-blockchain';
@import 'blockchain-css/sass/variables';
@import 'blockchain-css/sass/fonts';

//import global utilities
@import 'blockchain-css/sass/utilities/general';
@import 'blockchain-css/sass/utilities/colors';
@import 'blockchain-css/sass/utilities/flex';
@import 'blockchain-css/sass/utilities/spacing';
@import 'blockchain-css/sass/utilities/layout';
@import 'blockchain-css/sass/utilities/borders';
@import 'blockchain-css/sass/utilities/typography';

//import global elements
@import 'blockchain-css/sass/elements/buttons';
@import 'blockchain-css/sass/elements/inputs';
@import 'blockchain-css/sass/elements/forms';
@import 'blockchain-css/sass/elements/links';

//import global modules
@import 'blockchain-css/sass/modules/header';
@import 'blockchain-css/sass/modules/footer';

//import global components
@import 'blockchain-css/sass/components/modals';

//import utilitarian CSS
@import 'utilities/shadows';
@import 'utilities/addresses';
@import 'utilities/animations';

//import elements
@import 'elements/labels';
@import 'elements/tables';
@import 'elements/carousel';

// import themes
@import 'themes/dev';
@import 'themes/filters';

//import components
@import 'components/video-container';
@import 'components/qr-scan';
@import 'components/modals';
@import 'components/transfer-all';
@import 'components/alerts';
@import 'components/bitcoin-addresses';
@import 'components/filter-bar';
@import 'components/notifications';
@import 'components/progress-bars';
@import 'components/helpers';
@import 'components/activity-feed';
@import 'components/virtual-keyboard';
@import 'components/spinner';

@import 'modules/destination-input';
@import 'modules/home';
@import 'modules/left-nav';
@import 'modules/buy-sell';
@import 'modules/signin';
@import 'modules/two-factor';
@import 'modules/confirm-recovery-phrase';
@import 'modules/sift_science';

//import modules
@import 'modules/header';
@import 'modules/layout';
@import 'modules/landing';
@import 'modules/send-receive';
@import 'modules/security-center';
@import 'modules/upgrade';
@import 'modules/settings';
@import 'modules/transaction-list';
@import 'modules/faq';

//override bootstrap
@import 'utilities/bs_overrides';
@import 'utilities/general';
