//import bootstrap
@import 'bootstrap-blockchain';

//import utilitarian CSS
@import 'utilities/colors';
@import 'utilities/animations';
@import 'utilities/flex';
@import 'utilities/spacing';
@import 'utilities/typography';
@import 'utilities/borders';
@import 'utilities/shadows';

//import elements
@import 'elements/buttons';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/links';
@import 'elements/tables';

//import components
@import 'components/activity-feed';
@import 'components/alerts';
@import 'components/bitcoin-addresses';
@import 'components/button-groups';
@import 'components/filter-bar';
@import 'components/forms';
@import 'components/helpers';
@import 'components/modals';
@import 'components/video-container';
@import 'components/notifications';
@import 'components/progress-bars';
@import 'components/spinner';
@import 'components/virtual-keyboard';
@import 'components/feedback';
@import 'components/qr-scan';

//import modules
@import 'modules/destination-input';
@import 'modules/header';
@import 'modules/home';
@import 'modules/layout';
@import 'modules/left-nav';
@import 'modules/send-receive';
@import 'modules/security-center';
@import 'modules/settings';
@import 'modules/signin';
@import 'modules/transaction-list';
@import 'modules/two-factor';
@import 'modules/confirm-recovery-phrase';
@import 'modules/upgrade';
@import 'modules/welcome';

//override bootstrap
@import 'utilities/bs_overrides';

// TEMP
@import 'utilities/legacy';

html,body {
  font-size: small;
  background-color: #fff;
  color: $text;
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  height: 100%;
  width: 100%;
  position: fixed; //need this for scrolling on safari mobile
  &.not-fixed {
    position: relative;
    body {
      position: relative;
    }
  }
}

* {
  outline: 0px !important;
  &:focus {
    outline: 0px;
    -webkit-box-shadow: 0px 2px 0px 0px $blue !important;
    -moz-box-shadow: 0px 2px 0px 0px $blue !important;
    box-shadow: 0px 2px 0px 0px $blue !important;
    a {
      text-decoration: none !important;
    }
  }
  a:focus {
    text-decoration: none !important;
  }
}

.container-max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.hide { display: none; }

.invisible { visibility: hidden; opacity: 0; }

.height-100 { height: 100%; }
.width-100 { width: 100%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }

//Because span's are evil
.display-block { display: block; }

.pointer { cursor: pointer; }
.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.row { vertical-align: bottom; }
.row.spacing {
  height: 20px;
  background: transparent;
}

.form-ctrl {
  padding: 15px 0;
  input {
    border: 1px solid $border-grey;
    border-radius: 5px;
    padding: 3px;
  }
}

.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

#qr-canvas { display: none; }

#verify-recovery {
  img {
     height: 50px;
     align: left;
     margin-right: 10px;
  }
  pre {
    -webkit-user-select: none;
    user-select: none;
  }
}
.z-10 { z-index: 10; }

.versions {
  position: absolute;
  bottom: 10px;
  opacity: 0.8;
  right: 15px;
  &:hover {
    opacity: 1;
  }
  a {
    color: white !important;
    text-decoration: none !important;
  }
}

noscript {
  display:flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items:center;
  height: 100%;
  width: 100%;

  img {
    margin-bottom: 3em;
  }
}
