@import 'angular-csp';
@import 'bootstrap-blockchain';

//import utilitarian CSS
@import 'utilities/colors';
@import 'utilities/animations';
@import 'utilities/flex';
@import 'utilities/spacing';
@import 'utilities/typography';
@import 'utilities/shadows';
@import 'utilities/mobile-specific';
@import 'utilities/borders';
@import 'utilities/addresses';
@import 'utilities/shadows';
@import 'utilities/flex';

//import elements
@import 'elements/buttons';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/links';
@import 'elements/tables';
@import 'elements/carousel';

//import components
@import 'components/forms';
@import 'components/video-container';
@import 'components/qr-scan';
@import 'components/modals';
@import 'components/transfer-all';
@import 'components/alerts';
@import 'components/bitcoin-addresses';
@import 'components/filter-bar';
@import 'components/notifications';
@import 'components/progress-bars';
@import 'components/helpers';
@import 'components/activity-feed';
@import 'components/virtual-keyboard';
@import 'components/spinner';

@import 'modules/destination-input';
@import 'modules/home';
@import 'modules/left-nav';
@import 'modules/signin';
@import 'modules/two-factor';
@import 'modules/confirm-recovery-phrase';

//import modules
@import 'modules/header';
@import 'modules/layout';
@import 'modules/landing';
@import 'modules/send-receive';
@import 'modules/security-center';
@import 'modules/upgrade';
@import 'modules/settings';
@import 'modules/transaction-list';

//override bootstrap
@import 'utilities/bs_overrides';
@import 'utilities/general';

.payment-requests {
  position: absolute;
  bottom: 50px;
  right: 0px;
  padding: 10px;
  margin: 20px;
  background: rgba(256, 256, 256, 0.8);
  .payment-request {
    border: 1px solid $blue;
    border-left-width: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
    cursor: pointer;
  }
}

.absolute {
  position: absolute;
}
