//import bootstrap
@import 'bootstrap-blockchain';

//import utilitarian CSS
@import 'utilities/colors';
@import 'utilities/animations';
@import 'utilities/flex';
@import 'utilities/spacing';
@import 'utilities/typography';
@import 'utilities/borders';

//import elements
@import 'elements/buttons';
@import 'elements/inputs';
@import 'elements/links';
@import 'elements/textareas';

//import components
@import 'components/alerts';
@import 'components/bitcoin-addresses';
@import 'components/button-groups';
@import 'components/filter-bar';
@import 'components/forms';
@import 'components/helpers';
@import 'components/modals';
@import 'components/notifications';
@import 'components/progress-bars';
@import 'components/virtual-keyboard';

//import modules
@import 'modules/header';
@import 'modules/home';
@import 'modules/layout';
@import 'modules/left-nav';
@import 'modules/send-receive';
@import 'modules/security-center';
@import 'modules/settings';
@import 'modules/signin';
@import 'modules/transaction-list';

//override bootstrap
@import 'utilities/bs_overrides';

html,body {
  font-size: small;
  background-color: #fff;
  color: $text;
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hide { display: none; }

.invisible { visibility: hidden; opacity: 0; }

.height-100 { height: 100%; }
.width-100 { width: 100%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }

//Because <span>'s are evil
.display-block { display: block; }

.pointer { cursor: pointer; }

.row {
  vertical-align: bottom;
}
.row.spacing {
  height: 20px;
  background: transparent;
}
.modal-dialog{
  width: 100%;
  margin: 0;
}
a.back {
 h4{
  background: url("/img/back.png") no-repeat left center;
  background-size: 10px;
  padding: 0 20px;
 }
 &:hover{
  text-decoration: none;
  }
}
.long-input{overflow-wrap:break-word; }

.table-container{
 display: block;
 overflow-x: auto;
}

.text-center{
 text-align: center;
}
.form-ctrl{
  padding: 15px 0;
    .btn-bci{
      margin: 6px 0px 0 5px;
    }
    input{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 3px;
    }
    input.filter{
    background-image:url('/img/spyglass.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 20px;
    }
  }


table.responsive{
  a{overflow-wrap: break-word;}
}

.container-fluid {
padding-right: 5px;
padding-left: 5px;
}
// this is naughty, and I need to put these styles in the appropriate places.

@media (min-width: 768px){
.tx-row .left-view{padding: 0 15px;}
.tx-row .right-view {
background-color: #FFFFFF;
}

.container-fluid {
padding-right: 15px;
padding-left: 15px;
}

.modal-dialog{
  width: 70%;
  margin: 10px auto;
}

}

#qr-canvas { display: none; }

#qr {
  img {
    height: 20px;
    width: 20px;
  }
  border-left: none;
}

.show-key-body {
  min-height: 10em;
  .wrong-password {
    color: #ED5565;
  }
}

#verify-recovery {
  img {
     height: 50px;
     align: left;
     margin-right: 10px;
  }
  pre {
    -webkit-user-select: none;
    user-select: none;
  }
}
