//import bootstrap
@import 'bootstrap-blockchain';

//import utilitarian CSS
@import 'utilities/colors';
@import 'utilities/animations';
@import 'utilities/flex';
@import 'utilities/spacing';
@import 'utilities/typography';
@import 'utilities/borders';

//import elements
@import 'elements/buttons';
@import 'elements/inputs';
@import 'elements/links';
@import 'elements/textareas';

//import components
@import 'components/alerts';
@import 'components/ribbons';
@import 'components/bitcoin-addresses';
@import 'components/button-groups';
@import 'components/forms';
@import 'components/helpers';
@import 'components/modals';
@import 'components/notifications';
@import 'components/progress-bars';

//import modules
@import 'modules/header';
@import 'modules/layout';
@import 'modules/left-nav';
@import 'modules/security-center';
@import 'modules/transaction-list';

//override bootstrap
@import 'utilities/bs_overrides';

html {
  overflow-y: hidden;
}

html,body {
  font-size: small;
  background-color: #fff;
  color: $text;
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.hide { display: none; }

.invisible { visibility: hidden; opacity: 0; }

.width-100 { width: 100%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }

//Because <span>'s are evil
.display-block { display: block; }

.pointer { cursor: pointer; }

.alpha-agreement {
  background: rgba(10,10,10,.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  .alpha-agreement-container {
    overflow-y: scroll;
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 5em;
    background: white;
    height: 85%
  }
}

.row {
  vertical-align: bottom;
}
.row.spacing {
  height: 20px;
  background: transparent;
}
.modal-dialog{
  width: 100%;
  margin: 0;
}
.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
a.back {
 h4{
  background: url("/img/back.png") no-repeat left center;
  background-size: 10px;
  padding: 0 20px;
 }
 &:hover{
  text-decoration: none;
  }
}
.long-input{overflow-wrap:break-word; }

.table-container{
 display: block;
 overflow-x: auto;
}

.text-center{
 text-align: center;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.form-ctrl{
  padding: 15px 0;
    .btn-bci{
      margin: 6px 0px 0 5px;
    }
    input{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 3px;
    }
    input.filter{
    background-image:url('/img/spyglass.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 20px;
    }
  }


.tooltip-inner {
    max-width: 300px;
}

table.responsive{
  a{overflow-wrap: break-word;}
}

.container-fluid {
padding-right: 5px;
padding-left: 5px;
}
// this is naughty, and I need to put these styles in the appropriate places.

@media (min-width: 768px){
.tx-row .left-view{padding: 0 15px;}
.tx-row .right-view {
background-color: #FFFFFF;
}

.container-fluid {
padding-right: 15px;
padding-left: 15px;
}

.modal-dialog{
  width: 70%;
  margin: 10px auto;
}

}

//TODO rip this out once we have a real dashboard

.dashboard {
  h1 {
    font-weight: 300;
    font-size: 2em;
    margin-top: 0;
  }
  .bc-well {
    margin: 10px 0px;
    background: white;
    color: #0081CD;
    padding: 0;
    border-radius: 5px;
    line-height: 2em;
    font-size: 1.1em;
  }

  ul{
    list-style-type: square;
    font-size: 1.2em;
  }
  .form-control-static img {
    max-width: 40px;
  }
  p.form-control-static.bitcoin-address {
    max-width: 300px;
  }
}
