.network-fee-picker {
  .slider {
    width: 100%;
  }
  
  text-align: center;
  
  label, p {
    color: #8FC469;
  }
  
  label {
    display: block;
    text-transform: capitalize;
  }
  
  p {
  }
}