@import 'angular-csp';
@import 'bootstrap-blockchain';
//import utilitarian CSS
@import 'utilities/colors';
@import 'utilities/animations';
@import 'utilities/flex';
@import 'utilities/spacing';
@import 'utilities/typography';
@import 'utilities/borders';
@import 'utilities/shadows';
@import 'utilities/mobile-specific';

//import elements
@import 'elements/buttons';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/links';
@import 'elements/tables';
@import 'elements/carousel';

//import components
@import 'components/button-groups';
@import 'components/forms';
@import 'components/helpers';
@import 'components/modals';
@import 'components/video-container';
@import 'components/spinner';

// Not used on landing page, but depends on Bootstrap mixins:
@import 'components/qr-scan';
@import 'components/transfer-all';

//import modules
@import 'modules/header';
@import 'modules/layout';
@import 'modules/landing';

// Not used on landing page, but depends on Bootstrap mixins:
@import 'modules/send-receive';
@import 'modules/security-center';
@import 'modules/upgrade';
@import 'modules/settings';
@import 'modules/transaction-list';

//override bootstrap
@import 'utilities/bs_overrides';

@import 'utilities/general';
