.left-navigation {
  color: #c9c9c9;
  
  a {
    color: #c9c9c9;
    display: block;
    cursor: pointer;

  }
  
  td {
    padding: 10px;
  }

}

table.left-header {
  width: 100%;
  border-bottom: 1px solid #FFF;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.39);  
  background-color: #FFFFFF
  
  a {
    color: #cfcfcf;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  td.header {
    font-size: 130%;
    font-weight: bold;
    color: #737373;
    
    img {
      height: 25px;
      margin: 10px;
    }
    
  }
  
  td.right {
    text-align: right;
  }
  
  img {
    height: 11px;
  }
  
  
}

table.left {
  width: 100%;
  
  tr {
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;

    td {
      height: 30px;
    }
    
    td.amount{
	  text-align: right;
	  
	  a{}
	  	    
    }

  }
    
  tr.active {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9CBACA;    
      td{
	    a{
		  color: #FFFFFF;    
	    }    
      }
  }  
  
}

a.new-acct{
  font-weight: bold;
  color: #747474;
  &:hover{color: #444;}  
}

.headinglink{
  cursor: pointer;
  &:hover{color: #444;}
}

.sidebox{
	header{
	padding: 5px 16px 10px;
	border-bottom: 1px solid #E8E8E8;
	margin: 0 0 10px;
	box-shadow: 0px 2px 20px -4px #CFCFCF;
		h3{
		font-size: 130%;
		font-weight: bold;
		color: #737373;			
		}
	}
}
