.left-navigation {
  color: #c9c9c9;
  
  a {
    color: #c9c9c9;
  }
  
  td {
    padding: 10px;
  }

}

table.left-header {
  width: 100%;
  
  a {
    color: #cfcfcf;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  td.header {
    font-size: 130%;
    font-weight: bold;
    color: #737373;
    
    img {
      height: 17px;
      margin: 10px;
    }
  }
  
  td.right {
    text-align: right;
  }
  
  img {
    height: 11px;
  }
  
  
}
