.navbar-inverse {
  background-color: #187fc0;
  border-color: white;
  border-radius: 0px;

  .navbar-brand {
      color: white;
  }
  
  
  .container-fluid{
	  padding: 10px 50px;
  }
  
  ul.mainNav{display: none;}

  .navbar-nav {
    li > a {
      color: #d3edfb;
      text-transform: uppercase;
      display: block;
    }
    
    img.tab {
      height: 15px;
      padding-right: 10px;
    }
    
    img#account {
      height: 35px;
      
      // Prevent vertical stretch of navbar:
      margin-top: -5px;
      margin-bottom: -5px;
    }
    
    img#security {
      height: 35px;
      
      // Prevent vertical stretch of navbar:
      margin-top: -5px;
      margin-bottom: -5px;
    }    
    
    li.security-center{
	  float: right;
	    p{
		  float: right;
		  margin: 5px 0px 0 5px;
		  font-weight: bold;
		  color: #fff;
		  letter-spacing: 0.05em; 
	    }

    }
    
    li.account-details{
		p{
		  float: right;
		  margin: 5px 0px 0 5px;
		  font-weight: bold;
		  color: #fff;
		  letter-spacing: 0.05em; 			
		}	    
    }
    
    img#account-toggle {
      height: 3px;
      padding-left: 5px;
    }
    
    li > a:hover {
	    background-color: transparent; 
    }

    li.active {
     a {
        background-color: transparent;
      }
      
      a:hover, a:active, a:focus {
	    background-color: transparent; 	      
      }
      
    }
    
    li.open{
	  a{background-color: transparent;}  
    }
    
    // The dropdown on the top right:
    .dropdown-menu a {
      color: black;
      text-transform: none;
    }

  }


}

img#logo {
  height: 40px;
  margin-top: -10px;
}

ul.navbar-nav{
  list-style: none;	
  padding: 0;
  margin: 0 0 0 0;
  
  li.item{
    a{
	 padding: 15px 15px 15px 35px;    
	 font-weight: 500;
     background-repeat: no-repeat;
	 background-position: 5px 50%;
     background-size: 25px;
    }
    a.active{

    }
    a.transactions{
      background-image: url('/img/transactions-icon.png');    
    }
    a.profile{
      background-image: url('/img/account-icon.png');    	    
    }
    a.security{
	  background-image: url('/img/security-icon-0.png');  
    }
    a.security-level-1{
	  background-image: url('/img/security-icon-1.png');  
    }
    a.security-level-2{
	  background-image: url('/img/security-icon-2.png');  
    }
    a.security-level-3{
	  background-image: url('/img/security-icon-3.png');  
    }    
  }
}

.navbar-collapse{
	border: none;
	box-shadow: none;
}

@media (min-width: 768px){

.navbar-collapse{
	display: block!important;
}

ul.navbar-nav{
  .container-fluid{
    padding: 10px 50px;
  }	
 li.active{
	 a{
        border-bottom: thick solid #269FFD;
        margin-bottom: 1px;
        color: #d3edfb;
	 }
 }	
}

ul.navbar-right{
  li.item{
    a{
	 padding: 15px 15px 15px 55px;    
	 background-size: 40px;  
    }	  
  }
}  
  	
}