.navbar-inverse {
  background-color: #187fc0;
  border-color: white;
  border-radius: 0px;

  .navbar-brand {
      color: white;
  }
  
  
  .container-fluid{
	  padding: 15px;
  }

  .navbar-nav {
    li > a {
      color: #d3edfb;
      text-transform: uppercase;
      display: block;
    }
    
    img.tab {
      height: 15px;
      padding-right: 10px;
    }
    
    img#account {
      height: 35px;
      
      // Prevent vertical stretch of navbar:
      margin-top: -5px;
      margin-bottom: -5px;
    }
    
    img#security {
      height: 35px;
      
      // Prevent vertical stretch of navbar:
      margin-top: -5px;
      margin-bottom: -5px;
    }    
    
    li.security-center{
	  float: right;
	    p{
		  float: right;
		  margin: 5px 0px 0 5px;
		  font-weight: bold;
		  color: #fff;
		  letter-spacing: 0.05em; 
	    }

    }
    
    li.account-details{
		p{
		  float: right;
		  margin: 5px 0px 0 5px;
		  font-weight: bold;
		  color: #fff;
		  letter-spacing: 0.05em; 			
		}	    
    }
    
    img#account-toggle {
      height: 3px;
      padding-left: 5px;
    }
    
    li > a:hover {
        background-color: #358CCD;
    }

    li.active {
     a {
        background-color: transparent;
        border-bottom: thick solid #269FFD;
        margin-bottom: 1px;
        color: #d3edfb;
      }
      
      a:hover {
        background-color: #358CCD;
      }
    }
    
    // The dropdown on the top right:
    .dropdown-menu a {
      color: black;
      text-transform: none;
    }

  }


}

img#logo {
  height: 40px;
  margin-top: -10px;
}

ul.navbar-nav{
  list-style: none;	
  padding: 0;
  margin: 0 0 0 15px;
  
  li.item{
    a{
	 padding: 15px;    
	 font-weight: 500;
     background-repeat: no-repeat;
	 background-position: 5px 50%;
     background-size: 25px;

      span{
	    padding-left: 20px;    
      }	
     
    }
    a.active{
	  color: #E6EAEB;      
    }
    a.transactions{
      background-image: url('/img/transactions-icon.png');    
    }
    a.profile{
      background-image: url('/img/account-icon.png');    	    
    }
    a.security{
	  background-image: url('/img/security-icon-0.png');  
    }
    a.security-level-1{
	  background-image: url('/img/security-icon-1.png');  
    }
    a.security-level-2{
	  background-image: url('/img/security-icon-2.png');  
    }
    a.security-level-3{
	  background-image: url('/img/security-icon-3.png');  
    }    
  }
}


ul.extra-nav{
  li.item{
    a{
	  background-size: 35px;
	  span{
		padding-left: 40px;  
	  }    
    }	  
  }
  
}


@media (min-width: 768px){
  ul.extra-nav{
	float: right;
	li.item{
	  margin: 0 0 0 10px;
	}
  }	
}