.navbar-inverse {
  background-color: #187fc0;
  border-color: white;

  .navbar-brand {
      color: white;
  }

  .navbar-nav {
    li > a {
      color: #d3edfb;
      text-transform: uppercase;
    }
    
    img.tab {
      height: 15px;
      padding-right: 10px;
    }
    
    img#account {
      height: 35px;
      
      // Prevent vertical stretch of navbar:
      margin-top: -5px;
      margin-bottom: -5px;
    }
    
    img#account-toggle {
      height: 3px;
      padding-left: 5px;
    }
    
    li > a:hover {
        background-color: #269FFD;
    }

    li.active {
     a {
        background-color: #1A76BA;
        border-bottom: thick solid #269FFD;
        margin-bottom: 1px;
        color: #d3edfb;
      }
      
      a:hover {
        background-color: #269FFD;
      }
    }
    
    // The dropdown on the top right:
    .dropdown-menu a {
      color: black;
      text-transform: none;
    }

  }


}

img#logo {
  height: 34px;
  margin-top: -6px;
}