label.black {
  color: black;
  font-size: 10pt;
  font-weight: bold;
}

p.form-control-static.bitcoin-address {
  background-color: #EBEBEB;
  padding-top: 5pt;
  padding-bottom: 5pt;
  padding-left: 15pt;
  padding-right: 15pt;
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 9pt;
  color: black;
}