.badge-container{
  width: 60%;
  margin: 0 auto;

  h2{
    font-size: 15pt;
  }
}

.thebadge{
  opacity: 0.5;
  h2{
  color: #999;
  }
    .security-badge img {height: 150px;}
}
.thebadge.current{
  opacity: 1;
  h2{
  color: #1b8ac7;
  }
    .security-badge img {height: 200px;}

}

.next-step{

border-bottom: 1px solid #eee;
padding: 15px 0 15px;

  p.points{
  color: rgb(94, 182, 95);
  font-weight: bold;
  font-size: 130%;
  }

  a{
  cursor: pointer;
  }

}

.row.spacing h2{
font-size: 20pt;
font-weight: 200;
border-bottom: 1px solid #E0E0E0;
color: #898989;
display: block;
padding-bottom:15px;
}

.edit-mobile .btn-info{
  margin: 5px;
}
.btn-verify{
  margin: 3px 0 0 -20px
}

.security-center{
  position: relative;
  top: 95px;
  padding: 5px 30px 20px 30px;
  .bucket{
    margin-bottom: 15px;

   .level{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding: 10px;
    .actionitem{
    padding: 20px 30px;

      h3{
      font-weight: 200;
      color: #7E7E7E;
      font-size: 200%;
      }
      p{
      color: #B0B0B0;
      line-height: 1.7em;
      font-size: 15px;
      }
    }

     .title{
    background: #EBECEF;
    text-align: center;
    padding: 15px;
    border-right: 1px solid #E0E0E0;
    height: 130px;

    img{
      height: 75px;
    }
    p{
      color: #ddd;
      font-size: 160%;
    }
     }
     .secbadge{
    text-align: center;
    padding: 10px;
    display: block;
    height: 130px;
    background: #F7F7F7;
         img{
         height: 65px;
         margin: 20px 0 0;
         opacity: .25;

         }
         p{
        color: #999;
        margin: 10px 0;
       }
       a{
         display: block;
         height: 130px;
         margin: -10px 0 0 0;

         &:hover{
         text-decoration: none;
         img{opacity: .5;}
         }

       }
     }
     .badge-active{

       a{
       cursor: default;
       img{opacity: 1;}
       &:hover{img{opacity: 1;}}
       }

       p{
       }
     }


   }
   .level1{
    .title{
      p{color:#E47F7F;}
    }


   }
   .level2{
    .title{
      p{color:#FCCC65;}

    }

   }
   .level3{
    .title{
      p{color:#3CC476;}

    }
   }

  }
}
.actionHolder{padding: 0;}
.hasBadge{display: none;}
.securityhide{display: none;}

.security-center-ui{

  .intl-tel-input{
    width:100%;
    margin: 0 0 10px 0!important;
    input{padding: 10px 40px!important;}
    .country{float: none!important; width: auto!important;}
  }
  .verifyemail{
  background: none;
  border: none;
  }
  
padding: 150px 50px 0 50px;
  
  section.level{
    margin: 0 0 30px 0;
    
    header{
      margin: 0 0 20px 0;
      h1{
        font-size: 1.5em;
        display: inline;
        padding: 0 10px 0 0;      
      }
      h2{
        font-size: 1.3em;
        display: inline;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    
    ul{
      display: block;
      background-color: #fdfdfd;
      margin: 0;
      padding: 0;
      border: 1px solid #eaeaea;
      list-style: none;
      height: 160px;

      li{
        float: left;
        width: 20%;
        a{
          display: block;
          text-align: center;
          width: 100%;
          height: 160px;
          padding: 30px 15px;
          cursor: pointer;
          img{
            width: 75px;
          }
          p{
            margin: 10px 0 0;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        a.active{
          background-color: white;
          border-bottom: none;
          font-weight: bold;
          box-shadow: 0px 4px 8px -1px rgba(243, 243, 243, 1) inset;
          border-top: none;
          border-right: 1px solid rgb(234, 234, 234);
          border-left: 1px solid rgb(234, 234, 234);
        }
    }
      
      li.level-badge{
        img{opacity: .5}
      }
      
      li.badge-active{
        img{opacity: 1;}
        a{cursor: default;}
      }
      
      li.level-header{
        background-color: #f5f7f9;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #eaeaea;
        float: left;
        padding: 30px 35px;
        height: 159px;
        width: 150px;
          img{
            width: 85px;
          }
        
        }
      } 
    
    div.badge-panel{
      
      .gutter{width:70%; margin: 0 auto;}
      
        border: 1px solid rgb(234, 234, 234);
        border-top: none;
        padding: 25px;      
      
      input{
        border: none;
        border-bottom: 1px solid #DBDBDB;
        width: 100%;
        padding: 10px 0;
        font-size: 1.35em;
        border-radius: 0px;
        background-color: white;
        box-shadow: none;
      }
      
      input:focus{
        outline: none;
      }
      
      input:active{
        border-bottom: 1px solid rgb(145, 208, 232);
      }
      
      p{
        font-size: 1.1em;
        font-weight: 300;
        color: rgb(117, 117, 117);
        line-height: 1.5em;      
      }
      
    }
    
    
    }
  }
