#qr-canvas {
  display: none;
}

img#qr {
  height: 13px;
}

.advanced-button-header {
  text-align: right;
  margin-bottom: 0;
  margin-top: auto;  
  margin-left: auto;
  margin-right: 0;
  vertical-align: bottom;
  h3 {
    display: inline;
  }

  p {
    display: inline;
    margin: 0;
    color: #c1c1c1;
    font-size: 80%;
    text-transform: uppercase;
  
    img {
      padding-left: 5px;
      height: 13px;
      vertical-align: text-baseline;
    }
  }
}

.privacy-guard {
  img.privacy-guard {
    height: 17px;
  }
  img.question {
    padding-left: 5px;
    height: 11px;
  }
}

.send-methods {
  .btn-group-justified {
    padding-right: 37px;
    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
      
    }
    .middle {
      border-left: none;
      border-right: none;
    }
  }

  input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    border-top: 1px solid #ccc;
  }
}