#qr-canvas {
  display: none;
}

#qr {
  img {
    height: 20px;
    width: 20px;
  }
  border-left: none;
}

.privacy-guard {
  img.privacy-guard {
    height: 17px;
  }
  img.question {
    padding-left: 5px;
    height: 11px;
  }
}

#send {
  .zerobalance {
    color: #AAB2BD;
  }
}
