#qr-canvas {
  display: none;
}

#qr {
  img {
    height: 13px;
  }
  border-left: none;
}

.privacy-guard {
  img.privacy-guard {
    height: 17px;
  }
  img.question {
    padding-left: 5px;
    height: 11px;
  }
}

.send-methods {
  .btn-group-justified {
    .btn {
      border-bottom: none;
    }
    .middle {
      border-left: none;
      border-right: none;
    }
  }

  input {
    border-top: 1px solid #ccc;
  }
}

#send {
  .zerobalance {
    color: #AAB2BD;
  }
}
