#settings {
	padding: 0;

	.label{
	font-size: 85%;
	font-weight: normal;
	margin-left: 10px;
	}

	.label-warning {
	background-color: #EA7E7E;
	}

	label-success {
	background-color: #84BB84;
	}

	.settings-list{
	list-style: none;
	text-align: left;
	background: #F9F9F9;
	padding: 20px;
	border: 1px solid #F0F0F0;
	}

	.qr{
	padding: 20px 0;
	}

  .header-with-label {
    h2, label {
      display: inline;
    }
    margin-bottom: 20px;
  }

  h2.status.incomplete {
    color: #C89898;
  }

  h2.status.complete {
    color: #85AD5F;
  }

  h2 {
    margin-bottom: 20px;
  }

  h2.status {
    margin: 0 5px;
  }

  h2{
    font-size: 12pt;
    color: #75AAC9;
    margin-bottom: 20px;
  }

  h2.back {
    margin-top: 0px;
  }

  p.headliner{
    font-size: 115%;
    color: #999;
    line-height: 1.7em;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 0 15px 0;
    margin: 0 0 20px 0;
  }

  .right {
    a {
      text-transform: lowercase;
    }
  }

  .edit-mobile {
    button.ui-select-match {
      width: 75px;
    }
    input.ui-select-search {
      width: 150px;
    }
    li {
      text-align: left; // Country dropdown
    }
  }

  pre.recovery{
  padding: 15px;
  margin: 15px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }


  table {
    width: 100%;

    th {
      background-color: #F2F2F2;
    }

    td, th {
      border: 1px solid #E6E6E6;
      padding: 10px;

      .btc {
        color: #545454;
      }

      .fiat {
        color: #9E9E9E;
        font-style: italic;
        font-size: 80%;
        display: block;
      }

    }
  }

  form.form-horizontal{
	.form-group{
     margin: 0!important;
	 border-bottom: 1px solid #EFEFEF;
	 padding: 20px 0;

	   &:hover{
	    background: rgb(237, 246, 252);
	   }

	   label{
		color: #838383;
		font-size: 125%;
		font-weight: 400;
	   }

	   p.explain{
		color: #9D9D9D;
		line-height: 1.6em;
		font-size: 10pt;
	   }

	   p.settingtext {
  		 font-size: 8pt;
  		 clear: both;
     }



	  }
  }
}

.left-view{
  ul.nav{
    padding: 20px;
    background: #ffffff;

    li{
	  a{
	  color: #adadad;
	  font-size: 110%;
		  &:hover{
		   background-color: #fff;
	       color: #75B0D3;
		  }
	  }
    }

    li.active{
	  a{
	   background: none;
	   color: #75B0D3;
	  }
    }

  }
}

.title{
  h2{
	margin: 0 0 15px 0;
  }
  p{
   font-size: 120%;
   color: #AEAEAE;
  }

}

a.settingaction{
background: #56AADD;
padding: 10px;
color: white;
border-radius: 5px;
display: block;
text-align: center;
font-weight: 500;
margin: 5px 0;

&:hover{
  color: rgba(255, 255, 255, 1);
  background: #4296C8;
  text-decoration: none;
}

}

.setting-result {
  text-align: center;
  padding: 0;
}


.btn-group{
  button{float: none;}
}


.inneredit{padding: 10px 15px 0;}


.account-container{
  border: 1px solid #EFEFEF;
  padding: 5px;
  margin: 10px 0 10px 0;

    .label-primary{background-color: #7CA6CB;color: #fff;}

    header{
      border-bottom: 1px solid rgb(229, 229, 229);
      padding: 0 0 5px 0;
      margin: 0 0 15px 0;
        h2{
          background: url('/img/my-accounts-icon.png') no-repeat 0 0;
          padding: 5px 0px 5px 40px;
          background-size: 35px;
          margin-bottom: 10px;
          margin-top: 10px;
            span{font-size: 13pt;word-break: break-word;color: #686868;margin-bottom: 10px;}
            span.label{font-size: 10pt!important;}
          }
        h3.fiat{
          font-size: 10pt;
          font-style: italic;
          color: #ccc;
          margin: 0;
          padding: 0;
        }
         h3.btc{
          font-size: 12pt;
          font-style: italic;
          color: rgb(160, 160, 160);
        }
        .balance{
          text-align: right;
        }
    }
    ul{
      margin: 0;
      padding: 0;
        list-style: none;
        li{
          padding: 2px 0;
        }
    }

}

@media (min-width: 992px){
	#settings{padding: 15px;}
	.setting-result {
	  text-align: right;
	  padding: 0 40px;

	}

	a.settingaction{
	  float: right;
	  min-width: 175px;
	}


	h2.status {
	  margin: 0px 0px 15px;
	}

	.btn-group{
		button{float: left;}
	}
}
