#settings {
  .label {
    margin-left: 10px;
  }
  
  .header-with-label {
    h2, label {
      display: inline;
    }
    margin-bottom: 20px;
  }
  
  h2.status.incomplete {
    color: #939393;
  }
  
  h2.status.complete {
    color: #7ABF3B;
  }
  
  h2 {
    margin-bottom: 20px;
  }  
  
  h2.status {
    margin-bottom: 5px;
  }
  
  h2{
    font-size: 12pt;
    color: #75AAC9;
    margin-bottom: 20px;	  
  }

  p {
  }
  
  .right {
    a {
      text-transform: lowercase;
    }
  }
  
  .edit-mobile {
    button.ui-select-match {
      width: 75px;
    }
    input.ui-select-search {
      width: 150px;
    }
  }
  
  table {
    width: 100%;
    
    th {
      background-color: #F2F2F2;
    }
    
    td, th {
      border: 1px solid #E6E6E6;
      padding: 10px;
      
      .btc {
        color: #545454;
      }
      
      .fiat {
        color: #9E9E9E;
        font-style: italic;
        font-size: 80%;
        display: block;
      }
      
    }
  }
}

.left-view{
  ul.nav{
    padding: 20px;
    background: #ffffff;	  
  
    li{
	  a{
	  color: #adadad;
	  font-size: 110%;
		  &:hover{
		   background-color: #fff;
	       color: #75B0D3;  
		  }  
	  }    
    }
    
    li.active{
	  a{
	   background: none; 
	   color: #75B0D3;	  
	  }    
    }
  
  }	
}

.title{
  h2{
	margin: 0 0 15px 0;
  }
  p{
   font-size: 120%;
   color: #AEAEAE;	  
  }	
	
}
