
.signup {
  position:fixed;
  bottom:0px; 
  
  .modal-lg {
    width: 100%;
    top: 300px;
    bottom: 0px;
    
  }
  
  .modal-header {
    border: none;
    text-align: center;
      h3{
		font-size: 25pt;
		font-weight: 200;
		color: #C8E9F0;
		margin: 20px 0 20px;
      }
  }
  
  .modal-content {
    border: none;
    background-color: #1b8ac7;
    color: white;
    border-radius: 0;
    
    input {
		color: #1972B6;
		box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.34);
		padding: 20px;
		background: #fff;
		border: 1px solid #FFF;
    }
    
    .row {
      background-color: #1b8ac7;
 
    }
    label{
	font-size: 120%;
	font-weight: 400;	 
	color: #C8E9F0;   
    }

	.help-block{
	display: block;
	margin-top: -2px;
	margin-bottom: 10px;
	border-radius: 0 0 5px 5px;
	color: #BE5858;
	background: #BBDBEC;
	font-size: 15px;
	
	 p{padding: 1px;}
	}  
  
  .why{
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4); 
	h4{
	color: #F2F2F2;
	font-weight: 400;
	padding: 10px 0 0px 0;
	display: block;
	font-size: 20px;
	}
	p{
	  color: #C8E9F0;
	  padding: 10px 50px 0;
	  display: block;
	  font-weight: 200;
	  line-height: 1.5em;
	  font-size: 120%;

	}  
	  
  }
  
  }
  
  .modal-footer {
    
    border: none;
    
    a {
      color: white !important;
    }
    
    form {
      background-color: #1972B6;
    }
    
    .btn-signup{
	background: none!important;
	color: #fff!important;
	border: none;
	font-size: 20px;
	font-weight: 200;
	padding: 10px 50px;
    }
    
    background-color: #1b8ac7;
    

  }
  
}

.modal.signup{
display: block;
position: fixed;
bottom: 0;

  .modal-lg{
	width: 100%;
	position: relative;
	top: auto;
	bottom: 0;
	margin: 0 auto;
	min-height: 568px;
	overflow: scroll;
  }

}


@media (min-width: 768px){
  .modal-header{
	h3{
	  font-size: 30pt;	
	}
  }
  .modal.signup{
	position: fixed;
	
	.modal-lg{
	 position: absolute;
	 min-height: inherit;
	 overflow: auto;
	}
	
  }

	
}
