.signup {
  position:fixed;
  .modal-lg {
    width: 100%;
    bottom: 0;
    top: 0;
  }
  .modal-header {
    border: none;
    text-align: center;
    padding: 30px;
    background: white;
      h3{
      font-weight: 200;
      color: #049BD4;
      font-size: 3em;
      }
    p{color:#999;}
  }

  .modal-content {
    border: none;
    background-color: #049BD4;
    color: white;
    border-radius: 0;
    height: 100%;
    input {

    }
    .row {

    }
    label{
  font-size: 1.1em;
  font-weight: 400;
  color: #fff;
    }

  .help-block{
//  display: block;
//  margin-top: -2px;
//  margin-bottom: 10px;
//  border-radius: 0 0 5px 5px;
//  color: #BE5858;
//  background: #BBDBEC;
//  font-size: 15px;
    color: white;

   p{padding: 1px;}
  }

  .why{
  border-top: 1px solid rgba(255, 255, 255, 0.26);
  text-align: left;
  padding: 20px 50px 50px;
  margin-top: 25px;

  h4{
  color: #FFFFFF;
  font-weight: 400;
  display: block;
  font-size: 1.3em;
  }
  p{
  color: #fff;
  display: block;
  font-weight: 200;
  font-size: 1.1em;

  }

  }

  }

  .modal-footer {
    text-align: center;
    border: none;

    a {
      color: white !important;
    }

    form {
      background-color: #1972B6;
    }

    .btn-signup{
  border: none;
  font-size: 1.5em;
  font-weight: 300;
  padding: 10px 50px;
    }
  }

  .btn-resend{
  background: none!important;
  }
  .form-control {
    height: auto;
  }
}

.modal.signup {
  display: block;
  position: fixed;
  .modal-lg{
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    transform: none;
  }
}


.alpha-warning{
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 10px;
  font-size: 1.2em;
  background-color: #CA3E3E;
  font-weight: 300;
  margin: 0 160px 35px;

  i{font-size: 3em;float: left;padding: 0 10px 0 0;}
}


.agreement{

  input{
  color: white;
  box-shadow: none;
  padding: inherit;
  background: transparent;
  border: none;
  height: 35px;
  float: left;
  width: 20px;
  margin-right: 10px;

  &:focus{
    outline: none;
    border: none;
    box-shadow: none;
  }

  }


  label{
  padding: 11px 0;
  display: block;
  }

  }
