#top {
  padding: 0 30px;
  margin-top: -1px;
  .balance {
    cursor: pointer;
    h1 {
    font-size: 2.5em;
    font-weight: 600;
    }
    p {
      margin-top: 0px;
      float: right;
      font-size: 1.3em;
    }
    img.spinner {
      height: 11px;
    }
  }
}
@media (max-width: 992px) {
  #top .balance h1 {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  #top .balance h1 {
    font-size: 1.25em;
  }
  #top .balance p {
    font-size: .9em;
  }
}
