#top {
  padding: 20px 30px;
  .balance {
    h1 {
      text-align: right;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    p {
      margin-top: 0px;
      float: right;
    }
    img.spinner {
      height: 11px;
    }
  }
}
