#transactions {  
  h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #4fb5ee;
    font-size: 150%;
    font-weight: bold;
  }
  
  .row.transaction {
    min-height: 55px;
    margin-top: 5px;
    border-bottom: 1pt solid #f5f5f5;
  }
  
  a.date {
    color: #adc0c9;
    padding-top: 10px;
  }
  
  .description{
    color: #828181;
  }
  
  font-size: 85%;
  
  button {
    margin-top: 0px;
    margin-left: 5px;
    height: 24px;
    width: 80px;
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
    color: white;
  }
  
  button.intra-wallet {
    background: white url(/img/button-blue.png); 
    background-size: 80px 24px;
  }
  
  button.spent {
    background: white url(/img/button-red.png); 
    background-size: 80px 24px;
  }
  
  button.received {
    background: white url(/img/button-green.png); 
    background-size: 80px 24px;
  }
} 

span.note {
  color: #aeaeae;
  //  font-weight: lighter;
  font-weight: 300;
  img {
    height: 9px;
    padding-right: 5px;
  }
}

a.add-note {
  color: #CCCCCC;
}