.af-header { margin-bottom: 19px; }
.af-item {
  height: calc(635px/8);
  border-left: 1px solid #d2ced0;
  margin-left: 15px;
  &:last-child, &.af-fade {
    opacity: 0.5;
  }
}
.af-empty-state {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(247, 247, 247, 0.6), rgba(247, 247, 247, 1));
  position: absolute;
  top: 0;
  h2, h5 {
    padding: 0 5px;
    background: rgba(247, 247, 247, 0.8)
  }
  h5 {
    line-height: 1.4;
  }
  button {
    min-height: 40px;
  }
}
.af-info {
  border: 1px solid #d2ced0;
  padding: .8em;
}
.af-date {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.af-marker {
  position: relative;
  right: 15px;
  top: 5px;
  color: #ffffff;
  i {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $blue;
    @extend .flex-center;
    @extend .flex-justify;
  }
  &:after {
    content: '';
  }
}
.af-log {
  max-width: 210px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 992px) and (max-width: 1175px) {
  .af-date { display: none; }
}

@media (max-width: 620px) {
  .af-log span { display: none; }
}
