.alert {
  width: 40vw;
  margin-top: 1vw;
  border-radius: 0px;
  animation: fade-in-down .5s;
  -webkit-animation: fade-in-down .5s;
  &.ng-leave-active {
    animation: fade-out-up .5s;
    -webkit-animation: fade-out-up .5s;
  }
}
.alert-in-app {
  top: 2px;
  right: 12px;
  z-index: 1051;
  position: fixed;
  min-width: 300px;
  overflow: initial !important;
  max-height: initial !important;
  min-height: initial !important;
}
.alert-received-bitcoin, .alert-sent-bitcoin {
  @extend .alert-in-app;
  color: $received;
  background: white;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  max-width: 300px;
  z-index: 1051; //greater than Bootstrap modal(1050)
  animation: fade-in-right .5s;
  box-shadow: 0 2px 3px 0 #676767;
  .close {
    color: $received;
  }
}

.alert-sent-bitcoin {
  color: $sent;
  .close {
    color: $sent;
  }
}

@media (max-width: 620px) {
  .alert { width: 95vw; }
}

// bootstrap alert overrides
.alert {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.alert-warning, .alert-danger {
  border: 0px;
  @extend .shadow-1;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: 5px;
  right: 5px;
  z-index: 1;
  color: inherit;
  position: absolute;
}
