.alert {
  width: 40vw;
  animation: fade-in-down .5s;
  margin-top: 1vw;
}
.alert-in-app {
  position: absolute;
  top: 2px;
  right: 12px;
  z-index: 1049;
}
.alert-received-bitcoin, .alert-sent-bitcoin {
  @extend .alert-in-app;
  background: white;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  color: $success;
  max-width: 300px;
  z-index: 1051; //greater than Bootstrap modal(1050)
  animation: fade-in-right .5s;
  box-shadow: 0 2px 3px 0 #676767;
  .close {
    right: -11px !important;
    color: grey;
  }
}

@media (max-width: 620px) {
  .alert { width: 95vw; }
}
