label.black {
  color: black;
  font-size: 10pt;
  font-weight: bold;
}

p.form-control-static.bitcoin-address {
  background-color: #F5F7F9;
  padding: 10px;
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 10pt;
  color: $black;

  span{
	overflow-wrap: break-word;
	line-height: 1.9em;
  }
}

.btcaddr{
word-break: break-all;
}
