@mixin block-alert-type($name, $primary, $secondary) {
  &.#{$name} {
    background: $secondary;
    border-color: $primary;
    a.button {
      @extend .ph-30;
      color: $primary;
      border: 1px solid $primary;
    }
  }
}

.block-alert {
  padding: 16px;
  border: 1px solid;
  border-radius: 4px;
  @include block-alert-type("info", $iris, $light-blue);
  @include block-alert-type("warning", $dandelion, $moccasin);
  @include block-alert-type("danger", $bittersweet, $rosebud);
}
