@mixin block-alert-type($name, $primary, $secondary) {
  &.#{$name} {
    background: $secondary;
    border-color: $primary;
    .block-alert-icon {
      color: $primary;
    }
  }
}

.block-alert {
  padding: 15px 30px;
  border: 1px solid;
  .block-alert-icon {
    font-size: 80px;
  }
  @include block-alert-type("info", $iris, $light-blue);
  @include block-alert-type("warning", $dandelion, $moccasin);
  @include block-alert-type("danger", $bittersweet, $rosebud);
}
