.button-group {
  i {
    transition: all .2s ease-in-out;
    margin-right: .25em;
  }
  > span.request {
    cursor:  pointer;
    align-self: center;
  }
  button, a {
    padding: .25em;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1.2em;
    min-width: 100px;
    transition: all .2s ease-in-out;
    color: $text;
    &:hover {
      background: darken(#FEFEFE, 5%);
      color: $text;
    }
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 700px) {
  .button-group {
    button, a {
      min-width: 50px;
    }
    button span, a span {
      display: none;
    }
    i {
      margin-right: 0px;
    }
  }
}
