.button-group {
  i {
    transition: all .2s ease-in-out;
    margin-right: .25em;
  }
  button {
    padding: .25em .8em;
    background: #FEFEFE;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.4em;
    min-width: 115px;
    transition: all .2s ease-in-out;
//    box-shadow: -4px 4px 0 0 #E7E7E7;
//    -moz-box-shadow: -4px 4px 0 0 #E7E7E7;
//    -webkit-box-shadow: -4px 4px 0 0 #E7E7E7;
    &:hover {
      background: darken(#FEFEFE, 5%);
//      box-shadow: -4px 4px 0 0 darken(#E7E7E7, 5%);
//      -moz-box-shadow: -4px 4px 0 0 darken(#E7E7E7, 5%);
//      -webkit-box-shadow: -4px 4px 0 0 darken(#E7E7E7, 5%);
      .bc-icon-receive, .bc-icon-send {
        animation: bounce .5s ease-in-out inifinite;
        webkit-animation: bounce .5s ease-in-out infinite;
      }
    }
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 700px) {
  .button-group {
    button {
      min-width: 50px;
    }
    button span {
      display: none;
    }
    i {
      margin-right: 0px;
    }
  }
}
