.filter-bar {
  flex: 0 0 60px;
  padding: 0px 30px;
  background: $grey;
  width: 100%;
  border-bottom: 1px solid $border-grey;
  height: 60px;
  position: absolute;
  z-index: 10;
  @media (max-width: 767px) {
    padding: 0 10px;
  }
  .ui-select-container {
    width: 360px;
    .divider {
      margin: 0px auto;
    }
  }
  .dropdown-menu {
    margin: 0px;
    > li:first-child {
      .dropdown-header {
        // we need to remove this when we come up with what we want to call Accounts
        display: none;
      }
    }
  }
  .ui-select-match {
    label-origin {
      > span:first-child {
        max-width: 120px;
      }
    }
  }
  .ui-select-choices-group:first-of-type > .ui-select-choices-row:nth-child(3) {
    @extend .border-bottom-light;
  }
  @media (max-width: 991px) {
    &.open {
      height: 255px;
      display: block;
      .pointer {
        padding-top: 4px;
      }
      .ui-select-container {
        width: 100%;
      }
    }
  }
}

.filter-buttons {
  a {
    transition: opacity .3s ease-in-out;
    opacity: .5;
    margin-right: 1em;
    &.spaced {
      margin-right: 2em;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    font-weight: 700;
    opacity: 1;
    border-bottom: 1px solid $black;
  }
}
.filter-search {
  position: relative;
  input {
    min-width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid $border-grey;
  }
  .ti-search {
    position: absolute;
    z-index: 3;
    right: 8px;
    top: 12px;
  }
}

.filter-search-alt {
  input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 1.42857;
    border: 1px solid $border-grey;
  }
  .ti-search {
    right: 10px;
    top: 11px;
  }
}

@media (max-width: 767px) {
  .filter-search input { padding-right: 25px !important }
}

@media (min-width: 992px) {
  .filter-search input { padding-right: 25px !important }
}

@media (min-width: 768px) and (max-width: 991px) {
  .filter-search input { min-width: 180px }
  .filter-search .ti-search { display: none; }
}

@media (max-width: 767px) {
  .filter-bar {
    border-top: 1px solid $border-grey;
    width: 100%;
    flex: 0 0 60px;
  }
}
