.filter-bar {
  position: fixed;
  width: calc(100% - 270px);
  left: 270px;
  top: 175px;
  height: 50px;
  background: $light-blue;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  z-index: 1;
  .ui-select-container {
    width: 360px;
    .divider {
      margin: 0px auto;
    }
  }
  .dropdown-menu {
    margin: 0px;
    > li:first-child {
      .dropdown-header {
        // we need to remove this when we come up with what we want to call Accounts
        display: none;
      }
    }
  }
  .ui-select-match {
    label-origin {
      > span:first-child {
        max-width: 120px;
      }
    }
  }
  .ui-select-choices-group:first-of-type > .ui-select-choices-row:nth-child(3) {
    @extend .border-bottom-light;
  }
}

.filter-buttons {
  a {
    transition: opacity .3s ease-in-out;
    opacity: .5;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    font-weight: 700;
    opacity: 1;
    border-bottom: 1px solid $black;
  }
}
.filter-search {
  position: relative;
  input {
    min-width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd
  }
  .ti-search {
    position: absolute;
    right: 8px;
    top: 6px;
  }
}

.filter-search-alt {
  input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border: 1px solid $ccc;
    border-radius: 4px;
  }
  .ti-search {
    right: 10px;
    top: 11px;
  }
}

@media (max-width: 667px) {
  .filter-search {
    display: none;
  }
}

@media (max-width: 768px) {
  .filter-search input { padding-right: 25px !important }
}

@media (min-width: 900px) {
  .filter-search input { padding-right: 25px !important }
}

@media (min-width: 768px) and (max-width: 900px) {
  .filter-search input { min-width: 180px }
  .filter-search .ti-search { display: none; }
}

@media (max-width: 768px) {
  .filter-bar {
    border-top: 1px solid $eee;
    width: 100%;
    top: 200px;
    left: 0;
  }
}
