.filter-bar {
  position: fixed;
  width: calc(100% - 270px);
  left: 270px;
  top: 170px;
  height: 50px;
  background: $light-grey-alt;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}

.filter-buttons {
  a {
    transition: opacity .3s ease-in-out;
    opacity: .5;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    font-weight: 700;
    opacity: 1;
    border-bottom: 1px solid $black;
  }
}
.filter-search {
  position: relative;
  input {
    min-width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd
  }
  .ti-search {
    position: absolute;
    right: 8px;
    top: 6px;
  }
}

@media (max-width: 667px) {
  .filter-search {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .filter-search input { min-width: 180px }
  .filter-search .ti-search { display: none; }
}

@media (max-width: 768px) {
  .filter-bar {
    width: 100%;
    top: 150px;
    left: 0;
  }
}
