.bc-form {
  background: $light-blue;
  border: 1px solid $eee;
  border-radius: 5px;
  margin-bottom: 3em;
  input {
    border: 1px solid $eee;
    border-radius: 5px;
    min-height: 34px;
    &:focus {
      outline: none;
    }
  }
}

.bc-form-header {
  border-bottom: 1px solid $eee;
  margin-bottom: .55em;
}

.bc-radio-group {
  label {
    font-weight: 400;
  }
}

.bc-empty-state {
  i {
    font-size: 5em;
  }
  h4 {
    font-size: 2em;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .bc-form {
    width: 90vw;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bc-form {
    min-width: 40vw;
  }
}
