.form-control {
  height: 40px;
  min-width: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0px !important;
  &:focus {
    box-shadow: none;
  }
}

.input-group-btn {
  .btn {
    padding: 9px 12px;
  }
}

.bc-empty-state {
  i {
    font-size: 5em;
  }
  h4 {
    font-size: 2em;
    font-weight: 300;
  }
}

.settings {
  form[name="bcAsyncForm"] {
    > div {
      padding-top: 0px;
      padding-bottom: 0px;
      input {
        width: 100%;
        border: 0px;
        outline: 0px;
        padding: 0px;
        height: auto;
        font-size: 12pt;
        font-weight: 500;
        line-height: 1.1;
        border-radius: 0px;
        margin-bottom: 5px;
        display: inline-block;
        background: transparent;
        box-shadow: none !important;
        border-bottom: 1px solid $aaa;
        @include transition(width 0.1s);
        @media (min-width: 768px) {
          width: 50%;
        }
      }
    }
    button.button-muted {
      outline: 0px !important;
    }
  }
}

form[name="signupForm"] {
  .accept-checkbox {
    z-index: 10;
    position: relative;
    padding-right: 0px;
  }
}

input.lrg {
  height: 54px;
  font-size: 1.4em;
  @media (min-width: 768px) {
    min-width: 250px;
  }
}

input[type="checkbox"] {
  margin: 0;
}

form.bc-form {
  .group {
    @extend .flex-column;
    &.inline {
      @extend .flex-row;
      .item:not(:last-child) {
        margin-right: 1em;
      }
    }
    label {
      font-size: 14px;
    }
    .text {
      @extend .mbs;
    }
    .item {
      position: relative;
      @extend .flex-column;
      &.check {
        @extend .flex-row;
        @extend .flex-center;
        label {
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          margin: 0;
        }
      }
    }
  }

  input {
    @include transition(all 0.3s);
    @extend .form-control;
    &[type="radio"],
    &[type="checkbox"] {
      width: auto;
      height: auto;
      margin: 1em 0.5em 1em 0;
    }
  }

  select {
    height: 40px;
    background: white;
    @extend .form-control;
    border: 1px solid #ccc;
  }

  input,
  select {
    &.ng-touched {
      &.ng-invalid {
        border-color: $state-danger-text;
        & + .error {
          display: block;
        }
      }
    }
    & + .error {
      left: 0px;
      bottom: -20px;
      display: none;
      @extend .f-12;
      @extend .pos-abs;
      @extend .state-danger-text;
    }
  }

  .group.full {
    width: 100%;
    input {
      width: 100%;
    }
  }

  .no-border {
    border: none;
  }

  .radio-group {
    .radio-label {
      label {
        @extend .mbn;
        @extend .pt-25;
        @extend .pb-25;
        @extend .pl-35;
        @extend .pr-35;
        @extend .border;
        @extend .pointer;
        border-bottom-width: 0px;
        &:before {
          @extend .mr-20;
        }
      }
      &:last-child {
        label {
          border-bottom-width: 1px;
        }
      }
    }
  }

  .radio-label {
    label {
      @extend .em-400;
      @extend .flex-row;
      @extend .flex-center;
    }
    input[type="radio"] {
      display: none;
      & + label:before {
        content: '';
        width: 16px;
        height: 16px;
        min-width: 16px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid $blue;
        @include transition(background-color $fast);
      }
      &:checked {
        & + label:before {
          content: '';
          width: 16px;
          height: 16px;
          background-color: $blue;
        }
      }
    }
  }

  .radio-group {

  }

  .help {
    position: relative;
    span { 
      @extend .f-12;
      position: absolute;
    }
  }
}

.file-upload {
  @extend .center;
  @extend .border;
  @extend .width-100;
  @extend .flex-column;
  @extend .flex-around;
  @extend .flex-center;
  min-height: 500px;
  &.dragover {
    border: 1px dashed $blue;
  }
}

.queued {
  .file-upload {
    border: 1px solid $blue;
  }
}

bc-phone-number button.dropdown-toggle {
  border-radius: 0px;
}
