.form-control {
  height: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0px !important;
  &:focus {
    box-shadow: none;
  }
}

.input-group-btn {
  .btn {
    padding: 9px 12px;
  }
}

.bc-empty-state {
  i {
    font-size: 5em;
  }
  h4 {
    font-size: 2em;
    font-weight: 300;
  }
}

.settings {
  form[name="bcAsyncForm"] {
    > div {
      padding-top: 0px;
      padding-bottom: 0px;
      input {
        width: 100%;
        border: 0px;
        outline: 0px;
        padding: 0px;
        height: auto;
        font-size: 12pt;
        font-weight: 500;
        line-height: 1.1;
        border-radius: 0px;
        margin-bottom: 5px;
        display: inline-block;
        background: transparent;
        box-shadow: none !important;
        border-bottom: 1px solid $aaa;
        @include transition(width 0.1s);
        @media (min-width: 768px) {
          width: 50%;
        }
      }
    }
    button.button-muted {
      outline: 0px !important;
    }
  }
}

form[name="signupForm"] {
  .accept-checkbox {
    z-index: 10;
    position: relative;
    padding-right: 0px;
  }
}

input.lrg {
  height: 54px;
  font-size: 1.4em;
  @media (min-width: 768px) {
    min-width: 250px;
  }
}

input[type="checkbox"] {
  margin: 0;
}

form.bc-form {
  .group {
    @extend .flex-column;
    &.inline {
      @extend .flex-row;
      .item:not(:last-child) {
        margin-right: 1em;
      }
    }
    label {
      font-size: 14px;
    }
    .text {
      @extend .mbs;
    }
    .item {
      position: relative;
      @extend .flex-column;
      &.check {
        @extend .flex-row;
        @extend .flex-center;
        label {
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          margin: 0;
        }
      }
    }
  }

  input {
    @include transition(all 0.3s);
    @extend .form-control;
    &[type="checkbox"] {
      margin: 1em 0.5em 1em 0;
      width: 1em;
      height: 1em;
    }
  }

  input,
  .ui-select-container {
    &.ng-touched {
      &.ng-invalid {
        border-color: $state-danger-text;
        & + i:before {
          color: $state-danger-text;
          content: "\e646";
        }
      }
      &.ng-valid,
      &.ng-invalid {
        & + i {
          top: 0px;
          opacity: 1;
        }
      }
    }
    & + i {
      top: 10px;
      opacity: 0;
      right: 0px;
      font-size: 14px;
      position: absolute;
      font-style: normal;
      font-family: 'ThemifyIcons';
      @include transition(opacity 0.2s, top 0.2s);
    }
  }

  .group.full {
    width: 100%;
    input {
      width: 100%;
    }
  }

  .no-border {
    border: none;
  }

  .help {
    position: relative;
    span { position: absolute; }
  }
}

.file-upload {
  @extend .center;
  @extend .border;
  @extend .width-100;
  @extend .height-100;
  @extend .flex-column;
  @extend .flex-around;
  @extend .flex-center;
  &.dragover {
    border: 1px dashed $blue;
  }
}

.queued {
  .file-upload {
    border: 1px solid $blue;
  }
}

bc-phone-number button.dropdown-toggle {
  border-radius: 0px;
}
