.bc-form {
  background: $light-blue;
  border: 1px solid $eee;
  border-radius: 5px;
  margin-bottom: 3em;
  input {
    border: 1px solid $eee;
    border-radius: 5px;
    min-height: 34px;
    &:focus {
      outline: none;
    }
  }
}

.bc-form-header {
  border-bottom: 1px solid $eee;
  margin-bottom: .55em;
}

.bc-radio-group {
  label {
    font-weight: 400;
  }
}

.bc-empty-state {
  i {
    font-size: 5em;
  }
  h4 {
    font-size: 2em;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .bc-form {
    width: 90vw;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .bc-form {
    min-width: 40vw;
  }
}

.settings {
  form[name="bcAsyncForm"] {
    > div {
      padding-top: 0px;
      padding-bottom: 0px;
      input {
        width: 100%;
        border: 0px;
        outline: 0px;
        padding: 0px;
        height: auto;
        font-size: 12pt;
        font-weight: 500;
        line-height: 1.1;
        border-radius: 0px;
        margin-bottom: 5px;
        display: inline-block;
        background: transparent;
        box-shadow: none !important;
        border-bottom: 1px solid $black;
        @include transition(width 0.1s);
        @media (min-width: 768px) {
          width: 50%;
        }
      }
    }
    button.button-muted {
      outline: 0px !important;
    }
  }
}

form[name="signupForm"] {
  .accept-checkbox {
    padding-right: 0px;
  }
  .accept-label {
    margin-bottom: 0px;
  }
}

input.lrg {
  height: 53px;
  font-size: 16px;
  min-width: 230px;
}
