.bc-form {
  background: $light-grey-alt;
  border: 1px solid $eee;
  border-radius: 5px;
  width: 35vw;
  margin-bottom: 3em;
  input,textarea {
    border: 1px solid $eee;
    border-radius: 5px;
    min-height: 34px;
    &:focus {
      outline: none;
    }
  }
}

.bc-form-header {
  border-bottom: 1px solid $eee;
  margin-bottom: .55em;
}

.bc-radio-group {
  label {
    font-weight: 400;
  }
}

.bc-empty-state {
  i { 
    font-size: 5em;
  }
}

@media (max-width: 768px) {
  .bc-form {
    width: 90vw;
  }
}
