//class should be applied on elements that have a focus state
.helper {
  border: 1px solid $mid-grey;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  &:focus {
    outline: none;
  }
  &.active {
    border: 1px solid transparent;
  }
  > i.ti-close {
    top: 50%;
    left: 50%;
    font-size: 9px;
    position: absolute;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.tooltip-set-width .tooltip {
  width: 8em;
}

//override parts of bootstrap popover
.popover {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  width: 225px;
  box-shadow: 0 3px 8px 0px rgba(158, 158, 158, 0.65) !important;
  border-radius: 7px !important;
  z-index: 1049; // keep below Bootstrap modals (1050)
  display: block; // Firefox bug(?)
}

@media (max-width: 620px) {
  .helper { display: none; }
}
