//class should be applied on elements that have a focus state
.helper {
  color: $mid-grey;
  border: 1px solid $mid-grey;
  border-radius: 100%;
  background-color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  &.active {
    border: 1px solid transparent;
    background: $blue;
    color: white;
  }
  .close-helper {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    &:before {
      color: white;
      font-size: 9px;
      content: "\e646";
      font-family: 'ThemifyIcons';
    }
  }
}

.tooltip-set-width .tooltip {
  width: 8em;
}

//override parts of bootstrap popover
.popover {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  width: 225px;
  box-shadow: 0 3px 8px 0px rgba(158, 158, 158, 0.65) !important;
  border-radius: 7px !important;
  z-index: 1049; // keep below Bootstrap modals (1050)
  display: block; // Firefox bug(?)
}

@media (max-width: 620px) {
  .helper { display: none; }
}
