//class should be applied on elements that have a focus state
.helper {
  color: $border-grey;
  border: 1px solid $border-grey;
  border-radius: 100%;
  background-color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  &:focus {
    outline: none;
  }
  &.active {
    background: $blue-alt;
    color: white;
    border: none;
  }
}

//override bootstrap popover
.popover {
  box-shadow: 0 3px 8px 0px rgba(158, 158, 158, 0.65) !important;
  border-radius: 7px !important;
  z-index: 1049; // keep below Bootstrap modals (1050)
}

@media (max-width: 620px) {
  .helper { display: none; }
}
