@media (max-width: 991px) {
  .main-balance {
    .f-24 {
      font-size: 16px;
    }
    .icon-ethereum {
      margin-left: 10px;
    }
    .f-20.lh1 {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}
