//
// Bootstrap Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Container that the modal scrolls within
.modal {
  display: none;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  @media (max-width: 767px) {
    overflow: auto;
    position: absolute;
    display: block !important;
  }
  &.fade .modal-dialog {
    transform: scale(.8);
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
    transition: transform 0.15s linear;
  }
  &.in .modal-dialog {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  &.confirm {
    width: 35vw;
    margin: 0 auto;
    max-width: 35vw;
    @media (max-width: 767px) {
      max-width: 85vw;
      width: 85vw;
    }
    .modal-dialog {
      transition: all 0.3s linear;
    }
    .modal-body {
      border-radius: 5px 5px 0px 0px;
    }
    .modal-footer {
      border-radius: 0px 0px 5px 5px;
      background-color: #fff;
    }
    &.fade .modal-dialog {
      -webkit-transform: translate(0,-25%);
      -ms-transform: translate(0,-25%);
      -o-transform: translate(0,-25%);
      transform: translate(0,-25%);
    }
    &.in .modal-dialog {
      -webkit-transform: translate(0,10%);
      -ms-transform: translate(0,10%);
      -o-transform: translate(0,10%);
      transform: translate(0,10%);
    }
  }
}

.modal-progress {
  margin-bottom: 0;
  height: 2px;
  background-color: white;
  box-shadow: none;
  .progress-bar {
    background-color: $blue;
  }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  height: 100%;
  position: relative;
  background-color: $modal-content-bg;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  outline: 0;
}
// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity($modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: $modal-title-padding;
  border-bottom: 1px solid $modal-header-border-color;
  min-height: ($modal-title-padding + $modal-title-line-height);
}
// Close icon
.modal-header .close {
  margin-top: -2px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: 25px 35px;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn,
  .popover + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
  &:after, &:before {
    content: none;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: $modal-md;
    margin: 30px 0;
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: $modal-sm; }
}

@media (min-width: $screen-md-min) {
  .modal-lg { width: $modal-lg; }
}

//
// Blockchain Modal Overrides
// --------------------------------------------------
.bc-modal {
  @extend .flex-important;
  @extend .flex-justify;
  @extend .flex-center;
  .modal-dialog {
    width: 55vw;
    @media (max-width: 767px) {
      margin: 30px auto !important;
    }
  }
  &.buy {
    .modal-dialog {
      .modal-body {
        width: 600px;
        &.isx { width: 700px; }
      }
    }
    @media (max-width: 767px) {
      .modal-dialog {
        .modal-body {
          width: auto;
          &.isx { width: auto; }
        }
      }
    }
  }
  &.block {
    display: block !important;
    .modal-dialog {
      margin: 30px auto;
    }
  }
  &.initial { // initial bootstrap width
    @media (min-width: 768px) {
      .modal-dialog { width: 600px; }
    }
  }
  &.auto {
    .modal-dialog { width: auto; }
  }
  &.sm {
    .modal-dialog { width: 40vw; }
    @media(max-width: 768px) {
      .modal-dialog { width: 80vw; }
    }
  }
  &.xs {
    .modal-dialog { width: 30vw; }
  }
  &.large {
    .modal-dialog {
      width: 60vw;
    }
    @media (max-width: 1052px) {
      .modal-dialog { width: 65vw; }
    }
    @media (max-width: 991px) {
      .modal-dialog { width: 85vw; }
    }
  }
  &.medium {
    @media (min-width: 768px) {
      .modal-dialog { width: 45vw; }
    }
  }
  &.confirm {
    @extend .flex-center;
    &.top {
      @extend .flex-align-start;
    }
    .modal-dialog {
      width: auto;
    }
    .modal-body {
      min-height: 0px;
    }
  }
  &.trade-summary {
    .modal-dialog {
      width: 300px;
    }
    @media (min-width: 768px) {
      .modal-dialog {
        width: 500px;
      }
    }
  }
  .modal-body {
    background: white;
  }
  .modal-footer { border-top: 1px solid #e5e5e5; }
  .bc-modal-header {
    position: relative;
    h3 {
      font-weight: 500;
      font-size: 2em;
      margin-top: 10px;
    }
    h5 {
      font-weight: 300;
      color: darken($border-grey, 30%);
      margin: 5px 0;
    }
    img {
      margin-right: 10px;
      height: 40px;
    }
    .step {
      position: absolute;
      top: 8px;
      right: 0;
      font-size: 11px;
      padding-right: 14px;
    }
    &.no-border { border-bottom: 0px; }
  }
  input[type="checkbox"] {
    margin: 0;
  }
  .ph-form {
    .form-group { margin-bottom: 10px; }
    .form-control {
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid $border-grey;
      &:focus {
        border-color: none;
        box-shadow: none
      }
      &.no-border { border-bottom: 0px; }
    }
  }
  .has-error .border-bottom {
    z-index: 10;
    position: relative;
    border-color: #a94442 !important;
  }
  .fa-arrows-h {
    color: $border-grey;
    padding: 0px 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .usd-amount, .btc-amount {
    border-bottom: 1px solid $border-grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .amount-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-right: 10px;
    }
  }
  .send-by {
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: 25px;
    li {
      display: inline-block;
      margin: 0 10px;
      color: $border-grey;
      &.active {
        color: $blue;
        font-weight: 700;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .hide { display: none !important; }
  .hidden { opacity: 0; }
  .to-field, .public-note {
    position: relative;
    label {
      margin-bottom: 15px;
    }
  }
  .btc, .email, .phone {
    display: flex;
    flex-direction: column;
  }
  .qr-code {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 33px;
    top: 50px;
    background: #fdfdfd;
    border:1px solid #e5e5e5;
    padding:5px;
    &:hover {
      cursor: pointer;
      background: #efefef;
    }
  }
  .conversion {
    border-bottom: 1px solid $border-grey;
    padding-bottom: 5px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  ::-webkit-input-placeholder {
    color: $border-grey;
  }
  .recipient-currency {
    .form-control {
      padding: 3px 10px;
      background-color: transparent;
    }
  }
  //Specific to the 2FA modal
  .two-fa-image { width: 40px; }

  //Specific to the first login modal
  .rocket-gif {
    border-radius: 5px;
    height: 430px;
    @media (max-width: 767px) {
      display: none;
    }
  }

  [name='sendForm'], [name='requestForm'], [name="signMessageForm"], [name="verifyMessageForm"]  {
    label { text-align: right; }
  }
}

.modal-fullscreen .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.rocket-modal {
  background: rgba(10,10,10,.4);
  .modal-body { padding: 3em; }
  .rocket-text {
    img {
      width: 30px;
      margin: 0px auto;
      margin-bottom: 1.25em;
    }
  }
}

.terms-modal {
  .modal-body {
    max-height: 400px;
    overflow-y: scroll;
    padding: 0;
  }
  .modal-dialog { width: 65vw; }
}

@media (max-width: 767px) {
  .bc-modal, .bc-modal.small {
    .modal-dialog {
      width: 95%; /* fallback for browsers without support for vw */
      width: 95vw;
      margin: 5vw 2vw;
    }
    [name='sendForm'], [name='requestForm']  {
      label { text-align: left; }
    }
  }
  .rocket-modal {
    .modal-body { padding: 1em; }
    .rocket-gif { height: 325px; }
    .rocket-text {
      padding: 1em 1em;
      text-align: center;
      p { font-size: 12px; }
      h3 {
        font-size: 18px;
        margin-top: 0px;
      }
      .button-success { font-size: 12px; padding: .5em; }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bc-modal, .bc-modal.small {
    .modal-dialog {
      width: 60vw;
    }
  }
}
@media (max-width: 620px) {
  .bc-modal, .bc-modal.small {
    .total-amounts { width: 100%; }
  }
}

.modal-backdrop.fade {
  @include transition(opacity $fast);
}

.modal-content {
  opacity: 1;
  @include transition(opacity $fast);
}
.ng-enter {
  .modal-content {
    @include transition(opacity 0s);
    opacity: 0;
  }
}

.bc-modal.buy .bc-modal-header img {
  height: auto;
  margin: 0px;
}

.modal-body .close-modal,
.tray .close-modal {
  @extend .lh1;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  color: #979797;
  right: 20px;
  top: 20px;
}

.tray .close-modal {
  top: 25px;
  right: 40px;
}

.modal.tray {
  $timing: 0.8s;
  left: 270px;
  overflow: auto;
  position: fixed;
  margin-top: 60px;
  line-height: 20px;
  opacity: 1 !important;
  top: calc(100% - 60px);
  @include transition(top $timing, bottom $timing, opacity 0s $timing);

  .modal-content {
    overflow: auto;
    min-height: 100%;
    opacity: 1 !important;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
  }

  &.fade {
    &.ng-enter,
    &.in {
      top: 0%;
      bottom: 0%;
      transition: top $timing, bottom $timing, opacity 0s !important;
      -moz-transition: top $timing, bottom $timing, opacity 0s !important;
      -webkit-transition: top $timing, bottom $timing, opacity 0s !important;
    }
  }

  @media (max-width: 767px) {
    left: 0px;
    top: 100%;
    bottom: -100%;
    margin-top: 0px;
    &.fade {
      &.ng-enter,
      &.in {
        top: 0px;
        bottom: 0px;
      }
    }

    .sfox-signup {
      .pl-40 {
        padding-left: 20px;
      }
      .pr-40 {
        padding-right: 20px;
      }
      .pt-40 {
        padding-top: 20px;
      }
    }

    .close-modal {
      position: absolute;
      right: 1.25em;
      top: 1.25em;
    }
  }
}
