.notification-modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  .modal-dialog {
    width: 40vw;
    margin-top: 0 !important;
  }
  .modal-body {
    &.bg-success {
      height: 60px;
      border-radius: 0 0 6px 6px;
    }
  }
  .modal-header {
    .success {
      i, h3 {
        margin: 0;
      }
      h3 {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .notification-modal {
    .modal-dialog {
      width: 100vw;
    }
  }
}

.message {
  top: 50%;
  right: -15px;
  position: absolute;
  transform: translateY(-50%); 
  -webkit-transform: translateY(-50%); // ensure centering
  z-index: 1049; //above everything except modals (1050)
  @media (max-width: 768px) {
    right: 5px;
  }
}

.message-beacon {
  width: 20px;
  height: 20px;
  z-index: 1049; //keep this the highest on the z-axis
  border-radius: 100%;
  background: $send-red;
  animation: pulse 3s linear infinite;
}
.message-contextual {
  width: 250px;
  border-radius: 5px;
  border: 1px solid $aaa;
  position: absolute;
  z-index: 1048;
  text-transform: none !important;
  //scoped CSS (refactor)
  a.button-success-alt { color: white; }
  a.aaa { color: $aaa; }
}
