.level-6 {
  background: $security-green;
  border-radius: 10px !important;
}
.level-3, .level-4, .level-5 { background: $security-yellow; }
.level-0, .level-1, .level-2 { background: $security-red; }
.level-0 { width: 5%; }
[class^='level-'], [class*=' level-']{
  height: 100%;
  transition: width .3s ease-in-out;
}
@for $i from 1 through 6 {
  .level-#{$i} {
    width: calc(#{$i}/6 * 100%);
  }
}
.bar { border-radius: 10px 0 0 10px; }

.progress-bar-wrapper {
  border-radius: 10px;
  background: #ECECEC;
  height: 10px;
  width: 60px;
  box-shadow: inset 0px 1px 1px 1px #D7D7D7;
  margin-left: 1em;
}

input[name="password"] + password-entropy .progress {
  margin-bottom: 5px;
  > div {
    font-size: 10px;
    padding-left: 10px;
    text-transform: uppercase;
  }
}

.progress-bar-danger {
  padding-left: 10px;
}
