.level-6 {
  background: #3CC576;
  border-radius: 10px !important;
}

.level-3, .level-4, .level-5 {
  background: #FEC655;
}

.level-1, .level-2 {
  background: #E58080;
}

@for $i from 0 through 6 {
  .level-#{$i} {
    width: calc(#{$i}/6 * 100%);
    height: 100%;
    transition: width .3s ease-in-out;
  }
}

.bar {
  border-radius: 10px 0 0 10px;
}

.progress-bar-wrapper {
  border-radius: 10px;
  background: #ECECEC;
  height: 10px;
  width: 125px;
  box-shadow: inset 0px 1px 1px 1px #D7D7D7;
  margin-left: 1em;
}
