.spinner {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    margin: auto;
    position: absolute;
    background-image: url('../img/puff-white.svg');
  }
}

img.loader { width: 70px;
  &.small { width: 40px; }
}
