  #sweep-all {
    .address-container {
      overflow: scroll;
      height: 104px;
      border: 1px solid #eee;
      padding: 10px 0px 10px 15px;
    }
    .overview {
      width: 200px;
    }
    .progress-bar {
      span { width: 40px; }
    }
  }
