.modal-body.clearfix(data-preflight-tag="BankTransfer")
  form.bc-form(id="bankTransferForm" name="bankTransferForm" role="form" novalidate)
    div
      .mbl
        span.type-h5.em-500.flex-start.pts.capitalize(class="{{vm.formattedTrade.class}}" translate="{{vm.formattedTrade.namespace}}.TITLE")
        p.ptm(ng-show="vm.onStep('summary')" translate="{{vm.formattedTrade.namespace}}.BODY" translate-values="vm.formattedTrade.values")
      .border(ng-if="vm.onStep('summary')")
        ul.em-300.bg-grey.border-top.pan.mbn.bank-transfer
          li.pam.border-right.border-left.border-bottom-light.flex-between(ng-repeat="(prop, val) in vm.formattedTrade.tx track by $index" ng-if="val")
            span.em-300.colon(translate="{{prop}}" ng-class="{'em-500': prop === 'TOTAL_COST'}")
            span.em-300.right-align.capitalize(ng-bind="val" ng-class="{'em-500': prop === 'TOTAL_COST', 'capitalize' : prop !== 'RECEIVING_ADDRESS'}")
      div(ng-if="vm.onStep('initiated')")
        ul.em-300.bg-grey.border-top.pan.mbn
          li.pam.border-right.border-left.border-bottom-light.flex-between(ng-repeat="(prop, val) in vm.formattedTrade.tx track by $index" ng-if="val")
            span.em-300.colon(translate="{{prop}}" ng-class="{'em-500': prop === 'TOTAL_COST'}")
            span.em-300.right-align.capitalize(ng-bind="val" ng-class="{'em-500': prop === 'TOTAL_COST', 'capitalize' : prop !== 'RECEIVING_ADDRESS'}")
      .group(ng-if="vm.onStep('reference')")
        .item
          label.em-300(translate="UNOCOIN_IF_IMPS")
          label.em-300(translate="UNOCOIN_IF_NEFT_OR_RTGS")
          label.em-300(translate="UNOCOIN_IF_CANT_ID")
          label.em-300.colon.mt-10(translate="REF_NUMBER")
          input(ng-model="vm.state.reference" name="reference" type="text" required focus-when="vm.onStep('reference')")
.ph-35.pb-25.flex-end.flex-row
  button.btn.button-primary(ng-if="vm.onStep('initiated')" ng-click="vm.close()" translate="CLOSE")
  button.button-muted.primary.mrm(ng-if="vm.onStep('summary')" ng-click="vm.close()" translate="CANCEL")
  button.button-muted.primary.mrm(ng-if="vm.onStep('reference')" ng-click="vm.goTo('summary')" translate="GO_BACK" ng-disabled="vm.locked")
  button.btn.button-primary(ng-if="vm.onStep('summary') || vm.onStep('reference')" ng-click="vm.onStep('summary') ? vm.goTo('reference') : vm.addReferenceNumber()" translate="{{vm.onStep('summary') ? 'CONTINUE' : 'SUBMIT'}}" form="bankTransferForm" ng-disabled="vm.locked || (vm.onStep('reference') && !vm.state.reference)")
