.flex-column.flex-center
  .width-50.center
    i.f-48.icon-phone.lh1.primary
    .f-24.em-500.mt-25(translate="UNOCOIN.PENDING")
    .f-16.em-300.mt-20(translate="UNOCOIN.PENDING_EXPLAIN")
    button.button-primary.mt-20(ng-click="$close()") Close
