.unocoin-signup.pb-50
  .signup-steps.border-bottom-light
    div(ng-include="'partials/unocoin/signup-steps.pug'")
  div.pl-40.pr-40.pt-40.pb-25
    div(ng-if="vm.onStep('create')" ng-include="'partials/unocoin/create.pug'" ng-controller="UnocoinCreateAccountController")
    div(ng-if="vm.onStep('verify')" ng-include="'partials/unocoin/verify.pug'" ng-controller="UnocoinVerifyController")
    div(ng-if="vm.onStep('upload')" ng-include="'partials/unocoin/upload.pug'" ng-controller="UnocoinUploadController")
    div(ng-if="vm.onStep('pending')" ng-include="'partials/unocoin/pending.pug'" ng-controller="UnocoinPendingController")
  contact-support-footer.abs(ng-hide="inMobileBuy")
