.flex-row.flex-column-tablet
  .width-40
    .width-80
      h4.f-20.em-500.mvn.mb-10(translate="Setup Your Profile")
      .mbl.hidden-xs
        span.f-16(translate="As part of your registration, Unocoin will need to collect some personal information to verify your identify.")
      .mbl
        span.f-16(translate="This information will only be sent to Unocoin and will not be directly linked to your Blockchain wallet.")
      .mbl(ng-show="buySellDebug")
        div.type-h4.mbs.underline
          i.mrs.ti-search
          span QA
        ul.pll
          li.type-lbl.mbm.pointer.blue(ng-click="onStep('address') ? unocoinAddressForm() : unocoinInfoForm()") Autofill Form
  .width-60
    form.bc-form(ng-if="onStep('address')" name="addressForm" ng-submit="setAddress()" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .row
          .col-md-12
            .mb-20.pos-rel
              label Full Name
              input(ng-model="state.fullName" name="fullName" required)
              span.error(translate="Required field")
        .row
          .col-md-6
            .mb-20.pos-rel
              label Mobile
              bc-phone-number(ng-model="state.mobile" name="mobile" preferred-countries="in" default-country="in" is-valid="isValidMobileNumber")
              span.state-danger-text.f-12.pos-abs(ng-show="!isValidMobileNumber && addressForm.mobile.$touched" translate="Required field")
          .col-md-6
            .mb-20.pos-rel
              label PAN Card
              input(ng-model="state.pancard" name="PAN Card" placeholder="PAN Card" required)
              span.error(translate="Required field")
        .row
          .col-md-12
            .mb-20.pos-rel
              label Full Residential Address (you will need to provide proof of address)
              input(ng-model="state.street" name="street" placeholder="Street address" required)
              span.error(translate="Required field")
        .row
          .col-md-4
            .mb-20.pos-rel
              label State
              input(ng-model="state.state" name="state" required)
              span.error(translate="Required field")
          .col-md-4
            .mb-20.pos-rel
              label City
              input(ng-model="state.city" name="city" required)
              span.error(translate="Required field")
          .col-md-4
            .mb-20.pos-rel
              label Pin Code
              input(ng-model="state.zipcode" name="zipcode" format-input="xxxxx" required)
              span.error(translate="Required field")
        .row
          .col-md-12
            button.btn.button-primary.full(type="submit" ng-disabled="addressForm.$invalid") Continue
    form.bc-form(ng-if="onStep('info')" name="infoForm" ng-submit="setInfo()" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .row
          .col-md-6
            .mb-20.pos-rel
              label Bank Account Number
              input(ng-model="state.bankAccountNumber" name="Bank Account Number" required)
              span.error(translate="Required field")
          .col-md-6
            .mb-20.pos-rel
              label IFSC
              input(ng-model="state.ifsc" name="ifsc" required)
              span.error(translate="Required field")
        .row
          .col-md-12
            button.btn.button-primary.full(type="submit" ng-disabled="infoForm.$invalid") Continue
