
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

@import '../../node_modules/blockchain-css/sass/utilities/colors';
@import '../../node_modules/blockchain-css/sass/utilities/typography';
@import '../../node_modules/blockchain-css/sass/elements/buttons';

body {
  margin: 0px;
}
