
.header {

  margin-bottom: 50px;
  .navbar {
    background-color: $gray;

    &.navbar-default {
      border: none;
    }

    & .navbar-header {

      & .navbar-brand {

        & img {
          width: 150px;
        }
      }
    }

    & .navbar-nav {

      li {

        & a {
            cursor: pointer;
            color: $white;
        }

        &:hover {
          & a {
            background-color: $blue;
          }
        }
      }
    }
  }
}
