section.adverts
  h3 {{$ctrl.title}}
  .container
    .row
        scenario-menu(scenario-links="$ctrl.scenarioLinks")
    .row
      .home(data-preflight-tag="Home")
        .mtl.row
            activity-feed
