
.left-navbar {
  position: absolute;
  left: 0;
  top: 50px;
  width: 200px;
  background-color: $gray;
  -webkit-transition-duration: 0.5s;

  & .arrow {
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: $gray-s;
    cursor: pointer;
  }

  &.closed {
    left: -200px;
  }

  & a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: $white;

    &:hover {
        background-color: $blue;
        color: white;
    }
  }
}
