section.adverts
  h3 {{$ctrl.title}}
  .container
    .row
        scenario-menu(scenario-links="$ctrl.scenarioLinks")
    .row
      
.left-nav
  .left-navigation.flex-column.flex-between
    ul.aside.wallet-footer
      li.header.adverts.mbm
        span(translate="SPONSORS")
        adverts
