.exchange-trade.border-right.border-left(ng-class="{'border-bottom': !state.toggled}")
  .exchange-status.pv-15(ng-click="state.toggled = !state.toggled")
    span.pl-25.ph-10-mobile.transfer Recurring
    a.hidden-xs(ng-show="state.toggled" translate="VIEW_DETAILS")
    .pl-25.pt-40.flex-column(ng-show="state.toggled")
      span.em-600.capitalize {{ subscription.frequency }}
      span
        span.em-600 Start:
        span {{ trades[0].createdAt }}
  .exchange-date.pv-15
    span {{ trades[0].createdAt }}
  .exchange-exchanged.pv-15
    span {{ trades[0].outAmount || trades[0].outAmountExpected / 1e8 }} BTC
  .exchange-received.pv-15
    span {{ trades[0].sendAmount / 100 }} {{ trades[0].inCurrency }}
.exchange-trade.border-left.border-right(ng-show="state.toggled" ng-repeat="trade in trades" ng-class="{hide: $first}")
  .exchange-status.pv-15
    span.fade Recurring
    a.hidden-xs(translate="VIEW_DETAILS")
  .exchange-date.pv-15
    span {{ trade.createdAt }}
  .exchange-exchanged.pv-15
    span {{ trade.outAmount || trade.outAmountExpected / 1e8 }} BTC
  .exchange-received.pv-15
    span {{ trade.sendAmount / 100 }} {{ trade.inCurrency }}
.exchange-trade.border-left.border-right(ng-show="state.toggled")
  .exchange-status.pv-15
    span Next Scheduled
  .exchange-date.pv-15
    span {{ trade.createdAt }}
  .exchange-exchanged.pv-15
    span Pending
  .exchange-received.pv-15
    span {{ subscription.amount }} {{ subscription.currency }}
