.exchange-trade.border
  .exchange-status.pv-15
    span.pl-25.state-danger-text(ng-show="$ctrl.trade.isFailed") {{ $ctrl.trade.status | translate }}
    span.pl-25.state.success(ng-show="$ctrl.trade.isComplete") Complete
    span.pl-25(ng-hide="$ctrl.trade.isFailed || $ctrl.trade.isComplete") {{ $ctrl.trade.status }}
    a(ng-click="$ctrl.viewDetails()") View Details
  .exchange-date.pv-15
    span {{ $ctrl.trade.time | date:$ctrl.dateFormat }}
  .exchange-exchanged.pv-15
    span.upper {{ $ctrl.trade.depositAmount }} {{ $ctrl.trade.fromCurrency }}
  .exchange-received.pv-15
    span.upper {{ $ctrl.trade.withdrawalAmount }} {{ $ctrl.trade.toCurrency }}
  //-   span.hidden-xs
  //-     span.type-sm.blue.underline.pos-rel.pointer.text-nowrap(
  //-       ng-class="{disabled: isTradingDisabled}"
  //-       ng-click="!isTradingDisabled && triggerBuy(); $event.stopPropagation();"
  //-       ng-show="userActionRequired && trade.medium !== 'blockchain'") Finish payment
  //-     span.type-sm.blue.underline.pointer.text-nowrap(
  //-       ng-click="trade.medium === 'blockchain' ? triggerSell() : triggerBuy(); $event.stopPropagation();"
  //-       ng-show="!userActionRequired || trade.medium === 'blockchain'") View details
  //- td.type-lbl.pvml
  //-   span {{ trade.createdAt | date:dateFormat }}
  //- td.type-lbl.pvml.hidden-xs
  //-   span(ng-hide="status.gettingQuote || !trade.quoteExpireTime || expiredQuote || !pending || trade.bankAccount || trade.medium === 'blockchain'")
  //-     span.display-inline-block.left-align
  //-     span(ng-if="buySellDebug")
  //-       span.display-inline-block
  //-         i.ti-search(ng-click="trade.expireQuote()") QA: Now
  //-       br
  //-   span.display-inline-block(ng-show="trade.medium === 'blockchain'") {{ trade.inAmount / 100000000 }} {{ trade.inCurrency }}
  //-   span.display-inline-block(ng-hide="trade.medium === 'blockchain'" ng-class="{italic: pending && expiredQuote, 'tilda-before': pending && expiredQuote}") {{ pending && expiredQuote ? btcExpected / 100000000 : (trade.outAmount || trade.outAmountExpected) / 100000000 }} {{ trade.outCurrency }}
  //- td.type-lbl
  //-   span(ng-hide="status.gettingQuote")
  //-     span.em-600(ng-hide="trade.medium === 'blockchain'") {{ (trade.sendAmount / conversion) | format:{code: trade.inCurrency} }} {{ trade.inCurrency }}
  //-     span.em-600(ng-show="trade.medium === 'blockchain'") {{ (trade.outAmountExpected / conversion) | format:{code: trade.outCurrency} }} {{ trade.outCurrency }}
  //-     span.hidden-xs
  //-       i.ti-trash.mls.pointer.state-danger-text(ng-click="cancel(trade); $event.stopPropagation();" ng-show="canCancel && trade.medium !== 'blockchain'" uib-tooltip="{{'CLICK_TO_CANCEL' | translate}}")
  //-       i.ti-trash.fade(ng-hide="canCancel")
  //-   img(ng-show="status.gettingQuote" src="img/spinner.gif")
  //- td.type-lbl.width-5-mobile.visible-xs
  //-   i.ti-angle-right
