.flex-column.width-50.mll.right-align
  h4.type-h4.mbm(translate="Account Information")
  span Country: {{ exchange.profile.country }}
  span Email: {{ exchange.profile.email }}
  
  .flex-column.mts
    h5.type-h5(translate="Limits")
    span Daily Card Limit: {{ exchange.profile.level.limits.card.in.daily }} {{ exchange.profile.defaultCurrency }}
    span Daily Bank Transfer Limit: {{ exchange.profile.level.limits.bank.out.daily }} {{ exchange.profile.defaultCurrency }}
    span Yearly Bank Transfer Limit: {{ exchange.profile.level.limits.bank.out.yearly }} {{ exchange.profile.defaultCurrency }}

  div.flex-end.mtml
    button.button-primary.mrs Increase Limits
    button.button-danger Logout
