.flex-column.width-50.mbml
  .flex-row.flex-center.pointer(ng-click="toggle()")
    h4.type-h4.mbm.mrm.pointer
      i.ti-user.mrm(ng-class="{blue: active}")
      span(translate="Account Information")
    span.blue.underline.pointer(ng-show="active") Hide
    span.blue.underline.pointer(ng-hide="active") Show
  .flex-column(ng-show="active")
    span Country: {{ exchange.profile.country }}
    span Email: {{ exchange.profile.email }}
    
    .flex-column.mts
      h5.type-h5(translate="Limits")
      span Daily Card Limit: {{ exchange.profile.level.limits.card.in.daily }} {{ exchange.profile.defaultCurrency }}
      span Daily Bank Transfer Limit: {{ exchange.profile.level.limits.bank.in.daily }} {{ exchange.profile.defaultCurrency }}

    div.mtml
      button.button-primary.mrs Increase Limits
      button.button-danger Logout
