.activity-feed
  h5.mtn.aaa.em-400.mbl(translate="MOST_RECENT_ACTIVITY")
  ul.af.pln
    li.af-item.flex-align-start(
      ng-class="{ 'af-fade' : $last }"
      ng-repeat="activity in activities | limitTo: 8"
    )
      .af-marker
        i(ng-class="activity.icon")
      .af-info.flex-center.width-100
        p.h5.af-type.flex-1(translate="{{ activity.title }}")
        p.af-date.mll.flex-1.hidden-xs {{ activity.time | date:'mediumDate' }}
        p.af-log.right-align.flex-2(translate="{{ activity.message }}")
        span(ng-show="activity.type == 0") &nbsp;{{ activity.result | convert }}
    //psuedo empty-state
    li.af-item.flex-align-start(ng-show="activities.length == 0")
      .af-marker
        i.ti-settings
      .af-info.flex-center.width-100
        p.h5.af-type(translate="ACTIVITY_1")
        p.af-date.mll.flex-1
        p.af-log.flex-2.right-align Wallet Setting Changed
    li.af-item.flex-align-start(ng-show="activities.length == 0")
      .af-marker
        i.ti-lock
      .af-info.flex-center.width-100
        p.h5.af-type(translate="ACTIVITY_2")
        p.af-date.mll.flex-1
        p.af-log.flex-2.right-align Security Score Increased!
    li.af-item.flex-align-start.af-fade(ng-show="activities.length == 0")
      .af-marker
        i.ti-settings
      .af-info.flex-center.width-100
        p.h5.af-type(translate="ACTIVITY_3")
        p.af-date.mll.flex-1 
        p.af-log.flex-2.right-align Wallet Setting Changed
