.activity-feed
  h4.aaa.em-400.mbl(translate="MOST_RECENT_ACTIVITY")
  ul.af.pln
    li.af-item.flex-align-start(ng-class="{ 'af-fade' : $last }" ng-repeat="activity in activities | limitTo: 8")
      .af-marker
        i(ng-class="activity.icon")
      .af-info.flex-center.width-100
        h5.af-type(translate="{{ activity.type }}")
        p.af-date.mll.flex-1 {{ activity.t | date:'MMMM d' }}
        p.af-log.flex-2.right-align {{ translateParts(activity.msg) }}
    //psuedo empty-state
    li.flex-center.flex-justify.flex-column.af-empty-state.width-100.pal(ng-show="activities.length < 6")
      i.ti-split-v.h1.pbl
      h3.em-300.center-align(translate="ACTIVITY_EMPTY")
