.col-md-6.col-sm-12.col-xs-12.pos-rel.pln.col-home
  .activity-feed(ng-if="status.isLoggedIn")
    h5.mtn.em-400.type-h5.mbl.af-header(translate="MOST_RECENT_ACTIVITY")
    ul.af.pln
      li.af-item.flex-align-start(
        ng-class="{ 'af-fade' : $last && activities.length >= 8 }"
        ng-repeat="activity in activities | limitTo: 8"
        )
        .af-marker
          i(ng-class="activity.icon")
        .af-info.flex-center.width-100
          p.h5.af-type.flex-1.mvn(translate="{{::activity.title}}")
          p.af-date.mlm.flex-1.hidden-xs.mvn {{::activity.time | date:'mediumDate'}}
          .af-log.flex-center.flex-3.flex-end
            p.mvn(ng-class="activity.message.toLowerCase()" translate="{{::activity.message}}")
            span.pls(ng-show="activity.type == 0")
              fiat-or-btc(btc="activity.amount")
      //psuedo empty-state
      li.af-item.flex-align-start(ng-hide="loading || activities.length > 7")
        .af-marker
          i.ti-wallet
        .af-info.flex-center.width-100
          p.mvn.h5.af-type(translate="ACTIVITY_1")
          p.mvn.af-date.mll.flex-1
          p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_1_DESC")
      li.af-item.flex-align-start(ng-hide="loading || activities.length > 6")
        .af-marker
          i.ti-settings
        .af-info.flex-center.width-100
          p.mvn.h5.af-type(translate="SETTINGS")
          p.mvn.af-date.mll.flex-1
          p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_2_DESC")
      li.af-item.flex-align-start(ng-hide="loading || activities.length > 5")
        .af-marker
          i.ti-settings
        .af-info.flex-center.width-100
          p.mvn.h5.af-type(translate="SETTINGS")
          p.mvn.af-date.mll.flex-1 
          p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_3_DESC")
    .flex-center.flex-justify.flex-column.af-empty-state.pal(ng-hide="loading || activities.length > 0")
      h2.em-400.center-align.shadow.mbm(translate="ACTIVITY_EMPTY")
      h5.flex-0.em-300.center-align(translate="ACTIVITY_EMPTY_MSG")
      button.button-primary.mtl(ng-click="request()" translate="RECEIVE_BTC")
    .flex-center.flex-justify.flex-column.width-100(ng-show="loading")
      img(src="img/spinner.gif")
