.col-md-6.col-sm-12.col-xs-12.pos-rel.pln.col-home
  .activity-feed.border.pal(ng-if="status.isLoggedIn")
    h5.mtn.f-24.em-300.blue.mb-20.upper(translate="MOST_RECENT_ACTIVITY")
    .flex-center.flex-justify.flex-column.af-empty-state.pal(ng-hide="loading || activities.length > 0")
      img.pb-20(src="img/blue-logo.svg")
      span.em-300.f-18.center-align(translate="ACTIVITY_EMPTY_MSG_1")
      span.em-300.f-18.center-align(translate="ACTIVITY_EMPTY_MSG_2")
      button.button-primary.mtl(ng-show="canBuy" ui-sref="wallet.common.buy-sell" translate="GET_STARTED")
      button.button-primary.mtl(ng-hide="canBuy" ng-click="request()" translate="GET_STARTED")
    ul.af.pln(ng-show="activities.length > 0")
      li.af-item.flex-align-start(
        ng-class="{ 'af-fade' : $last && activities.length >= 8 }"
        ng-repeat="activity in activities | limitTo: 8"
        )
        .af-info.flex-center.width-100.width-100-mobile.border-bottom
          .af-marker
            i.flex-center.flex-justify(ng-class="activity.icon")
          p.em-300.f-16.af-type.flex-3.mvn(ng-class="::activity.labelClass" translate="{{::activity.message}}")
          p.af-date.f-16.flex-1.hidden-xs.mvn {{::activity.time | date:'mediumDate'}}
          .af-log.flex-center.flex-3.flex-end.f-16
            //- p.mvn.right-align(ng-class="::activity.labelClass" translate="{{::activity.message}}")
            span.pls(ng-show="activity.type == 0")
              fiat-or-btc(ng-show="activity.asset === 'btc'" btc="activity.amount")
              fiat-or-eth(ng-show="activity.asset === 'eth'" eth="activity.amount")
      //psuedo empty-state
      li.af-item.flex-align-start(ng-hide="loading || activities.length > 7")
        .af-info.flex-center.width-100.width-100-mobile.border-bottom
          .af-marker
            i.ti-wallet
          p.mvn.em-300.f-16.af-type(translate="ACTIVITY_1")
          p.mvn.af-date.mll.flex-1
          p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_1_DESC")
      li.af-item.flex-align-start(ng-hide="loading || activities.length > 6")
        .af-info.flex-center.width-100.width-100-mobile.border-bottom
          .af-marker
            i.ti-settings
          p.mvn.em-300.f-16.af-type(translate="SETTINGS")
          p.mvn.af-date.mll.flex-1
          p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_2_DESC")
      li.af-item.flex-align-start(ng-hide="loading || activities.length > 5")
        .af-info.flex-center.width-100.width-100-mobile
          .af-marker
            i.ti-settings
          p.mvn.em-300.f-16.af-type(translate="SETTINGS")
          p.mvn.af-date.mll.flex-1 
          p.mvn.af-log.flex-2.right-align(translate="ACTIVITY_3_DESC")
    .flex-center.flex-justify.flex-column.width-100.width-100-mobile(ng-show="loading")
      img(src="img/spinner.gif")
