ul.aside-list.pln.pas.mtm(ng-show="ads && ads.length > 0")
  li.ad(ng-repeat="ad in ads")
    a.flex-between.flex-center.right-align.mbs(ng-href="{{ baseUrl }}{{ ad.id }}" target="_blank" rel="noopener noreferrer")
      button.pan.btn.ad-btn
        img.width-100.ad-btn-image(ng-src="{{ ad.data }}")
      span.adtext.lh1.mls {{ ad.name }}
