.adverts.sidebox
  header
    h3 Sponsored Links
  ul
    li.ad(ng-repeat="ad in ads")
      a(ng-click="visit(ad)")
        button.btn(ng-click="visit(ad)", ng-class="[ ad.button_class ]")
          img(ng-src="{{ ad.image }}")
        span(ng-class="[ ad.button_class ]") {{ ad.title }}