.adverts
  table.left-header.accounts
    tr
      td.header 
        img
        span(translate="PARTNERS") 
      table.left
        tr.ad(ng-repeat="ad in ads")
          td 
            button.btn(ng-class="[ ad.button_class ]", ng-click="visit(ad)")
              img(ng-src="{{ ad.image }}")
              | {{ ad.title }}
