ul.aside-list.pln.pas.mtm(ng-show="ads && ads.length > 0")
  li.ad.ignore-theme(ng-repeat="ad in ads")
    a.flex-between.flex-center.right-align.mbs(ng-href="{{ baseUrl }}{{ ad.id }}" target="_blank" rel="noopener noreferrer")
      button.pan.btn
        img.width-100(ng-src="{{ ad.data }}")
      span.adtext.lh1.mls {{ ad.name }}
