.adverts
  table.left-header.accounts
    tr
      td.header 
        img
        span Partners 
      table.left
        tr.ad(ng-repeat="ad in ads", ng-class="[ ad.button_class ]")
          td 
            a(ng-click="visit(ad)")
              img(ng-src="{{ ad.image }}")
              p{{ ad.title }}
