span.amountTotal
  button.em-400.amount(
    ng-class="{\
      'intra-wallet': tx.txType === 'transfer',\
      'received'    : tx.txType === 'received',\
      'spent'       : tx.txType === 'sent',\
      'unconfirmed' : tx.confirmations < 3 \
    }")
    fiat(btc="tx.amount" ng-hide="isBitCurrency(settings.displayCurrency)" abs)
    span(ng-show="isBitCurrency(settings.displayCurrency)")
      | {{ absolute(tx.amount) | toBitCurrency:settings.btcCurrency }}
