span.amountTotal(ng-class="{ unconfirmed: tx.confirmations < 3 }")
  button.em-400.amount(
    ng-class="{\
      'intra-wallet': tx.txType === 'transfer',\
      'received'    : tx.txType === 'received',\
      'spent'       : tx.txType === 'sent'\
    }"
    ng-click="toggle()")
    fiat(btc="tx.amount" ng-hide="isBitCurrency(settings.displayCurrency)" abs)
    span(ng-show="isBitCurrency(settings.displayCurrency)")
      | {{ absolute(tx.amount) | toBitCurrency:settings.btcCurrency }}
