ui-select.asset-select.hidden-xs(ng-model="$ctrl.asset" ng-change="$ctrl.onChange($ctrl.asset)" tagging)
  ui-select-match(placeholder="Select")
    i(class="pr-10 {{$select.selected.icon}}")
    span {{$select.selected.name}}
  ui-select-choices(repeat="asset in $ctrl.assets")
    .flex-row
      .width-10.flex-justify
        i(class="pr-10 {{asset.icon}}")
      span {{asset.name}}
select.visible-xs(
  ng-model="$ctrl.asset"
  ng-change="$ctrl.onChange($ctrl.asset)"
  ng-options="asset as asset.name for asset in $ctrl.assets track by asset.code")
