div
  span.type-h5.em-500.flex-start.pts.state-danger-text(translate="ACTION_REQUIRED")
  p.em-300.ptm(translate="SEND_TRADE_AMOUNT" translate-values="{amt: transaction.inAmount / 100, curr: transaction.inCurrency, label: label}")
  div.mtm
    label.em-500.flex-start.pts.mtl(translate="SEND_FUNDS_TO")
    ul.em-300.border
      li.pam.flex-between(ng-repeat="(prop, val) in formattedBankAccount track by $index")
        span.em-400(translate="{{::prop}}")
        span.em-400.right-align(ng-bind="::val")
  p.security-red.pointer(ng-show="buySellDebug")
    i.ti-search.mrm
    span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
  p.security-red.pointer(ng-show="buySellDebug")
    i.ti-search.mrm
    span(ng-click="expireQuote()" translate="QA: Click here to expire the quote")
