div
  p.em-300.ptm(translate="SEND_TRADE_AMOUNT" translate-values="{amt: transaction.inAmount, curr: transaction.inCurrency}")
  div.mtm
    h5.type-h5.mbs(translate="BANK_ACCOUNT_DETAILS")
    ul.em-300
      li.pts(ng-repeat="(prop, val) in formattedBankAccount track by $index")
        span(translate="{{::prop}}")
        | :&nbsp;
        b(ng-bind="::val")

  p.em-300.ptm(translate="BANK_TRANSFER_UPON_COMPLETION" translate-values="{label: label}")
  p.security-red.pointer
    i.ti-search.mrm
    span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
