div
  div(ng-hide="status.edit")
    p.form-control-static {{ ngModel }}
    p
      a(ng-click="edit()") {{ actionTitle }}
  .form-group(ng-class="{'has-error': !validator(form.newValue)}",ng-show="status.edit")
    input.form-control(type="text", ng-model="form.newValue")
    button.btn.btn-primary.btn-small(ng-click="save()",ng-disabled="!validator(form.newValue)",ui-ladda="{{ status.saving }}", ladda-translate="SAVE", data-style="expand-left")
    button.btn.btn-info.btn-small(ng-click="status.edit = false; newValue = ngModel", translate="CANCEL", ng-hide="status.saving")        
