div(ng-class="{'width-100 pll' : securityCenter}")
  div(ng-hide="status.edit || inline")
    h2.status.complete.hidden-xs.long-input {{ ngModel }}
    button.button-primary(ng-click="edit()") {{ actionTitle }}
  .form-group(ng-class="{'has-error': !validate()}",ng-show="inline || status.edit")
    input.form-control(on-enter="save()" type="{{ type }}", ng-model="form.newValue", ng-focus="focus()", placeholder="{{ placeholder }}", ng-class="{'width-100' : securityCenter}" ng-change="onChange()")
    span.help-block {{ errorMessage }}  
    span(ng-hide="inline && !status.edit")
      button(ng-click="save()",ng-disabled="!validate() || form.newValue == ngModel",ui-ladda="{{ status.saving }}", ladda-translate="SAVE", data-style="expand-left", ng-class="securityCenter ? 'button-success button-lg' : 'button-primary btn-small'")
      button.button-muted.btn-small.mlm(ng-click="status.edit = false; newValue = ngModel; onChange()", translate="CANCEL", ng-hide="status.saving")
