div
  div(ng-hide="status.edit || inline")
    h2.status.complete.hidden-xs.long-input {{ ngModel }}
    button.button-primary(ng-click="edit()", ng-show="user.isEmailVerified") {{ actionTitle }}
  .form-group(ng-class="{'has-error': !validate()}",ng-show="inline || status.edit")
    input.form-control(type="{{ type }}", ng-model="form.newValue", ng-focus="focus()", placeholder="{{ placeholder }}")
    span.help-block {{ errorMessage }}  
    span(ng-hide="inline && !status.edit")
      button.button-primary.btn-small(ng-click="save()",ng-disabled="!validate() || form.newValue == ngModel",ui-ladda="{{ status.saving }}", ladda-translate="SAVE", data-style="expand-left")
      button.button-muted.btn-small(ng-click="status.edit = false; newValue = ngModel", translate="CANCEL", ng-hide="status.saving")
