div
  .flex-row.flex-between.flex-center(ng-hide="$root.inMobileBuy && !browserWithCamera")
    label.f-14.colon(ng-hide="state.webcam.active" translate="{{idType + '_ID'}}.UPLOAD_SELECT")
    label.f-14.colon(ng-show="state.webcam.active" translate="{{idType + '_ID'}}.UPLOAD_TITLE")
    span.f-14.primary.pointer(ng-if="state.webcam.active || invalidFile" ng-click="reset()") Go Back

  div(ng-hide="state.webcam.active || file || invalidFile || ($root.inMobileBuy && !browserWithCamera)")
    div.file-upload(ngf-drop ng-model="file" ngf-model-invalid="invalidFile" ngf-drag-over-class="'dragover'" ngf-pattern="'image/*,application/pdf'")
      div.flex-column.width-50
        button.btn.button-primary(ng-click="enableWebcam()" ng-disabled="!browserWithCamera")
          i.mr-10.ti-camera
          span Capture Using Camera
        .or-horizontal.mv-30 Or
        button.btn.button-primary-inverse(ngf-select ng-model="file" ngf-model-invalid="invalidFile" ngf-pattern="'image/*,application/pdf'")
          i.mr-10.ti-upload
          span Upload From Device

  div(ng-show="!file && $root.inMobileBuy && !browserWithCamera")
    button.btn.button-primary-inverse.full.mtm(ngf-select ng-model="file" ngf-pattern="'image/*'")
      i.mr-10.ti-upload
      span Upload From Device

  div(ng-if="state.webcam.active")
    div.webcam(ng-class="{hidden: !state.webcam.stream || state.webcam.error}")
      webcam(channel="webcam" on-error="webcamError()" on-stream="webcamStream()")
      span.help(translate="{{idType + '_ID'}}.HELP")
    div.webcam.disabled.flex-center.flex-justify(ng-if="!state.webcam.stream && !state.webcam.error")
      span.f-16.white
        i.mr-10.ti-arrow-top-left
        span Please allow webcam access.
    div.webcam.disabled.flex-center.flex-justify(ng-if="!state.webcam.stream && state.webcam.error")
      span.f-16.white
        span Permission to use webcam denied.
        br
        span Please allow webcam access and refresh the page.
    form(ng-submit="capture()")
      button.btn.button-primary.full.mt-20(ng-disabled="!state.webcam.stream || state.webcam.disabled" type="submit")
        i.mr-10.ti-camera
        span Capture

  div(ng-show="file || invalidFile")
    div.file-upload
      div.flex-column.flex-center(ng-show="file")
        span.f-20.success.em-500.mt-20 Successfully uploaded!
        span.f-16.em-300.mv-30 Document will be sent to SFOX for review.
        img.file(ngf-src="file")
        canvas#snapshot.hide
      div.flex-column.flex-center(ng-show="invalidFile")
        span.f-20.state-danger-text.em-500.mt-20 Upload failed!
        span.f-16.em-300.mv-30(ng-show="invalidFile.$error === 'pattern'") Please try uploading a .jpg, .png, or .pdf file.
        span.f-16.em-300.mv-30(ng-show="invalidFile.$error !== 'pattern'") An error occured uploading your documentation.
        a.f-16(ngf-select ng-model="file" ngf-model-invalid="invalidFile" ngf-pattern="'image/*,application/pdf'") Try again.
    form(ng-show="file" ng-submit="upload()")
      button.btn.button-primary.full.mt-20(type="submit" focus-when="file" ng-disabled="!file || locked") Submit For Review
      a.display-block.center.mt-15(ng-click="reset()") Try Again
