.block-alert.flex-center(ng-class="$ctrl.alert.type" ng-show="$ctrl.alert && !$ctrl.dismissed")
  i.ti-close.f-14(ng-show="$ctrl.dismissable" ng-click="$ctrl.dismiss()")
  .block-alert-icon(ng-class="$ctrl.iconTypes[$ctrl.alert.type]")
  .ml-25
    .mb-15
      span.f-16.upper.em-200(ng-show="$ctrl.alert.header") {{ $ctrl.alert.header }}
    .mb-15.f-12(ng-repeat="section in $ctrl.alert.sections")
      span {{ section.title }}
      p.em-200 {{ section.body }}
    a.text-color.underline.f-12(
      ng-show="$ctrl.alert.action"
      ng-href="{{ $ctrl.alert.action.link }}"
      target="_blank"
      rel="noopener noreferrer")
      | {{ $ctrl.alert.action.title }}
