.block-alert.border(ng-class="$ctrl.alert.type")
  .mb-15
    span.f-16.upper.em-200(ng-show="$ctrl.alert.header") {{ $ctrl.alert.header }}
  .mb-15(ng-repeat="section in $ctrl.alert.sections")
    span.f-14 {{ section.title }}
    p.f-14.em-200 {{ section.body }}
  .flex-justify(ng-show="$ctrl.alert.action")
    a.button(ng-href="{{ $ctrl.alert.action.link }}") {{ $ctrl.alert.action.title }}
