.blocket-loading(ng-hide="initialized" ng-class="{'orbit': orbiting, 'liftoff': liftoff}")
  div
    img.full(ng-src="assets/img/blocket-full.png")
    img(ng-src="assets/img/blocket-no-boosters.png")