div
  ui-select(ng-model="currency" on-select="didSelect($item, $model)")
    ui-select-match {{ $select.selected }}
    ui-select-choices(repeat="cur in currencies | filter:$select.search") 
      span(ng-bind-html="cur | highlight: $select.search")