div
  ui-select(ng-model="currency" on-select="didSelect($item, $model)")
    ui-select-match {{ $select.selected.code }}
    ui-select-choices(repeat="currency.code as cur in currencies | filter:$select.search") 
      span(ng-bind-html="cur.code + ' (' + (1.0 / cur.conversion) + ' BTC)' | highlight: $select.search")