.buy-steps.flex-row.flex-between.flex-baseline.center(ng-hide="status.loading" ng-click="buy()" ng-class="{'flex-justify': exchangeAcct}")
  .width-20.flex-column.flex-center(ng-class="{blue: onStep('amount')}")
    span.type-lrg {{ currencySymbol.symbol }}
    span(ng-show="afterStep('amount') && beforeStep('trade-formatted')") {{ transaction.fiat | format }} {{ transaction.currency.code }}
    span(ng-show="afterStep('amount') && afterStep('summary')") {{ transaction.total | format }} {{ transaction.currency.code }}
    span(ng-show="onStep('amount')" translate="Amount")

  .flex-justify
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('amount') && beforeStep('select-payment-method')}" ng-hide="exchangeAcct")
    i.type-lrg.ti-user
    span(translate="Account")

  .flex-justify(ng-hide="exchangeAcct")
    i.ti-arrow-right.type-h4

  //- card
  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('accept-terms') && beforeStep('trade-complete')}" ng-hide="getMethod().inMedium === 'bank' || medium === 'bank'")
    i.type-lrg.ti-credit-card
    span(ng-hide="afterStep('summary')" translate="Payment")
    span(ng-show="afterStep('summary') && !medium").capitalize {{ getMethod().inMedium }}
    span(ng-show="afterStep('summary') && medium && medium !== 'bank'").capitalize {{ medium }}

  //- bank
  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('accept-terms') && beforeStep('trade-complete')}" ng-show="getMethod().inMedium === 'bank' || medium === 'bank'")
    i.type-lrg.ti-credit-card.bank
    span(ng-hide="afterStep('summary')" translate="Payment")
    span(ng-show="afterStep('summary')").capitalize {{ getMethod().inMedium }}
    span.security-red(ng-show="afterStep('summary') && beforeStep('trade-completed')" translate="BANK_TRANSFER_PENDING")

  .flex-justify
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('trade-formatted'), 'send-red': onStep('pending') && tradeError}")
    i.type-lrg.ti-shopping-cart
    span(translate="Get Bitcoin")
