.buy-steps.flex-row.flex-between.flex-baseline.center(ng-hide="status.loading" ng-click="buy()" ng-class="{'flex-justify': exchangeAcct}")
  .width-20.flex-column.flex-center(ng-class="{blue: onStep('amount')}")
    span.type-lrg {{ currencySymbol.symbol }}
    span(ng-show="onStep('amount') || needsKyc() || isKYC" translate="Amount")
    span(ng-show="afterStep('amount') && !needsKyc() && !isKYC")
      span(ng-show="beforeStep('isx')") {{ transaction.fiat | format }} {{ transaction.currency.code }}
      span(ng-show="afterStep('summary')") {{ transaction.total }} {{ transaction.currency.code }}

  .flex-justify
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('amount') && beforeStep('select-payment-method')}" ng-hide="exchangeAcct")
    i.type-lrg.ti-user
    span(translate="Account")

  .flex-justify(ng-hide="exchangeAcct")
    i.ti-arrow-right.type-h4

  //- card
  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('accept-terms') && beforeStep('trade-formatted')}" ng-hide="getMethod().inMedium === 'bank' || medium === 'bank' || isKYC")
    i.type-lrg.ti-credit-card
    span(ng-hide="afterStep('summary') && (medium || getMethod().inMedium)" translate="Payment")
    span(ng-show="afterStep('summary') && medium").capitalize {{ medium }}
    span(ng-show="afterStep('summary') && !medium && getMethod().inMedium").capitalize {{ getMethod().inMedium }}

  //- bank
  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('accept-terms') && beforeStep('trade-formatted')}" ng-show="(getMethod().inMedium === 'bank' || medium === 'bank') && !isKYC")
    i.type-lrg.ti-credit-card.bank
    span(ng-hide="afterStep('summary')" translate="Payment")
    span(ng-show="afterStep('summary')").capitalize {{ getMethod().inMedium }}
    span.security-red(ng-show="afterStep('summary') && beforeStep('trade-formatted')" translate="BANK_TRANSFER_PENDING")

  //- kyc
  .width-20.flex-column.flex-center(ng-class="{blue: afterStep('accept-terms') && beforeStep('trade-formatted')}" ng-show="isKYC")
    i.type-lrg.ti-id-badge.bank
    span(translate="VERIFY_IDENTITY")

  .flex-justify
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: onStep('trade-formatted')}")
    i.type-lrg.ti-shopping-cart
    span(translate="Get Bitcoin")
