.buy-steps.flex-row.flex-between.flex-baseline.center(ng-hide="status.loading" ng-click="buy()" ng-class="{'flex-justify': exchangeAcct}")
  .width-25.flex-column.flex-center(ng-class="{blue: beforeStep('select-payment-method')}" ng-hide="exchangeAcct")
    i.type-lrg.ti-user
    span(translate="ACCOUNT")

  .flex-justify(ng-hide="exchangeAcct")
    i.ti-arrow-right.type-h4

  //- card || bank
  .width-25.flex-column.flex-center(ng-class="{blue: afterStep('accept-terms') && beforeStep('isx')}")
    i.type-lrg.ti-credit-card(ng-class="{bank: (getMethod().inMedium === 'bank' || medium === 'bank') || isKYC}")
    span(translate="METHOD")

  .flex-justify
    i.ti-arrow-right.type-h4

  //- verify
  .width-25.flex-column.flex-center(ng-class="{blue: afterStep('summary') && beforeStep('trade-formatted')}")
    i.type-lrg.ti-id-badge.bank
    span(translate="VERIFY_PAYMENT")

  .flex-justify
    i.ti-arrow-right.type-h4

  .width-25.flex-column.flex-center(ng-class="{blue: onStep('trade-formatted')}")
    i.type-lrg.ti-shopping-cart
    span(translate="GET_BITCOIN")
