.buy-steps.flex-row.flex-between.flex-baseline.center(ng-click="buy()" ng-class="{'flex-justify': exchangeAcct}")
  .width-25.flex-column.flex-center(ng-class="beforeStep('select-payment-medium') ? 'blue' : 'hidden-xs'" ng-hide="exchangeAcct")
    i.type-lrg.ti-user
    span(translate="ACCOUNT")

  .flex-justify.hidden-xs(ng-hide="exchangeAcct")
    i.ti-arrow-right.type-h4

  //- card || bank
  .width-25.flex-column.flex-center(ng-class="afterStep('accept-terms') && beforeStep('isx') ? 'blue' : 'hidden-xs'")
    i.type-lrg.ti-credit-card(ng-class="{bank: (getMedium().inMedium === 'bank' || medium === 'bank') || isKYC}")
    span(translate="METHOD")

  .flex-justify.hidden-xs
    i.ti-arrow-right.type-h4

  //- verify
  .width-25.flex-column.flex-center(ng-class="afterStep('summary') && beforeStep('trade-formatted') ? 'blue' : 'hidden-xs'")
    i.type-lrg.ti-id-badge.bank
    span.hidden-xs(translate="VERIFY_PAYMENT")
    span.visible-xs(translate="VERIFY")

  .flex-justify.hidden-xs
    i.ti-arrow-right.type-h4

  .width-25.flex-column.flex-center(ng-class="onStep('trade-formatted') ? 'blue' : 'hidden-xs'")
    i.type-lrg.ti-shopping-cart
    span(translate="GET_BITCOIN")
