.level-complete-container(tooltip-template="tooltip.templateUrl" tooltip-trigger="click")
  .flex-column.flex-center
    img(ng-src="{{img}}")
  p.bright-green
    i.ti-check.prm
    span {{message}}
