.level-complete-container(uib-tooltip-template="tooltip.templateUrl" tooltip-placement="{{::tooltip.placement}}")
  .flex-justify.flex-center
    img(ng-src="{{::img}}")
  p.bright-green
    i.ti-check.prm
    span {{::message|translate}}
