span
  a(ng-click="setSecondPassword()", translate="SET_SECOND_PASSWORD", ng-hide="settings.secondPassword")
  a(ng-click="removeSecondPassword()", translate="REMOVE_SECOND_PASSWORD", ng-show="settings.secondPassword")