div
  div(ng-hide="edit.mobile")
    h2.status.complete.securityhide {{ user.internationalMobileNumber }}
    a.button-primary(ng-click="edit.mobile = !edit.mobile", translate="CHANGE_MOBILE_NUMBER")
  .edit-mobile(ng-if="edit.mobile")
    input(type="text" international-phone-number ng-model="fields.newMobile" default-country="{{ mobileDefaultCountry }}" preferred-countries="us,ca,gb,au" skip-util-script-download auto-placeholder="false", ng-disabled="status.busy").form-control
    br
    button.button-primary(ui-ladda="{{ status.busy }}", ng-click="changeMobile(fields.newMobile)",ng-disabled="!validateMobileNumber(fields.newMobile)", ladda-translate="SAVE", data-style="expand-left")
    button.button-muted.btn-small(ng-click="edit.mobile = false", translate="CANCEL")
  .row(ng-show="!user.isMobileVerified && !noMobile")
    .col-xs-9.inneredit
      input.form-control(type="text",ng-model="code", ng-disabled="status.busy")
    .col-xs-3.inneredit
      button.button-primary(ui-ladda="{{ status.busy }}", ng-click="verifyMobile(code)",ng-disabled="!code || code.length < 3", ladda-translate="VERIFY", data-style="expand-left")
