span
  a.settingaction(ng-click="setSecondPassword()", translate="SET_SECOND_PASSWORD", ng-if="!settings.secondPassword")
  a.settingaction(ng-click="removeSecondPassword()", translate="REMOVE_SECOND_PASSWORD", ng-if="settings.secondPassword", ng-hide="busy")
  img(src="img/spinner.gif", ng-show="busy")
  