div
  .row
    .col-xs-12
      h2(translate="WALLET_SECOND_PASSWORD")
  .row
    .col-xs-6
      p(translate="WALLET_SECOND_PASSWORD_EXPLAIN")
    .col-xs-6
      p
        b.text-success(translate="SECOND_PASSWORD_SET", ng-show="settings.secondPassword")  
      p
        a(ng-click="setSecondPassword()", translate="SET_SECOND_PASSWORD", ng-hide="settings.secondPassword")
        a(ng-click="removeSecondPassword()", translate="REMOVE_SECOND_PASSWORD", ng-show="settings.secondPassword")