.mtl
  a.button-primary(ng-click="setSecondPassword()", translate="SET_SECOND_PASSWORD", ng-show="!settings.secondPassword")
  a.button-primary(ng-click="removeSecondPassword()", translate="REMOVE_SECOND_PASSWORD", ng-show="settings.secondPassword", ng-disabled="busy")
  img.mll(src="assets/img/spinner.gif", ng-show="busy")
  
