div
  div(ng-hide="edit.mobile")
    h2.status.complete {{ user.internationalMobileNumber }}
    a.settingaction(ng-click="edit.mobile = !edit.mobile", translate="CHANGE_MOBILE_NUMBER")
  .edit-mobile(ng-show="edit.mobile")
    input(type="text" international-phone-number ng-model="fields.newMobile" default-country="{{ mobileDefaultCountry }}" preferred-countries="us,ca,gb,au" skip-util-script-download auto-placeholder="false").form-control
    br
    button.btn.btn-primary.btn-small(ng-click="changeMobile(fields.newMobile)",ng-disabled="!validateMobileNumber(fields.newMobile)", translate="SAVE")
    button.btn.btn-info.btn-small(ng-click="edit.mobile = false", translate="CANCEL")
  .row(ng-show="!user.isMobileVerified && !noMobile")
    .col-xs-9.inneredit
      input.form-control(type="text",ng-model="code")
    .col-xs-3.inneredit
      button.btn.btn-primary(ng-click="verifyMobile(code)",ng-disabled="!code || code.length < 3", translate="VERIFY")