div
  h2.status.incomplete(ng-hide="status.didConfirmRecoveryPhrase ", translate="UNCONFIRMED")
  h2.status.complete(ng-show="status.didConfirmRecoveryPhrase ", translate="CONFIRMED")
  p
    a(ng-click="confirmRecoveryPhrase()",translate="CONFIRM_RECOVERY_PHRASE", ng-hide="status.didConfirmRecoveryPhrase ")