.bottom-right-footer.flex-end.pal
  .em-500
    span(translate="NEED_HELP")
    | &nbsp;
    a.underline(href="https://support.blockchain.com/hc/en-us/requests/new" target="_blank" rel="noopener noreferrer" translate="CONTACT_SUPPORT")
