div.type-sm
  span.fade(ng-show="!count" translate="PLACEHOLDER")
  span(ng-show="count" translate="RATE_GUARANTEED" translate-values="{count: count}")
  p.security-red.pointer.right-align(ng-show="debug")
    i.ti-search.mrm(ng-click="expireCounter()")  QA: Now
