div.f-12
  span.fade(ng-show="!count" translate="PLACEHOLDER")
  span(ng-show="count" translate="{{message}}" translate-values="{count: count}")
  p.pos-abs.security-red.pointer.right-align(ng-show="debug")
    i.ti-search.mrm(ng-click="expireCounter()")  QA: Now
