.dyk
  .flex-between.flex-center.mbl
    h5.mvn.type-h5.em-400(translate="DYK")
    .hashtag.em-400.em-alt.flex-center(ng-class="dyk.type.toLowerCase()") 
      | {{ dyk.type | translate }}
  .widget
    .flex-center.mbm
      i.title.aaa(ng-class="dyk.icon")
      p.h3.em-300.mll.blue(ng-class="dyk.type.toLowerCase()") {{ dyk.title | translate }}
    p.text.em-300
      | {{ dyk.text | translate }}
      span(ng-if="dyk.state")
        a.mls(ui-sref="{{ dyk.state }}" ng-hide="dyk.external") {{ dyk.linkText | translate }}
        a.mls(href="{{ dyk.state }}" target="_blank" rel="noopener noreferrer" ng-show="dyk.external") {{ dyk.linkText | translate }}
