.dyk
  .flex-between.flex-center
    h4.aaa.em-400 Did You Know
    .pill.flex-center(ng-class="dyk.type.toLowerCase()") {{ dyk.type }}
  .widget
    .flex-center.mbm
      i.title.ti-signal.aaa
      p.h3.em-300.blue.mll {{ dyk.title }}
    p.center-align.type-h6
      | {{ dyk.text }}
      a.mlm(href="{{ dyk.link }}") Learn More!
