.dyk.border.ptn.phl.pbl
  .flex.flex-center
    i.title.blue.pr-15(ng-class="dyk.icon")
    h5.mvn.f-24.em-300.blue {{ dyk.title | translate }}
  div
    p.alt-font.f-16.em-300
      | {{ dyk.text | translate }}
      span(ng-if="dyk.state")
        a.mls(ui-sref="{{ dyk.state }}" ng-hide="dyk.external") {{ dyk.linkText | translate }}
        a.mls(href="{{ dyk.state }}" target="_blank" rel="noopener noreferrer" ng-show="dyk.external") {{ dyk.linkText | translate }}
