div.ethAmountTotal.em-400.amount.flex-center.flex-justify(
  ng-class="{\
    'button-transferred': $ctrl.tx.txType === 'transfer',\
    'button-received'    : $ctrl.tx.txType === 'received',\
    'button-sent'       : $ctrl.tx.txType === 'sent',\
    'unconfirmed' : $ctrl.tx.confirmations < $ctrl.confirmationsNeeded \
  }" ng-click="$ctrl.toggle()")
  span(ng-hide="$ctrl.isBitCurrency($ctrl.settings.displayCurrency)")
  fiat(eth="$ctrl.tx.amount" ng-hide="$ctrl.isBitCurrency($ctrl.settings.displayCurrency)" abs)
  span.ethTransactionAmount(ng-show="$ctrl.isBitCurrency($ctrl.settings.displayCurrency)") {{ $ctrl.absolute($ctrl.tx.amount) }}
  | &nbsp;
  span(ng-show="$ctrl.isBitCurrency($ctrl.settings.displayCurrency)") ETH
