.faq-question(translate-namespace="FAQ_QUESTIONS.{{q.name}}")
  .question.pointer.flex-between.em-500(ng-click="onToggle()")
    span(translate=".Q")
    i(ng-class="q.displayed ? 'blue ti-angle-up' : 'ti-angle-down'")
  .answer.text.em-300.mts.flex(ng-if="q.displayed")
    p.em-300.mbn.flex-2
      span.alt-font.f-16(translate=".A" translate-values="{{q.values}}" ui-sref="{{q.values.link}}" ng-click="q.values.click()")
      | &nbsp;
      a(ng-show="q.link" translate="{{q.link[0]}}" ui-sref="{{q.link[1]}}")
    .flex-1
