.question.em-400
  i.ti-angle-right(ng-class="{'active' : item.displayed}")
  span.plm.pointer.em-300(ng-click="tog(index)") {{item.question | translate}}
.answer.text.em-300(ng-if="item.displayed" class="animate-if")
  p.em-300.mbn {{item.answer | translate}}
