tr
  td.col-md-6
    a(ng-href="{{::addressLink(address.address)}}"
      ng-bind-html="::address.address | escapeHtml | highlight:searchText"
      target="_blank" rel="noopener noreferrer"
      translate="no")
    | &nbsp;
    span.security-yellow.parens(translate="NO_TXS" ng-show="pastAddress && address.ntxs === 0")
  td.col-md-6.address-label
    .flex-row.flex-between(ng-show="editing")
      bc-async-input(inline ng-model="address.label" on-save="changeLabel" on-cancel="cancelEdit" is-required editing="editing" on-focus="editing")
    .flex-row.flex-between(ng-hide="editing")
      .flex-between(ng-class="{'width-100': !pastAddress}")
        span.flex-1.prm.oflow(ng-bind-html="address.label | escapeHtml | highlight:searchText" ng-show="address.label")
        span(ng-class="{'float-right': address.label}")
          a(ng-click="editing = true")
            i.ti-pencil.prm(ng-show="address.label")
            span.pointer.border-grey(translate="ADD_A_LABEL" ng-hide="address.label")
          a(ng-click="removeLabel()" ng-show="address.label")
            i.ti-trash.prm
      div(ng-if="pastAddress")
        span(ng-hide="address.balance == null") {{ address.balance | convert }}
        img(src="img/spinner.gif" ng-show="address.balance == null")
