tr
  td.shrink(ng-bind-html="address.address | escapeHtml | highlight:searchText")
  td.expand.address-label
    span.flex-1.prm.oflow(ng-bind-html="address.label | escapeHtml | highlight:searchText" ng-hide="editing")
    div(ng-show="editing")
      bc-async-input(inline ng-model="address.label" on-save="changeLabel" on-cancel="cancelEdit" is-required editing="true")
    span.float-right(ng-hide="editing")
      a(ng-click="editing = true")
        i.ti-pencil.prm        
  td.shrink
    a(ng-click="removeLabel()")
      i.ti-trash.prm
