button.helper(popover-template="helperText.templateUrl" popover-placement="{{::helperText.placement}}" ng-click="toggleActive()" ng-class="{ 'active' : isActive } ")
  span(ng-show="!isActive && !warning") ?
  span(ng-show="!isActive && warning") !
  span(ng-show="isActive") x
