div
  p.type-sm.black {{::content | translate:values}}
    span(ng-show="linktext != undefined")
      | &nbsp;
      a(href="{{::link}}" target="_blank" rel="noopener noreferrer") {{::linktext | translate}}
      | .
