span
  a(ng-click="enableIpWhitelistRestrict()", translate="ENABLE_IP_WHITELIST_RESTRICT", ng-hide="settings.restrictToWhitelist")
  a(ng-click="disableIpWhitelistRestrict()", translate="DISABLE_IP_WHITELIST_RESTRICT", ng-show="settings.restrictToWhitelist")