.mtl
  a.button-primary(ng-click="enableIpWhitelistRestrict()", translate="ENABLE", ng-hide="settings.restrictToWhitelist")
  a.button-primary(ng-click="disableIpWhitelistRestrict()", translate="DISABLE", ng-show="settings.restrictToWhitelist")
