.kyc-review.flex-row.border.pbl.ptl
  .flex-1.pll
    h1
      i.ti-alert.type-h4
  .flex-4.flex-column.flex-justify.pll
    span.type-h5.mbs.mts(translate="TX_KYC_PENDING.TITLE")
    span.type-sm(translate="PENDING_VERIFICATION")
  .flex-2.flex-center.flex-end.prl
    span.blue.underline.pointer.type-sm(translate="REVIEW_STATUS" ng-click="$ctrl.onTrigger()")
