.kyc-status.flex-row.border.pbl.ptl(translate-namespace="KYC_IN_REVIEW")
  .flex-1.pll
    h1
      i.ti-alert.type-h4
  .flex-4.flex-column.flex-justify.pll
    span.type-h5.mbs.mts(translate=".TITLE")
    span.type-sm(translate=".BODY")
  .flex-2.flex-center.flex-end.prl
    span.blue.underline.pointer.type-sm(translate=".LINK" ng-click="$ctrl.onTrigger()")
