.kyc-status.flex-column.flex-center.flex-justify.border.pbl.ptl.mb-80.phm(ng-show="$ctrl.getState() && $ctrl.level < 2")
  div
    h1.mbn.mtn
      i.type-h4(ng-class="$ctrl.getState().i")
  .flex-column.flex-center.flex-justify.ph-25
    span.type-h5.mbs.mts(translate="{{$ctrl.getState().ns}}.TITLE")
    span.center.type-sm(translate="{{$ctrl.getState().ns}}.BODY" translate-values="{ccmax: $ctrl.getCardMax()}")
  .flex-center
    a.underline.type-sm.ptm(translate="{{$ctrl.getState().ns}}.LINK" ng-click="$ctrl.onTrigger()")
