div
  ui-select(ng-model="language" on-select="didSelect($item, $model)")
    ui-select-match {{ $select.selected.name }}
    ui-select-choices(repeat="language in languages | filter:$select.search") 
      span(ng-bind-html="language.name | highlight: $select.search")