span
  a.settingaction(ng-click="enableMultiAccount()", translate="CONFIGURE_2FA", ng-hide="settings.multiAccount")
  a.settingaction(ng-click="disableMultiAccount()", translate="DISABLE", ng-show="settings.multiAccount")