.network-fee-picker
  slider(ng-model="policy" min="-1" step="1" max="1" formatter="{{ policy == null ? ' ' : (policy == -1 ? translations.frugal : ( policy == 0 ? translations.normal : translations.generous )) }}")
  label
    span(ng-show="policy == -1", translate="FEE_FRUGAL")
    span(ng-show="policy == 0", translate="FEE_NORMAL")
    span(ng-show="policy == 1", translate="FEE_GENEROUS")
  p
    span(ng-show="policy == -1", translate="FEE_FRUGAL_EXPLAIN")
    span(ng-show="policy == 0", translate="FEE_NORMAL_EXPLAIN")
    span(ng-show="policy == 1", translate="FEE_GENEROUS_EXPLAIN")