.navbar.navbar-default.navbar-inverse.bc-header(role='navigation')
  .container-fluid.container-max-width
    .navbar-header.flex-between
      a.navbar-brand(ui-sref="welcome") 
        img#logo(src="img/blockchain-logo.svg", alt="Blockchain")
      button.navbar-toggle(type="button", ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
        span.sr-only Toggle navigation
        span.ti-menu.h4.white
    .navbar-collapse.collapse(ng-class="{'in bg-blue' : !navCollapsed}", ng-click="navCollapsed=true")
      ul.nav.navbar-nav.navbar-left
        li.item
          a.pam(href="{{rootURL}}", translate="HOME")
        li.item
          a.pam(href="{{rootURL}}charts", translate="CHARTS")
        li.item
          a.pam(href="{{rootURL}}stats", translate="STATS")
        li.item
          a.pam(href="https://markets.blockchain.info", translate="MARKETS")
        li.item
          a.pam(href="{{rootURL}}api", translate="API")
        li.item.active
          a.pam(href="#", translate="WALLET")
