div.type-sm(ng-hide="fakeQuote")
  span.fade(ng-hide="count" translate="PLACEHOLDER")
  span.security-red(ng-show="count" translate="RATE_EXPIRES" translate-values="{count: count}" uib-tooltip="{{'RATE_AUTO_REFRESH' | translate}}" tooltip-append-to-body="true")
  p.security-red.pointer(ng-show="buySellDebug") 
    i.ti-search.mrm.right-align(ng-click="expireQuote()")  QA: Now
