.scroll-in-view.flex-justify.flex-align-start(ng-class="{active: isActive}")
  .image-container(ng-class="{shadow: shadow}")
    img(ng-src="{{::img}}")
    div.txs(ng-if="transactions.length")
      img(ng-src="assets/img/transaction-1.png").tx
      img(ng-src="assets/img/transaction-2.png").tx
      img(ng-src="assets/img/transaction-3.png").tx
      img(ng-src="assets/img/transaction-4.png").tx
      img(ng-src="assets/img/transaction-5.png").tx
      img(ng-src="assets/img/transaction-6.png").tx