.border.paml.mtl.flex-1.flex-between.flex-column.sell(uib-tooltip="Coming Soon")
  .flex-start
    h5.mtn.type-h5.send-red Sell Bitcoin
  .flex-center.flex-column.flex-justify.center
    span.type-lbl(translate="Sell At Current Rate:")
    span
      span.type-lbl 1 BTC =
      fiat(btc="100000000")
  .flex-end.mtml
    button.btn.button-danger(translate="Sell Bitcoin")

