.setting-result
  a.button-primary.display-inline-block(ng-click="toggle()" translate="{{enableTitle}}" ng-hide="value")
  a.button-primary.display-inline-block(ng-click="toggle()" translate="{{disableTitle}}" ng-show="value")
