div
  .row
    hr
  .row
    .col-xs-12
      h2(translate="BLOCK_TOR")
  .row
    .col-xs-6
      p(translate="BLOCK_TOR_EXPLAIN")
    .col-xs-6.right
      h2.status.incomplete(ng-hide="settings.blockTOR", translate="DISABLED")
      h2.status.complete(ng-show="settings.blockTOR", translate="ENABLED")
      p
        a(ng-click="enableBlockTOR()", translate="ENABLE_BLOCK_TOR", ng-hide="settings.blockTOR")
        a(ng-click="disableBlockTOR()", translate="DISABLE_BLOCK_TOR", ng-show="settings.blockTOR")