span
  a.settingaction(ng-click="enableBlockTOR()", translate="ENABLE_BLOCK_TOR", ng-hide="settings.blockTOR")
  a.settingaction(ng-click="disableBlockTOR()", translate="DISABLE_BLOCK_TOR", ng-show="settings.blockTOR")