.mtl
  a.button-success.button-lg(ng-click="enableBlockTOR()", translate="ENABLE_BLOCK_TOR", ng-hide="settings.blockTOR")
  a.button-success.button-lg(ng-click="disableBlockTOR()", translate="DISABLE_BLOCK_TOR", ng-show="settings.blockTOR")
