div
  a.display-inline-block(ng-click="enableBlockTOR()" translate="ENABLE_BLOCK_TOR" ng-hide="settings.blockTOR" ng-class="buttonClass")
  a.display-inline-block(ng-click="disableBlockTOR()" translate="DISABLE_BLOCK_TOR" ng-show="settings.blockTOR" ng-class="buttonClass")
