tr.border.pointer(ng-class="{'bg-light-blue': active, 'o-3': cancelled}" ng-click="toggle()")
  td.paml
    i.ti-direction-alt.mrm.type-h5(ng-class="{success: completed && !cancelled, blue: !pending && !cancelled}")
    span.receive-green.type-lbl.em-500 Bought
    span.display-block.mts.italic(ng-show="active") {{ trade.state | translate }}
  td.paml
    span.type-lbl.mrm {{ trade.createdAt | date:'MM/dd/yyyy @ h:mma' }}
    span.blue.underline.pointer(ng-click="buy({amt: trade.inAmount, trade: trade}); $event.stopPropagation();" ng-show="pending") Finish Payment
    span.display-block.mts(ng-show="active").fade Placeholder
  td.right-align.paml(ng-hide="status.waiting")
    span.type-lbl {{ trade.outAmountExpected }} {{ trade.outCurrency }} | 
    span.type-lbl.em-600 {{ trade.inAmount }} {{ trade.inCurrency }}
    i.ti-trash.pointer.mls.state-danger-text(ng-click="cancel({trade: trade}); $event.stopPropagation();" ng-show="pending" uib-tooltip="{{'CLICK_TO_CANCEL' | translate}}")
    span.display-block.mts(ng-show="(pending || completed) && active").fade Placeholder
    span.display-block.mts.blue.underline.pointer(ng-click="buy({amt: trade.inAmount, trade: trade}); $event.stopPropagation();" ng-show="active && !pending && !completed") Check Status
