tr
  td.vat.ptm.plm 
    span {{ trade.createdAt | date:'MM/dd/yyyy @ h:mma' }}
    br
    span Bought
  td.vat.ptm
    span {{ trade.outAmountExpected }} {{ trade.outCurrency }} for 
    span.bold.mrs {{ trade.inAmount }} {{ trade.inCurrency }}
    span.blue.underline.pointer Details
  td.vat.ptm
    span.mrs {{ trade._state | translate }}
    span.blue.underline.pointer(ng-click="buy()") Finish Payment
