.flex-column
  .flex-center.pbm
    .flex-column.feed-info
      span.timestamp.pbm
        date {{ transaction.txTime * 1000 | date:'MMMM d @ hh:mm a' }}
      span.action(ng-class="{incoming_tx: transaction.result > 0, outgoing_tx: transaction.result < 0, local_tx: transaction.intraWallet}", translate="{{ action }}")
    .hidden-xs.hidden-sm.destination
      span.hidden-sm.hidden-xs(translate="{{ address }}")
