.flex-column.note.em-300
  .flex-row
    a.edit.mrm.hidden-desktop(ng-click="startEditNote()" ng-hide="editNote")
      i.ti-pencil
    .flex-row.width-80(ng-hide="editNote")
      i.ti-notepad.mrm(ng-show="transaction.note")
      i.ti-notepad.mrm.aaa(ng-show="label && !transaction.note")
      .tx-note.aaa.em-400.text-cursor(ng-show="label && !transaction.note") {{ label }}
      .tx-note.basic-grey.em-400.text-cursor(ng-hide="label && !transaction.note"
                                             ng-bind-html="transaction.note | escapeHtml | highlight:search")
      a.aaa.em-400(ng-click="startEditNote()" ng-hide="editNote || transaction.note || label" translate="ADD_A_DESCRIPTION") 
    a.edit.hidden-xs(ng-click="startEditNote()" ng-hide="editNote")
      i.ti-pencil
    a.cancel(ng-click="cancelEditNote()" ng-show="editNote")
      i.ti-close
  .flex-column.input(ng-show="editNote" ng-class="{'pos-abs': transaction.toggled}")
    textarea.basic-grey.em-400(ng-model="transaction.draftNote" maxlength="255" placeholder="{{'ADD_A_DESCRIPTION' | translate}}")
    .flex-end.mts
      span.label.label-success.pointer(ng-click="saveNote()", translate="SAVE", ng-hide="transaction.note")
      span.label.label-success.pointer(ng-click="saveNote()", translate="UPDATE_NOTE", ng-show="transaction.note")
      span.label.label-danger.pointer.mls(ng-click="deleteNote()" ng-show="transaction.note")
        i.ti-trash.type-h4
