.flex-column(ng-if="!complete")
  .flex-row
    span.mts.mrs.em-400(translate="PENDING")
    helper-button(content="{{ 'TRANSACTION_WILL_COMPLETE_IN' | translate:{minutes: minutesRemaining } }}" ng-if="!frugalWarning")
    helper-button(content="{{ 'TRANSACTION_FRUGAL' | translate }}" ng-if="frugalWarning")

.success.flex-column(ng-if="complete")
  .flex-row
    span.mrs.mbn.em-400(translate="TRANSACTION_COMPLETE")
    i.ti-check.em-600
