.flex-column
  .flex-between.flex-center.width-100
    div.mrl.width-20
      .flex-center.lh1.pointer(ng-click="tx.toggled = !tx.toggled")
        span.main-font.upper.f-16.em-500(
          ng-class=":: txClass"
          translate="{{:: txDirection }}")
      span.timestamp.type-sm.basic-grey.main-font.f-14
        date {{:: tx.time * 1000 | date:'MMMM d ' + year + ' @ hh:mm a' }}
      br
      span.label.label-primary.mts.hidden-xs(translate="DEPOSITED_TO" translate-values="{exchange: 'ShapeShift'}" ng-show="isDepositTx(tx.hash)")
      span.label.label-primary.mts.hidden-xs(translate="RECEIVED_FROM" translate-values="{exchange: 'ShapeShift'}" ng-show="isWithdrawalTx(tx.hash)")
    .dest-oflow.flex-1-0.width-30.hidden-sm.hidden-xs.destination.em-400.basic-grey.mrm
      .flex-row
        span.f-14.em-300 To:
        | &nbsp;
        span.overflow-scroll.f-14.em-300(uib-tooltip="{{tx.to[0].identity >= 0 && toBitcoinCash(tx.to[0].address, true)}}" tooltip-class="address" tooltip-enable="tx.to[0].identity >= 0" tooltip-append-to-body="true") {{ toIndex() !== false ? accounts[toIndex()].label : toBitcoinCash(tx.processedOutputs[0].address, true) }}
      .flex-row
        span.f-14.em-300 From:
        | &nbsp;
        span.overflow-scroll.f-14.em-300(uib-tooltip="{{tx.from.identity >= 0 && toBitcoinCash(tx.from.address, true)}}" tooltip-class="address" tooltip-enable="tx.from.identity >= 0" tooltip-append-to-body="true") {{ fromIndex() !== false ? accounts[fromIndex()].label : tx.from.label }}
    .flex-1.width-20.mrl.visible-lg.visible-sm.visible-xs
      asset-transaction-pending(tx-type="txType" tx-confirmations="tx.confirmations" confirmations="3" show-tooltip="false")
    .flex-1.width-20.amount.flex-end
      span
        bcash-transaction-amount(transaction="tx")
  //- toggled and mobile
  .dest-oflow.hidden-md.hidden-lg.flex-start.flex-column.mvm(ng-show="tx.toggled")
    .flex-row
      span.f-12.em-300 To:
      | &nbsp;
      span.overflow-scroll.f-12.em-300(uib-tooltip="{{tx.to[0].identity >= 0 && toBitcoinCash(tx.to[0].address, true)}}" tooltip-class="address" tooltip-enable="tx.to[0].identity >= 0" tooltip-append-to-body="true") {{ toIndex() !== false ? accounts[toIndex()].label : toBitcoinCash(tx.processedOutputs[0].address, true) }}
    .flex-row
      span.f-12.em-300 From:
      | &nbsp;
      span.overflow-scroll.f-12.em-300(uib-tooltip="{{tx.from.identity >= 0 && toBitcoinCash(tx.from.address, true)}}" tooltip-class="address" tooltip-enable="tx.from.identity >= 0" tooltip-append-to-body="true") {{ fromIndex() !== false ? accounts[fromIndex()].label : tx.from.label }}
  .flex-start.flex-between.basic-grey.status(ng-if="tx.toggled")
    .destination.flex-align-self-end.width-20
      transaction-status(transaction="tx")
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-2.flex-column.flex-align-end.f-12.mtvl(ng-if=":: tx.confirmations > 1")
      .flex-row.fee(ng-if="tx.txType !== 'received'")
        helper-button(content="{{ 'TX_FEE_EXPLAINATION_ETH' | translate }}" append="true")
        p.mbn(translate="TX_FEE")
        | &nbsp;
        fiat.em-600(bch="tx.fee" ng-hide="isBitCurrency(settings.displayCurrency)")
        span.em-600(ng-show="isBitCurrency(settings.displayCurrency)") {{ tx.fee | convert:'bch':true }}
