span.note.em-300
  .flex.mvl(ng-hide="editNote")
    i.ti-notepad.mrm
    .pointer.break-word {{ transaction.note }}
  button.button-primary.button-sm.mrm(ng-click="startEditNote()", ng-hide="transaction.note || editNote", translate="ADD_NOTE")
  button.button-default.button-sm.mrm(ng-hide="editNote || !transaction.note", ng-click="startEditNote()" translate="EDIT_NOTE")
  button.button-danger.button-sm(ng-click="deleteNote()", ng-hide="editNote || !transaction.note" translate="DELETE_NOTE")
  .flex-column(ng-show="editNote")
    textarea.textarea.mvm(ng-model="transaction.draftNote" maxlength="255")
    .flex-center
      button.button-muted(ng-click="cancelEditNote()", translate="CANCEL_EDIT_NOTE")
      button.button-primary.button-sm(ng-click="saveNote()", translate="SAVE_NOTE", ng-hide="transaction.note")
      button.button-primary.button-sm(ng-click="saveNote()", translate="UPDATE_NOTE", ng-show="transaction.note")
