div.main-font.em-300.f-14(ng-class="{'flex-column-reverse' : (transaction.txType === 'transfer' || transaction.txType === 'received')}")
  .flex-row
    span.mrs(ng-show=":: transaction.txType === 'transfer' || transaction.txType === 'received'") {{:: 'FROM' | translate}}:
    span.mrs(ng-show=":: transaction.txType === 'sent'") {{:: 'TO' | translate}}:
    span.pointer(ng-show="txLabels.preview && txLabels.primary.length > 1 && !transaction.toggled" ng-click="transaction.toggled = !transaction.toggled") {{ txLabels.preview }}
    span.dest-oflow(ng-hide="txLabels.preview && txLabels.primary.length > 1 && !transaction.toggled")
      span
        .flex-row.overflow-scroll(ng-repeat="address in txLabels.primary track by $index")
          span(ng-bind-html="address.label | escapeHtml | highlight:search" uib-tooltip="{{address.address}}" tooltip-class="address" tooltip-enable="address.identity >= 0" tooltip-append-to-body="true")
          span(ng-show="txLabels.primary.length > 1")
            |&nbsp;(
            fiat-or-btc(btc="address.amount")
            |)
  .flex-row
    span.mrs(ng-show=":: transaction.txType === 'transfer' || transaction.txType === 'received'") {{:: 'TO' | translate}}:
    span.mrs(ng-show=":: transaction.txType === 'sent'") {{:: 'FROM' | translate}}:
    span.pointer(ng-show="txLabels.preview && txLabels.secondary.length > 1 && !transaction.toggled" ng-click="transaction.toggled = !transaction.toggled") {{ txLabels.preview }}
    span.dest-oflow(ng-hide="txLabels.preview && txLabels.secondary.length > 1 && !transaction.toggled")
      span
        .overflow-scroll.flex-row(ng-repeat="address in txLabels.secondary track by $index")
          span(ng-bind-html="address.label | escapeHtml | highlight:search" uib-tooltip="{{address.address}}" tooltip-class="address" tooltip-enable="address.identity >= 0" tooltip-append-to-body="true")
          span(ng-show="txLabels.secondary.length > 1")
            |&nbsp;(
            fiat-or-btc(btc="address.amount")
            |)
