.flex-column(ng-if="!complete")
  .flex-row.flex-end
    helper-button(content="{{ 'TRANSACTION_WILL_COMPLETE_IN' | translate:{minutes: minutesRemaining } }}" ng-if="!frugalWarning" append="true")
    helper-button(content="{{ 'TRANSACTION_FRUGAL' | translate }}" ng-if="frugalWarning" append="true")
  uib-progressbar.mts(value=":: transaction.confirmations" max="3" ng-click="verify()")
    span.plm(translate="PENDING")
    span :
    span.pls {{ :: transaction.confirmations }}
    span /3
    span.pls(translate="CONFIRMATIONS")

.success.flex-column(ng-if="complete" ng-click="verify()")
  .flex-row
    span.mrs.mbn.em-400(translate="TRANSACTION_COMPLETE")
    i.ti-check.em-600
