.flex-column
  .flex-between.flex-center.width-100
    div.mrl.width-20
      .flex-center.lh1.pointer(ng-click="tx.toggled = !tx.toggled")
        span.main-font.upper.f-16.em-500(
          ng-class=":: txClass"
          translate="{{:: txDirection }}")
      span.timestamp.type-sm.basic-grey.main-font.f-14
        date {{:: tx.time * 1000 | date:'MMMM d ' + year + ' @ hh:mm a' }}
      br
    .flex-1-0.width-30.hidden-sm.hidden-xs.destination.em-400.basic-grey.mrm
      .flex-row
        span.f-14.em-300 To:
        | &nbsp;
        span.dest-oflow.f-14.em-300(ng-bind-html="tx.to | escapeHtml | highlight:search")
      .flex-row
        span.dest-oflow.f-14.em-300 From:
        | &nbsp;
        span.dest-oflow.f-14.em-300(ng-bind-html="tx.from | escapeHtml | highlight:search")
    .flex-2.width-30.hidden-sm.hidden-xs.main-font.f-12.em-300
      transaction-note(transaction="tx" search="search")
    .flex-1.width-20.mrl.visible-lg.visible-sm.visible-xs
      asset-transaction-pending(transaction="tx" confirmations="12" showTooltip="false")
    .flex-1.width-20.amount.flex-end
      span
        ethereum-transaction-amount(transaction="tx" confirmations-needed="12")
  //- toggled and mobile
  .hidden-md.hidden-lg.mtl.mbs(ng-show="tx.toggled")
    transaction-note(transaction="tx")
  .hidden-md.hidden-lg.flex-start.flex-column.mvm(ng-show="tx.toggled")
    //- transaction-destinations(transaction="tx" search="search")
  .flex-start.flex-between.basic-grey.status(ng-if="tx.toggled")
    .destination.flex-align-self-end.width-20
      transaction-status(transaction="tx" confirmations="12")
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-2.flex-column.flex-align-end.f-12.mtvl(ng-if=":: tx.confirmations > 5")
      .flex-row.fee(ng-if=":: tx.txType !== 'received'")
        helper-button(content="{{ 'TX_FEE_EXPLAINATION' | translate }}" append="true")
        p.mbn(translate="TX_FEE")
        | :&nbsp;
        fiat-or-btc.em-600(btc=":: tx.fee")
