.flex-column.note.em-300
  .flex-row
    .flex-row.width-80(ng-hide="editNote")
      i.ti-notepad.mrm(ng-show="transaction.note")
      .tx-note.basic-grey.em-400.text-cursor {{ transaction.note }}
      a.aaa.em-400(ng-click="startEditNote()" ng-hide="editNote || transaction.note" translate="ADD_A_DESCRIPTION") 
    a.edit(ng-click="startEditNote()" ng-hide="editNote")
      i.ti-pencil
    a.cancel(ng-click="cancelEditNote()" ng-show="editNote")
      i.ti-close
    a.delete(ng-click="deleteNote()", ng-hide="editNote || !transaction.note")
      i.ti-trash
  .flex-column.input(ng-show="editNote" ng-class="{'pos-abs': transaction.toggled}")
    textarea.basic-grey.em-400(ng-model="transaction.draftNote" maxlength="255" placeholder="{{'ADD_A_DESCRIPTION' | translate}}")
    .flex-end.mts
      span.label.label-success.pointer(ng-click="saveNote()", translate="SAVE", ng-hide="transaction.note")
      span.label.label-success.pointer(ng-click="saveNote()", translate="UPDATE_NOTE", ng-show="transaction.note")
