.flex-column
  .flex-start.flex-between
    .mrvl.flex-column.pointer(ng-click="tx.toggled = !tx.toggled")
      span.timestamp.pbm.type-sm.basic-grey
        date {{:: tx.time * 1000 | date:'MMMM d @ hh:mm a' }}
      .flex-center.lh1
        span.action.prm(
          ng-class=":: txClass"
          translate="{{:: txDirection }}")
        span.label.label-default(translate="WATCH_ONLY" ng-show=":: txWatchOnly")
    .flex-2.hidden-sm.hidden-xs.destination.em-400.basic-grey.pointer(ng-click="tx.toggled = !tx.toggled")
      transaction-destinations(transaction="tx" search="search")
    .flex-1.hidden-sm.hidden-xs
      transaction-note(transaction="tx", account="account" search="search")
    .flex-1.amount.flex-end
      span 
        amount(transaction="tx")
  //- toggled and mobile
  .hidden-tablet.mtl.mbs(ng-show="tx.toggled")
    transaction-note(transaction="tx" account="account")
  .hidden-tablet.flex-start.flex-column.mvm(ng-show="tx.toggled")
    transaction-destinations(transaction="tx" search="search")
  .flex-start.flex-between.dark-grey(ng-show="tx.toggled")
    .flex-2.destination.flex-align-self-end.pointer
      transaction-status(transaction="tx")
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-2.flex-column.flex-align-end.mtvl
      .flex-row
        p.mbn(translate="VALUE_AT_SEND" ng-show=":: tx.txType === 'sent' || tx.txType === 'transfer'")
        p.mbn(translate="VALUE_WHEN_RECEIVED" ng-show=":: tx.txType === 'received'")
        | :&nbsp;
        fiat.em-600(btc=":: tx.amount" date=":: tx.time" abs)
      .flex-row.fee(ng-hide=":: tx.txType === 'received'")
        helper-button(content="{{ 'TX_FEE_EXPLAINATION' | translate }}")
        p.mbn(translate="TX_FEE")
        | :&nbsp;
        fiat-or-btc.em-600(btc=":: tx.fee")
