div.center-align(ng-show="!complete" uib-tooltip="{{message | translate}}" tooltip-placement="top" tooltip-append-to-body="true")
  span.italic.border-grey.prs.f-14(translate="PENDING_LOWERCASE")
  img.pending-clock(src="img/pending_clock.png")
