.flex-column
  .flex-between.flex-center.width-100
    div.mrl.width-20
      .flex-center.lh1.pointer(ng-click="tx.toggled = !tx.toggled")
        span.main-font.upper.f-16.em-500(
          ng-class=":: txClass"
          translate="{{:: txDirection }}")
      span.timestamp.type-sm.basic-grey.main-font.f-14
        date {{:: tx.time * 1000 | date:'MMMM d ' + year + ' @ hh:mm a' }}
      br
      span.label.label-default.mts(translate="WATCH_ONLY" ng-show=":: txWatchOnly")
      span.label.label-primary.mts(ng-show="txMethod != null")
        span(translate="BOUGHT_VIA" translate-values="{exchange:exchange}" ng-show="txMethod === 'buy'")
        span(translate="SOLD_VIA" translate-values="{exchange:exchange}" ng-show="txMethod === 'sell'")
    .flex-1-0.width-30.hidden-sm.hidden-xs.destination.em-400.basic-grey.mrm
      transaction-destinations(transaction="tx" search="search")
    .flex-2.width-30.hidden-sm.hidden-xs.main-font.f-12.em-300  
      transaction-note(transaction="tx", account="account" search="search")
    .flex-1.width-20.mrl
      transaction-pending(transaction="tx")
    .flex-1.width-20.amount.flex-end
      span 
        amount(transaction="tx")
  //- toggled and mobile
  .hidden-md.hidden-lg.mtl.mbs(ng-show="tx.toggled")
    transaction-note(transaction="tx" account="account")
  .hidden-md.hidden-lg.flex-start.flex-column.mvm(ng-show="tx.toggled")
    transaction-destinations(transaction="tx" search="search")
  .flex-start.flex-between.basic-grey(ng-if="tx.toggled")
    .destination.flex-align-self-end.width-20
      transaction-status(transaction="tx")
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-1.hidden-sm.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-2.flex-column.flex-align-end.f-12.mtvl
      .flex-row(ng-class="{fade: tx.confirmations <= 5 || settings.currency.code !== 'USD'}")
        p.mbn(translate="VALUE_AT_SEND" ng-show=":: tx.txType === 'sent' || tx.txType === 'transfer'")
        p.mbn(translate="VALUE_WHEN_RECEIVED" ng-show=":: tx.txType === 'received'")
        | :&nbsp;
        fiat.em-600(btc=":: tx.amount" date=":: tx.time" abs)
      .flex-row.fee(ng-class="{hide: tx.txType === 'received', fade: tx.confirmations <= 5}")
        helper-button(content="{{ 'TX_FEE_EXPLAINATION' | translate }}" append="true")
        p.mbn(translate="TX_FEE")
        | :&nbsp;
        fiat-or-btc.em-600(btc=":: tx.fee")
