div.center-align(ng-show="!complete" uib-tooltip="{{message | translate}}" tooltip-placement="top" tooltip-append-to-body="true")
  span.italic.aaa.prs(translate="PENDING_LOWERCASE")
  img(src="img/pending_clock.png")