.form-group
  .col-sm-6
    label(translate="TWO_FACTOR")
    span.label.label-warning(translate="DISABLED", ng-show="!settings.needs2FA")
    span.label.label-success(translate="ENABLED", ng-show="settings.needs2FA")
    br
    p(translate="TWO_FACTOR_EXPLAIN")    
  .col-sm-6
    div(ng-hide="edit.twoFactor")
      p.form-control-static
        span(ng-show="settings.twoFactorMethod == 3", translate="2FA_YUBI")
        span(ng-show="settings.twoFactorMethod == 2", translate="2FA_EMAIL")
        span(ng-show="settings.twoFactorMethod == 5", translate="2FA_SMS")
        span(ng-show="settings.twoFactorMethod == 4", translate="2FA_GOOGLE_AUTH")
      p
        a(ng-click="edit.twoFactor = !edit.twoFactor", translate="CONFIGURE_2FA", ng-hide="settings.needs2FA")
        a(ng-click="disableSecondFactor()", translate="DISABLE", ng-show="settings.needs2FA")
    div(ng-show="edit.twoFactor") 
      ul(ng-hide="settings.googleAuthenticatorSecret")
        li 
          a(ng-click="setTwoFactorSMS()", ng-show="user.isMobileVerified") Enable SMS
          span(ng-show="!user.isMobileVerified") Enable SMS (Please verify your mobile first)
        li
          a(ng-click="setTwoFactorEmail()", ng-show="user.isEmailVerified") Enable email
          span(ng-show="!user.isEmailVerified") Enable email (Please verify your email first)
        li
          a(ng-click="setTwoFactorGoogleAuthenticator()") Enable Google Authenticator
      div(ng-if="settings.googleAuthenticatorSecret")
        qr(text="settings.googleAuthenticatorSecret", size=172)
        input.form-control(type="text",placeholder="Enter code shown in the app",ng-model="fields.authenticatorCode")
      button.btn.btn-info.btn-small(ng-click="edit.twoFactor = false; settings.googleAuthenticatorSecret = null", translate="CANCEL")
      button.btn.btn-info.btn-primary(ng-click="confirmTwoFactorGoogleAuthenticator()", translate="ENABLE",ng-show="settings.googleAuthenticatorSecret", ng-disabled="fields.authenticatorCode.length != 6")