div(ng-class="{ 'mtl' : !securityCenter }")
  div(ng-hide="edit.twoFactor")
    h2.status.complete
      span(ng-show="settings.twoFactorMethod == 3", translate="2FA_YUBI")
      span(ng-show="settings.twoFactorMethod == 2", translate="2FA_EMAIL")
      span(ng-show="settings.twoFactorMethod == 5", translate="2FA_SMS")
      span(ng-show="settings.twoFactorMethod == 4", translate="2FA_GOOGLE_AUTH")
    p
      a(ng-click="edit.twoFactor = !edit.twoFactor", translate="CONFIGURE_2FA", ng-hide="settings.needs2FA", ng-class="securityCenter ? 'button-success button-lg' : 'button-primary'")
      a.button-primary(ng-click="disableSecondFactor()", translate="DISABLE", ng-show="settings.needs2FA")
  div(ng-show="edit.twoFactor") 
    ul.settings-list.pam(ng-hide="settings.googleAuthenticatorSecret || edit.yubiKey")
      li 
        a(ng-click="setTwoFactorSMS()", ng-show="user.isMobileVerified") Enable SMS
        span(ng-show="!user.isMobileVerified") Enable SMS (Please verify your mobile first)
      li
        a(ng-click="setTwoFactorEmail()", ng-show="user.isEmailVerified") Enable email
        span(ng-show="!user.isEmailVerified") Enable email (Please verify your email first)
      li
        a(ng-click="setTwoFactorGoogleAuthenticator()") Enable Google Authenticator
      li
        a(ng-click="edit.yubiKey = 1; ") Enable Yubikey
    .form-group(ng-if="settings.googleAuthenticatorSecret", ng-class="{'has-error': errors.authenticatorCode }")
      qr(text="settings.googleAuthenticatorSecret", size=172)
      input.form-control(type="text",ng-model="fields.authenticatorCode")
    div(ng-show="edit.yubiKey")
      p.explain(translate="YUBIKEY_INPUT_EXPLAIN")
      input.form-control(type="text",ng-model="fields.yubiKeyCode")
    button.button-muted.btn-small(ng-click="edit.twoFactor = false; settings.googleAuthenticatorSecret = null; edit.yubiKey = false", translate="CANCEL")
    button.button-primary(ng-click="confirmTwoFactorGoogleAuthenticator()", translate="ENABLE",ng-show="settings.googleAuthenticatorSecret", ng-disabled="fields.authenticatorCode.length != 6")
    button.button-primary(ng-click="setTwoFactorYubiKey()", translate="ENABLE",ng-show="edit.yubiKey", ng-disabled="fields.yubiKeyCode.length == 0")
