.pvm.flex(ng-class="{'has-error': errors.emailVerificationCode }", ng-show="!user.isEmailVerified && user.email != null && user.email != ''")
  .flex-2.mrl
    input.form-control(type="text",ng-model="code", placeholder="Enter Verification Code")
  .flex-1
    button(ng-click="verifyEmail(code)",ng-disabled="!code || code.length < 3", translate="VERIFY", ng-class="securityCenter ? 'button-success button-lg' : 'button-primary'")
