div(ng-class="fullWidth ? 'width-100 flex-center' : 'flex-3'")
  form(ng-class="{'flex width-100': fullWidth}" name="verifyMobileForm" role="form" ng-submit="verifyMobile(code)" novalidate)
    .flex-1
      p(ng-class="fullWidth ? 'prl pbl' : ''", translate="LINK_MOBILE_EXPLAIN")
      .form-group(ng-class="{'has-error': errors.verify}")
        input.form-control(type="text" ng-model="code" ng-disabled="status.busy")
        span.help-block {{ errors.verify }}
    .flex-1(ng-class="fullWidth ? 'mll pll' : 'mhl'")
      button(type="submit" ng-class="buttonLg ? 'button-success button-lg' : 'button-primary'" ui-ladda="{{ status.busy }}" ng-disabled="!code || code.length < 3" ladda-translate="VERIFY" data-style="expand-left")
