table.virtual-keyboard
  tr(ng-repeat="row in (caps ? keysUpperCase : keysLowerCase)")
    td(ng-repeat="key in row")
      a.a1a1a1(ng-click="press(key)") {{ key }}
  tr
    td(colspan=5)
      a.a1a1a1(ng-click="toggleCaps()") Shift
    td(colspan=4)
      a.a1a1a1(ng-click="press(' ')") Space
      
