.dyk.border.pbl.prs.pll
  .flex-row.flex-end.pts
    i.pointer.ti-close.f-12(ng-click="$ctrl.dismiss()")
  .flex-between.flex-center.mbl
    h5.mvn.f-24.em-300.blue(translate="DYK")
  .flex-row
    div.flex-column
      //- img.mobile-conversion(src="assets/icons/mobile.svg")
      i.f-60.primary.icon-mobile.lh1
    div.flex-column.pl-10
      span.em-300.f-16.mbs(translate="GO_MOBILE")
      span(translate="DOWNLOAD_OUR_APP")
      .flex-row.mtm
        div.flex-row.flex-align-start
          a.upper.em-500(ng-click="$ctrl.openModal()" translate="PAIR_DEVICE")
          i.icon-right_arrow.ml-5.pointer.pts.primary.f-10(ng-click="$ctrl.openModal()")
