.dyk
  .flex-between.flex-center.mbl
    h5.mvn.type-h5.em-400(translate="DYK")
  .widget.flex-row
    .mrl.mbm
      img(src="img/mobile.svg")
    div
      p.em-300.f-16(translate="GO_MOBILE")
      span(translate="DOWNLOAD_OUR_APP")
      .flex-row.flex-justify.mvl
        div
          button.button-primary-inverse(ng-click="$ctrl.openModal()" translate="PAIR_DEVICE")
    i.pointer.ti-close(ng-click="$ctrl.dismiss()")
