li(
  ng-if="status.didUpgradeToHd"
  ng-repeat="feat in feats | orderBy:'-date' track by $index"
  ng-class="::{flash: feat.date > lastViewedWhatsNew}")
  h4 {{::feat.title | translate}}
    small.aaa.mlm {{::feat.date | date:'shortDate'}}
  p
    span(translate="{{::feat.desc}}")
    |  
    span.blue.pointer.period(translate="LEARN_MORE" ng-if="::feat.ref" ng-click="$event.stopPropagation()" ui-sref="{{feat.ref}}")
